<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>

<?php
$images = $block->getGalleryImages()->getItems();
$mainImage = current(array_filter($images, function ($img) use ($block) {
    return $block->isMainImage($img);
}));

if (!empty($images) && empty($mainImage)) {
    $mainImage = $block->getGalleryImages()->getFirstItem();
}

$helper = $block->getData('imageHelper');
$mainImageData = $mainImage ?
    $mainImage->getData('medium_image_url') :
    $helper->getDefaultPlaceholderUrl('image');

?>

<?php
    $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
 

    $registry = $objectManager->get('\Magento\Framework\Registry');

    $currentProduct = $registry->registry('current_product');

?>
<div class="prdduct-info-sec mt-0">
    <div class="producttopinfo">
        <div class="product-info-name">
            <h4><?= $currentProduct->getName(); ?></h4>
            <span><?= $currentProduct->getSku(); ?> </span>
        </div>
        <div class="guarnatedicon">
            <a href="https://www.mcafeesecure.com/verify?host=www.gemstoneuniverse.com" target="_blank">
                <img src='<?php echo $this->getViewFileUrl('images/badge1.png'); ?>' alt="gemstoneuniverse">
            </a>
        </div>
        <div class="clr"></div>
    </div>
</div>
<div class="gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder">
    <img
        alt="main product photo"
        class="gallery-placeholder__image"
        src="<?= /* @noEscape */ $mainImageData ?>"
    />
</div>

<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "mage/gallery/gallery": {
                "mixins":["magnifier/magnify"],
                "magnifierOpts": <?= /* @noEscape */ $block->getMagnifier() ?>,
                "data": <?= /* @noEscape */ $block->getGalleryImagesJson() ?>,
                "options": <?= /* @noEscape */ $block->getGalleryOptions()->getOptionsJson() ?>,
                "fullscreen": <?= /* @noEscape */ $block->getGalleryOptions()->getFSOptionsJson() ?>,
                 "breakpoints": <?= /* @noEscape */ $block->getBreakpoints() ?>
            }
        }
    }
</script>
