<?php 
   // print current category data
$currentCategory = $block->getCurrentCategory();
if(!$currentCategory==''){  ?>

	<div class="col-md-12">
		<div class="page-title-header">
		    <?php echo $currentCategory->getData('description') ; ?>
	        <h3>Natural <?php echo $currentCategory->getName(); ?> Gemstone</h3>
              <?php if($currentCategory->getData('cat_extra_info')){  ?>
	        <p class="cat_extra_info"><?php   echo  $currentCategory->getData('cat_extra_info'); ?></p>
	        <?php } ?>
	        
	    </div>
	    <div class="seo_content">
			<?php 
			 $seo_content = $currentCategory->getData('seo_content');
		        if(!$seo_content==''){   ?>
			       <div class="custom_category_content">
			          <?php  echo $seo_content; ?>
				    </div>
		    <?php }  ?>

	    </div>
	</div>
<?php } ?>


