<?php  
 $currentProduct = $block->getCurrentProduct(); 
 $url =  $currentProduct->getProductVideoUrl(); 
 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
 $base_url =$storeManager->getStore()->getBaseUrl();
?>
<div class="product-video">
  <button id="watch_video">Please Watch high res video before your purchase</button><br>
  <a href="<?php echo $base_url; ?>gemstonearticles/look-out-for-the-talisman-videos-now" target="_blank"><button>About Picture & Video Quality</button></a>
</div>
 <?php if(!$url=='' ){ ?>
<div class="pro_video_container" style="display: none;">
	<div class="pro_video_item">
        <?php  if(strpos($url, 'youtube.com') !== false) {  ?>
	        <?php 
	           parse_str( parse_url( $url, PHP_URL_QUERY ), $my_array_of_vars );
	           $youtube=  $my_array_of_vars['v'];  
	         ?>
		     <iframe class="pro_video_iframe" src="https://www.youtube.com/embed/<?php  echo $youtube;  ?>" width="550" height="330" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
         <?php } ?>

	     <?php if(strpos($url, 'vimeo.com') !== false){
	            $fetchVimeoIdArr = explode('/', $url);
	            $idCounter = count($fetchVimeoIdArr) - 1;
	            $vimeoId = $fetchVimeoIdArr[$idCounter];
	           ?>
                <iframe title="vimeo-player" src="https://player.vimeo.com/video/<?php echo  $vimeoId; ?>" width="640" height="360" frameborder="0" allowfullscreen></iframe>
        <?php } ?>
	    <span class="close_video">X</span>
	 </div> 
</div>
<?php } ?>