<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$cmsPage = $objectManager->get('\Magento\Cms\Model\Page');
$categoryFactory = $objectManager->get('\Magento\Catalog\Model\CategoryFactory');
 $page_id = $cmsPage->getId();
$categoryFactory = $objectManager->get('\Magento\Catalog\Model\CategoryFactory');
$categoryHelper = $objectManager->get('\Magento\Catalog\Helper\Category');
$categoryRepository = $objectManager->get('\Magento\Catalog\Model\CategoryRepository');
$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();



	$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of Object Manager
	$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper
	$price =  1000; //Your Price
	$formattedPrice = $priceHelper->currency($price, true, false);


	if(!$page_id==''){
		if($page_id==24){
				$categoryId = 28; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			     <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>

		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==25){
				$categoryId = 29; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			      <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>
		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==26){
				$categoryId = 30; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			     <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>

		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==27){
				$categoryId = 31; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			      <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>
		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==28){
				$categoryId = 32; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			      <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>

		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==29){
				$categoryId = 33; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			      <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>

		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==30){
				$categoryId = 34; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			      <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>

		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==31){
				$categoryId = 35; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              //->setOrder('product_id','ASC')
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			      <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>
		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==32){
				$categoryId = 36; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			      <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>
		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==124){
				$categoryId = 28; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			     <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>
		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==16){
				$categoryId = 29; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			      <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>
		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==17){
				$categoryId = 30; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			     <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>
		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==18){
				$categoryId = 31; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			     <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>
		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==19){
				$categoryId = 32; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			      <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>
		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==20){
				$categoryId = 33; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			      <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>
		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==21){
				$categoryId = 34; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			      <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>
		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==22){
				$categoryId = 35; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			      <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>
		       <?php
		    }  
		}  
		?>
		<?php
	  	if($page_id==23){
				$categoryId = 36; // YOUR CATEGORY ID
				$category = $categoryFactory->create()->load($categoryId);
                $categoryProducts = $category->getProductCollection()
				                              ->setPageSize(15)
				                              ->addAttributeToSelect('*');

			foreach ($categoryProducts as $product) 
			{
			    $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			    ?>

			      <div class="product-container">
			        <a class="siderbarleft" href="<?= $product->getProductUrl(); ?>">
                        <div class="new-arrivals-image"><img src="<?= $imageUrl;?>" width="100" height="80"></div>
			           
			        </a>
                     <div class="siderbarright">
                         <div class="product-name"><span class="name"><?= $product->getName(); ?></span></div>
                          <div class="price-itm">
                            <p>Weight:</p>
                            <span class="center-block">
                                <span class="price">
                                    <?php echo number_format($product->getWeight(), 4)."\n"; ?> cts
                                </span>
                            </span>
                        </div>
                          <div class="price">
                             <span class="pt"><?php $price = $product->getPrice();
                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);  
                                ?>
                             </span>
                         </div>
                     </div>
                     
			     </div>
		       <?php
		    }  
		}  
		?>
      <?php 
    } ?>