<?php 
 $getBaseUrl = $this->getBaseUrl();   
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$current_product_id= $product->getId();
$categories = $product->getCategoryIds(); /*will return category ids array*/
$pcategories = $product->getParentIds(); /*will return category ids array*/
 
//print_r(array_values($categories));
$categoriesdata = array('28','29','30','31','32','33','34','35','36','37','38','39','40','41','42','43','44','65');  


?>

<?php 
foreach($categories as $key => $category){
    //echo $key;
  if($key==0){ 
      $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
      //echo $cat->getName();
        $categoryId = $cat->getId();


       
    }
}
    if(in_array($categoryId, $categoriesdata)){ 
		 
		 if(in_array($categoryId,array(28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,65))){
		 ?>

          <select id="selectbox" data-selected="" required>
            <option value="" selected="">Select one option for next step *</option>
            <?php if($categoryId==30 || $categoryId==43 ){ ?>
				<option value="2">Choose Ring with this Gem</option>
				<option value="3">Choose Pendant with this Gem</option>
				<!-- <option value="4">None</option> -->
            <?php } else{ ?>
				<option value="1">Only Loose Gem</option>
				<option value="2">Choose Ring with this Gem</option>
				<option value="3">Choose Pendant with this Gem</option>
				<!-- <option value="4">None</option> -->
            <?php } ?>
          </select>

    <div class="spanlist" data-selected="">
      <!-- <span class="loader">loading image...</span> -->
        <!-- <span data-image="1">abc</span> -->
        <span data-image="2" class="virsulrignsize"> 
			<ul class="metal_list" id="metal_list_2">
			    <li class="listing">
                    <a data-id="5637" class="list_metal" href="javascript:void(0);"><img src="/media/wysiwyg/22K.png"></a>
                    <label for="22k">$425 Onwards  <span class="metaltooltip">?<div class="metaltooltipouter">
                        <h2>22K gold ?</h2>
                        <p>The Purest form of ornamental gold (Pure Gold that can be fashioned into a jewellery piece ring/ pendant etc).</p>
                        <P>22K Gold is the most preferred karatage of Gold in Asia especially India due to the purity associated with it and also since it is a stable investment.</P>
                        <P>Above 90% of all our Gold Jewellery is made in 22 K Gold. It is stable, looks lux, high on purity and gives excellent results in Jyotish Gemstone Therapy.</P>
                        <p>22K gold jewellery implies that 22 parts of the jewellery amounts to pure gold and the balance 2 parts are some other metals. This kind of gold is commonly used in jewellery making. In 22K gold, of the 100 per cent, only 91.67 per cent is pure gold. The other 8.33 per cent comprises metals like silver, zinc, nickel and other alloys. It is this addition of metals that make the texture of gold harder thereby making the jewellery durable.</p>
                        <P>Hence 22-carat gold will be depicted as 22 K 916 along with the other necessities. 916 is a symbol of 91.6% purity.</P>
                        <p>This is the Karatage of Gold we recommend to get best results in Planetary Gem Therapy. </p>
                    </div></span> </label>
                </li>
			    <li class="listing">
                    <a data-id="5638" class="list_metal" href="javascript:void(0);"><img src="/media/wysiwyg/18K.png"></a>
                    <label for="18k">$425 Onwards  <span class="metaltooltip">?<div class="metaltooltipouter">
                        <h2>18K gold ?</h2>
                        <h3>White Gold and Rose Gold and Yellow Gold shades can be made in 18K Gold</h3>
                        <p>18K gold is 75 per cent gold mixed with 25 per cent of other metals like copper or silver etc. Usually studded jewellery and other diamond jewellery are made in 18K gold. This kind of gold is less expensive compared to 24K and 22K. This one has a slightly dull gold colour. Recognizing 18K jewellery is rather simple – you will see the item stamped with 18K, 18Kt, 18k or a variation similar to these. At times, 18K gold is marked by 750, 0.75 or a stamp similar to these in order to symbolise that the jewellery contains 75 per cent gold.</p>
                        <p>In present times the transactions have become crystal clear where BIS logo, purity of gold, assaying centres, the logo of the jeweller and the year of hallmarking are mentioned. </p>
                        <h3>Yellow Gold, White Gold & Rose Gold</h3>
                        <P>It’s a universally known fact that gold is yellow (or golden) in colour. Simply going by common sense, as the % of pure gold goes down in the composition and more of non-yellow alloy metals are introduced, the colour of this metal composition should also start becoming lesser and lesser yellow. This is what naturally happens, i.e. 22K gold is bright golden, 18K is little duller while 14K borders red/pink. But this natural phenomenon can be altered to achieve as desired using alloys that give the desired results with respect to colour.</P>
                        <p>Now the stage is set to break some myths. Therefore, though different purities have different associated colours, any of yellow, white or rose (red/pink) can be achieved by mixing of certain alloys. This behavioural property of gold makes jewellery making very interesting and opens up many possibilities. </p>
                        <div class="tableformat">
                            <div class="listing">
                                <div class="list">Color</div>
                                <div class="list">Remarks</div>
                            </div>
                            <div class="listing">
                                <div class="list">Yellow Gold </div>
                                <div class="list">Pure Gold + Zinc, Copper Alloy metals = Yellow Gold</div>
                            </div>
                            <div class="listing">
                                <div class="list">White Gold</div>
                                <div class="list">Pure Gold + Silver/Nickel, Manganese/Palladium = Gunpowder colour to achieve Platinum like white, has to be rhodium coated</div>
                            </div>
                            <div class="listing">
                                <div class="list">Rose Gold</div>
                                <div class="list">Pure Gold + Copper = Rose/Pink Gold. More the copper, the redder the gold becomes.</div>
                            </div>
                        </div>
                    </div></span> </label>
                </li>
				<li class="listing">
                    <a data-id="5639" class="list_metal" href="javascript:void(0);"><img src="/media/wysiwyg/925_Silver.png"></a>
                    <label for="925">$25 Onwards  <span class="metaltooltip">?<div class="metaltooltipouter">
                        <h2>Sterling Silver 925 ?</h2>
                        <p>Sterling Silver consists of 92.5% silver, and the remaining part consists of copper – mostly copper. This is the reason why Sterling Silver is popularly referred to as 925 Sterling Silver or just 925 Silver.</p>
                        <p>The reason silver needs to be combined with other metals is that it is very difficult to make great designs with just pure silver, which is very soft and malleable. </p>
                        <p>A bit of hardness has to be introduced, by adding other metals such as copper. That’s why jewellers are capable of making the most intricate and complex designs with 925 Sterling Silver.</p>
                        <p>Sterling silver is an alloy of silver containing 92.5% by weight of silver and 7.5% by weight of other metals, usually copper. The sterling silver standard has a minimum fineness of 925.</p>
                        <p>Fine silver, for example 99.9% pure silver, is relatively soft, so silver is usually alloyed with copper to increase its hardness and strength. </p>
                        <p>Sterling silver is prone to tarnishing, and elements other than copper can be used in alloys to reduce tarnishing, as well as casting porosity and fire scale. Such elements include germanium, zinc, platinum, silicon, and boron. Recent examples of alloys using these metals include argentium, sterlium, sterilite and silvadium.</p>
                    </div></span> </label>
                </li>
				<li class="listing">
                    <a data-id="5640" class="list_metal" href="javascript:void(0);"><img src="/media/wysiwyg/astrotab_other.png"></a>
                    <label for="925"  style="text-align:right;  margin-right:38px;"> <span class="metaltooltip">?<div class="metaltooltipouter">
                        <h2>Others ?</h2>
                        <p>In General Fancy shades are not advised. Please email for a custom quote. In General these are made in 18K purity if project is approved by the bench jeweller.</p>
                    </div></span> </label>
                </li>
			</ul> 
			
            <ul class="metal_list_ring" id="metal_list_2_ring" style="display:none;">
                <li class="listing">
                    <img data-url="<?php echo $this->getBaseUrl(); ?>ring-designs/men-s-ring-design.html?product_id=<?php echo $current_product_id; ?>" class="ring_w_gem" src='<?php echo $this->getViewFileUrl('images/Mens_Ring_and_Pendant.png'); ?>'>
                    <label for="male" class="metaltooltip" style="background:none;">Men's Ring 
                    <div class="metaltooltipouter">
                        <h2>Men’s Ring</h2>
                        <p>Simple Elegant Minimalist Designs that ensure that the Gemstone is secure and designed for heavy duty usage 24 hours/ 365 days that is mandatory with Jyotish Gemstones Therapy to be effective. These designs seamlessly integrate in a professional work sphere and bring out the best beauty and lustre of the Gemstone.</p>
                    </div>
                    </label>
                </li>
                <li class="listing">
                    <img data-url="<?php echo $this->getBaseUrl(); ?>ring-designs/women-s-ring-design.html?product_id=<?php echo $current_product_id; ?>" class="ring_w_gem" src='<?php echo $this->getViewFileUrl('images/Women_Ring_and_Pendant.png'); ?>'>
                    <label for="female" class="metaltooltip" style="background:none;">Women Rings
                    <div class="metaltooltipouter">
                        <h2>Women Rings</h2>
                        <p>Simple Elegant Minimalist Designs that ensure that the Gemstone is secure and designed for heavy duty usage 24 hours/ 365 days that is mandatory with Jyotish Gemstones Therapy to be effective. These designs seamlessly integrate in a professional work sphere and bring out the best beauty and lustre of the Gemstone.</p>
                    </div>
                    </label>
                </li>
                <li class="listing">
                    <img data-url="<?php echo $this->getBaseUrl(); ?>planetary-bhasma-rings.html?product_id=<?php echo $current_product_id; ?>" class="ring_w_gem" src='<?php echo $this->getViewFileUrl('images/Customized_Ring_and_Pendant.png'); ?>'>
                    <label for="other" class="metaltooltip" style="background:none;">Planetary Bhasma Rings
                    <div class="metaltooltipouter">
                        <h2>Planetary Bhasma Rings</h2>
                        <p>The major difference between the normal / simple design rings / pendants, customized rings / pendants and the Planetary Bhasma rings / pendants is the Planetary Herbal ash itself.</p>
                        <p>For complete details and benefits of Planetary Bhasma rings / pendants please visit the following URL link: <a href="/planetarybhasmarings.php" target="_blank">https://www.gemstoneuniverse.com/planetarybhasmarings.php</a></p>
                        <p>One can choose any ring / pendant design either simple and normal one or the Customized / Talismanic one or the Planetary Bhasma one, that one likes the most.</p>
                        <p>This unique confluence of the sacred herb, a true Jyotish gem teeming with planetary energies, the apt metal for the pendant/ring, consecration and energization with the correct mantras render these herbal talisman pendant/rings very powerful agents of positive change.</p>
                        <p>The planetary Bhasma is inserted in the round tubes around the gemstone.</p>
                        <p>The Planetary Bhasma ring & pendant designs are associated with respective planetary energy. Like GBR001 / EGBR001 / SBR001 are made for Planet Sun with Vedic symbol of Planet Sun being inscribed on the ring shanks. Similarly GBR002 / EGBR002 / SBR002 are for Planet Moon, GBR003 / EGBR003 / SBR003 are for Planet Mars, GBR004 / EGBR004 / SBR004 are for Planet Mercury, GBR005 / EGBR005 / SBR005 are for Planet Jupiter, GBR006 / EGBR006 / SBR006 are for Planet Venus, GBR007 / EGBR007 / SBR007 are for Planet Saturn, GBR008 / EGBR008 / SBR008 are for Planet Rahu and GBR009 / EGBR009 / SBR009 are for Planet Ketu.</p>
                        <p>All these Planetary Bhasma ring & pendant designs cannot be mixed and matched. Like for a Blue Sapphire we cannot make GBR001 / EGBR001 / SBR001. For Blue Sapphire and for all planet Saturn gems the Planetary Bhasma ring design that can be made will be GBR007 / EGBR007 / SBR007 only.</p>
                       
                    </div>
                         </label>
                </li>
                <li class="listing">
                    <img data-url="<?php echo $this->getBaseUrl(); ?>customized-planetary-talisman-rings.html?product_id=<?php echo $current_product_id; ?>" class="ring_w_gem" src='<?php echo $this->getViewFileUrl('images/Customized_Pendant_Gold_ring.png'); ?>'>
                    <label for="other" class="metaltooltip" style="background:none;">Customized Planetary Rings
                    <div class="metaltooltipouter">
                        <h2>Customized Planetary Rings</h2>
                        <p>In most cases this is a highly custom design having the sacred Planetary Symbols on the ring shanks.</p>
                        <p>These designs have the nine Talismanic ring designs are associated with respective planetary energy. </p>
                        <p>Like CR001 is made for Planet Sun with Vedic symbol of Planet Sun being inscribed on the ring shanks. Similarly CR002 is for Planet Moon, CR0031 is for Planet Mars, CR004 is for Planet Mercury, CR005 is for Planet Jupiter, CR006 is for Planet Venus, CR007 is for Planet Saturn, CR008 is for Planet Rahu and CR009 is for Planet Ketu.</p>
                        <P>All these Talismanic ring designs cannot be mixed and matched. Like for a Blue Sapphire we cannot make CR001. For Blue Sapphire and for all planet Saturn gems the Talismanic ring design that can be made will be CR007 only.</P>
                        <p>In this section we have many custom made rings, which we have made on special requests of patrons. Such designs generally require more man hours for ring making. </p>
                        <p>Many a times the customized rings cannot be made for all gems. As certain gems require certain depth of the gem to be there, so that the gem touches the skin. Few designs are there, which can be made only for Cabochon gems like Pearls and Coral. Few Designs has certain design pattern, which is quite powerful and required additional time for making.</p>
                        <p>The bench jeweller will assess the Gemstone dimensions and assess whether the setting and design is safe and effective for Planetary Gem Therapy. In case a design is not possible for a particular dimension Gemstone we shall work with you and select another design that is more suitable.</p>
                    </div>
                    </label>
                </li>
            </ul>
        </span>
        <span data-image="3"  class="virsulrignsize">
			<ul class="metal_list" id="metal_list_3">
			    <li class="listing">
                    <a data-id="5637" class="list_metal" href="javascript:void(0);"><img src="/media/wysiwyg/22K.png"></a>
                    <label for="22k">$425 Onwards  <span class="metaltooltip">?<div class="metaltooltipouter">
                        <h2>22K gold ?</h2>
                        <p>The Purest form of ornamental gold (Pure Gold that can be fashioned into a jewellery piece ring/ pendant etc).</p>
                        <P>22K Gold is the most preferred karatage of Gold in Asia especially India due to the purity associated with it and also since it is a stable investment.</P>
                        <P>Above 90% of all our Gold Jewellery is made in 22 K Gold. It is stable, looks lux, high on purity and gives excellent results in Jyotish Gemstone Therapy.</P>
                        <p>22K gold jewellery implies that 22 parts of the jewellery amounts to pure gold and the balance 2 parts are some other metals. This kind of gold is commonly used in jewellery making. In 22K gold, of the 100 per cent, only 91.67 per cent is pure gold. The other 8.33 per cent comprises metals like silver, zinc, nickel and other alloys. It is this addition of metals that make the texture of gold harder thereby making the jewellery durable.</p>
                        <P>Hence 22-carat gold will be depicted as 22 K 916 along with the other necessities. 916 is a symbol of 91.6% purity.</P>
                        <p>This is the Karatage of Gold we recommend to get best results in Planetary Gem Therapy. </p>
                    </div></span> </label>
                </li>
			    <li class="listing">
                    <a data-id="5638" class="list_metal" href="javascript:void(0);"><img src="/media/wysiwyg/18K.png"></a>
                    <label for="18k">$425 Onwards  <span class="metaltooltip">?<div class="metaltooltipouter">
                        <h2>18K gold ?</h2>
                        <h3>White Gold and Rose Gold and Yellow Gold shades can be made in 18K Gold</h3>
                        <p>18K gold is 75 per cent gold mixed with 25 per cent of other metals like copper or silver etc. Usually studded jewellery and other diamond jewellery are made in 18K gold. This kind of gold is less expensive compared to 24K and 22K. This one has a slightly dull gold colour. Recognizing 18K jewellery is rather simple – you will see the item stamped with 18K, 18Kt, 18k or a variation similar to these. At times, 18K gold is marked by 750, 0.75 or a stamp similar to these in order to symbolise that the jewellery contains 75 per cent gold.</p>
                        <p>In present times the transactions have become crystal clear where BIS logo, purity of gold, assaying centres, the logo of the jeweller and the year of hallmarking are mentioned. </p>
                        <h3>Yellow Gold, White Gold & Rose Gold</h3>
                        <P>It’s a universally known fact that gold is yellow (or golden) in colour. Simply going by common sense, as the % of pure gold goes down in the composition and more of non-yellow alloy metals are introduced, the colour of this metal composition should also start becoming lesser and lesser yellow. This is what naturally happens, i.e. 22K gold is bright golden, 18K is little duller while 14K borders red/pink. But this natural phenomenon can be altered to achieve as desired using alloys that give the desired results with respect to colour.</P>
                        <p>Now the stage is set to break some myths. Therefore, though different purities have different associated colours, any of yellow, white or rose (red/pink) can be achieved by mixing of certain alloys. This behavioural property of gold makes jewellery making very interesting and opens up many possibilities. </p>
                        <div class="tableformat">
                            <div class="listing">
                                <div class="list">Color</div>
                                <div class="list">Remarks</div>
                            </div>
                            <div class="listing">
                                <div class="list">Yellow Gold </div>
                                <div class="list">Pure Gold + Zinc, Copper Alloy metals = Yellow Gold</div>
                            </div>
                            <div class="listing">
                                <div class="list">White Gold</div>
                                <div class="list">Pure Gold + Silver/Nickel, Manganese/Palladium = Gunpowder colour to achieve Platinum like white, has to be rhodium coated</div>
                            </div>
                            <div class="listing">
                                <div class="list">Rose Gold</div>
                                <div class="list">Pure Gold + Copper = Rose/Pink Gold. More the copper, the redder the gold becomes.</div>
                            </div>
                        </div>
                    </div></span> </label>
                </li>
				<li class="listing">
                    <a data-id="5639" class="list_metal" href="javascript:void(0);"><img src="/media/wysiwyg/925_Silver.png"></a>
                    <label for="925">$25 Onwards  <span class="metaltooltip">?<div class="metaltooltipouter">
                        <h2>Sterling Silver 925 ?</h2>
                        <p>Sterling Silver consists of 92.5% silver, and the remaining part consists of copper – mostly copper. This is the reason why Sterling Silver is popularly referred to as 925 Sterling Silver or just 925 Silver.</p>
                        <p>The reason silver needs to be combined with other metals is that it is very difficult to make great designs with just pure silver, which is very soft and malleable. </p>
                        <p>A bit of hardness has to be introduced, by adding other metals such as copper. That’s why jewellers are capable of making the most intricate and complex designs with 925 Sterling Silver.</p>
                        <p>Sterling silver is an alloy of silver containing 92.5% by weight of silver and 7.5% by weight of other metals, usually copper. The sterling silver standard has a minimum fineness of 925.</p>
                        <p>Fine silver, for example 99.9% pure silver, is relatively soft, so silver is usually alloyed with copper to increase its hardness and strength. </p>
                        <p>Sterling silver is prone to tarnishing, and elements other than copper can be used in alloys to reduce tarnishing, as well as casting porosity and fire scale. Such elements include germanium, zinc, platinum, silicon, and boron. Recent examples of alloys using these metals include argentium, sterlium, sterilite and silvadium.</p>
                    </div></span> </label>
                </li>
				<li class="listing">
                    <a data-id="5640" class="list_metal" href="javascript:void(0);"><img src="/media/wysiwyg/astrotab_other.png"></a>
                    <label for="925" style="text-align:right; margin-right:38px;">  <span class="metaltooltip">?<div class="metaltooltipouter">
                         <h2>Others ?</h2>
                        <p>In General Fancy shades are not advised. Please email for a custom quote. In General these are made in 18K purity if project is approved by the bench jeweller.</p>
                    </div></span> </label>
                </li>
			</ul>
            <ul class="metal_list_ring" id="metal_list_3_ring" style="display:none;">
                <li class="listing">
                    <img data-url="<?php echo $this->getBaseUrl(); ?>pendant-designs.html?product_id=<?php echo $current_product_id; ?>" class="pendent_w_gem" src='<?php echo $this->getViewFileUrl('images/Customized-Gold-Ring-Thumbnail.png'); ?>'>
                    <label for="male" class="metaltooltip" style="background:none;">Pendant
                    <div class="metaltooltipouter">
                        <h2>Pendant</h2>
                        <p>Simple Elegant Minimalist Designs that ensure that the Gemstone is secure and designed for heavy duty usage 24 hours/ 365 days that is mandatory with Jyotish Gemstones Therapy to be effective. These designs seamlessly integrate in a professional work sphere and bring out the best beauty and lustre of the Gemstone.</p>
                    </div>
                    </label>
                </li>
                <li class="listing">
                    <img data-url="<?php echo $this->getBaseUrl(); ?>planetary-bhasma-pendants.html?product_id=<?php echo $current_product_id; ?>" class="pendent_w_gem" src='<?php echo $this->getViewFileUrl('images/Bhasma_Pendant_Gold_ring.png'); ?>'>
                    <label for="male" class="metaltooltip" style="background:none;">Planetary Bhasma Pendants
                        <div class="metaltooltipouter">
                        <h2>Planetary Bhasma Pendants</h2>
                        <p>The major difference between the normal / simple design rings / pendants, customized rings / pendants and the Planetary Bhasma rings / pendants is the Planetary Herbal ash itself.</p>
                        <p>For complete details and benefits of Planetary Bhasma rings / pendants please visit the following URL link: <a href="/planetarybhasmarings.php" target="_blank">https://www.gemstoneuniverse.com/planetarybhasmarings.php</a></p>
                        <p>One can choose any ring / pendant design either simple and normal one or the Customized / Talismanic one or the Planetary Bhasma one, that one likes the most.</p>
                        <p>This unique confluence of the sacred herb, a true Jyotish gem teeming with planetary energies, the apt metal for the pendant/ring, consecration and energization with the correct mantras render these herbal talisman pendant/rings very powerful agents of positive change.</p>
                        <p>The planetary Bhasma is inserted in the round tubes around the gemstone.</p>
                        <p>The Planetary Bhasma ring & pendant designs are associated with respective planetary energy. Like GBR001 / EGBR001 / SBR001 are made for Planet Sun with Vedic symbol of Planet Sun being inscribed on the ring shanks. Similarly GBR002 / EGBR002 / SBR002 are for Planet Moon, GBR003 / EGBR003 / SBR003 are for Planet Mars, GBR004 / EGBR004 / SBR004 are for Planet Mercury, GBR005 / EGBR005 / SBR005 are for Planet Jupiter, GBR006 / EGBR006 / SBR006 are for Planet Venus, GBR007 / EGBR007 / SBR007 are for Planet Saturn, GBR008 / EGBR008 / SBR008 are for Planet Rahu and GBR009 / EGBR009 / SBR009 are for Planet Ketu.</p>
                        <p>All these Planetary Bhasma ring & pendant designs cannot be mixed and matched. Like for a Blue Sapphire we cannot make GBR001 / EGBR001 / SBR001. For Blue Sapphire and for all planet Saturn gems the Planetary Bhasma ring design that can be made will be GBR007 / EGBR007 / SBR007 only.</p>
                       
                    </div>
                         </label>
                </li>
                <li class="listing">
                    <img data-url="<?php echo $this->getBaseUrl(); ?>customized-and-planetary-talisman-pendants.html?product_id=<?php echo $current_product_id; ?>" class="pendent_w_gem" src='<?php echo $this->getViewFileUrl('images/Customized_Pendant_Gold_ring.png'); ?>'>
                    <label for="male" class="metaltooltip" style="background:none;">Customized Planetary Pendants 
                        <div class="metaltooltipouter">
                        <h2>Customized Planetary Pendants SS</h2>
                        <p>In most cases this is a highly custom design having the sacred Planetary Symbols on the ring shanks.</p>
                        <p>These designs have the nine Talismanic ring designs are associated with respective planetary energy. </p>
                        <p>Like CR001 is made for Planet Sun with Vedic symbol of Planet Sun being inscribed on the ring shanks. Similarly CR002 is for Planet Moon, CR0031 is for Planet Mars, CR004 is for Planet Mercury, CR005 is for Planet Jupiter, CR006 is for Planet Venus, CR007 is for Planet Saturn, CR008 is for Planet Rahu and CR009 is for Planet Ketu.</p>
                        <P>All these Talismanic ring designs cannot be mixed and matched. Like for a Blue Sapphire we cannot make CR001. For Blue Sapphire and for all planet Saturn gems the Talismanic ring design that can be made will be CR007 only.</P>
                        <p>In this section we have many custom made rings, which we have made on special requests of patrons. Such designs generally require more man hours for ring making. </p>
                        <p>Many a times the customized rings cannot be made for all gems. As certain gems require certain depth of the gem to be there, so that the gem touches the skin. Few designs are there, which can be made only for Cabochon gems like Pearls and Coral. Few Designs has certain design pattern, which is quite powerful and required additional time for making.</p>
                        <p>The bench jeweller will assess the Gemstone dimensions and assess whether the setting and design is safe and effective for Planetary Gem Therapy. In case a design is not possible for a particular dimension Gemstone we shall work with you and select another design that is more suitable.</p>
                    </div>
                    </label>
                </li>
            </ul>
        </span>
        <span data-image="4">
			<input type="hidden" id="redirectToHomePage" value="<?php echo $this->getBaseUrl(); ?>" />
		</span>
		
		
     </div>  
     <input type="hidden" value="" id="metal_option_id" />
     <script>
require(
   ['jquery', 'jquery/ui', 'owl-carousel', 'bootstrap'], 
    function($) {
        $(document).ready(function(){
            
      var $selectbox = $("#selectbox");
      var $imagecontainer = $(".spanlist");
      var selection = $selectbox.val();
      changeImageSelection();       
      $selectbox.on("change", changeImageSelection);

      function changeImageSelection() {
			selection = $selectbox.val();
			
			$('.metal_list').show();
			$('.metal_list_ring').hide();
			$("#metal_option_id").val("");
			
			if(selection == '1'){
			  $('#product-addtocart-button').show();
			  $('#direct_buy_now').show();
			  $('#add_Pendant_cart').hide();    
			  $('#add_gem_cart').hide();
			}
			if(selection == '2'){
			  $('#product-addtocart-button').hide();
			  $('#direct_buy_now').hide();
			  $('#add_Pendant_cart').hide();       
			  $('#add_gem_cart').show();
			}
			if(selection == '3'){
			  $('#product-addtocart-button').hide();
			  $('#direct_buy_now').hide();
			  $('#add_Pendant_cart').show();       
			  $('#add_gem_cart').hide();
			}
			if(selection == '4'){
				var homeUrl = $("#redirectToHomePage").val();
				$("#cart_cat_url").val(homeUrl); 
				$('#product-addtocart-button').show();
				$('#direct_buy_now').show();
				$('#add_Pendant_cart').hide();    
				$('#add_gem_cart').hide();
			}
			$imagecontainer[0].dataset.selected = null;
			$imagecontainer[0].dataset.selected = selection;
      } 
        
        $(".ring_w_gem").click(function(){
			$(".ring_w_gem").removeClass("active");
			$(this).addClass("active");
			var ring_url = $(this).attr('data-url');
			var metal_id = $("#metal_option_id").val();
			$("#cart_cat_url").val(ring_url+'&choose_by_metal='+metal_id);  
		});

        $(".pendent_w_gem").click(function(){
			$(".pendent_w_gem").removeClass("active");
			$(this).addClass("active");
			var ring_url = $(this).attr('data-url');
			var metal_id = $("#metal_option_id").val();
			$("#cart_cat_url").val(ring_url+'&choose_by_metal='+metal_id);
		});    
            
		$("#direct_buy_now").click(function(){
			$("#cart_cat_url").val('<?php echo $this->getBaseUrl(); ?>/checkout');  
			$("#product-addtocart-button").click();
		}); 
			
		$("#add_gem_cart,#add_Pendant_cart").click(function(){
			$("#product-addtocart-button").click();
		});
		
		$(".list_metal").click(function(){
			var metalId = $(this).attr('data-id');		
			var ulId = $(this).closest('ul').attr('id');	
			$("#metal_option_id").val(metalId);
			$("#"+ulId).hide();
			$("#"+ulId+"_ring").show();
		});
                                
    });
});

</script>

<style>
.spanlist span, .spanlist .loader, .spanlist .no-selection { display: none; letter-spacing: 0.15em; font-weight: bold; }
.spanlist[data-selected=""]:not(.loading) { background: #eee; }
.spanlist[data-selected=""]:not(.loading) .no-selection { display: block; }
.spanlist.loading { background: #eee; }
.spanlist.loading .loader { display: block; animation: loading 1.5s linear; }
.ring_w_gem.active { border: 2px solid red; }
.spanlist[data-selected="1"] span[data-image="1"] {
   display: block;
}
 .spanlist[data-selected="2"] span[data-image="2"] {
   display: block;
}
 .spanlist[data-selected="3"] span[data-image="3"] {
   display: block;
}
 .spanlist[data-selected="4"] span[data-image="4"] {
   display: block;
}
 .spanlist[data-selected="5"] span[data-image="5"] {
   display: block;
}
 @keyframes loading {
   to {
     letter-spacing: 0.25em;
  }
}
</style>


<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()) :?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()) :?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= $block->escapeHtml(__('Qty')) ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       min="0"
                       value="<?= $block->getProductDefaultQty() * 1 ?>"
                       title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtmlAttr(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div>
        <input type="hidden" id="cart_cat_url" name="return_url" value="">
        <?php endif; ?>
        <div class="actions">
            <button style="display:none" type="submit"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            
      <!-- <button style="display:none" type="button"
                    title="Buy Now"
                    class="action primary tocart"
                    id="direct_buy_now">
                <span>BUY NOW</span>
            </button> -->
            
      <button style="display:none" type="button" title="Buy Now" class="action primary tocart" id="add_gem_cart">
                <span>ADD GEM IN CART AND CHOOSE RING</span>
       </button>
       
	   <button style="display:none" type="button" title="Buy Now" class="action primary tocart" id="add_Pendant_cart">
                <span>ADD GEM IN CART AND CHOOSE Pendant</span>
       </button>
            
            <?= $block->getChildHtml('', true) ?>
        </div>
        
        
    </div>
</div>
<?php endif; ?>
         <?php   
        }
    }
    else{ ?>

        <?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()) :?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()) :?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= $block->escapeHtml(__('Qty')) ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       min="0"
                       value="<?= $block->getProductDefaultQty() * 1 ?>"
                       title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtmlAttr(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div>
        <?php endif; ?>
        <input type="hidden" id="cart_cat_url" name="return_url" value="">
        <div class="actions">
            <button type="submit"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
             <!-- <button type="button"
                    title="Buy Now"
                    class="action primary tocart"
                    id="direct_buy_now">
                <span>BUY NOW</span>
            </button> -->
        </div>
       
    </div>
</div>
<?php endif; ?>
         <script>
          require(
             ['jquery', 'jquery/ui', 'owl-carousel', 'bootstrap'], 
              function($) {
                  $(document).ready(function(){

                      $("#direct_buy_now").click(function(){
                      $("#cart_cat_url").val('<?php echo $this->getBaseUrl(); ?>checkout');  
                      $("#product-addtocart-button").click();
                          }); 
                  });
              });
       </script>
   <?php  } ?>



<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
