<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Catalog\Block\Product\View\Details $block */
?>



<?php if ($detailedInfoGroup = $block->getGroupSortedChildNames('detailed_info', 'getChildHtml')) :?>
    <div class="product info detailed">
        <?php $layout = $block->getLayout(); ?>
        <div class="product data items" data-mage-init='{"tabs":{"openedState":"active"}}'>
            <?php foreach ($detailedInfoGroup as $name) :?>
                <?php
                $html = $layout->renderElement($name);
                if (!trim($html)) {
                    continue;
                }
                $alias = $layout->getElementAlias($name);
                $label = $block->getChildData($alias, 'title');
                ?>
                <div class="data item title"
                     data-role="collapsible" id="tab-label-<?= $block->escapeHtmlAttr($alias) ?>">
                    <a class="data switch"
                       tabindex="-1"
                       data-toggle="trigger"
                       href="#<?= $block->escapeUrl($alias) ?>"
                       id="tab-label-<?= $block->escapeHtmlAttr($alias) ?>-title">
                        <?= /* @noEscape */ $label ?>
                    </a>
                </div>
                <div class="data item content"
                     aria-labelledby="tab-label-<?= $block->escapeHtmlAttr($alias) ?>-title" id="<?= $block->escapeHtmlAttr($alias) ?>" data-role="content">

                    <?= /* @noEscape */ $html ?>

                    <?php 
                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
                    $id =  $product->getId();

                    if($id == 4764 || $id == 1462){ ?>
                       <?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                            $listBlock = $objectManager->get('\Magento\Catalog\Block\Product\ListProduct');
                            $addToCartUrl =  $listBlock->getAddToCartUrl($product); ?>
                            <form data-role="tocart-form" action="<?php echo $addToCartUrl; ?>" method="post"> 
                                 <?php echo $block->getBlockHtml('formkey')?>
                                <button type="submit" title="Add to Cart" class="action primary tocart" id="product-addtocart-button">
                                <span>Add to Cart</span>
                                </button>
                            </form>


                    <?php } ?>
                 </div>
            <?php endforeach;?>
        </div>
    </div>
<?php endif; ?>
<script>
require(["jquery", "mage/calendar"], function($){
$(document).ready(function(){
var unavailableDates = ["12-09-2018","19-09-2018","29-09-2018"];
    function unavailable(date) 
{
var string = $.datepicker.formatDate('dd-mm-yy',date);
return [unavailableDates.indexOf(string) == -1];
}

$("input[name='options[15315]']").calendar({beforeShowDay: unavailable,yearRange: '1900:2050'});
$("input[name='options[15322]']").calendar({beforeShowDay: unavailable,yearRange: '1900:2050'});

});
});

</script>  