/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /*margin-bottom: 120px;*/
}
.modal, .fme_advance_testimonials input {
  background: #ffffff;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  padding: 0 9px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}

/* Modal Content */
.modal-content {
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  
    margin-left: 120px;
    

}
.error_field
{
    color: #f61111;
    display: none;
    font-size: 10px;
}
.image_caption
{
    font-size: 10px;
}
.inputfile {
  /* visibility: hidden etc. wont work */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile:focus + label {
  /* keyboard navigation */
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
  pointer-events: none;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 5px 5px;
    background-color: #3399cc;
    color: white;
    height: 10%;
    text-align: center;
    font-size: 30px;
}

.modal-body {
    /*padding: 2px 16px;*/
    max-height: 1000px;
    overflow-y: auto;
    margin-bottom: 150px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


/*
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
 display:block;
}

nav ul {
 list-style:none;
}*/

blockquote, q {
 quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}

.fme_advance_testimonials a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
 text-decoration:none;
}

/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}

/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000;
 font-style:italic;
 font-weight:bold;
}

del {
 text-decoration: line-through;
}

abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}



/* change border colour to suit your needs */
.fme_advance_testimonials hr {
 display:block;
 height:1px;
 border:0;
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}

.fme_advance_testimonials input, select {
 vertical-align:middle;
}


/*Main Style Sheet*/

.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

#wrapper { width:100%; padding-top:20px; }






/*
=======================================================================
   Advance Testimonials 
=======================================================================
*/

.response_messege_modal{
display: none;
color: #dd401e;
font-weight: bold;
font-size: 17px;

}
.response_messege_slide{
    display:none;color: #dd401e;font-weight: bold;font-size: 17px;
}

.inner_container { max-width:1200px; margin:0 auto; padding:0 15px; }

.fme_advance_testimonials { width:100%; }

/*Form*/

.fme_advance_testimonials .form { width:50%; box-sizing:border-box; display:none; }
.testimonialbox #myForm {margin: 10px;}

.fme_advance_testimonials .form .form_title { width:100%; }

.fme_advance_testimonials .form .form_title h3 { font-size:22px; font-weight:600; color:#000;     font-family: 'Roboto Condensed', sans-serif; }

/*Fields*/

.fme_advance_testimonials .form .fields { width:100%; padding-top:30px; }
.gemstonetabing.testimonialpage .nav-tabs a {font-size: 26px;}
.gemstonetabing.testimonialpage .nav-tabs a.active::after {height: 6px; bottom: 6px;}

.fme_advance_testimonials .form .fields ul { list-style:none; padding:0; margin:0;display: flex; justify-content: space-between; flex-wrap: wrap;}
#myForm .closeicon {color: #000;
    font-weight: bold;
    font-size: 28px;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;}
.fme_advance_testimonials .form .fields ul li { clear:both; width: 48%; }

.fme_advance_testimonials .form .fields ul li label { list-style: none; width:100%; clear:both; font-size:14px; font-weight:400; color:#333; line-height:24px; }

.fme_advance_testimonials .form .fields ul li input { width:100%; background:#fff; border:#e8e8e8 1px solid;  box-sizing:border-box; font-size:14px; font-weight:400; color:#5a5a5a; margin-top:10px;  padding: 15px 12px; height: auto; border-radius:2px; }

.fme_advance_testimonials .form .fields ul li textarea { width:100%; background:#fff; border:#e8e8e8 1px solid; padding:15px 12px; box-sizing:border-box; font-size:14px; font-weight:400; color:#5a5a5a; margin-top:5px; margin-top:10px; margin-bottom:20px; border-radius:2px; height: 52px; }

.fme_advance_testimonials .form .fields ul li button { border:0px; background:#ffc000; border-radius:3px; padding:10px 20px; font-size:15px; font-weight:700; color:#000; text-transform:uppercase; margin-top:30px; clear:both; cursor:pointer; margin-top: 20px; border: solid 1px #ffc000; }

.fme_advance_testimonials .form .fields ul li button:hover { background:#fff; color: #000; border: solid 1px #000; }

.fme_advance_testimonials .form .fields ul li .captcha { margin-top:12px; }

/*Add Testimonials*/

.fme_advance_testimonials .add_testimonials { width:100%; background:url(../images/add_testimonial_bg.png) no-repeat; height:300px; background-size:cover; margin-bottom:30px; border-radius:4px; }

.fme_advance_testimonials .add_testimonials .inner_content { width:100%; height:300px; margin:0 auto; padding:30px; box-sizing:border-box; display: block; text-align: center; vertical-align: middle; padding-top: 90px; }

.fme_advance_testimonials .add_testimonials .inner_content h3 { font-size:30px; font-weight:700; color:#333; margin-bottom:10px; }

.fme_advance_testimonials .add_testimonials .inner_content p { width:70%; margin:0 auto; font-size:15px; font-weight:400; color:#333; line-height:24px; padding:5px 0; padding-bottom:35px; }

.fme_advance_testimonials .add_testimonials .inner_content a { background:#ffc000; border-radius:3px; padding:10px 20px; font-size:15px; font-weight:700; color:#000; text-transform:uppercase; margin-top:30px; clear:both; border: solid 1px #ffc000; }

.fme_advance_testimonials .add_testimonials .inner_content a:hover { background:#fff;text-decoration: none; border: solid 1px #000; }

/*Sidebar*/

.sidebar { width:100%; float:left; margin-top:20px; }

.sidebar .title { width:100%; padding:30px 0; text-align:left; }

.sidebar .title h2 { font-size:22px; font-weight:400; color:#414c52; text-align:center; }

.sidebar .testimonial_container { width:100%; border-radius:4px; display:inline-block; vertical-align:top; background:#f5f5f5;  box-sizing:border-box; position:relative; }

.sidebar .testimonial_container .message_block { box-sizing:border-box; border-radius:4px; padding:25px 20px; padding-bottom:15px; background:#f5f5f5; width:100%; float:none; display:inline-block; vertical-align:top; margin-bottom:0px; border-bottom:#f1f1f1 2px solid; text-align:center; }

.sidebar .testimonial_container .message_block .fa-quote-left { font-size:26px; opacity:1; color:#3399cc; padding:10px; border-radius:1px; text-align:center; }

.sidebar .testimonial_container:before,
.sidebar .testimonial_container:after { position: absolute;
    left:40px; bottom: -22px; display: block; width: 0; height: 0; border-width: 0 27px 22px; border-style: solid; border-color: transparent;border-left-color: #f1f1f1; content: ' '; }
.sidebar .testimonial_container:before { left:40px; bottom: -22px; border-left-color: #f1f1f1; }

.sidebar .testimonial_container .message_block .message_title { font-size:17px; font-weight:600; color:#3399cc; line-height:26px; }

.sidebar .testimonial_container .message_block p { font-size:14px; font-weight:400; color:#5a5a5a; line-height:24px; padding:10px 0 }

.sidebar .testimonial_container .message_block p a { font-size:14px; color:#3399cc }







/*Col Main*/

.col_main { width:100%; }

/*Title*/

.col_main .title { width:100%; /*padding:50px 0;*/ padding:10px 0; text-align:left; }

.col_main .title h1 { font-size:24px; font-weight:600; color:#414c52; text-transform:uppercase; }

/*Testimonials List*/

.col_main .testimonials { width:100% }

.col_main .testimonials ul { list-style:none; margin:0; padding:0; }

.col_main .testimonials ul li { clear:both; margin-bottom:40px; }

.col_main .testimonials ul li .testimonial_container { width:100%; padding:3px; border-radius:4px; display:inline-block; vertical-align:top; background:#f5f5f5;  box-sizing:border-box; border-bottom:#f1f1f1 2px solid; }

.col_main .testimonials ul li.white .testimonial_container { background:#fafafa; }

.col_main .testimonials ul li .testimonial_container .message_block { box-sizing:border-box; border-radius:4px; padding:15px 60px;  background:#fff; width:100%; float:none; display:inline-block; vertical-align:top; margin-bottom:0px; position:relative; border-bottom:#f1f1f1 2px solid; }

.col_main .testimonials ul li .testimonial_container .message_block .fa-quote-left { position:absolute; left:-1px; top:-1px; font-size:30px; opacity:1; color:#ff7200;padding:10px; border-radius:1px; width:30px; height:30px; text-align:center; }

.col_main .testimonials ul li .testimonial_container .message_block .fa-quote-right { position:absolute; right:15px; bottom:10px; font-size:36px; opacity:0.1; display:none }

.col_main .testimonials ul li .testimonial_container .message_block:before,
.col_main .testimonials ul li .testimonial_container .message_block:after { position: absolute;
    left: 70px; bottom: -22px; display: block; width: 0; height: 0; border-width: 0 27px 22px; border-style: solid; border-color: transparent;border-left-color: #fff; content: ' ' ; }
    
.col_main .testimonials ul li .testimonial_container .message_block:before { left:70px; bottom: -22px; border-left-color: #fff; }

    
.col_main .testimonials ul li .testimonial_container .message_block .message_title { font-size:19px; font-weight:600; color:#000; line-height:26px; font-family: 'Roboto Condensed', sans-serif;}

.col_main .testimonials ul li .testimonial_container .message_block p { font-size:14px; font-weight:400; color:#000; line-height:26px; padding:10px 0 }


/*Client Info*/

.col_main .testimonials ul li .testimonial_container .client_info { width:100%; clear:both; padding-top:45px; padding-bottom:15px; padding-left:20px; border-radius:0px; box-sizing:border-box; }

.col_main .testimonials ul li .testimonial_container .client_info .thumbnail { display: block; border: 4px solid #fff; border-radius: 50%; overflow: hidden; width: 80px; height:80px; box-shadow: rgba(0,0,0,.2) 0 2px 2px; margin-right:20px; float:left; margin-top:-10px; }

.col_main .testimonials ul li .testimonial_container .client_info img { width: 90px; height:90px;  }

.col_main .testimonials ul li .testimonial_container .client_info strong { font-size:14px; font-weight:600; color:#000; line-height:24px; padding-top:8px; }

.col_main .testimonials ul li .testimonial_container .client_info span { font-size:12px; font-weight:400; color:#5a5a5a; line-height:24px; }

.col_main .testimonials ul li .testimonial_container .client_info a { font-size:13px; font-weight:400; color:#5a5a5a; line-height:20px; }

.col_main .testimonials ul li .testimonial_container .client_info a:hover { color:#3399cc; }

.testimonial_container .message_block a {text-decoration: none;
    background: #ff7200;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 14px;
    border-radius: 20px;
    margin-bottom: 8px;
    display: inline-block;
    border: solid 1px #ff7200;
}
.testimonial_container .message_block a:hover {background:none; border: solid 1px #000; color: #000;}


@media (min-width: 200px) and (max-width: 500px) {
 
.fme_advance_testimonials .add_testimonials .inner_content h3 { font-size:24px; }
.fme_advance_testimonials .add_testimonials .inner_content p { width:100%; font-size:14px; line-height:22px; padding-bottom:25px; }
.fme_advance_testimonials .add_testimonials .inner_content a { padding:8px 15px; font-size:14px; margin-top:30px; }
.fme_advance_testimonials .form { padding:25px 20px; }


.fme_advance_testimonials .testimonials ul li .testimonial_container { padding:3px; }
.fme_advance_testimonials .testimonials ul li .testimonial_container .message_block { padding:50px 20px; padding-bottom:30px; }
.fme_advance_testimonials .testimonials ul li .testimonial_container .message_block .fa-quote-left { font-size:22px; width:20px; height:20px }

.fme_advance_testimonials .testimonials ul li .testimonial_container .message_block { width:100%; float:none; }

.sidebar { width:100%; float:none; margin-top:20px; }
.col_main { width:100%; float:none; margin-top:0px; }

    
}

@media (min-width: 600px) and (max-width: 800px) {
 
.fme_advance_testimonials .add_testimonials .inner_content h3 { font-size:24px; }
.fme_advance_testimonials .add_testimonials .inner_content p { width:100%; font-size:14px; line-height:22px; padding-bottom:25px; }
.fme_advance_testimonials .add_testimonials .inner_content a { padding:8px 15px; font-size:14px; margin-top:30px; }

.fme_advance_testimonials .form { padding:25px 20px; }

.fme_advance_testimonials .testimonials ul li .testimonial_container { padding:30px 20px; border-left:#3399cc 1px solid; }

}

