


/*Magento 2 FAQ*/

.page-main { width:100%; }

.page-title-wrapper .page-title { width:100%; }

.page-title-wrapper .page-title {}

h1 { width:100%; font-family:'Open Sans', sans-serif; font-size:40px; font-weight:300; color:#333; }

.columns { box-sizing: border-box; /*display: flex; flex-wrap: wrap;*/ padding-top:30px; }

.column.main { float: left; order: 1; width:75.1667%; }

.faq_block { width:100%; padding:0px; padding-bottom:0px; margin-bottom:50px; border-top:#f5f6f2 1px solid; }

.faq_block .banner { width:100%; padding:20px 0 }

.faq_block .banner img { max-width:100%; height:auto; }

.faq_block h2 { background:#fff; padding:10px 10px; font-family:'Open Sans', sans-serif; font-size:22px; font-weight:400; color:#26a9e0; }

.faq_block h2 a { color:#26a9e0; }

.faq_block ul { background:#f9faf7; list-style:none; margin:0px; padding:20px; padding-bottom:10px; }

.faq_block ul li .accordion-toggle { clear:both; font-family:'Open Sans', sans-serif; font-size:14px; font-weight:600; color:#333; line-height:24px; padding:7px 30px 0; background:url(plus-icon.png) no-repeat 0px 12px; }

.faq_block ul li .ui-state-active { background:url(minus-icon.png) no-repeat 0px 12px; }

.faq_block ul li .accordion-content { padding:0 30px; }

.faq_block ul li:last-child { padding-bottom:0px; }

/*.faq_block ul li span { background:#26a9e0; padding:6px; color:#fff; font-family:'Open Sans', sans-serif; font-size:16px; font-weight:600; }*/

.faq_block ul li p { clear:both; font-family:'Open Sans', sans-serif; font-size:14px; font-weight:400; color:#5a5a5a; padding:6px 0; line-height:22px; }

.faq_block ul li p a { font-weight:700; }

.faq_block div.read_more { padding:3px 0; background:#fff; text-align:center; font-size:13px; font-weight:300; color:#26a9e0; text-transform:uppercase; margin-top:30px; }

.faq_block div.read_more a { display:block; text-decoration: none; cursor: pointer; color: #5a5a5a; }

.faq_block div.read_more a span { font-size:13px; padding:0 3px; }

.faq_block div.read_more a:hover { color: #26a9e0; }

.rate-success { background: url("success.gif") no-repeat scroll left center; padding-left: 26px; margin-left: 10px; font-family:"Trebuchet MS"; font-size:14px; font-weight:normal; color:green; line-height:40px; }

.rate-fail { padding-left: 54px; font-family:"Trebuchet MS"; font-size:14px; font-weight:normal; color:red; line-height:35px; }



/*Right SideBar*/

.sidebar {  width: 21.8333%; float: right; order: 2; }
 
.sidebar .block-faq .block-title strong { font-family:'Open Sans', sans-serif; font-size: 18px;font-weight:400; color:#333; }

.sidebar .block-faq { width:100%; padding:20px 0; border-bottom:#f5f6f2 1px solid; } 

.sidebar .block-faq p { font-family:'Open Sans', sans-serif; font-size:14px; font-weight:400; padding:10px 0; color:#7e7e7e; }

.sidebar .block-faq ul { list-style:none; padding:0px; margin:0px; }

.sidebar .block-faq ul li a { font-family:'Open Sans', sans-serif; font-size:14px; color:#26a9e0; line-height:24px; }

.sidebar .block-faq ul li a:hover { color:#333; }

.sidebar .block-faq ul.tags { list-style:none; padding:0px; margin:10px 0; }

.sidebar .block-faq ul.tags li { margin: 0; padding:4px 0; display:inline-block; }

.sidebar .block-faq ul.tags li a { text-decoration: none; background:#e4edf4; padding:3px 5px; font-family:'Open Sans', sans-serif; font-size:13px; color:#2e5675; line-height:24px; }

.sidebar .block-faq ul.tags li a:hover { color:#333; cursor: pointer; }

.sidebar .block-faq #faqssearch { width:99%; background:#fff;  border:#cacbc4 1px solid; font-family:'Open Sans', sans-serif; font-size:15px; font-weight:300; color:#5a5a5a; padding:8px 0; text-indent:8px; margin-top:15px; }

.sidebar .block-faq .form-button {  line-height: 2rem; background:#26a9e0; border:0; border-radius:2px; padding:6px 12px; margin-top:10px; font-family:'Open Sans', sans-serif; font-size:13px; font-weight:600; color:#fff; text-transform:uppercase; }

.sidebar .block-faq td { padding: 0;}
/*Search style sheet*/

.faq_search { width:100%; background:#f5f6f2; padding:40px 0; margin-top:20px; margin-bottom:20px; }

.faq_search .inner_container { max-width:900px; margin:0 auto; text-align:center }

.faq_search .inner_container h2 { font-family:'Open Sans', sans-serif; font-size:22px; font-weight:300; color:#333; }

.faq_search .inner_container ul { list-style:none; text-align:center; padding:0px; margin:0px }

.faq_search .inner_container ul li { display:inline-block; vertical-align:top; margin:0 2px }

.faq_search .inner_container ul li.text_field { width:50%; background:#fff; border:#cacbc4 1px solid; border-radius:2px; padding:10px 13px; margin-top:18px; }

.faq_search .inner_container ul li.text_field .field { width:100%; background:none; border:0px; font-family:'Open Sans', sans-serif; font-size:15px; font-weight:300; color:#5a5a5a; }

.faq_search .inner_container ul li .btn { background:#26a9e0; border:0; border-radius:2px; padding:11px 15px; padding-bottom:10px; margin-top:18px; font-family:'Open Sans', sans-serif; font-size:15px; font-weight:600; color:#fff; }

@media (min-width: 200px) and (max-width: 700px) { 

 h1 { font-size:28px; }
 
 .faq_search .inner_container ul li.text_field { width:80%; }
 
 .column.main { float: none; order: 1; width:100%; }
 
 .sidebar {  width:100%; float: none; order: 2; }

 .sidebar .block-faq #faqssearch { width:80%; }
}

.br-theme-css-stars { padding:6px 0; }