<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Adminhtml\Product\Helper\Form\Gallery\Content */
$elementName = 'gallery' . '[images]';
?>

<div id="<?php echo $block->getHtmlId() ?>"
     class='gallery admin__scope-ol'
     data-mage-init='{"productGallery":{"template":"#<?php echo $block->getHtmlId() ?>-template"}}'
     data-images="<?php echo $block->escapeHtml($block->getImagesJson()) ?>"
     data-types="<?php
echo $block->escapeHtml(
        $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($block->getImageTypes())
)
?>"
     >
     <?php //if (!$block->getElement()->getReadonly()) {
     ?>
    <div class="image image-placeholder">
         <?php echo $block->getUploaderHtml();
         ?>
        
        <div class="product-image-wrapper">
        <p class="image-placeholder-text"><?php echo __('Click here or drag and drop to add images.');
         ?></p>
        </div>
    </div>
            <?php
//}
            ?>
    <?php foreach ($block->getImageTypes() as $typeData) { 
        ?>
        <input name="<?php echo $block->escapeHtml($typeData['name']) ?>"
               class="image-<?php echo $block->escapeHtml($typeData['code']) ?>"
               type="hidden"
               value="<?php echo $block->escapeHtml($typeData['value']) ?>"/>
    <?php }
?>


    <script id="<?php echo $block->getHtmlId() ?>-template" type="text/x-magento-template">
        <div class="image item <% if (data . disabled == 1) { %>hidden-for-front<% } %>"
        data-role="image">
        <input type="hidden" name="<?php echo $elementName ?>[<% - data . file_id %>][position]" value="<% - data . position %>" class="position"/>
        <input type="hidden" name="<?php echo $elementName ?>[<% - data . file_id %>][file]" value="<% - data . file %>"/>
        <input type="hidden" name="<?php echo $elementName ?>[<% - data . file_id %>][value_id]" value="<% - data . value_id %>"/>
        <input type="hidden" name="<?php echo $elementName ?>[<% - data . file_id %>][photogallery_id]" value="<% - data . photogallery_id %>"/>
        <input type="hidden" name="<?php echo $elementName ?>[<% - data . file_id %>][description]" value="<% - data . description %>"/>

        <input type="hidden" name="<?php echo $elementName ?>[<% - data . file_id %>][label]" value="<% - data . label %>"/>
        <input type="hidden" name="<?php echo $elementName ?>[<% - data . file_id %>][disabled]" value="<% - data . disabled %>"/>
        <input type="hidden" name="<?php echo $elementName ?>[<% - data . file_id %>][removed]" value="" class="is-removed"/>
        <ul class="type-labels" style="display: none">
<?php foreach ($block->getImageTypes() as $typeData) {
    ?>
            <li class="type-<?php
            echo $block->escapeHtml(
                    $typeData['code']
            )
            ?>"><?php echo $block->escapeHtml($typeData['label']) ?></li>
            <?php }
        ?>
        </ul>
        <img class="spacer" src="<?php echo $block->getViewFileUrl('images/spacer.gif') ?>"/>
        <img class="product-image" src="<% - data . url %>" alt="<% - data . label %>"/>
        <div class="actions" >
        <button type="button" class="action-delete" data-role="delete-button" title="<?php echo __('Delete image') ?>">
        <span> <?php echo __('Delete image') ?></span >
        </button>
        <div class="draggable-handle" ></div >
        </div >

        <div class="image-fade"><span><?php echo __('Hidden') ?></span></div>
        </div>
    </script>
    <script class="dialog-template" type="text/x-magento-template"  data-title="Image Options">
        <div class="image-panel admin__scope-old ui-tabs-panel ui-widget-content ui-corner-bottom" data-role="dialog">
        <div class="image-panel-preview">
        <img src="<% - data . url %>" alt="<% - data . label %>" />
        </div>
        <div class="image-panel-controls">
        <strong class="image-name"><% - data . label %></strong>

        <fieldset class="fieldset fieldset-image-panel">
        <div class="field field-image-description">
        <label class="label" for="image-description">
        <span><?php echo __('Label') ?></span>
        </label>
        <div class="control">
        <input type="text" id="image-description"
        name="<?php echo $elementName ?>[<% - data . file_id %>][label]" value="<% - data . label %>" />
        </div>
        </div>
        <div class="field field-image-description">
        <label class="label" for="image-description">
        <span><?php echo __('Caption') ?></span>
        </label>
        <div class="control">
        <textarea id="image-description"
        rows="3"
        name="<?php echo $elementName ?>[<% - data . file_id %>][description]"><% - data . description %></textarea>
        </div>
        </div>

        </fieldset>
        </div>

        <div class="image-pointer"></div>
        </div>
    </script>
</div>
