<?php
// @codingStandardsIgnoreFile

/** @var $block \FME\Photogallery\Block\Adminhtml\Photogallery\Edit\Tab */
$elementName = 'gallery' . '[images]';
$formName = 'photogallery_index_form';
$productMetadata = $block->objectMgr->create('\Magento\Framework\App\ProductMetadata');
$version = $productMetadata->getVersion();
?>
<?php if (!version_compare($version, '2.1.0', '<')): ?> 



<?php
/** @var $block \Magento\Catalog\Block\Adminhtml\Product\Helper\Form\Gallery\Content */
$element = $block->getElement();
//$elementToggleCode = $element->getToggleCode() ? $element->getToggleCode() : 'toggleValueElements(this, this.parentNode.parentNode.parentNode)';
?>

<div id="<?php echo $block->getHtmlId() ?>"
     class="gallery"
     data-mage-init='{"openVideoModal":{}}'
     data-parent-component="<?php echo $block->escapeHtml($block->getData('config/parentComponent')) ?>"
     data-images="<?php echo $block->escapeHtml($block->getImagesJson()) ?>"
     data-types="<?php echo $block->escapeHtml(
         $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($block->getImageTypes())
     ) ?>"
>

    <?php
    //if (!$block->getElement()->getReadonly()):
        ?>
        <div class="image image-placeholder">
            <?php /* @escapeNotVerified */ echo $block->getUploaderHtml();
            ?>
            <div class="product-image-wrapper">
                <p class="image-placeholder-text">
                    <?php echo $block->escapeHtml(
                        __('Browse to find or drag image here')
                    ); ?>
                </p>
            </div>
        </div>
        <?php /* @escapeNotVerified */ echo $block->getChildHtml('additional_buttons'); ?>
        <?php
    //endif;
    ?>
    <?php
    foreach ($block->getImageTypes() as $typeData):
        ?>
        <input name="<?php echo $block->escapeHtml($typeData['name']) ?>"
               data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"
               class="image-<?php echo $block->escapeHtml($typeData['code']) ?>"
               type="hidden"
               value="<?php echo $block->escapeHtml($typeData['value']) ?>"/>
        <?php
    endforeach;
    ?>
    <script id="<?php /* @escapeNotVerified */ echo $block->getHtmlId() ?>-template" data-template="image" type="text/x-magento-template">
        <div class="image item <% if (data.disabled == 1) { %>hidden-for-front<% } %>  <% if (data.video_url) { %>video-item<% } %>"
             data-role="image">
            <input type="hidden" 
                name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][photogallery_id]" 
                data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"
                value="<%- data.photogallery_id %>"/>
            <input type="hidden" 
                name="<?php echo $elementName ?>[<%- data.file_id %>][description]"
                value="<%- data.description %>"/>            
                        
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][position]"
                   value="<%- data.position %>"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"
                   class="position"/>
            <% if (data.media_type !== 'external-video') {%>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][media_type]"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"
                   value="image"/>
            <% } else { %>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][media_type]"
                   value="<%- data.media_type %>"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"/>
            <% } %>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][video_provider]"
                   value="<%- data.video_provider %>"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"/>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][file]"
                   value="<%- data.file %>"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"/>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][value_id]"
                   value="<%- data.value_id %>"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"/>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][label]"
                   value="<%- data.label %>"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"/>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][tags]"
                   value="<%- data.tags %>"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"/>       
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][width]"
                   value="<%- data.width %>"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"/>       
            
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][height]"
                   value="<%- data.height %>"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"/>       
            
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][disabled]"
                   value="<%- data.disabled %>"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"/>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][removed]"
                   value="" class="is-removed"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"/>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][video_url]"
                   value="<%- data.video_url %>"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"/>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][video_title]"
                   value="<%- data.video_title %>"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"/>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][video_description]"
                   value="<%- data.video_description %>"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"/>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][video_metadata]"
                   value="<%- data.video_metadata %>"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"/>
            <input type="hidden"
                   name="<?php /* @escapeNotVerified */ echo $elementName ?>[<%- data.file_id %>][role]"
                   value="<%- data.video_description %>"
                   data-form-part="<?php /* @escapeNotVerified */ echo $formName ?>"/>

            <div class="product-image-wrapper">
                <img class="product-image"
                     data-role="image-element"
                     src="<%- data.url %>"
                     alt="<%- data.label %>"/>

                <div class="actions">
                    <button type="button"
                            class="action-remove"
                            data-role="delete-button"
                            title="<% if (data.media_type == 'external-video') {%>
                            <?php echo $block->escapeHtml(
                                __('Delete video')
                            ); ?>
                        <%} else {%>
                            <?php echo $block->escapeHtml(
                                __('Delete image')
                            ); ?>
                        <%}%>">
                    <span>
                        <% if (data.media_type == 'external-video') { %>
                        <?php echo $block->escapeHtml(
                            __('Delete video')
                        ); ?>
                        <% } else {%>
                        <?php echo $block->escapeHtml(
                            __('Delete image')
                        ); ?>
                        <%} %>
                    </span>
                    </button>
                    <div class="draggable-handle"></div>
                </div>
                <div class="image-fade"><span><?php echo $block->escapeHtml(
                            __('Hidden')
                        ); ?></span></div>
            </div>

            <div class="item-description">
                <% if (data.media_type !== 'external-video') {%>
                <div class="item-title" data-role="img-title"><%- data.label %></div>
        <!--
                <div class="item-size">
                    <span data-role="image-dimens"></span>, <span data-role="image-size"><%- data.sizeLabel %></span>
                </div>
        -->
                <% } else { %>
                <div class="item-title" data-role="img-title"><%- data.video_title %></div>
                <% } %>
            </div>

            <ul class="item-roles" data-role="roles-labels">
                <?php
                foreach ($block->getImageTypes() as $typeData):
                    ?>
                    <li data-role-code="<?php echo $block->escapeHtml(
                        $typeData['code']
                    ) ?>" class="item-role item-role-<?php echo $block->escapeHtml(
                        $typeData['code']
                    ) ?>">
                        <?php echo $block->escapeHtml($typeData['label']) ?>
                    </li>
                    <?php
                endforeach;
                ?>
            </ul>
        </div>
    </script>

    <script data-role="img-dialog-container-tmpl" type="text/x-magento-template">
        <div class="image-panel" data-role="dialog">
        </div>
    </script>

    <script data-role="img-dialog-tmpl" type="text/x-magento-template">
        <div class="image-panel-preview">
            <img src="<%- data.url %>" alt="<%- data.label %>" />
        </div>
        <div class="image-panel-controls">
            <strong class="image-name"><%- data.label %></strong>

            <fieldset class="admin__fieldset fieldset-image-panel">
                <div class="admin__field field-image-description">
                    <label class="admin__field-label" for="image-description">
                        <span><?php /* @escapeNotVerified */ echo __('Image Caption')?></span>
                    </label>

                    <div class="admin__field-control">
                            <textarea data-role="image-description"
                                      rows="3"
                                      class="admin__control-textarea"
                                      name="<?php /* @escapeNotVerified */
                                      echo $elementName
                                      ?>[<%- data.file_id %>][label]"><%- data.label %></textarea>
                    </div>
                </div>

                

                
            </fieldset>
        </div>
    </script>
<!--    <div id="<?php /* @noEscape */ echo $block->getNewVideoBlockName();?>" style="display:none">
        <?php /* @escapeNotVerified */ echo $block->getFormHtml();?>
        <div id="video-player-preview-location" class="video-player-sidebar">
            <div class="video-player-container"></div>
            <div class="video-information title">
                <label><?php echo $block->escapeHtml(
                        __('Title:')
                    ); ?> </label><span></span>
            </div>
            <div class="video-information uploaded">
                <label><?php echo $block->escapeHtml(
                        __('Uploaded:')
                    ); ?> </label><span></span>
            </div>
            <div class="video-information uploader">
                <label><?php echo $block->escapeHtml(
                        __('Uploader:')
                    ); ?> </label><span></span>
            </div>
            <div class="video-information duration">
                <label><?php echo $block->escapeHtml(
                        __('Duration:')
                    ); ?> </label><span></span>
            </div>
        </div>
    </div>-->

    <?php //echo $block->getChildHtml('new-video'); ?>
</div>
<script>
    jQuery('body').trigger('contentUpdated');
</script>
<?php else: ?>

<div id="<?php echo $block->getHtmlId() ?>"
     class='gallery admin__scope-ol'
     data-mage-init='{"productGallery":{"template":"#<?php echo $block->getHtmlId() ?>-template"}}'
     data-images="<?php echo $block->escapeHtml($block->getImagesJson()) ?>"
     data-types="<?php
echo $block->escapeHtml(
        $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($block->getImageTypes())
)
?>"
     >
     <?php //if (!$block->getElement()->getReadonly()) {
     ?>
    <div class="image image-placeholder">
         <?php echo $block->getUploaderHtml();
         ?>
        
        <div class="product-image-wrapper">
        <p class="image-placeholder-text"><?php echo __('Click here or drag and drop to add images.');
         ?></p>
        </div>
    </div>
            <?php
//}
            ?>
    <?php foreach ($block->getImageTypes() as $typeData) { 
        ?>
        <input name="<?php echo $block->escapeHtml($typeData['name']) ?>"
               class="image-<?php echo $block->escapeHtml($typeData['code']) ?>"
               type="hidden"
               value="<?php echo $block->escapeHtml($typeData['value']) ?>"/>
    <?php }
?>


    <script id="<?php echo $block->getHtmlId() ?>-template" type="text/x-magento-template">
        <div class="image item <% if (data . disabled == 1) { %>hidden-for-front<% } %>"
        data-role="image">
        <input type="hidden" name="<?php echo $elementName ?>[<%- data.file_id %>][position]" value="<%- data.position %>" class="position"/>
        <input type="hidden" name="<?php echo $elementName ?>[<%- data.file_id %>][file]" value="<%- data.file %>"/>
        <input type="hidden" name="<?php echo $elementName ?>[<%- data.file_id %>][value_id]" value="<%- data.value_id %>"/>
        <input type="hidden" name="<?php echo $elementName ?>[<%- data.file_id %>][photogallery_id]" value="<%- data.photogallery_id %>"/>
        <input type="hidden" name="<?php echo $elementName ?>[<%- data.file_id %>][description]" value="<%- data.description %>"/>
        <input type="hidden" name="<?php echo $elementName ?>[<%- data.file_id %>][label]" value="<%- data.label %>"/>
        <input type="hidden" name="<?php echo $elementName ?>[<%- data.file_id %>][tags]" value="<%- data.tags %>"/>    
        <input type="hidden" name="<?php echo $elementName ?>[<%- data.file_id %>][disabled]" value="<%- data.disabled %>"/>
        <input type="hidden" name="<?php echo $elementName ?>[<%- data.file_id %>][removed]" value="" class="is-removed"/>
        <ul class="type-labels" style="display: none">
<?php foreach ($block->getImageTypes() as $typeData) {
    ?>
            <li class="type-<?php
            echo $block->escapeHtml(
                    $typeData['code']
            )
            ?>"><?php echo $block->escapeHtml($typeData['label']) ?></li>
            <?php }
        ?>
        </ul>
        <img class="spacer" src="<?php echo $block->getViewFileUrl('images/spacer.gif') ?>"/>
        <img class="product-image" src="<%- data.url %>" alt="<%- data.label %>"/>
        <div class="actions" >
        <button type="button" class="action-delete" data-role="delete-button" title="<?php echo __('Delete image') ?>">
        <span> <?php echo __('Delete image') ?></span >
        </button>
        <div class="draggable-handle" ></div >
        </div >

        <div class="image-fade"><span><?php echo __('Hidden') ?></span></div>
        </div>
    </script>
    <script class="dialog-template" type="text/x-magento-template"  data-title="Image Options">
        <div class="image-panel admin__scope-old ui-tabs-panel ui-widget-content ui-corner-bottom" data-role="dialog">
        <div class="image-panel-preview">
        <img src="<%- data.url %>" alt="<%- data.label %>" />
        </div>
        <div class="image-panel-controls">
        <strong class="image-name"><%- data.label %></strong>

        <fieldset class="fieldset fieldset-image-panel">
        <div class="field field-image-description">
        <label class="label" for="image-description">
        <span><?php echo __('Label') ?></span>
        </label>
        <div class="control">
        <input type="text" id="image-description"
        name="<?php echo $elementName ?>[<%- data.file_id %>][label]" value="<%- data.label %>" />
        <input type="text" id="image-description"
        name="<?php echo $elementName ?>[<%- data.file_id %>][tags]" value="<%- data.tags %>" />
        </div>
        </div>
        <div class="field field-image-description">
        <label class="label" for="image-description">
        <span><?php echo __('Caption') ?></span>
        </label>
        <div class="control">
        <textarea id="image-description"
        rows="3"
        name="<?php echo $elementName ?>[<%- data.file_id %>][description]"><%- data.description %></textarea>
        </div>
        </div>

        </fieldset>
        </div>

        <div class="image-pointer"></div>
        </div>
    </script>
</div>
<?php endif; ?>
