// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@account-nav-background: @sidebar__background-color;
@account-nav-color: false;

@account-nav-current-border: 3px solid transparent;
@account-nav-current-border-color: @active__color;
@account-nav-current-color: false;
@account-nav-current-font-weight: @font-weight__semibold;

@account-nav-delimiter__border-color: @color-gray82;

@account-nav-item-hover: @color-gray91;

@_password-default: @color-gray-light01;
@_password-weak: #ffafae;
@_password-medium: #ffd6b3;
@_password-strong: #c5eeac;
@_password-very-strong: #81b562;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .login-container {
        max-width: 80%;
        width: 80% !important;
        margin: auto;
        float: none !important;
        display: flex;
        justify-content: space-between;
        .block {
            &-new-customer {
                .actions-toolbar {
                    margin-top: 25px;
                }
            }

            .block-title {
//                &:extend(.abs-login-block-title all);
//                .lib-font-size(18);
            }
        }

        .fieldset {
            .lib-form-hasrequired(bottom);
            &:after {
                margin-top: 35px;
                display: none;
            }
        }
    }

    .block-addresses-list {
        .items.addresses {
            > .item {
                margin-bottom: @indent__base;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .form-address-edit {
        .region_id {
            display: none;
        }

        .actions-toolbar .action.primary {
            &:extend(.abs-button-l all);
        }
        .actions-toolbar {
            width: 80%;
        }
    }

    .form-edit-account {
        .fieldset.password {
            display: none;
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-information,
    .box-newsletter {
        .box-content {
            line-height: 26px;
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            &.field {
                > .label {
//                    &:extend(.abs-visually-hidden all);

                    + .control {
                        width: 100%;
                    }
                }
            }

            .field {
                &:extend(.abs-add-clearfix all);
            }
        }
    }

    //
    //  My account
    //  ---------------------------------------------

    .account {
        .column.main {
            h2 {
                margin-top: 0;
            }

            .toolbar {
                text-align: center;
                .limiter-options {
                    width: auto;
                }
            }

            .limiter {
                >.label {
                    &:extend(.abs-visually-hidden all);
                }
            }

            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
            }
        }

        .sidebar-additional {
            margin-top: 40px;
        }

        .table-wrapper {
            &:last-child {
                margin-bottom: 0;
            }

            .action {
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .table-return-items {
            .qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                }
            }
        }
        .form-newsletter-manage {
            .field {
                &.choice {
                    &::before {
                        display: none;
                    }
                    label {
                        span {
                            vertical-align: text-top;
                        }
                    }
                }
            }
            .actions-toolbar {
                width: 24%;
                margin-top: 40px;
            }
        }
        footer {
            .bestdeal {
                .field {
                    width: auto;
                    
                    label {
                        &::before {
                            top: 4px;
                        }
                        &::after {
                            top: 6.2px;
                        }
                    }
                }
            }
            .form {
                &.subscribe {
                    .actions {
                        button {
                            padding: 12px;
                        }
                    }
                }
            }
        }
    }

    //  Checkout address (create shipping address)
    .field.street {
        .field {
            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Account navigation
    //  ---------------------------------------------

    .account-nav {
        .title {
            &:extend(.abs-visually-hidden all);
        }

        .content {
            .lib-css(background, @account-nav-background);
            padding: 15px 0;
        }

        .item {
            margin: 3px 0 0;

            &:first-child {
                margin-top: 0;
            }

            a,
            > strong {
                .lib-css(color, @account-nav-color);
                border-left: 3px solid transparent;
                display: block;
                padding: @indent__xs 18px @indent__xs 15px;
            }

            a {
                text-decoration: none;

                &:hover {
                    .lib-css(background, @account-nav-item-hover);
                }
            }

            &.current {
                a,
                strong {
                    .lib-css(border-color, @account-nav-current-border-color);
                    .lib-css(color, @account-nav-current-color);
                    .lib-css(font-weight, @account-nav-current-font-weight);
                }

                a {
                    .lib-css(border-color, @account-nav-current-border-color);
                }
            }

            .delimiter {
                border-top: 1px solid @account-nav-delimiter__border-color;
                display: block;
                margin: @indent__s 1.8rem;
            }
        }
    }

    //
    //  Blocks & Widgets
    //  ---------------------------------------------

    .block {
        &:extend(.abs-margin-for-blocks-and-widgets all);
        .column.main & {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .title {
            margin-bottom: @indent__s;

            strong {
                .lib-heading(h4);
                .column.main & {
                    font-size: @h3__font-size;
                }
            }
        }

        p:last-child {
            margin: 0;
        }

        .box-actions {
            margin-top: @indent__xs;
        }
    }

    //
    //  Password Strength Meter
    //  ---------------------------------------------

    .field.password {
        .control {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction();

            .mage-error {
                .lib-vendor-prefix-order(2);
            }

            .input-text {
                .lib-vendor-prefix-order(0);
                z-index: 2;
            }
        }
    }

    .password-strength-meter {
        background-color: @_password-default;
        height: @form-element-input__height;
        line-height: @form-element-input__height;
        padding: @form-element-input__padding;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        .password-none & {
            &:before {
                background-color: @_password-default;
                width: 100%;
            }
        }

        .password-weak & {
            &:before {
                background-color: @_password-weak;
                width: 25%;
            }
        }

        .password-medium & {
            &:before {
                background-color: @_password-medium;
                width: 50%;
            }
        }

        .password-strong & {
            &:before {
                background-color: @_password-strong;
                width: 75%;
            }
        }

        .password-very-strong & {
            &:before {
                background-color: @_password-very-strong;
                width: 100%;
            }
        }
    }

    .control.captcha-image {
        .lib-css(margin-top, @indent__s);

        .captcha-img {
            vertical-align: middle;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .account {
        .column.main,
        .sidebar-additional {
            margin: 0;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .login-container {
        .fieldset {
            &:after {
                text-align: center;
            }
        }
    }

    .account {
        .messages {
            margin-bottom: 0;
        }

        .toolbar {
            &:extend(.abs-pager-toolbar-mobile all);
        }
    }

    .control.captcha-image {
        .captcha-img {
            .lib-css(margin-bottom, @indent__s);
            display: block;
        }
    }

    .customer-account-index {
        .page-title-wrapper {
            position: relative;
        }
    }

    .form.search.advanced {
        .field.price {
            .with-addon {
                .input-text {
                    flex-basis: auto;
                    width: 100%;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .login-container {
        &:extend(.abs-add-clearfix-desktop all);

        .block {
            &:extend(.abs-blocks-2columns all);
            &.login {
                .actions-toolbar {
                    > .primary {
                        margin-bottom: 0;
                        margin-right: @indent__l;
                    }

                    > .secondary {
                        float: left;
                    }
                }
            }
        }

        .fieldset {
            &:after {
                &:extend(.abs-margin-for-forms-desktop all);
            }

            > .field {
                > .control {
                    width: 100%;
                    input {
                        border: solid 1px #777;
                        height: auto;
                        padding: 10px;
                    }
                }
            }
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            .field {
                .label {
//                    .lib-css(margin, @form-field-type-label-inline__margin);
//                    .lib-css(padding, @form-field-type-label-inline__padding);
//                    .lib-css(text-align, @form-field-type-label-inline__align);
//                    .lib-css(width, @form-field-type-label-inline__width);
//                    box-sizing: border-box;
//                    float: left;
                }

                .control {
                    .lib-css(width, @form-field-type-control-inline__width);
                    float: left;
                }
            }
        }
    }

    .form.password.reset,
    .form.send.confirmation,
    .form.password.forget,
    .form.create.account,
    .form.search.advanced,
    .form.form-orders-search {
        min-width: 600px;
        width: 50%;
    }

    //
    //  My account
    //  ---------------------------------------------

    .account.page-layout-2columns-left {
        .sidebar-main,
        .sidebar-additional {
            width: 22.3%;
        }

        .column.main {
            width: 77.7%;
        }
    }

    .account {
        .column.main {
            .block:not(.widget) {
                .block-content {
                    &:extend(.abs-add-clearfix-desktop all);

                    .box {
                        &:extend(.abs-blocks-2columns all);
                    }
                }
            }
        }

        .toolbar {
            &:extend(.abs-pager-toolbar all);
        }
    }

    .block-addresses-list {
        .items.addresses {
            &:extend(.abs-add-clearfix-desktop all);
            font-size: 0;

            > .item {
                display: inline-block;
                font-size: @font-size__base;
                margin-bottom: @indent__base;
                vertical-align: top;
                width: 48.8%;

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    margin-bottom: 0;
                }

                &:nth-child(even) {
                    margin-left: 2.4%;
                }
            }
        }
    }

    //
    //  Welcome block
    //  ---------------------------------------------

    .dashboard-welcome-toggler {
        &:extend(.abs-visually-hidden-desktop all);
    }

    .control.captcha-image {
        .captcha-img {
            margin: 0 @indent__s @indent__s 0;
        }
    }
}
.login-container {
    .block-title {
        border-bottom: none !important;
        padding: 0;
        margin: 0;
        strong {
            font-size: 17px !important;
            font-weight: 700 !important;
            text-transform: uppercase;
            font-family: 'Roboto Condensed', sans-serif;
            display: inline-block;
            margin-bottom: 0px;
            color: #000;
        }
    }
    .note {
        font-size: 14px;
        color: #000;
        padding: 15px 0;
        margin-bottom: 0 !important;
    }
    p {
        font-size: 14px;
        color: #000;
        padding: 15px 0;
    }
    .actions-toolbar {
        margin: 25px 0 0 0 !important;
        a {
            text-decoration: underline;
            color: #000;
            font-size: 14px;
            font-weight: 600;
            border-radius: 0;
        }
        .primary {
            float: none;
            width: 100%;
            margin-top: 0px;
            margin-bottom: 10px;
            button {
                width: 70%;
                background: #ff7200;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 17px;
                height: auto;
                line-height: normal;
                border-radius: 20px;
                border: solid 1px #ff7200;
                transition: .5s all ease;
                padding: 10px;
                &:hover {
                    border: solid 1px #000;
                    background: #fff;
                    color: #000;
                }
            }
            a {
                display: block;
                width: 70%;
                background: #24a962;
                border: none;
                color: #fff;
                text-transform: uppercase;
                font-size: 16px;
                border-radius: 20px;
                height: auto;
                padding: 10px;
                margin: auto;
                border: solid 1px #24a962;
                transition: .5s all ease;
                &:hover {
                    border: solid 1px #000;
                    background: #fff;
                    color: #000;
                    transition: .5s all ease;
                }
            }
        }
        .secondary {
            display: block;
            width: 100%;
        }
    }
    .block-new-customer {
        width: 46% !important;
        border: solid 1px #777;
        border-radius: 20px;
        padding: 15px;
        a {
            text-decoration: none;
        }
    }
    .block-customer-login {
        border: solid 1px #777;
        padding: 15px;
        position: sticky;
        top: 0;
        left: 0;
        float: left !important;
        margin-bottom: 0;
        border-radius: 20px;
        width: 46% !important;
    }
    .field {
        label {
            display: block;
            text-align: left !important;
            font-size: 14px;
            font-weight: 500 !important;
            color: #000;
            padding-bottom: 8px !important;
        }
    }
    
}
#login-form {
    .fieldset {
        &::after {
            margin-left: 0 !important;
            display: none;
        }
    }
}
.logininner {
//    justify-content: space-between;
//    display: flex;
//    flex-wrap: wrap;
    .field {
        width: 100% !important;
        margin-bottom: 15px;
        label {
            font-size: 16px;
            color: #000;
            display: block;
            text-align: left;
            font-weight: 600;
        }
        input {
            height: auto;
            border: solid 1px #000;
            font-size: 16px;
            padding: 10px;
        }
    }
}
.password {
    &.forget {
        width: 45% !important;
        min-width: 45% !important;
        margin: auto;
        border: solid 1px #777;
        padding: 20px;
        border-radius: 20px;
        margin-top: 40px;
        .note {
            font-size: 14px;
            color: #000;
            margin: 0;
        }
    .field {
        padding-bottom: 20px;
        label {
            display: block;
            text-align: left;
            font-size: 14px;
            font-weight: 500;
            color: #000;
            padding-bottom: 8px;
        }
        input {
            height: auto;
            padding: 10px;
            border: solid 1px #777;
        }
    }
    }
    .actions-toolbar {
        margin: 25px 0 0 0 !important;
        a {
            text-decoration: underline;
            color: #000;
            font-size: 18px;
            font-weight: 500;
        }
        .primary {
            button {
                background: #24a962;
                border: solid 1px #24a962;
                font-weight: 600;
                text-transform: uppercase;
                line-height: normal;
                font-size: 16px;
                padding: 10px 15px;
                border-radius: 20px;
                transition: .5s all ease;
                &:hover {
                    border: solid 1px #000;
                    background: none;
                    color: #000;
                }
            }
        }
        .secondary {
            a {
                text-transform: uppercase;
                text-decoration: none;
                font-size: 16px;
                border: solid 1px #000;
                padding: 10px 15px;
                margin: 0;
                border-radius: 20px;
                &:hover {
                    background: #24a962;
                    border: solid 1px #24a962;
                    color: #fff;
                }
            }
        }
    }
}
.captcha {
    .field  {
        width: 100%;
        button {
            float: right;
            background: #fff;
            font-size: 14px;
            border: solid 1px #000;
            text-transform: uppercase;
            &:hover {
                background: #006ab3;
                color: #fff;
                border: solid 1px #006ab3;
            }
        }
    }
}
.customer-account-forgotpassword {
    h1 {
        &.page-title {
            width: 100%;
            text-align: center;
            float: none;
            margin-top: 40px;
        }
    }
}
.customer-account-create {
    h1 {
        &.page-title {
            width: 100%;
            text-align: center;
            float: none;
            margin-top: 40px;
        }
    }
    .legend {
        margin-left: 0px !important;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .choice {
        &.newsletter {
            font-size: 16px;
            margin-top: 15px;
            float: left;
            width: 100%;
            text-align: left;
            &::before {
                display: none !important;
            }
            span {
                vertical-align: text-top;
                display: inline-block;
                padding: 2px 0 0 4px;
            }
        }
    }
}
.actions-toolbar {
    margin-left: 0 !important;
    a {
        text-decoration: underline;
        color: #000;
        font-size: 18px;
        font-weight: 500;
        &:hover {
            color: #006ab3;
            text-decoration: none;
        }
    }
}
.form-create-account {
    max-width: 50%;
    width: 50% !important;
//    border:solid 1px #a9a9a9;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin: auto;
    margin-top: 40px;
    border: solid 1px #777;
//    margin: auto;
}
.customer-account-login {
    h1 {
        &.page-title {
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }
    }
}

.account {
    #maincontent {
        .fieldset {
            margin: 0 0 0 0;
            .legend {
                margin: 0 0 0 0;
                font-size: 20px;
                span {
                    font-size: 18px !important;
                    font-weight: 700 !important;
                    text-transform: uppercase;
                    display: inline-block;
                    margin-bottom: 25px;
                    font-family: 'Roboto Condensed', sans-serif;
                    color: #000;
                    border-bottom: solid 2px #ffc000;
                }
            }
        }
        .customeraccountinfo {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .field {
                &.choice {
                    input {
                        float: left;
                    }
                    label {
                        float: left;
                        width: auto;
                    }
                }
            }
        }
        .field {
                width: 48%;
                margin-bottom: 20px;
                label {
                    font-size: 16px;
                    display: block;
                    padding-bottom: 8px;
                    float: none;
                    width: 100%;
                    text-align: left;
                    font-size: 14px;
                    font-weight: 400;
                    color: #000;
                }
                input {
                    height: auto;
                    border: solid 1px #000;
                    padding: 10px;
                    font-size: 16px;
                }
            select {
                height: auto;
                border: solid 1px #000;
                padding: 10px;
                font-size: 16px;
            }
                &.choice {
                    span {
                        display: inline-block;
                        padding: 4px 0 0 10px;
                    }
                }
            }
        .page-title {
            font-size: 26px !important;
            margin-bottom: 40px;
        }
        .block-title {
                margin-bottom: 30px !important;
            strong {
                font-size: 18px  !important;
                font-weight: 700  !important;
                text-transform: uppercase;
                border-bottom: solid 2px #ffc000;
                font-family: 'Roboto Condensed', sans-serif;
                color: #000;
            }
            a {
               white-space: nowrap;
                font-size: 16px;
                font-weight: 600;
                color: #000;
                text-transform: uppercase;
                display: inline-block;
                line-height: normal;
                border-bottom: solid 1px #000;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .box {
            .box-content {
                font-size: 15px;
                line-height: 34px;
                color: #000;
            }
            .box-title {
                span {
                    font-size: 18px !important;
                    font-family: 'Roboto Condensed', sans-serif;
                    color: #000;
                    font-weight: 500 !important;
                    text-transform: uppercase;
                }
            }
        }
        .box-actions {
            a {
                white-space: nowrap;
                font-size: 14px;
                background: #fff;
                font-weight: 600;
                color: #000;
                padding: 8px 22px;
                text-transform: uppercase;
                border: solid 1px #000;
                display: inline-block;
                line-height: normal;
                margin-right: 10px;
                margin-top: 15px;
                border-radius: 20px;
                &:hover {
                    background: #ff7200;
                    color: #fff;
                    border: solid 1px #ff7200;
                    text-decoration: none;
                }
            }
        }
        .sidebar {
            &.sidebar-additional {
                display: none;
            }
        }
        .account-nav-content {
            background: #fff;
            padding-top: 0;
            .nav {
                display: block;
                margin-top: 10px;
                li {
                    &:nth-child(3), &:nth-child(4), &:nth-child(9) {
                        display: none;
                    }
                    &.current {
                        background: none;
                        color: #ff7200;
                        strong {
                            padding: 0;
                            border: none;
                            text-decoration: none;
                            font-size: 16px;
                            color: #000;
                            font-weight: 500;
                            color: #ff7200;
                            font-family: 'Roboto Condensed', sans-serif;
                            text-transform: uppercase;
                        }
                    }
    //                &:nth-child(5), &:nth-child(8) {
    //                    display: none;
    //                }
                }
                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: #000;
                    font-weight: 500;
                    font-family: 'Roboto Condensed', sans-serif;
                    text-transform: uppercase;
                    padding: 0;
                    border: none;
                    &:hover {
                        background: none;
                        color: #ff7200;
                    }
                }
            }
        }
        .block-content {
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            &::before, &::after {
                display: none !important;
            }
            .box {
                border: solid 1px #a1a1a1;
                padding: 30px 20px;
                border-radius: 20px;
                width: 48% !important;
                margin-bottom: 20px;
                address {
                    word-break: break-all;
                }
            }
        }
        .form-edit-account {
            .field {
                &.password-info {
                    width: 100%;
                    font-size: 14px;
                    line-height: 26px;
                    color: #000;
                }
            }
        }
        form {
            .actions-toolbar {
                .primary {
                    button {
                        background: #ff7200;
                        color: #fff;
                        border: solid 1px #ff7200;
                        text-decoration: none;
                        border-radius: 20px;
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;
                        padding: 8px 25px;
                        transition: .5s all ease;
                        &:hover {
                            color: #000;
                            border: solid 1px #000;
                            background: none;
                        }
                    }
                }
                .secondary {
                    a {
                        font-size: 14px;
                        text-transform: uppercase;
                        text-decoration: none;
                        margin: 0;
                        border: solid 1px #000;
                        padding: 8px 15px;
                        border-radius: 20px;
                        &:hover {
                            background: #ff7200;
                            border: solid 1px #ff7200;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
.form-edit-account {
    width: 80%;
    .password-info {
        font-size: 16px;
        padding-bottom: 15px;
    }
}

.editaccountinner {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.form-address-edit {
    .fieldset {
        max-width: 80%;
        margin-bottom: 30px;
    }
    .street {
        .additional {
            display: none;
        }
    }
}
.form-wishlist-items{
    .products-grid {
        &.wishlist {
            .product-item-inner {
                .field {
                    &.comment-box {
                        width: 95%;
                        textarea {
                            border: solid 1px #000;
                            height: 50px;
                            color: #000;
                            font-size: 16px;
                        }
                    }
                }
                .box-tocart {
                    padding-bottom: 20px;
                    .field {
                        &.qty {
                            width: 40%;
                            float: left;
                            margin: 0;
                            padding-top: 20px;
                            .control {
                                width: auto;
                            }
                        }
                    }
                    .product-item-actions {
                        float: left;
                        width: 59%;
                        margin: 0;
                        .actions-primary {
                            width: 100%;
                            button {
                                width: 100%;
                                padding: 10px 0;
                            }
                        }
                    }
                }
                .product-item-actions {
                    display: flex;
                    justify-content: space-between;
                    padding-right: 13px;
                    padding-top: 10px;
                    a {
                        font-size: 16px;
                        text-transform: uppercase;
                        color: #000;
                        font-weight: 600;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
    .actions-toolbar {
        margin-top: 20px;
        border-top: solid 1px #777;
        padding-top: 30px;
        button {
            white-space: nowrap;
            font-size: 18px;
            background: #fff;
            font-weight: 600;
            color: #000;
            padding: 10px 25px;
            text-transform: uppercase;
            border: solid 1px #000;
            margin-top: 0;
            display: inline-block;
            line-height: normal;
            margin-right: 20px !important;
            &:hover {
                background: #1979c3;
                border: solid 1px #1979c3;
                color: #fff;
            }
        }
    }
}
.table {
    &.table-order-items  {
        tr {
            &:nth-child(even) {
                background: #f1f1f1;
            }
        }
        .col {
            width: auto;
            max-width: inherit;
        }
        th {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
        }
        td {
            font-size: 16px;
            text-transform: capitalize;
            padding-top: 5px;
            vertical-align: text-top;
            &.actions {
                .view {
                    background: #000;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: 600;
                    padding: 10px 14px;
                    margin-top: 5px;
                    display: inline-block;
                    &:hover {
                        background: #1979c3;
                        text-decoration: none;
                        color: #fff;
                    }
                }
                .order {
                    border: solid 1px #000;
                    color: #000;
                    font-size: 12px;
                    font-weight: 600;
                    padding: 10px 14px;
                    margin-top: 5px;
                    display: inline-block;
                    text-transform: uppercase;
                    &:hover {
                        background: #000;
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.mark {
    background: #fff;
}
.items {
    &.order-links {
        .item {
            &.current {
                strong {
                    font-size: 18px;
                    text-transform: uppercase;
                    padding-bottom: 8px;
                    display: block;
                }
            }
        }
    }
}
.table-wrapper {
    &.additional-addresses {
        display: block;
        width: 100%;
        .col {
            width: auto;
            max-width: inherit;
            font-size: 16px;
            color: #000;
        }
        th {
            font-weight: 700;
        }
    }
}
.block {
    &.block-addresses-list {
        .block-content {
            display: block;
        }
    }
}
.field.choice.set.billing::before {
    display: none;
}
.field.choice.set.shipping::before {
    display: none;
}
.mage-dropdown-dialog {
    .block-account  {
        li {
            float: none !important;
            display: block;
            font-size: 16px;
            padding: 15px;
            border-bottom: solid 1px #ddd;
            color: #000;
            line-height: normal;
            a  {
                background: none !important;
                color: #000;
                font-size: 16px !important;
                text-decoration: none;
                display: block !important;
                width: 100% !important;
                padding-top: 5px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .block-account {
        position: absolute;
        width: 240px;
        left: -60px;
        z-index: 10;
        border: solid 1px #777;
        background: #fff;
        top: 30px;
    }
}
.block {
    &.block-dashboard-orders {
        .block-content {
            &::before {
                display: none !important;
            }
            .table-wrapper {
                &.orders-recent {
                    width: 100%;
                }
            }
        }
    }
}
.order-products-toolbar {
    &.toolbar {
        &.bottom {
            .pager {
                font-size: 16px;
                color: #000;
                text-transform: capitalize;
            }
        }
    }
}
.customer-account-create  {
    .sociallogin-wrapper {
        float: none;
        width: 60%;
        margin: auto;
        padding: 0;
        border: none !important;
        padding-top: 40px;
        .sociallogin-block-title {
            margin-bottom: 30px;
            strong {
                font-weight: 600;
            }
        }
        .sociallogin-padding {
//            display: flex;
//            justify-content: space-between;
            max-width: 100%;
            .sociallogin-box {
                width: 100%;
                a {
                    span {
                        padding: 11px 10px;
                        height: auto;
                        font-size: 18px;
                        line-height: normal;
                    }
                }
            }
        }
    }
    .login-container {
        width: 80% !important;
    }
}
/* Minicart Changes*/
.account{
    .minicart-wrapper{
        .block-minicart {
            .block-content{
                display: block;
            }
        }
    }
}
.toolbar {
    &.wishlist-toolbar {
        .pager {
            font-size: 16px;
        }
    }
}
.block {
    &.block-order-details-view {
        border: none;
        padding: 0;
        .order-left-info {
            font-size: 16px;
            margin: 0;
            border: solid 1px #777;
            width: 48%;
        }
        .box-order-shipping-address {
            font-size: 16px;
            border: solid 1px #777;
            margin: 0 !important;
            width: 48% ;
        }
    }
}
.order-details-items {
    &.ordered {
        width: 98%;
        margin: auto;
    }
    #my-orders-table {
        padding: 10px;
        font-size: 16px;
    }
}
.block {
    &.block-addresses-list {
        .items {
            &.addresses {
                li {
                    width: 49.5%;
                    float: left;
                    border: solid 1px #777;
                    padding: 20px;
                    font-size: 16px;
                    text-transform: capitalize;
                    &:nth-child(2) {
                        float: right;
                    }
                }
            }
        }
    }
}
.customer-address-index {
    .actions-toolbar {
        margin-bottom: 40px;
    }
}


.block {
    &.block-dashboard-info {
        .box-newsletter {
            .box-content {
                min-height: 66px;
            }
        }
    }
}
.account {
    .order-details-items{
        &.ordered {
            width: 100%;
        }
    }
    .block {
        &.block-order-details-view {
            padding-top: 20px;
        }
    }
}
.account {
    .product-reviews-summary {
        &.short {
            position: absolute;
            bottom: 228px;
            padding: 0;
            margin: 0;
            font-size: 16px;
            a {
                font-size: 14px;
            }
        }
    }
    span {
        &.order-status {
            font-size: 16px;
            color: #000;
            border: solid 1px #777;
            padding: 2px 12px;
            margin-top: 2px;
            display: inline-block;
            vertical-align: top;
        }
    }
    .order-date {
        font-size: 16px;
        color: #000;
        font-weight: 600;
    }
}
.form-wishlist-items {
    .products-grid {
        &.wishlist {
            .product-item {
                position: relative;
                textarea {
                    resize: none;
                }
            }
        }
    }
}
.account .account-nav-content .nav li.current a {border: none;}
.account {
    .form {
        &.menu-links {
            .field {
                &.search {
                    width: auto;
                }
            }
        }
    }
}
.form {
    &.create {
        &.account {
            &.form-create-account {
                .choice {
                    &.newsletter {
                        margin-bottom: 30px;
                        display: none !important;
                    }
                }
            }
        }
    }
}

.fieldset {
    &.create {
        &.account {
            &::after {
                margin: 0 0 0 0 !important;
            }
        }
    }
}
.form-create-account {
    &.choice {
        &.newsletter {
            display:none;
            label {
                span {
                    display: inline-block;
                    vertical-align: text-top;
                    padding-top: 4px;
                }
            }
            &::before {
                display: none !important;
            }
        }
    }
}
.form {
    &.create {
        &.account {
            &.form-create-account {
                width: 100%;
                max-width: 48%;
                min-width: 48%;
                border-radius: 20px;
                padding: 20px;
                .primary {
                    margin-top: 0;
                }
                .field {
                    width: 100%;
                    margin-bottom: 20px;
                    label {
                        display: block;
                        float: none;
                        text-align: left;
                        font-weight: 500;
                        padding-bottom: 8px;
                        font-size: 14px;
                        width: 100%;
                    }
                    .control {
                        width: 100%;
                    }
                }
                .actions-toolbar {
                    margin-top: 20px;
                    .primary {
                        button {
                            background: #24a962;
                            border: none;
                            font-size: 15px;
                            font-weight: 600;
                            text-transform: uppercase;
                            border-radius: 20px;
                            line-height: normal;
                            padding: 10px 20px;
                            transition: .5s all ease;
                            color: #fff;
                            &:hover {
                                border: solid 1px #000;
                                background: none;
                                color: #000;
                            }
                        }
                    }
                    .secondary {
                        a {
                            text-decoration: none;
                            text-transform: uppercase;
                            font-size: 16px;
                            line-height: normal;
                            border: solid 1px #000;
                            padding: 8px 20px;
                            margin: 0;
                            border-radius: 20px;
                            &:hover {
                                background: #24a962;
                                color: #fff;
                                border: solid 1px #24a962;
                            }
                        }
                    }
                }
                .fieldset {
                    &.create {
                        &.account {
                            margin-top: 15px !important;
                        }
                    }
                }
            }
        }
    }
}
.sociallogin-wrapper {
    &.block-customer-login {
        &.login-container {
            border-right: none !important;
            padding: 20px 0 0 0 !important;
            width: 100% !important;
            max-width: 100%;
        }
    }
}
.socialortext {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        width: 45%;
        border-top: solid 1px #777;
    }
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 12px;
        width: 45%;
        border-top: solid 1px #777;
    }
}
.customer-account-createpassword {
    .page-title {
        width: 100%;
        float: none;
        text-align: center;
        font-size: 24px;
        span {
            font-size: 24px;
        }
    }
    .form {
        &.password {
            &.reset {
                width: 50%;
                margin: auto;
                border: solid 1px #777;
                padding: 20px;
                .fieldset {
                    margin: 0;
                    .field {
                        float: left;
                        width: 48%;
                        .label {
                                display: block;
                                float: none;
                                width: 100%;
                                text-align: left;
                                font-size: 14px;
                                font-weight: 400;
                                color: #000;
                                padding-bottom: 5px;
                            span {
                                color: #000;
                            }
                        }
                        &:nth-child(2) {
                            float: right;
                        }
                        input {
                            border: solid 1px #000;
                            height: auto;
                            padding: 10px;
                        }
                        .control {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
.block {
    &.block-reviews-dashboard {
        display: none;
    }
}
.customer-account-login  {
    .column {
        &.main {
            margin-top: 40px;
            h1 {
                &.page-title {
                    span {
                        font-size: 26px;
                    }
                }
            }
        }
    }
}


.account input[type="checkbox"]:not(:checked) + label:before,  .account input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    background: #fff;
    border-radius: 0;
}

.account input[type="checkbox"]:not(:checked) + label, .account input[type="checkbox"]:checked + label{
    position: relative;
    padding-left: 1.2em;
    cursor: pointer;
}
.account input[type="checkbox"]:checked + label:after {
       content: "";
    position: absolute;
    top: 10px;
    left: 2.2px;
    font-size: 19px;
    line-height: 0.8;
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    transition: all 0.2s ease 0s;
    background: #ff7200;
    width: 11px;
    height: 11px;
    border-radius: 0;
}
 .account input[type="checkbox"]:not(:checked),  .account input[type="checkbox"]:checked {
    opacity: 0;
    position: absolute;
}