<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */

$storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt()
?>
<span data-action="toggle-nav" class="action nav-toggle openNav"><span><?= $block->escapeHtml(__('Toggle Nav')) ?></span></span>

<div class="megamenusection sidenav" id="mySidenav">
     <a href="javascript:void(0)" class="closebtn closeNav">&times;</a>
    <a href="/">
        <img style="width:200px; margin-left:24px; margin-bottom:10px;" src='<?php echo $this->getViewFileUrl('images/astro-logo.png'); ?>' alt="logo">
    </a>
    <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('navbar_menu_dekstop')->toHtml(); ?>
</div>


<div class="row">
    <div class="headerPanel">
    <div class="logosection">
    <a
    class="logo"
    href="<?= $block->escapeUrl($block->getUrl('')) ?>"
    title="<?= $block->escapeHtmlAttr($storeName) ?>"
    aria-label="store logo">
    <img src="<?= $block->escapeUrl($block->getLogoSrc()) ?>"
         title="<?= $block->escapeHtmlAttr($block->getLogoAlt()) ?>"
         alt="<?= $block->escapeHtmlAttr($block->getLogoAlt()) ?>"
            <?= $block->getLogoWidth() ? 'width="' . $block->escapeHtmlAttr($block->getLogoWidth()) . '"' : '' ?>
            <?= $block->getLogoHeight() ? 'height="' . $block->escapeHtmlAttr($block->getLogoHeight()) . '"' : '' ?>
    />
    </a>

</div>
    <script type="text/javascript">
        requirejs(['require', 'jquery', 'aos'],
        function(require, $, AOS) {

            AOS.init({
                duration: 600,
            });
        });
</script>
<script>
        
    require(['jquery'], function ($) {
      $(window).scroll(function(){
            var ScrollTop = $(window).scrollTop();
            if(ScrollTop > 120){
                $('.right-container-wrap').addClass('sticky');
            } else{
               $('.right-container-wrap').removeClass('sticky');
            }        
        }); 
        
        $(document).on('change', 'select.flavourdiv', function() {
                var selectedCountry = $(this).children("option:selected").index();
                $("select.flavourdiv").prop("selectedIndex", selectedCountry);
        
        });
        });
</script>
        
<style>
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
    z-index: 100
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
    padding: 0;
    line-height: normal;
    color: #000;
}

#maincontent {
  transition: margin-left .5s;
  padding: 16px;
}
    #navbar {padding: 0; list-style: none;}
/*    #navbar li .ddnav {display: none;}*/
    #navbar li {margin: 0;}
    #navbar li a {color: #000; font-family: 'Roboto Condensed', sans-serif; font-size: 16px;}
    #navbar ul {padding: 0; list-style: none;}
    .trustpoilat ul li:last-child {display: block;}
    .brands-logos.choosePrecious {display: block;}
    .brands-logos.choosePrecious .innersection.formobile {display: none;}
    #showmore_button {display: inline-block; font-weight: bold; margin-left: 10px; text-decoration: underline;}
</style>
