



<style>

.loader {

border: 7px solid #f3f3f3;
border-radius: 50%;
border-top: 7px solid #1979c3;
width: 50px;
height: 50px;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
margin-left:50%;
margin-top: 5%;
display:none;
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
</style>
<?php if($this->_helper->enableModule()):?>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">        

<?php 
//echo"sdas";
//echo $this->linkForAjex();
//$this->getAllPhotogallery();
echo $this->generatePhotogallery();

?>

<?php if ($this->getgalType()=="carousel"): ?>

<script type="text/javascript">


            require(["jquery", "owlcarousel", "finalmagpop","shadowbox","domReady!"], function ($, owlcarousel, jqueryfunction, shadowbox) {
				
				var ap;
    
            if (jQuery("#autoPlay").val()==5000) {
                ap = 5000;
            } else {
                ap = false;
			}
			<?php 
				$blockid=$this->getBlock();
				$gall_id="owl-demo".$blockid;
				?>
				<?php
				echo "var sr2 = \"" . $gall_id . "\"";
				?>
			
                $('#'+sr2).owlCarousel(
                    {
                        items : parseInt("<?= /* @escapeNotVerified */ $this->_helper->carouselItems() ?>"), //10 items above 1000px browser width
                        itemsDesktop : [1000, 3], //5 items between 1000px and 901px
                        itemsDesktopSmall : [900, 3], // betweem 900px and 601px
                        itemsTablet : [600, 2], //2 items between 600 and 0
                        itemsMobile : [450, 1],
                        //carouselRotation
                        <?php if ($this->_helper->carouselRotation()): ?>
						autoPlay: parseInt("<?= /* @escapeNotVerified */ $this->_helper->carouselRotationTime() ?>"), //10 items above 1000px browser width
						<?php else: ?>
						autoPlay : false,
						<?php endif; ?>	
                        

                        <?php if ($this->_helper->carouselNavButton()): ?>
						navigation: true,
						<?php else: ?>
						navigation : false,
						<?php endif; ?>
                        navigationText  : ["<i class='icon-left-open'></i>","<i class='icon-right-open'></i>"],
                        itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option
                      }
				);
				
				<?php 
				$blockid=$this->getBlock();
				$gall_id="image".$blockid;
				?>
				<?php
				echo "var sr3 = \"" . $gall_id . "\"";
				?>
			
                $('.'+sr3).magnificPopup({
					type: 'image',
					gallery: {
							//enablegalonPopUp
						<?php if ($this->_helper->enablegalonPopUp()): ?>
						enabled: true,
						<?php else: ?>
						enabled: false,
						<?php endif; ?>	

						preload: [0,2],	
						<?php if ($this->_helper->enablePopupNavOnCLick()): ?>
						navigateByImgClick: true,
						<?php else: ?>
						navigateByImgClick: false,
						<?php endif; ?>	
						},
						zoom: {
							//getPopupTime()
							enabled: true,
							duration: parseInt("<?= /* @escapeNotVerified */ $this->_helper->getPopupTime() ?>"),
							easing: 'ease-in-out',
							
						},



                                /*type: 'image',
                                gallery:{
                                    enabled: true,
                                    navigateByImgClick: false,
                                },
                                fixedContentPos: true,
                                zoom: {							
                                enabled: true,
                                duration: parseInt("3000"),
                                easing: 'ease-in-out',
                                                        
                                },*/
                            });
                               
            });
        </script>
<?php endif; ?>	
<?php if ($this->getgalType()=="simple"): ?>

<script type="text/javascript">

</script>
<script>

require(['jquery','finaltilesgallery','finalmagpop','photolighbox'], function($){
	
	
	
	<?php 
$blockid=$this->getBlock();

$gall_id="gallery".$blockid;
?>
<?php
echo "var sr2 = \"" . $gall_id . "\"";
?>


$('#'+sr2).finalTilesGallery({


						layout: '<?= /* @escapeNotVerified */ $this->getGalleryLayout() ?>',
						
						<?php if ($this->enablePaginitionWithoutFilter()=="1" || $this->enablePaginitionWithoutFilter()==1): ?>
						onLoading: function () {
							$('.cbp-l-loadMore-button-link').text('Loading...');
							$('.loader').css({'display': 'block'});
							
						},
						onUpdate: function () {
							$('.cbp-l-loadMore-button-link').text('<?= /* @escapeNotVerified */ $this->getManualText() ?>');
							$('.loader').css({'display': 'none'});
						},
						autoLoadURL: '<?= /* @escapeNotVerified */ $this->linkForAjex() ?>' ,
						<?php endif; ?>	

						


});
<?php if ($this->_helper->getMagniferOption()=="popup"): ?>
                $('#'+sr2).magnificPopup({
						type: 'image',
						
						delegate: '.tile:not(.ftg-hidden) .tile-inner',
					
						gallery: {
							//enablegalonPopUp
						<?php if ($this->_helper->enablegalonPopUp()): ?>
						enabled: true,
						<?php else: ?>
						enabled: false,
						<?php endif; ?>	

						preload: [0,2],	
						<?php if ($this->_helper->enablePopupNavOnCLick()): ?>
						navigateByImgClick: true,
						<?php else: ?>
						navigateByImgClick: false,
						<?php endif; ?>	
						},
						zoom: {
							//getPopupTime()
							enabled: true,
							duration: parseInt("<?= /* @escapeNotVerified */ $this->_helper->getPopupTime() ?>"),
							easing: 'ease-in-out',
							opener: function(openerElement) {
							return openerElement.is('img') ? openerElement : openerElement.find('img');
							}
						},
						callbacks: {
							change: function() {
								if (this.isOpen) {
									this.wrap.addClass('mfp-open');
								}
							}
						},
						image: {
						titleSrc: function(item) {
							return item.el.parents('.tile').find('h4').html() +   item.el.parents('.tile').find('h5').html();
							}
					},
				
						fixedContentPos: true,

				});
			<?php endif; ?>
});



</script>
<?php endif; ?>	


<?php if ($this->enablePaginitionWithoutFilter()=="1" || $this->enablePaginitionWithoutFilter()==1): ?>				
	<?php  if ($this->getLoadTypeAjex()=="manual"): ?>
		<div class="cbp-l-loadMore-button">
			<a class="cbp-l-loadMore-button-link"><?php echo $this->getManualText()?></a>
		</div>
	<?php else: ?>	
		<div class="loader"></div>
	<?php endif; ?>
<?php endif; ?>



<?php endif; ?>	