// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

.clr {
    clear: both;
}
a {
    transition: .5s all ease;
    &:hover {
        transition: .5s all ease;
    }
}

.page-wrapper {
    .page-header{
        .panel {
            &.wrapper {
                background: transparent;
                box-shadow: none;
                .panel {
                    &.header {
                        background: none;
                    }
                }
            }
            .action {
                &.compare {
                    display: none;
                }
            }
        }
    }
}
.header {
    &.content {
        border-top: solid 1px #ff7200;
    }
}
.headerbefore {
    width: 100%;
    background:none;
    padding: 0 15px;
    padding-top: 10px;
    .headertopleft {
        float: none;
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            text-align: center;
            li {
                display: inline-block;
                margin-right: 0px;
                color: #000;
                font-weight: 500;
                font-size: 11px;
                width: 100%;
            }
        }
    }
    .headertopright > ul {display: inline-block; width: 100%; padding: 5px 0 0 0; clear: both; }
    .headertopright {
        float: none;
        .dropdown-menu {
            position: absolute !important;
            width: 100%;
            text-align: left;
            left: 22px;
            padding: 0;
            border-bottom: none;
            background: #fff;
            li {
                width: 100%;
                border-bottom: solid 1px #ddd;
                padding: 5px 0;
                a {
                    padding: 0 0 0 20px !important;
                    margin: 0 !important;
                    text-align: left;
                    display: block !important;
                    width: 100%;
                    color: #000;
                }
            }
        }
        ul {
            li {
                float: left;
                &:last-child {
                    float: right;
                }
                a {
                    color: #fff;
                    font-weight: 500;
                    font-size: 12px;
                    padding: 0;
                    margin-left: 25px;
                    img {
                        display: inline-block;
                        margin-right: 5px;
                    }
                    &:hover {
                        background: none;
                    }
                }
            }
        }
    }
}
.trustpoilat {
    float: none;
    clear: both;
    overflow:hidden;
    padding-top: 15px;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        li {
            float: left;
            margin-left: 20px;
            &:first-child {
                width: 160px;
                padding-top: 0px;
                margin-left: -16px;
                margin-right: 20px;
                margin: auto;
                margin-top: 5px;
                margin-bottom: 10px;
            }
            img {
                float: left;
                margin-right: 10px;
                width: 15%;
            }
            p {
                color: #000;
                font-size: 13.5px;
                float: left;
                font-weight: 600;
                span {
                    display: inline-block;
                    font-size: 13.5px;
                    font-weight: 700;
                    padding-top: 4px;
                }
            }
            &:last-child {
                display: none;
            }
        }
    }
}
.headcartsection {
    float: none;
    width: auto;
    position: absolute;
    right: 25px;
    top: 22px;
    .showcart {
        .text {
            display: none;
        }
    }
}
.headerPanel {
    float: left;
    width: 100%;
    max-width: 100%;
    .logosection {
        float: left;
        padding-left: 25px;
    }
}
.form {
    &.minisearch {
        width: 90%;
        position: relative;
        margin: 0;
        float: left;
        label {
            &.label {
                position: absolute;
                right: 0;
                top: 6px;
                &::before {
                    color: #000;
                }
            }
        }
        .control {
            input {
                border-radius: 50px;
                border: none;
            }
        }
        .actions {
            position: absolute;
            right: 0;
            top: 0;
            button {
                background: #ff7200;
                border-bottom-right-radius: 50px;
                border-top-right-radius: 50px;
            }
        }
    }
}
.sections {
    &.nav-sections {
        background: none;
        .container {
            padding-left: 0;
            padding-right: 0;
        }
        .mainnav_wrapper {
            background: none;
            border: none;
            .navigation {
                border-radius: 50px;
                margin-bottom: 15px;
                margin-top: 10px;
            }
        }
    }
}
.bannerouter {
    background:#cbac41;
    padding:10px 0 10px 0;
    margin-top: -17px;
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .banneriner {
        clear: both;
        overflow: hidden;
        width: 100%;
        .list {
            padding-bottom: 8px;
        }
        .left {
            float: left;
        }
        .right {
            float: left;
            .topsection {
                .list {
                    float: left;
                    padding-left: 8px;
                }
            }
        }
        .bottomersection {
            clear: both;
            overflow: hidden;
            .btmleft {
                float: left;
                .btmsection {
                    padding-left: 10px;
                }
            }
            .btmright {
                float: left;
                .top {
                    .list {
                        float: left;
                        padding-left: 10px;
                    }
                }
                .btm {
                    padding-left: 10px;
                }
            }
        }
    }
}
.logosection {
    float: left;
    img {
        width: 180px;
        height: 60px;
    }
}
.gemstonetabing {
    padding-top: 20px;
     p {
        font-size: 13px;
        color: #8b8b8b;
        padding: 20px 20px 0 20px;
        text-align: center;
         display: none;
    }
    .nav-tabs {
        display: flex;
        justify-content: space-between;
        border-bottom: solid 2px #ddd;
        text-align: left;
       
        a {
            display: inline-block;
            border: none;
            color: #8b8b8b !important;
            font-size: 20px;
            font-weight: bold;
            position: relative;
            margin-right: 0px;
            font-family: 'Roboto Condensed', sans-serif;
            text-align: left;
            &.active {
                color: #000 !important;
                z-index: 1;
                &::after {
                    height: 4px;
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    background: #ffc000;
                    width: 100%;
                    z-index: -1;
                    left: 0;
                }
            }
        }
    }
    .innersection {
        width: 100%;
        .tab-pane  {
            ul {
                padding: 0;
                list-style: none;
                margin: 0;
                li {
                    text-align: center;
                    width: 30%;
                    border: solid 1px #ccc;
                    border-radius: 20px;
                    margin-top: 30px !important;
                    display: inline-block;
                    padding: 10px 0;
                    margin-right: 15px;
                    &:nth-child(3n) {
                        margin-right: 0px;
                    }
                    &:hover {
                        border: solid 1px #ff7200;
                        .heading {
                            color: #ff7200;
                        }
                    }
                    a {
                        display: block;
                        img {
                            -webkit-transition: 0.8s;
                            -moz-transition: 0.8s;
                            -o-transition: 0.8s;
                            -ms-transition: 0.8s;
                            transition: 0.8s;
                            width: 90%;
                        }
                        .heading {
                            text-transform: uppercase;
                            color: #000;
                            font-weight: 500;
                            font-size: 13px;
                            padding-top: 10px;
                            font-family: 'Roboto Condensed', sans-serif;
                            display: block;
                        }
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    &:hover {
                        img {
                            -moz-transform: scale(1.1) rotate(0deg);
                            -webkit-transform: scale(1.1) rotate(0deg);
                            -o-transform: scale(1.1) rotate(0deg);
                            -ms-transform: scale(1.1) rotate(0deg);
                            transform: scale(1.1) rotate(0deg);
                            -webkit-transition: 0.8s;
                            -moz-transition: 0.8s;
                            -o-transition: 0.8s;
                            -ms-transition: 0.8s;
                            transition: 0.8s;
                        }
                        h2 {
                            text-decoration: none;
                        }
                        text-decoration: none;
                    }
                }
            }
        }
        .viewmore {
            text-align:center;
            padding-top: 20px;
            a {
                text-transform: uppercase;
                color: #fff;
                font-weight: 600;
                background: #000;
                font-size: 13px;
                padding: 8px 14px;
                border-radius: 50px;
                border: solid 1px #000;
                &:hover {
                    background: #ff7200;
                    border: solid 1px #ff7200;
                    text-decoration: none;
                }
            }
        }
    }
}
.choosePrecious {
    text-align: center;
}
.customerssays {
    padding-top: 50px;
    .innersection {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        .happycustomer {
            max-width: 100%;
            margin-bottom: 20px;
            h2 {
                font-size: 20px;
                color: #000;
                font-weight: 700;
                font-family: 'Roboto Condensed', sans-serif;
                span {
                    display: block;
                    position: relative;
                    &::after {
                        height: 8px;
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        background: #ffc000;
                        width: 84%;
                        z-index: -1;
                        left: 0;
                    }
                }
            }
            p {
                font-size: 14px;
                color: #000;
                opacity: 0.7;
                padding: 10px 0;
            }
            .readmore {
                display: inline-block;
                text-transform: uppercase;
                color: #fff;
                font-weight: 600;
                background: #000;
                font-size: 13px;
                padding: 8px 14px;
                border-radius: 50px;
            }
            .customertrust {
                text-align: center;
                border: solid 1px #ccc;
                border-radius: 20px;
                margin-top: 20px;
                padding-left: 30px;
                padding-top: 10px;
                svg {
                    width: 140px !important;
                }
            }
        }
        .testimonialC {
            max-width: 100%;
            width: 100%;
            border: solid 1px #ccc;
            padding: 10px 15px;
            border-radius: 4px;
            margin-bottom: 20px;
            .content {
                iframe {
                    width: 100% !important;
                }
                p {
                    font-size: 14px;
                }
                .customername {
                    span {
                        font-size: 14px;
                        color: #000;
                        font-weight: 700;
                        display: block;
                    }
                    p {
                        color: #000;
                        opacity: 0.7;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
}
.topresourcesmain {
    clear: both;
    overflow: hidden;
    padding: 40px 0 0 0;
    h2 {
        font-size: 24px;
        font-weight: 700;
        color: #000;
        position: relative;
        display: inline-block;
        margin-bottom: 0px;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        width: 100%;
//        &::after {
//           height: 8px;
//            content: '';
//            position: absolute;
//            bottom: 0px;
//            background: #ffc000;
//            width: 100%;
//            z-index: -1;
//            left: 0; 
//        }
    }
    .headingbg {
        margin-bottom: 20px;
    }
    .topresourcesouter {
        float: left;
        width: 100%;
        .owl-buttons {
            position: absolute;
            top: -40px;
            right: 45px;
            width: 30px;
            .owl-prev {
                float: left;
                font-size: 0px;
                position: relative;
                &::before {
                    width: 22px;
                    height: 28px;
                    line-height: 28px;
                    border: solid 1px #ccc;
                    color: #777;
                    font-size: 14px;
                    font-weight: 700;
                    position: absolute;
                    left: 0;
                    content: '<';
                    text-align: center;
                    
                }
            }
            .owl-next {
                float: right;
                position: relative;
                font-size: 0px;
                &::before {
                    width: 22px;
                    height: 28px;
                    line-height: 28px;
                    border: solid 1px #ccc;
                    color: #777;
                    font-size: 14px;
                    font-weight: 700;
                    position: absolute;
                    left: 0;
                    content: '>';
                    text-align: center;
                }
            }
        }
        .item {
            img {
                width: 100%;
            }
            p {
                padding-right: 0;
                font-size: 16px;
                color: #000;
            }
            span {
                font-size: 14px;
                font-weight: 700;
                color: #000;
                display: block;
                padding: 15px 0;
                padding-right: 15px;
            }
        }
    }
    .connectwithus {
        float: right;
        width: 100%;
        .col-md-12 {
            padding-left: 0px;
            padding-right: 0px;
        }
        iframe {
            width: 100% !important;
            div {
                width: 100% !important;
            }
        }
    }
}
.choose_precious_gemstones {
    h2 {
        display: inline-block;
        font-size: 24px;
        font-weight: 700;
        color: #000;
        margin-bottom: 0px;
        position: relative;
        font-family: 'Roboto Condensed', sans-serif;
//        &::before {
//            height: 8px;
//            content: '';
//            position: absolute;
//            bottom: 0px;
//            background: #ffc000;
//            width: 100%;
//            z-index: -1;
//            left: 0; 
//        }
    }
    .headingbg {
        padding-bottom: 20px;
    }
    .headingtext {
        padding-bottom: 25px;
        opacity: 0.7;
    }
    .item-post_head {
        text-align: left;
        padding-top: 14px;
        h5 {
            font-weight: 700;
            color: #000;
            font-size: 14px;
            padding-bottom: 6px;
        }
        p {
            font-weight: 400;
            font-size: 13px;
        }
    }
    .owl-buttons {
        display: none;
    }
}
.brands-logos {
    &.choosePrecious {
        margin: 40px 0;
        .fordesktop {
            display: none;
        }
    }
}
.newsletterouter {
    background: #f2f2f2;
    padding: 15px 0 25px 0;
    clear: both;
    overflow: hidden;
    .newslettermain {
        float: none;
        width: 100%;
        span {
            font-size: 18px;
            font-weight: 700;
            color: #000;
            text-transform: uppercase;
            padding-right: 0px;
            padding-bottom: 20px;
            display: block;
            text-align: center;
        }
        .block {
            &.newsletter {
                max-width: 100%;
                width: 500px;
                float: left;
                margin: 0;
                .form {
                    position: relative;
                    .control {
                        &::before {
                            display: none;
                        }
                        label {
                            width: 100%;
                            input {
                                border-radius: 50px;
                                border: solid 1px #ccc;
                                height: auto;
                                padding: 8px 0 7px 20px;
                            }
                        }
                    }
                    .actions {
                        position: absolute;
                        right: 97px;
                        top: 0;
                        button {
                            border-radius: 0;
                            border-bottom-right-radius: 50px;
                            border-top-right-radius: 50px;
                            span {
                                font-size: 14px;
                                color: #fff;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .socialicon {
        float: none;
        width: 100%;
        text-align: center;
        padding-top: 20px;
        clear: both;
        span {
            float: none;
            display: inline-block;
            font-size: 15px;
            font-weight: 700;
            color: #000;
            text-transform: uppercase;
            padding-right: 10px;
            padding-top: 8px;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: inline-block;
            li {
                background: #fff;
                border-radius: 50%;
                padding: 5px;
                display: inline-block;
                margin: 0 0 0 5px;
                img {
                    width: 24px;
                }
            }
        }
    }
}
.fooerpayment {
    background: #fff;
    color: #000;
    clear: both;
    overflow: hidden;
    text-align: center;
    padding:  0 20px;
    .container {
        border-top: solid 1px #ccc;
        padding: 14px 0;
        .copyright {
            font-size: 14px;
            float: none;
            padding-top: 4px;
            padding-bottom: 25px;
            line-height: normal;
            color: #000;
            opacity: 0.7;
        }
        .paymenticon {
            float: none;
            ul {
                padding: 0;
                list-style-type: none;
                margin: 0;
                text-align: center;
                li {
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
        .footersocail {
            ul {
                list-style-type: none;
                text-align: center;
                margin-top: 10px;
                padding: 0px;
                li {
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
    }
}
.page-footer {
    background: #d6d6d6;
    color: #fff;
    .footer {
        &.content {
            width: 100%;
            padding: 30px 0 25px 0;
            .footer-inner {
                padding: 30px 0 0 0;
                padding-top: 0;
                display: block;
                .list {
                    padding: 0;
                    h3 {
                        padding-bottom: 8px;
                        a {
                        font-weight: 600;
                        font-size: 16px;
                        text-transform: capitalize;
                        color: #393939;
                        opacity: 1;
                        font-family: 'Roboto Condensed', sans-serif;
                        }
                    }
                    ul {
                        li {
                            padding-bottom: 5px;
                            a { 
                                color: #fff;
                                opacity: 0.8;
                                font-weight: 300;
                                font-size: 12px;
                                &:hover {
                                    text-decoration: none;
                                    color: #f4a137;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &.contactdetils {
                        span {
                            display: inline-block;
                            vertical-align: text-top;
                            float: left;
                            padding-right: 10px;
                            font-weight: 600;
                            padding-top: 4px;
                        }
                        p, a {
                            display: inline-block;
                            float: left;
                            color: #fff;
                            opacity: 0.7;
                            font-weight: 300;
                            font-size: 13px;
                        }
                        .listing {
                            padding-top: 14px;
                            &.listingS {
                                padding-top: 0;
                                padding-bottom: 15px;
                            }
                            a {
                                display: inline-block;
                                margin-top: 8px;
                                &:hover {
                                    text-decoration: none;
                                    color: #f4a137;
                                    opacity: 1;
                                }
                            }
                        }
                        h3 {
                            padding-top: 32px;
                            a {
                                font-weight: 600;
                                font-size: 14px;
                                text-transform: uppercase;
                                color: #fff;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}
#minicart-content-wrapper{
    .minicart-items-wrapper {
        height: 200px !important;
    }
}
.testimonialbox {
    position: fixed;
    top: 80px;
    z-index: 100;
    width: 50%;
    padding: 0;
    background: none;
    left: 0;
    &::before {
        background: rgba(0,0,0,0.7);
        width: 100%;
        height: 100%;
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #myForm {
        margin: 10px;
        width: 100%;
        position: absolute;
        left: 50%;
    }
}
.icon {
    &.mobilesearchicon {
        float: left;
        padding: 15px 0 0 25px;
    }
}
.cms-home  {
    .page-main {
        padding-left: 0 !important;
        padding-right: 0px !important;
    }
}
.container {
    &.mobilebanner {
        padding: 0 15px;
        .items {
            img {
                width: 100%;
            }
        }
        .owl-controls {
            .owl-pagination {
                text-align: center;
                padding-top: 10px;
                .owl-page {
                    background: #b3804e;
                    padding: 5px;
                    display: inline-block;
                    border-radius: 20px;
                    margin-right: 10px;
                    &.active {
                        background: #ffc000;
                    }
                }
            }
        }
    }
}
.topresources, .recentarticalsection {
    .owl-controls {
        .owl-pagination {
            text-align: center;
            margin:20px 0 30px 0;
            .owl-page {
                background: #b2b2b2;
                padding: 5px;
                display: inline-block;
                border-radius: 20px;
                margin-right: 10px;
                &.active {
                    background: #ffc000;
                }
            }
        }
    }
}

.footer-inner {
    .accordion-item {
        border-bottom: solid 1px #eee;
        padding-bottom: 8px;
        margin-bottom: 10px;
        &.closed {
            h3 {
                padding: 0 30px;
                font-size: 16px;
                color: #393939;
                position: relative;
                a {
                    font-weight: 600;
                    font-size: 16px;
                    text-transform: capitalize;
                    color: #393939;
                    opacity: 1;
                    font-family: 'Roboto Condensed', sans-serif;
                    text-decoration: none;
                }
                &::before {
                    content: '';
                    position: absolute;
                    left: 12px;
                    border-width: 0px 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    border: solid #393939;
                    border-top: 0;
                    border-left: 0;
                    top: 6px;
                }
            }
            .accordion-item-content {
                display: none;
                transition: .5s all ease;
            }
        }
        &.open {
            h3 {
                padding: 0 30px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    left: 12px;
                    border-width: 0px 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    border: solid #393939;
                    border-top: 0;
                    border-left: 0;
                    top: 6px;
                }
                a {
                    font-weight: 600;
                    font-size: 16px;
                    text-transform: capitalize;
                    color: #393939;
                    opacity: 1;
                    font-family: 'Roboto Condensed', sans-serif;
                    text-decoration: none;
                }
            }
            .accordion-item-content {
                display: block;
                padding: 15px 30px;
                background: #eee;
                margin: 14px 0;
                transition: .5s all ease;
                li {
                    margin-bottom: 8px;
                    color: #000;
                    font-size: 14px;
                    font-weight: 500;
                    a {
                        font-size: 14px;
                        color: #000;
                    }
                }
            }
        }
    }
}
.cms-home {
    .column {
        &.main {
            padding-bottom: 0;
        }
    }
}
.nav-toggle:before {
    font-size: 38px;
    color: #000;
    padding-top: 4px;
}
.searchsectionmain {
    left: 18px;
    width: 100%;
    z-index: 100;
    position: absolute;
    top: 70px;
}
#navbar {
    li {
        &.menu-arrow {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                right: 42px;
                border-width: 0px 3px 3px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                border: solid #393939;
                border-top: 0;
                border-left: 0;
                top: 15px;
            }
            &.selected {
                background: #ff7200;
                a {
                    color: #fff;
                }
                &::after {
                    border: solid #fff;
                    border-top: 0;
                    border-left: 0;
                }
                .ddnav {
                    a {
                        color: #000;
                    }
                }
            }
        }
        .ddnav {
            clear: both;
            overflow: hidden;
            background:#f5f5f5;
            padding-top: 10px;
            padding-bottom: 10px;
            .col-md-5th-1 {
                width: 100%;
                .img {
                    display: none;
                }
                h4 {
                    a {
                        font-size: 16px;
                        padding-left: 10px;
                    }
                }
            }
            .choose-gems {
                h3 {
                    text-transform: uppercase;
                    font-size: 15px;
                    padding-top: 10px;
                }
                .col-md-12 {
                    padding: 0;
                    .gems_menu_links {
                        li {
                            a {
                                font-size: 16px;
                                padding-left: 0;
                            }
                        }
                    }
                }
            }
            .custom_menu_img {
                display: none;
            }
            .menuLgMidBox {
                li {
                    a {
                        font-size: 16px;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 360px) {
    .gemstonetabing .innersection .tab-pane ul li {
        margin-right: 12px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px)  {
    .sections {
        &.nav-sections {
            display: none;
        }
    }
    .headerPanel {
        display: flex;
        .logosection {
            padding-left: 75px;
            padding-top: 10px;
        }
        .mobilesearchicon {
            order: 3;
            padding-left: 45px;
        }
    }
    .nav-toggle {
        display: block;
    }
    .ddnav {
        .col-md-4 {
            max-width: 100%;
        }
    }
    .headerbefore {
        display: flex;
        .headertopleft {
            width: 45%;
            li {
                margin-right: 0 !important;
                margin-bottom: 0;
            }
        }
        .headertopright {
            width: 45%;
            ul {
                padding-top: 0;
                margin-top: -2px;
            }
        }
    }
    .headcartsection {
        top: 15px;
    }
    .minicart-wrapper .action.showcart .counter.qty.empty {top: 16px;}
    .page-header {
        .panel {
            &.wrapper {
                padding-top: 0;
            }
        }
    }
    #switcher-currency {
        right: 20px;
        top: 10px;
    }
    .page-header .header .switcher-currency .switcher-trigger > strong {color: #fff;}
    .newsletterouter {
        background: #f2f2f2;
        padding: 30px 0 25px 0;
        clear: both;
        overflow: hidden;
        .newslettermain {
            float: left;
            width: 745px;
            span {
                float: left;
                font-size: 15px;
                font-weight: 700;
                color: #000;
                text-transform: uppercase;
                padding-right: 15px;
                padding-top: 8px;
            }
            .block {
                &.newsletter {
                    max-width: 100%;
                    width: 500px;
                    float: left;
                    margin: 0;
                    .form {
                        position: relative;
                        .control {
                            &::before {
                                display: none;
                            }
                            label {
                                width: 100%;
                                input {
                                    border-radius: 50px;
                                    border: solid 1px #ccc;
                                    height: auto;
                                    padding: 8px 0 7px 20px;
                                }
                            }
                        }
                        .actions {
                            position: absolute;
                            right: 97px;
                            top: 0;
                            button {
                                border-radius: 0;
                                border-bottom-right-radius: 50px;
                                border-top-right-radius: 50px;
                                span {
                                    font-size: 14px;
                                    color: #fff;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .socialicon {
            float: none;
            width: 265px;
            margin: auto;
            span {
                float: left;
                font-size: 15px;
                font-weight: 700;
                color: #000;
                text-transform: uppercase;
                padding-right: 10px;
                padding-top: 8px;
            }
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                li {
                    background: #fff;
                    border-radius: 50%;
                    padding: 5px;
                    display: inline-block;
                    margin: 0 0 0 5px;
                    img {
                        width: 24px;
                    }
                }
            }
        }
    }
    .catalog-category-view  {
        #maincontent {
            .columns {
                display: flex;
                .column {
                    &.main {
                        width: 100%;
                        float: none;
                        padding: 0;
                    }
                }
            }
        }
    }
    .breadcrumbs {
        padding: 15px;
        margin: 0;
    }
    .sidebar {
        &.sidebar-main {
            padding: 0;
            margin: 0;
        }
    }
    .toolbar {
        &.toolbar-products {
            padding: 0 20px;
        }
    }
    .sidebar {
        &.sidebar-additional {
            padding: 0 20px;
        }
    }
    .catalog-product-view {
        .columns {
            .column {
                &.main {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    .product-info-main {
                        order: 2;
                    }
                    .product {
                        &.media {
                            order: 1;
                        }
                    }
                    .product {
                        &.info {
                            &.detailed {
                                order: 3;
                            }
                        }
                    }
                }
            }
        }
        
        .sidebar {
            &.sidebar-additional {
                width: 100%;
            }
        }
    }
    .cms-page-view .container .row .col-md-12:first-child .col-md-9, .cms-page-view .container .row .col-md-12:first-child .col-md-3 {max-width: 100%;}

}
.logomobilemember {
    clear: both;
    text-align: center;
    padding: 10px 20px 0;
    img {
        margin-left: 10px;
    }
}
.headerbottomlink {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
        border-right: solid 1px #000;
        line-height: normal;
        padding: 0 15px;
        display: inline-block;
        &:last-child {
            border: none;
        }
        a {
            color: #000;
            font-size: 14px;
            font-weight: 600;
        }
    }
}
.homevideotesti {width: 100%;}
.homevideotesti .owl-controls .owl-buttons {display: flex; justify-content: space-between; width: 90%; text-transform: capitalize; font-weight: 600;}
.homevideotesti .viedobanner {padding-right: 20px;}
.topresources {
    background: url('../images/top_resources_bg.png') no-repeat right bottom;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding-left: 35px;
            background: url(../images/dimond_bullet.png) no-repeat left 5px;
            margin-bottom: 10px;
            a {
                font-size: 14px;
                color: #000;
            }
        }
    }
}
.gemstoneuniverse_promotional_block {
    p {
        text-align: left;
        font-size: 14px;
    }
}
.header {
    &.links {
        display: none !important;
    }
}
#switcher-currency {
    display: none;
}
.right-menu-dropdown {
    #switcher-currency {
        display: block;
        position: absolute;
        left: 25px;
        right: auto;
        color: #fff;
        font-size: 14px;
        .language-USD {
            color: #fff;
            font-weight: 500;
        }
        .dollar_symbol {
            border: solid 1px #fff;
            padding: 0px 5px;
            border-radius: 50%;
        }
    }
}
.page-header .header .switcher-currency .switcher-trigger::after { border-top: 4px dashed #fff;}
.page-header .header .switcher-currency .switcher-trigger > strong {color: #fff; font-weight: 500;}
.choosePrecious {
    display: none;
}
.mobilecertified {
    clear: both;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    .owl-controls {
        display: none !important;
    }
    .section {
        float: left;
        margin-right: 20px;
    }
    .certifiedMobile {
        float: left;
        width: 300px;
    }
    .owl-carousel {
        .owl-item {
            width: 150px !important;
        }
    }
}
.panel.wrapper .topline {margin-left: -50vw; margin-bottom: 0; background: none !important; padding: 0px;}
.choosegemhomepage {
    .innersection {
        width: 100%;
        .listingcount {
            float: none;
            width: 100%;
            &:nth-child(2) {
                float: none;
            }
            ul {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}
.gemstoneuniverse_promotional_block {
    #panel {
        display: none;
    }
    .shomorehomebutton {
        text-align: left;
        cursor: pointer;
        font-size: 12px;
        font-weight: normal;
        padding-left: 10px;
        text-decoration: underline;
        color: #060;
    }
}

.choosegemhomepage {
    .listingcount {
        padding-bottom: 20px;
        ul {
            clear: both;
            overflow: hidden;
            li {
                width: 31%;
            }
        }
    }
}
.sidebar {
    &.sidebar-additional {
        .block.block-faq{
            .block-title {
                margin: 10px 0;
                float: none;
                width: 100%;
                strong {
                    display: block;
                    font-weight: 700;
                    color: #000;
                    padding-top: 10px;
                    line-height: 28px;
                    font-family: 'Roboto Condensed', sans-serif;
                    position: relative;
                    font-size: 20px;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        width: 20%;
                        background: #ffc000;
                        height: 5px;
                        z-index: -1;
                    }
                }
            }
            .faq_section {
                border: solid 1px #ddd;
                border-radius: 10px;
                margin-top: 30px;
            }
        }
        .block {
            &.featuredvideo {
                .owl-controls {
                    width: 90%;
                    .owl-prev {
                        padding-left: 0px;
                    }
                } 
            }
        }
    }
}
.headerbefore .headertopright .dropdown-menu {
    top:14px !important;
    left: -8px !important;
}
.headerbefore .headertopright ul li a {color: #000;}
.page-header .header .switcher-currency .switcher-trigger > strong {color: #000;}
.page-header .header .switcher-currency .switcher-trigger::after { border-top: 4px dashed #000;}
#bss-cookie-notice button, #bss-cookie-notice .cart.table-wrapper .actions-toolbar > .action, #bss-cookie-notice .action-gift {background: none !important; border: solid 1px #000 !important; color: #000 !important;}