<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CookieNotice
 * @author     Extension Team
 * @copyright  Copyright (c) 2015-2016 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */

// @codingStandardsIgnoreFile

?>
<?php 
/**
 * @var $block \Bss\CookieNotice\Block\CookieNotice
 */
?>
<?php if ($block->isEnable()) {?>
    <div id="bss-cookie-notice" class="bss-cookie-noticeS">
        <p class ='cookie-content'><span><?php echo $block->getMsgTitle(); ?></span> <?php echo $block->getMsgContent(); ?></p>
        <button class='btn-cookie btn-cookie-accept'><?php echo $block->getTextBtnAccept(); ?></button>
        <a class='btn-cookie btn-cookie-more-infor' href="<?php echo $block->getCMSPage(); ?>" target="_blank">
                <?php echo $block->getTextBtnMoreInfor(); ?></a>
                <button class="gotitbutton">Ok Got It!</button> 
    </div>
    <?php if($block->getCustomStyle()) : ?>
        <style type="text/css">
            <?php echo $block->getCustomStyle(); ?>
        </style>
    <?php endif; ?>
    <script type="text/x-magento-init">
    {
        "*": 
        {
            "Bss_CookieNotice/js/cookienotice": {
                "position" : <?php echo $block->getPosition(); ?>,
                "bgColor" : "<?php echo $block->getColorBg(); ?>;",
                "colorTitle" : "<?php echo $block->getColorTitle(); ?>",
                "colorContent" : "<?php echo $block->getColorContent(); ?>",
                "colorAccept" : "<?php echo $block->getColorBtnAccept(); ?>",
                "bgColorAccept" : "<?php echo $block->getColorBgBtnAccept(); ?>",
                "bgColorMoreInfo" : "<?php echo $block->getColorBgBtnMoreInfor(); ?>",
                "colorMoreInfo" : "<?php echo $block->getColorBtnMoreInfor(); ?>",
                "autoHideMsg" : "<?php echo $block->getHideMsg(); ?>"
            }
        }
    }
    </script>
    <?php
}
