@charset "utf-8";

/* Magnific Popup CSS */

.aw-tutorials-popup.mfp-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1042;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #0b0b0b;
  opacity: 0.8;
}

.aw-tutorials-popup.mfp-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1043;
  width: 100%;
  height: 100%;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.aw-tutorials-popup .mfp-container {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 8px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.tutorial_link_highlighted {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='7' viewBox='0 0 10 7' xmlns='http://www.w3.org/2000/svg' fill='%23ef5b34'%3E%3Cpath d='M8.2 4L6.17 6.03c-.227.227-.227.57 0 .8a.52.52 0 0 0 .4.17.52.52 0 0 0 .4-.17l2.86-2.86a.558.558 0 0 0 .165-.47.558.558 0 0 0-.166-.47L6.97.17a.552.552 0 0 0-.8 0c-.227.23-.227.573 0 .8L8.2 3H.5c-.3 0-.5.2-.5.5s.2.5.5.5h7.7z' fill-rule='evenodd'/%3E%3C/svg%3E") !important;
      color: #ef5b34 !important;
      text-decoration: none;
}

@media all and (max-width: 900px) {

  .aw-tutorials-popup .mfp-container{
    padding-right: 6px;
    padding-left: 6px;
  }
}

.aw-tutorials-popup .mfp-container:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.aw-tutorials-popup .mfp-align-top .mfp-container:before {
  display: none;
}

.aw-tutorials-popup .mfp-content {
  position: relative;
  z-index: 1045;
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  text-align: left;
}

.aw-tutorials-popup .mfp-inline-holder .mfp-contentt {
  width: 100%;
  cursor: auto;
}

.aw-tutorials-popup.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.aw-tutorials-popup .mfp-preloader {
  position: absolute;
  top: 50%;
  right: 8px;
  left: 8px;
  z-index: 1044;
  margin-top: -0.8em;
  width: auto;
  color: #ccc;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.aw-tutorials-popup .mfp-preloader a {
  color: #ccc;
}

.aw-tutorials-popup .mfp-preloader a:hover {
  color: #fff;
}

.aw-tutorials-popup .mfp-s-ready .mfp-preloader {
  display: none;
}

.aw-tutorials-popup .mfp-s-error .mfp-content {
  display: none;
}

/* start state */

.aw-tutorials-popup .aw-tutorials-popup-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

/*
  ====== Zoom effect ======
  */

.aw-tutorials-popup.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* animate in */

.aw-tutorials-popup--zoom-in.mfp-ready .aw-tutorials-popup-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.aw-tutorials-popup--zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */

.aw-tutorials-popup--zoom-in.mfp-removing .aw-tutorials-popup-with-anim {
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.aw-tutorials-popup--zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-hide {
  display: none !important;
}

.is-aw-tutorial-open {
  padding-right: 320px;
}

.is-aw-tutorial-open .introjs-overlay {
  right: 320px !important;
}

.is-aw-tutorial-open .page-main-actions .page-actions._fixed {
  right: 320px;
}

.is-aw-tutorial-open .aw-tutorials-popup .mfp-container {
  padding-right: 328px;
}

.aw-tutorials-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000100;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  background: #f6f6f7;
  color: #333;
  will-change: transform;
}

.is-aw-tutorial-open .aw-tutorials-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.aw-tutorials-panel__header {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 11px;
  background: #315aa5;
  text-align: center;
}

.aw-tutorials-panel__title {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  color: #fff;
  font-weight: bold;
}

.aw-tutorials-panel__close {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none !important;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Cpath d='M6.717 6.01l4.952-4.952a.5.5 0 0 0-.707-.707L6.01 5.304 1.058.35a.5.5 0 1 0-.707.707L5.303 6.01l-4.95 4.95a.5.5 0 1 0 .708.706l4.95-4.95 4.95 4.95a.5.5 0 1 0 .707-.707l-4.95-4.95z' fill-rule='evenodd'/%3E%3C/svg%3E") 50% 50% no-repeat;
  box-shadow: none !important;
  text-indent: 200%;
  white-space: nowrap;
  cursor: pointer;
}

.aw-tutorials-panel__close:hover,
    .aw-tutorials-panel__close:active,
    .aw-tutorials-panel__close:focus {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Cpath d='M6.717 6.01l4.952-4.952a.5.5 0 0 0-.707-.707L6.01 5.304 1.058.35a.5.5 0 1 0-.707.707L5.303 6.01l-4.95 4.95a.5.5 0 1 0 .708.706l4.95-4.95 4.95 4.95a.5.5 0 1 0 .707-.707l-4.95-4.95z' fill-rule='evenodd'/%3E%3C/svg%3E") 50% 50% no-repeat;
  opacity: .8;
}

.aw-tutorials-panel__content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-y: auto;
  padding: 10px;
  border: solid #d8d8d8;
  border-width: 0 1px;
}

.aw-tutorials-panel__description {
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 0;
  margin-bottom: 10px;
}

.aw-tutorials-panel__footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 10px;
  border: 1px solid #d8d8d8;
  background: #fff;
}

.aw-tutorials-group {

  margin-bottom: 10px;
}

.aw-tutorials-group:last-child{
  margin-bottom: 0;
}

.aw-tutorials-group__title {
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 4px;
  font-weight: bold;
}

.aw-tutorials-group__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.aw-tutorials-group__item {
  margin-bottom: 4px;
}

.aw-tutorials-group__item:last-child{
  margin-bottom: 0;
}

.aw-tutorials-group__link:link,
    .aw-tutorials-group__link:visited {
  font-size: 12px;
  line-height: 18px;
  display: block;
  padding: 9px 15px 9px 23px;
  border: 1px solid #dde1e4;
  border-radius: 4px;
  background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='7' viewBox='0 0 10 7' xmlns='http://www.w3.org/2000/svg' fill='%23333'%3E%3Cpath d='M8.2 4L6.17 6.03c-.227.227-.227.57 0 .8a.52.52 0 0 0 .4.17.52.52 0 0 0 .4-.17l2.86-2.86a.558.558 0 0 0 .165-.47.558.558 0 0 0-.166-.47L6.97.17a.552.552 0 0 0-.8 0c-.227.23-.227.573 0 .8L8.2 3H.5c-.3 0-.5.2-.5.5s.2.5.5.5h7.7z' fill-rule='evenodd'/%3E%3C/svg%3E") 9px 15px no-repeat;
  color: #333;
  text-decoration: none;
}

.aw-tutorials-group__link--current:link,
    .aw-tutorials-group__link--current:visited,
    .aw-tutorials-group__link:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='7' viewBox='0 0 10 7' xmlns='http://www.w3.org/2000/svg' fill='%23ef5b34'%3E%3Cpath d='M8.2 4L6.17 6.03c-.227.227-.227.57 0 .8a.52.52 0 0 0 .4.17.52.52 0 0 0 .4-.17l2.86-2.86a.558.558 0 0 0 .165-.47.558.558 0 0 0-.166-.47L6.97.17a.552.552 0 0 0-.8 0c-.227.23-.227.573 0 .8L8.2 3H.5c-.3 0-.5.2-.5.5s.2.5.5.5h7.7z' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: #ef5b34;
  text-decoration: none;
}

.aw-tutorial-talk {
  padding-bottom: 15px;
  padding-left: 80px;
}

.aw-tutorial-talk__photo {
  float: left;
  margin-left: -70px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #d8d8d8;
  box-shadow: 0 0 0 1px #d8d8d8;
}

.aw-tutorial-talk__name {
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 2px;
  color: #7b7e89;
}

.aw-tutorial-talk__text {
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 8px;
  font-weight: 600;
}

.aw-tutorial-talk__action-wrapper {
  margin: 0;
}

.aw-tutorial-talk__action {
  padding: 0 20px;
  height: 36px;
  outline: none;
  border: none !important;
  border-radius: 4px;
  background: #315aa5;
  box-shadow: none !important;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  font-family: inherit;
  line-height: 36px;
  cursor: pointer;
}

.aw-tutorial-talk__action:hover,
    .aw-tutorial-talk__action:active,
    .aw-tutorial-talk__action:focus {
  background: #3968bf;
  color: #fff;
}

.aw-demo-controls {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  will-change: transform;
}

.is-aw-tutorial-open .aw-demo-controls {
  display: none;
}

.aw-demo-controls__button {
  padding: 0 20px;
  border: none !important;
  border-radius: 4px;
  background-position: 20px 50% !important;
  background-repeat: no-repeat !important;
  box-shadow: none !important;
  color: #fff !important;
  font-weight: 600;
  font-size: 12px;
  font-family: inherit;
  line-height: 40px;
}

.aw-demo-controls__button:not(:first-child) {
  margin-left: 16px;
}

.aw-demo-controls__button--feedback {
  padding-left: 48px;
  background-color: #333;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='17' viewBox='0 0 18 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M2.647 17v-3.53h-.882C.79 13.47 0 12.68 0 11.707v-7.94C0 2.79.79 2 1.765 2h7.94v1.765h-7.94v7.94h2.647v1.766l2.353-1.764h6.47V6.412H15v5.294c0 .973-.79 1.765-1.765 1.765H7.353L2.647 17zM14 5l-3-3 1-1 2 2 3-3 1 1-4 4z'/%3E%3C/g%3E%3C/svg%3E");
}

.aw-demo-controls__button--feedback:hover,
  .aw-demo-controls__button--feedback:focus,
  .aw-demo-controls__button--feedback:active{
  background-color: #404040;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='17' viewBox='0 0 18 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M2.647 17v-3.53h-.882C.79 13.47 0 12.68 0 11.707v-7.94C0 2.79.79 2 1.765 2h7.94v1.765h-7.94v7.94h2.647v1.766l2.353-1.764h6.47V6.412H15v5.294c0 .973-.79 1.765-1.765 1.765H7.353L2.647 17zM14 5l-3-3 1-1 2 2 3-3 1 1-4 4z'/%3E%3C/g%3E%3C/svg%3E");
}

.aw-demo-controls__button--tutorials {
  padding-left: 52px;
  background-color: #315aa5;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='17' viewBox='0 0 22 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M11.447.106a1 1 0 0 0-.895 0l-10 5c-.2.1-.354.274-.445.464-.06.122-.107.33-.107.432 0 0 .11.423 1 .93.89.506 3 1.35 3 1.35v4.903a1 1 0 0 0 .553.895C6.273 14.94 8.04 16 11 16c2.96 0 4.73-1.06 6.447-1.92.34-.17.553-.516.553-.895V8.28l3.372-1.348a1.002 1.002 0 0 0 .075-1.824l-10-5.002zM16 12.546l-.975.496a8.904 8.904 0 0 1-8.05 0L6 12.547V9.003l4.628 1.884c.12.048.246.07.372.07a.966.966 0 0 0 .372-.072L16 9.002v3.545zM3 5.89L11 2l8 3.89L11 9 3 5.89z'/%3E%3Cpath d='M0 6h1.6v7H0z'/%3E%3Crect y='14' width='1.6' height='3' rx='10'/%3E%3C/g%3E%3C/svg%3E");
}

.aw-demo-controls__button--tutorials:hover,
  .aw-demo-controls__button--tutorials:focus,
  .aw-demo-controls__button--tutorials:active{
  background-color: #3968bf;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='22' height='17' viewBox='0 0 22 17' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M11.447.106a1 1 0 0 0-.895 0l-10 5c-.2.1-.354.274-.445.464-.06.122-.107.33-.107.432 0 0 .11.423 1 .93.89.506 3 1.35 3 1.35v4.903a1 1 0 0 0 .553.895C6.273 14.94 8.04 16 11 16c2.96 0 4.73-1.06 6.447-1.92.34-.17.553-.516.553-.895V8.28l3.372-1.348a1.002 1.002 0 0 0 .075-1.824l-10-5.002zM16 12.546l-.975.496a8.904 8.904 0 0 1-8.05 0L6 12.547V9.003l4.628 1.884c.12.048.246.07.372.07a.966.966 0 0 0 .372-.072L16 9.002v3.545zM3 5.89L11 2l8 3.89L11 9 3 5.89z'/%3E%3Cpath d='M0 6h1.6v7H0z'/%3E%3Crect y='14' width='1.6' height='3' rx='10'/%3E%3C/g%3E%3C/svg%3E");
}

.aw-talk-to-us {
  position: relative;
  margin: 20px auto;
  width: 700px;
}

.aw-talk-to-us__header {
  padding: 24px 40px;
  border-radius: 4px 4px 0 0;
  background-color: #4176d9;
  color: #fff;
}

.aw-talk-to-us__title {
  margin: 0 0 8px;
  color: inherit;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
}

.aw-talk-to-us__description {
  margin: 0;
}

.aw-talk-to-us__content {
  padding: 40px;
  border-radius: 0 0 4px 4px;
  background-color: #f2f2f2;
}

.aw-talk-to-us__content--rounded {
  border-radius: 4px;
}

.aw-talk-to-us__form {}

.aw-talk-to-us__close {
  padding: 0;
  border: none !important;
  background: none;
  box-shadow: none !important;
  color: #4176d9;
  text-decoration: underline;
  font-weight: 400;
  font-size: 15px;
  font-family: inherit;
  line-height: 20px;
  cursor: pointer;
}

.aw-talk-to-us__close:hover,
    .aw-talk-to-us__close:focus {
  background: none;
  color: #4984f2;
}

.aw-talk-to-us__close:active {
  background: none;
  color: #3968bf;
}

.aw-talk-to-us-form {
  box-sizing: border-box;
}

.aw-talk-to-us-form__fields {

  @include clearfix;
}

.aw-talk-to-us-form__field {
  margin: 0 0 20px;
}

.aw-talk-to-us-form__fields .aw-talk-to-us-form__field {
  float: right;
  width: 300px;
}

.aw-talk-to-us-form__fields .aw-talk-to-us-form__field:first-child {
  float: left;
}

.aw-talk-to-us-form__label {
  display: block;
  margin-bottom: 5px;
}

.aw-talk-to-us-form__textfield.aw-talk-to-us-form__textfield {
  display: inline-block;
  box-sizing: border-box;
  padding: 13px 20px;
  width: 100%;
  height: auto;
  border: 1px solid #a6aab3;
  border-radius: 4px;
  background: #fff;
  vertical-align: top;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
}

.aw-talk-to-us-form__textfield.aw-talk-to-us-form__textfield:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #456fe5;
}

.aw-talk-to-us-form__error {
  display: none;
}

.aw-talk-to-us-form__submit-wrapper {

  @include clearfix;
  margin: 0;
  line-height: 50px;
}

.aw-talk-to-us-form__submit {
  display: inline-block;
  float: right;
  box-sizing: border-box;
  padding: 0 50px;
  height: 50px;
  outline: none;
  border: none !important;
  border-radius: 4px;
  background: #1fc064;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  font-family: inherit;
  line-height: 50px;
}

.aw-talk-to-us-form__submit:hover,
    .aw-talk-to-us-form__submit:active {
  color: #fff;
}

.aw-talk-to-us-form__submit:hover {
  background: #7ed977;
}

.aw-talk-to-us-form__submit:active {
  background: #60a65b;
}

.aw-talk-to-us-form__submit.is-disabled {
  opacity: .3;
  pointer-events: none;
}

.aw-talk-to-us-thank-you {
  position: relative;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 40px;
  width: 550px;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
}

.aw-talk-to-us-thank-you__title {
  margin: 0 0 15px;
  font-size: 24px;
  line-height: 30px;
}

.aw-talk-to-us-thank-you__text {
  margin: 0 0 30px;
  font-size: 18px;
  line-height: 24px;
}

.aw-talk-to-us-thank-you__close-wrapper {
  margin: 0;
}

.aw-talk-to-us-thank-you__close {
  display: inline-block;
  padding: 0 50px;
  height: 50px;
  outline: none;
  border: none !important;
  border-radius: 4px;
  background: #1fc064;
  box-shadow: none !important;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  font-family: inherit;
  line-height: 50px;
}

.aw-talk-to-us-thank-you__close:hover,
    .aw-talk-to-us-thank-you__close:active,
    .aw-talk-to-us-thank-you__close:focus {
  color: #fff;
}

.aw-talk-to-us-thank-you__close:hover,
    .aw-talk-to-us-thank-you__close:focus {
  background: #7ed977;
}

.aw-talk-to-us-thank-you__close:active {
  background: #60a65b;
}

.aw-feedback-popup {
  position: relative;
  margin: 20px auto;
  width: 400px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0, .5);
  color: #333;
}

.aw-feedback-popup__header {
  position: relative;
  padding: 11px;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 4px 4px 0 0;
  background: #edeff2;
  text-align: center;
}

.aw-feedback-popup__title {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  font-weight: bold;
}

.aw-feedback-popup__close {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none !important;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg' fill='%237b7e89'%3E%3Cpath d='M6.717 6.01l4.952-4.952a.5.5 0 0 0-.707-.707L6.01 5.304 1.058.35a.5.5 0 1 0-.707.707L5.303 6.01l-4.95 4.95a.5.5 0 1 0 .708.706l4.95-4.95 4.95 4.95a.5.5 0 1 0 .707-.707l-4.95-4.95z' fill-rule='evenodd'/%3E%3C/svg%3E") 50% 50% no-repeat;
  box-shadow: none !important;
  text-indent: 200%;
  white-space: nowrap;
  cursor: pointer;
}

.aw-feedback-popup__close:hover,
    .aw-feedback-popup__close:active,
    .aw-feedback-popup__close:focus {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg' fill='%23333'%3E%3Cpath d='M6.717 6.01l4.952-4.952a.5.5 0 0 0-.707-.707L6.01 5.304 1.058.35a.5.5 0 1 0-.707.707L5.303 6.01l-4.95 4.95a.5.5 0 1 0 .708.706l4.95-4.95 4.95 4.95a.5.5 0 1 0 .707-.707l-4.95-4.95z' fill-rule='evenodd'/%3E%3C/svg%3E") 50% 50% no-repeat;
}

.aw-feedback-popup__content {
  padding: 20px;
}

.aw-feedback-popup__description {
  margin: 0 0 10px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.aw-feedback-popup__field {
  margin: 0 0 10px;
}

.aw-feedback-popup__textarea {
  font-size: 12px;
  line-height: 18px;
  padding: 10px;
  width: 100%;
  border: 1px solid #afb2bb;
  border-radius: 4px;
  background: #edeff2;
  resize: vertical;
}

.aw-feedback-popup__textarea:focus {
  border-color: #4176d9;
}

.aw-feedback-popup__submit-wrapper {
  margin: 0;
  text-align: center;
}

.aw-feedback-popup__submit {
  padding: 0 25px;
  height: 30px;
  outline: none;
  border: none !important;
  border-radius: 4px;
  background: #315aa5;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  font-family: inherit;
  line-height: 29px;
  cursor: pointer;
}

.aw-feedback-popup__submit:hover {
  background: #3968bf;
  color: #fff;
}
