<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Magento\Contact\Block\ContactForm $block */
?>
<?php


 $helper= $this->testimonialHelper;
 

?>
<?php
$isCountryEnable=$helper->isEnableCompanyName();
$isContactEnable=$helper->isEnableContactName();
$isWebsiteEnable=$helper->isEnableContactWebsite();
$isEmailEnable=$helper->isEnableContactEmail();
$isImageEnable=$helper->isEnableContactPhoto();
$isShortDescEnable=$helper->isEnableContactDesc();
$windowForm=$helper->getWindowForm();
$isEnablecustom1=$helper->enableCustomField1();
$isEnablecustom2=$helper->enableCustomField2();
$isEnablecustom3=$helper->enableCustomField3();
$isEnablecustom4=$helper->enableCustomField4();
$customlabel1=$helper->getCustomFieldLabel1();
$customlabel2=$helper->getCustomFieldLabel2();
$customlabel3=$helper->getCustomFieldLabel3();
$customlabel4=$helper->getCustomFieldLabel4();
$formHeading=$helper->getFormHeading();
$windowForm=$helper->getWindowForm();
$customlabel4=$helper->getCustomFieldLabel4();
$isAdminAprroval=$helper->enableAdminPersmission();

?>
<div id="postresponse"  style="display:none;color: #dd401e;font-weight: bold;font-size: 17px;"></div>
 <?php  if($windowForm=="newpage"):?>
             <div class="fme_advance_testimonials">
    <div id ="testimonialform" class="form" style="display:block; padding: 0px;">
    
<?php endif; ?>

<form id="myForm"  style="
background: #f8f8f8;
padding: 30px;" action="<?= $block->escapeUrl($block->getFormAction()) ?>" method="post"
      enctype="multipart/form-data">
        <div class="closeicon">X</div>
          <div class="form_title">
            <h3><?php echo $formHeading; ?></h3>
          </div>
          <div class="fields">
            <ul>
                <?php  if($isCountryEnable):?>
                <li>
                <div class="field companyname">
                <?php else: ?>
                <li style="display:none">
                <div class="field  companyname " style="display:none">
                <?php endif; ?>
                <label class="label" for="company_name"><span><?php /* @escapeNotVerified */ echo __('Company Name *') ?></span></label>
            <div class="control">
                <input name="company_name" id="company_name" title="<?php /* @escapeNotVerified */ echo __('Company Name') ?>"  class="input-text" type="text" data-validate="{required:true}" required/>
            </div>
            <div id="errorcompanyname" class="error_field"></div>
        </div>
              </li>
              
                <?php  if($isContactEnable):?>
                    <li>
                    <div class="field contactname ">
                <?php else: ?>
                    <li style="display:none">
                    <div class="field contactname " style="display:none">
                <?php endif; ?>
                <label class="label" for="contact_name"><span><?php /* @escapeNotVerified */ echo __('Contact Name *') ?></span></label>
                <div class="control">
                <input name="contact_name" id="contact_name" title="<?php /* @escapeNotVerified */ echo __('Contact Name') ?>"  class="input-text" type="text" data-validate="{required:true}" required/>
                    </div>
                     <div id="errorcontactname" class="error_field"></div>
                </div>
              </li>
             
               <?php  if($isEmailEnable):?>
               <li>  
            <div class="field email ">
            <?php else: ?>
            <li style="display:none">
            <div class="field email " style="display:none">
        <?php endif; ?>
        
            <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email*') ?></span></label>
            <div class="control">
                <input name="email" id="email" title="<?php /* @escapeNotVerified */ echo __('Email') ?>"  class="input-text" type="email" data-validate="{required:true, 'validate-email':true}" required/>
            </div>
             <div id="erroremail" class="error_field"></div>
        </div>
              </li>
              
              <?php  if($isWebsiteEnable):?>
                <li>
            <div class="field website ">
            <?php else: ?>
            <li style="display:none">
            <div class="field website " style="display:none">
            <?php endif; ?>
            <label class="label" for="website_url"><span><?php /* @escapeNotVerified */ echo __('Website Url') ?></span></label>
            <div class="control">
                <input name="website_url" id="website_url" title="<?php /* @escapeNotVerified */ echo __('Website Url') ?>"  class="input-text" type="url" pattern="https?://.+" />
            </div>
             
        </div>
              </li>
              
             <?php  if($isShortDescEnable):?>
             <li>
            <div class="field shortdescription ">
            <?php else: ?>
            <li style="display:none">
            <div class="field shortdescription " style="display:none">
        <?php endif; ?>
        
            <label class="label" for="short_desc"><span><?php /* @escapeNotVerified */ echo __('Testimonial Heading*') ?></span></label>
            <div class="control">
                <input name="short_desc" id="short_desc" title="<?php /* @escapeNotVerified */ echo __('Testimonial Heading') ?>"  class="input-text" type="text" required/>
            </div>
             <div id="errorsdesc" class="error_field"></div>
        </div>
            </li>
              <li>
              
              <div class="field testimonialdescription">
            <label class="label" for="testimonial_desc"><span><?php /* @escapeNotVerified */ echo __('Testimonial*') ?></span></label>
            <div class="control">
               <textarea name="testimonial_desc" rows="6" data-validate="{required:true}  " required></textarea>
            </div>
             <div id="errortdesc" class="error_field"></div>
        </div>
              <?php
              // custom Fields Start 
              ?>
              </li>

             
            
                            
              <?php  if($isEnablecustom1):?>
                <li>
                <div class="field customfield1 ">
                <?php else: ?>
                <li style="display:none">
                <div class="field customfield1 " style="display:none">
                <?php endif; ?>
                          <label class="label" for="custom_field_1"><span><?php /* @escapeNotVerified */ echo $customlabel1 ?></span></label>
                          <div class="control">
                              <input name="custom_field_1" id="custom_field_1" title="<?php /* @escapeNotVerified */ echo $customlabel1 ?>"   class="input-text" type="text" />
                          </div>
                      </div>
               
               
              </li>
              
             <?php  if($isEnablecustom2):?>
             <li>
                <div class="field customfield1 ">
                <?php else: ?>
                <li style="display:none">
                <div class="field customfield1 " style="display:none">
                      <?php endif; ?>
                          <label class="label" for="custom_field_2"><span><?php /* @escapeNotVerified */ echo $customlabel2; ?></span></label>
                          <div class="control">
                              <input name="custom_field_2" id="custom_field_2" title="<?php /* @escapeNotVerified */ echo $customlabel2; ?>"   class="input-text" type="text" />
                          </div>
                      </div>
              </li>
              
              <?php  if($isEnablecustom3):?>
              <li>
                          <div class="field customfield1 ">
                          <?php else: ?>
                          <li style="display:none">
                          <div class="field customfield1 " style="display:none">
                      <?php endif; ?>
                          <label class="label" for="custom_field_3"><span><?php /* @escapeNotVerified */ echo $customlabel3; ?></span></label>
                          <div class="control">
                              <input name="custom_field_3" id="custom_field_3" title="<?php /* @escapeNotVerified */ echo $customlabel3; ?>"   class="input-text" type="text" />
                          </div>
                      </div>
              </li>
             
               <?php  if($isEnablecustom4):?>
                <li>
                          <div class="field customfield1 ">
                          <?php else: ?>
                          <li style="display:none">
                          <div class="field customfield1 " style="display:none">
                      <?php endif; ?>
                          <label class="label" for="custom_field_4"><span><?php /* @escapeNotVerified */ echo $customlabel4; ?></span></label>
                          <div class="control">
                              <input name="custom_field_4" id="custom_field_4" title="<?php /* @escapeNotVerified */ echo $customlabel4; ?>"   class="input-text" type="text" />
                          </div>
                      </div>
              
              </li>

            <?php
            // custom Fields Ends 
            ?>
              
              <?php  if($isImageEnable):?>
              <li>
            <div class="field image ">
            <?php else: ?>
             <li style="display:none">
            <div class="field image " style="display:none">
        <?php endif; ?>

        <div class="control">
            <input name="image" id="image" title="<?php /* @escapeNotVerified */ echo __('Image') ?>"   type="file" />
            <div class="image_caption">(Square Image is prefferable)</div>
        </div>
    </div>
              
              </li>
               <?php  if($isAdminAprroval):?>
                <input type="hidden" name="status" value="Disable">
                <?php else: ?>
                <input type="hidden" name="status" value="Enable">
                <?php endif; ?>
                <input type="hidden" name="_first_store_id" value="<?php  echo $this->getStoreId(); ?>">
                 <input type="hidden" name="store_code" value="<?php  echo $this->getStoreCode(); ?>">
                  <input type="hidden" name="store_id[0]" value="<?php  echo $this->getStoreId(); ?>">
            

            <?php  if($helper->isCaptchaEnable()):?>
              <li>
                 <div class="g-recaptcha" data-sitekey="<?php echo $helper->getPublicKey(); ?>" ></div>
                 </li>
            <?php endif; ?>
                   <li>

                <button type="button" onclick="savetestimonials()"><?php /* @escapeNotVerified */ echo __('Submit') ?></button>
              
              </li>
            </ul>
          </div>
          
        </form>
         <?php  if($windowForm=="newpage"):?>
             </div>
    </div>
<?php endif; ?>
    <script>
    
      
  function cleaallerror()
  {
    document.getElementById("errorcompanyname").innerHTML = "";
    document.getElementById("errorcompanyname").style.marginTop = "0px";
    document.getElementById("errorcompanyname").style.display = "none";

    document.getElementById("errorcontactname").innerHTML = "";
    document.getElementById("errorcontactname").style.marginTop = "0px";
    document.getElementById("errorcontactname").style.display = "none";

    document.getElementById("erroremail").innerHTML = "";
    document.getElementById("erroremail").style.marginTop = "0px";
    document.getElementById("erroremail").style.display = "none";

    document.getElementById("errorsdesc").innerHTML = "";
    document.getElementById("errorsdesc").style.marginTop = "0px";
    document.getElementById("errorsdesc").style.display = "none";

    document.getElementById("errortdesc").innerHTML = "";
    document.getElementById("errortdesc").style.marginTop = "0px";
    document.getElementById("errortdesc").style.display = "none";


  }

    function validateform()
    {
      var flag=true;
      var enablecompany=false;
      var enablecontact=false;
      var enableemail=false;
      var enabletestmonialheading=false;
      <?php  if($isCountryEnable):?>
              enablecompany=true;
      <?php endif; ?>
      <?php  if($isContactEnable):?>
             enablecontact=true;
      <?php endif; ?>
      <?php  if($isEmailEnable):?>
             enableemail=true;
      <?php endif; ?>
      <?php  if($isShortDescEnable):?>
               enabletestmonialheading=true;
      <?php endif; ?>

      var companyname=document.forms["myForm"]["company_name"].value;
      var contactname=document.forms["myForm"]["contact_name"].value;; 
      var email=document.forms["myForm"]["email"].value;
      var short_desc=document.forms["myForm"]["short_desc"].value;
      var testimonial_desc=document.forms["myForm"]["testimonial_desc"].value;
      

      
      if ( enablecompany && (companyname==null || companyname=="" || ((companyname.split(" ").length - 1) == companyname.length) )){  
          document.getElementById("errorcompanyname").innerHTML = "Company Name is required";
          //document.getElementById("errorcompanyname").style.marginTop = "-12px";
          document.getElementById("errorcompanyname").style.display = "block";
          
          flag=false;  
      }
      if ( enablecontact && (contactname==null || contactname=="" || ((contactname.split(" ").length - 1) == contactname.length))){  
         document.getElementById("errorcontactname").innerHTML = "Contact Name is required";
              // document.getElementById("errorcontactname").style.marginTop = "-12px";
           document.getElementById("errorcontactname").style.display = "block";
          if(flag) 
          flag=false;   
      }
      if( enableemail && (email==null || email=="" || ((email.split(" ").length - 1) == email.length))){   
          
         document.getElementById("erroremail").innerHTML = "Email is required";
          //document.getElementById("erroremail").style.marginTop = "-12px";
           document.getElementById("erroremail").style.display = "block";
          if(flag) 
          flag=false; 
      }
      else if( enableemail && (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))))
      {
              document.getElementById("erroremail").innerHTML = "Invalid Email";
             // document.getElementById("erroremail").style.marginTop = "-12px";
           document.getElementById("erroremail").style.display = "block";
          if(flag) 
          flag=false;
      }

       if  ( enabletestmonialheading &&(short_desc==null || short_desc=="" || ((short_desc.split(" ").length - 1) == short_desc.length))){  
           document.getElementById("errorsdesc").innerHTML = "Heading is required";
               //document.getElementById("errorsdesc").style.marginTop = "-12px";
           document.getElementById("errorsdesc").style.display = "block";
          if(flag) 
          flag=false;    
      }
      if (testimonial_desc==null || testimonial_desc=="" || ((testimonial_desc.split(" ").length - 1) == testimonial_desc.length) ){  
          document.getElementById("errortdesc").innerHTML = "Testimonial is required";
        document.getElementById("errortdesc").style.marginTop = "-17px";
           document.getElementById("errortdesc").style.display = "block";
          if(flag) 
          flag=false;    
      }
      return flag;
      
  }

      function savetestimonials(){  
           cleaallerror();
        if(validateform())
        {
            var form = new FormData(document.getElementById('myForm'));
            
            

            var url = "<?= $block->escapeUrl($block->getFormAction()) ?>";
            jQuery.ajax({
            url: url,
            type: "POST",
            data: form,
            contentType: false,
        processData: false,
           
            showLoader: true,
            cache: false,
            success: function(response){
              if(response.error=="true")
              {
                document.getElementById("postresponse").style.color= "#E41313";
                document.getElementById("postresponse").innerHTML = response.output;
                document.getElementById("postresponse").style.display = "block";
                jQuery(window).scrollTop(0);
              }
              else
              {
                document.getElementById("myForm").reset();
                document.getElementById("postresponse").innerHTML = response.output;
                document.getElementById("postresponse").style.display = "block";
                document.getElementById("postresponse").style.color= "#1bb970";
                jQuery(window).scrollTop(0);
            }
              
            }
        });

        }
        
      }

</script>
        
