<?php

$collection = $block->getTestimonialsHomeData();

foreach ($collection  as $_testimonials) { ?>
	
    <p><?php echo $_testimonials->getTestimonialDesc();?></p>
    <strong>-<?php echo $_testimonials->getContactName();?> </strong>
    <p>2020-05-06 04:59:58</p>
<?php } ?>



