<?php
$_frontendCollection = $block->getTestimonialsData();

 $helper= $this->testimonialHelper;
 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();

//Load product by product id
$image = $objectManager->create('FME\Testimonials\Model\Config\Backend\Image');
 $url=\FME\Testimonials\Model\Config\Backend\Image::UPLOAD_DIR.'/'.$helper->getDefaultImageUrl();
$imageUrl=$block->getMediaUrl().$url;

?>
<?php

$isCountryEnable=$helper->isEnableCompanyName();
$isContactEnable=$helper->isEnableContactName();
$isWebsiteEnable=$helper->isEnableContactWebsite();
$isEmailEnable=$helper->isEnableContactEmail();
$isImageEnable=$helper->isEnableContactPhoto();
$isShortDescEnable=$helper->isEnableContactDesc();
$formButtonName=$helper->getTestimonialButtonName();
$listHeading=$helper->getTestimonialsListHeading();
$formHeading=$helper->getFormHeading();

$isEnablecustom1=$helper->enableCustomField1();
$isEnablecustom2=$helper->enableCustomField2();
$isEnablecustom3=$helper->enableCustomField3();
$isEnablecustom4=$helper->enableCustomField4();
$customlabel1=$helper->getCustomFieldLabel1();
$customlabel2=$helper->getCustomFieldLabel2();
$customlabel3=$helper->getCustomFieldLabel3();
$customlabel4=$helper->getCustomFieldLabel4();

$customlabel4=$helper->getCustomFieldLabel4();
$isReadMoreEnable=$helper->allowReadMoreLink();
$isAdminAprroval=$helper->enableAdminPersmission();
$customerType=$helper->getCustomerType();
$windowForm=$helper->getWindowForm();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$url=$storeManager->getStore()->getBaseUrl();
//echo $block->$block->isCustomerLogin();
$enabletestimonial=false;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
if($customerType=="guest")
{
  $enabletestimonial=true;
}
else if(($customerType=="register") && ($customerSession->isLoggedIn()))
{
  $enabletestimonial=true;
}


?>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,600,700,800' rel='stylesheet' type='text/css'>


 <?php  if($helper->isEnabledInFrontend()):?>


<div id="wrapper">
  <div class="fme_advance_testimonials">
    <div class="inner_container p-0">

    <?php  if($enabletestimonial):?>
                <div class="add_testimonials">

        <div class="inner_content" >
          <h3><?php echo $helper->getTestimonialsHeaderContent(); ?></h3>
          <p><?php echo $helper->getTestimonialsHeaderDescContent(); ?></p>
          <?php  if($windowForm=="popup"):?>
               <a href="javascript:void(0)" onclick="openmodal()" ><?php echo $formButtonName; ?></a>
            <?php endif; ?>
            <?php  if($windowForm=="slide"):?>
               <a href="javascript:void(0)" class="testibutton"><?php echo $formButtonName; ?></a>
                <?php endif; ?>
                <?php  if($windowForm=="newpage"):?>
                <a href="<?php echo $url.'testimonials/index/add';?>"  target="blank"><?php echo $formButtonName; ?></a>
                <?php endif; ?>
           </div>
      </div>
      <?php  if($windowForm=="slide"):?>
      <div id="postresponse_slide"  class="response_messege_slide"></div>
      <div id ="testimonialform" class="form testimonialbox">        
        <?php echo $this->getLayout()->createBlock("FME\Testimonials\Block\Testimonials")->setTemplate("FME_Testimonials::addtestimonials.phtml")->toHtml() ?>
      </div>

      <?php endif; ?>
   <?php endif; ?>

      <div class="main">
       <div class="col_main">

        <div class="title">
          <h1><?php //echo $listHeading;  ?></h1>
        </div>
           
           <div class="gemstonetabing testimonialpage p-0 mb-5">
                <div id="nav-tab" class="nav nav-tabs nav-fill" role="tablist" style="text-align:left;">
                    <a id="nav-home-tab" class="nav-item nav-link active" role="tab" href="#nav-home" data-toggle="tab" aria-controls="nav-home" aria-selected="true">Text Testimonials</a>
                    <a id="nav-profile-tab" class="nav-item nav-link" role="tab" href="#nav-profile" data-toggle="tab" aria-controls="nav-profile" aria-selected="false">Video Testimonials</a>
               </div>
           </div>
        
        <div id="nav-tabContent" class="tab-content">
            <div id="nav-home" class="tab-pane fade show active" role="tabpanel" aria-labelledby="nav-home-tab">
                 <div class="testimonials">
                      <ul>
                      <?php foreach ($_frontendCollection as $_testimonials): ?>
                        <li data-aos="fade-up">
                          <div class="testimonial_container">
                          <?php $readMoreFlag=false;?>
                            <div id="<?php echo 'readless'.$_testimonials->getTestimonialId();?>" class="message_block" style="display:block"> <i class="fa fa-quote-left" aria-hidden="true"></i> <strong class="message_title"> <?php echo $_testimonials->getShortDesc();?> </strong>

                                 <?php $string = $_testimonials->getTestimonialDesc(); ?> 
                                 <?php $allowedCharacter=$helper->getCharacterPerTestimonials(); ?>  
                                <?php  $stringCut=""; ?>

                                <?php $string = strip_tags($string);
                                    if ((strlen($string) > $allowedCharacter) && ($isReadMoreEnable)) {
                                        $stringCut = substr($string, 0,$allowedCharacter);
                                        $stringCut=$stringCut."....";
                                        $readMoreFlag=true;
                                        }
                                        else
                                        {
                                           $stringCut =$string; 

                                        }

                                        ?>

                              <p><?php echo $stringCut;  ?></p>

                              <?php  if($readMoreFlag):?>

                                <?php  if($isReadMoreEnable):?>
                                <a href="javascript:void(0)" onclick="readmoretestimonials(<?php echo $_testimonials->getTestimonialId();?>)">read more</a>
                                <?php else: ?>
                                <a href="#" target="blank" style="display:none">read less</a>
                                <?php endif; ?>

                              <?php endif; ?>

                            </div>
                            <div id="<?php echo 'readmore'.$_testimonials->getTestimonialId();?>" class="message_block" style="display:none"> <i class="fa fa-quote-left" aria-hidden="true"></i> <strong class="message_title"> <?php echo $_testimonials->getShortDesc();?> </strong>


                              <p><?php echo $_testimonials->getTestimonialDesc();?></p>

                              <?php  if($readMoreFlag):?>
                                <?php  if($isReadMoreEnable):?>
                                <a href="javascript:void(0)" onclick="readlesstestimonials(<?php echo $_testimonials->getTestimonialId();?>)">read less</a>
                                <?php else: ?>
                                <a href="#" target="blank" style="display:none">read Less</a>
                                <?php endif; ?>
                                  <?php endif; ?>
                            </div>
                            <div class="client_info clearfix">
                            <?php  if($helper->isAllowImageWithTestimonials()):?>
                              <?php  if($_testimonials->getImage()):?>
                              <?php $productImage = '/Testimonials/images/image'.$_testimonials->getImage();?>
                              <div class="thumbnail"> <img src="<?php /* @escapeNotVerified */ echo $block->getMediaUrl().$productImage; ?>" alt=""> </div>
                              <?php else: ?>
                              <div class="thumbnail"> <img src="<?php /* @escapeNotVerified */ echo $imageUrl; ?>" alt=""> </div>
                              <?php endif; ?>
                              <?php endif; ?>
                              <strong><?php echo $_testimonials->getContactName();?> </strong><br>
                              <span><?php echo $_testimonials->getCompanyName();?></span><br>
                              <a href="<?php echo $_testimonials->getWebsiteUrl();?>" target="blank"><?php echo $_testimonials->getWebsiteUrl();?></a> </div>
                          </div>
                        </li>
                         <?php endforeach; ?>
                      </ul>
                    </div>
            </div>
            <div id="nav-profile" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-profile-tab">
               
                <?php
                  echo $this->getLayout()
                  ->createBlock('Magento\Cms\Block\Block')
                  ->setBlockId('video_testimonial')
                  ->toHtml();
                ?>

            </div>
        </div>
           
       
      </div>
      </div>
    </div>
  </div>
</div>




<?php  if($windowForm=="popup"):?>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2><?php echo $formHeading; ?></h2>
    </div>
   
    <div id="modal_body" class="modal-body">
    
      <div id="postresponse_modal"  class="response_messege_modal"></div>
      <?php  if($windowForm=="popup"):?>
             <div class="fme_advance_testimonials">
    <div id ="testimonialform" class="form" style="display:block;">
    
<?php endif; ?>
      <?php echo $this->getLayout()->createBlock("FME\Testimonials\Block\Testimonials")->setTemplate("FME_Testimonials::addtestimonials.phtml")->toHtml() ?>
<?php  if($windowForm=="popup"):?>
             </div>
    </div>
<?php endif; ?>


      
    </div>
  </div>

</div>
<?php endif; ?>
<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
function openmodal() {
 
  document.getElementById("testimonialform").style.padding="0px";
  document.getElementById("postresponse_modal").style.display = "none";
  document.getElementById("postresponse_modal").style.padding = "5px 30px";
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
if(span != undefined){
    span.onclick = function() {
        modal.style.display = "none";
    }
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<script>
function checkreadmore()
{
    document.getElementById("readless").style.display = "none";
document.getElementById("readmore").style.display = "block";
}
</script>
 <?php endif; ?>
<script>

    
  function cleaallerror()
  {
    document.getElementById("errorcompanyname").innerHTML = "";
    document.getElementById("errorcompanyname").style.marginTop = "0px";
    document.getElementById("errorcompanyname").style.display = "none";

    document.getElementById("errorcontactname").innerHTML = "";
    document.getElementById("errorcontactname").style.marginTop = "0px";
    document.getElementById("errorcontactname").style.display = "none";

    document.getElementById("erroremail").innerHTML = "";
    document.getElementById("erroremail").style.marginTop = "0px";
    document.getElementById("erroremail").style.display = "none";

    document.getElementById("errorsdesc").innerHTML = "";
    document.getElementById("errorsdesc").style.marginTop = "0px";
    document.getElementById("errorsdesc").style.display = "none";

    document.getElementById("errortdesc").innerHTML = "";
    document.getElementById("errortdesc").style.marginTop = "0px";
    document.getElementById("errortdesc").style.display = "none";


  }

    function validateform()
    {
      var flag=true;
      var enablecompany=false;
      var enablecontact=false;
      var enableemail=false;
      var enabletestmonialheading=false;
      <?php  if($isCountryEnable):?>
              enablecompany=true;
      <?php endif; ?>
      <?php  if($isContactEnable):?>
             enablecontact=true;
      <?php endif; ?>
      <?php  if($isEmailEnable):?>
             enableemail=true;
      <?php endif; ?>
      <?php  if($isShortDescEnable):?>
               enabletestmonialheading=true;
      <?php endif; ?>

      var companyname=document.forms["myForm"]["company_name"].value;
      var contactname=document.forms["myForm"]["contact_name"].value;; 
      var email=document.forms["myForm"]["email"].value;
      var short_desc=document.forms["myForm"]["short_desc"].value;
      var testimonial_desc=document.forms["myForm"]["testimonial_desc"].value;
      

      
      if ( enablecompany && (companyname==null || companyname=="" || ((companyname.split(" ").length - 1) == companyname.length) )){  
          document.getElementById("errorcompanyname").innerHTML = "Company Name is required";
          //document.getElementById("errorcompanyname").style.marginTop = "-12px";
          document.getElementById("errorcompanyname").style.display = "block";
          
          flag=false;  
      }
      if ( enablecontact && (contactname==null || contactname=="" || ((contactname.split(" ").length - 1) == contactname.length))){  
         document.getElementById("errorcontactname").innerHTML = "Contact Name is required";
               //document.getElementById("errorcontactname").style.marginTop = "-12px";
           document.getElementById("errorcontactname").style.display = "block";
          if(flag) 
          flag=false;   
      }
      if( enableemail && (email==null || email=="" || ((email.split(" ").length - 1) == email.length))){   
          
         document.getElementById("erroremail").innerHTML = "Email is required";
         // document.getElementById("erroremail").style.marginTop = "-12px";
           document.getElementById("erroremail").style.display = "block";
          if(flag) 
          flag=false; 
      }
      else if( enableemail && (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email))))
      {
              document.getElementById("erroremail").innerHTML = "Invalid Email";
             // document.getElementById("erroremail").style.marginTop = "-12px";
           document.getElementById("erroremail").style.display = "block";
          if(flag) 
          flag=false;
      }

       if  ( enabletestmonialheading &&(short_desc==null || short_desc=="" || ((short_desc.split(" ").length - 1) == short_desc.length))){  
           document.getElementById("errorsdesc").innerHTML = "Heading is required";
              // document.getElementById("errorsdesc").style.marginTop = "-12px";
           document.getElementById("errorsdesc").style.display = "block";
          if(flag) 
          flag=false;    
      }
      if (testimonial_desc==null || testimonial_desc=="" || ((testimonial_desc.split(" ").length - 1) == testimonial_desc.length) ){  
          document.getElementById("errortdesc").innerHTML = "Testimonial is required";
               document.getElementById("errortdesc").style.marginTop = "-17px";
           document.getElementById("errortdesc").style.display = "block";
          if(flag) 
          flag=false;    
      }
      return flag;
      
  }  

      function savetestimonials(){ 
                cleaallerror();
                if(validateform())
                {
           
             var form = new FormData(document.getElementById('myForm'));

            var url = "<?= $block->escapeUrl($block->getFormAction()) ?>";
            jQuery.ajax({
            url: url,
            type: "POST",
             data: form,
            contentType: false,
            processData: false,        
            showLoader: true,
            cache: false,
            success: function(response){
              if(response.error=="true")
              {
                 <?php  if($windowForm=="popup"):?>
                  document.getElementById("postresponse_modal").style.color= "#E41313";
                  document.getElementById("postresponse_modal").innerHTML = response.output;
                  document.getElementById("postresponse_modal").style.display = "block";
                  jQuery(window).scrollTop(0);
                  jQuery('#myModal').scrollTop(0);
                  jQuery('#modal_body').scrollTop(0);
                  
                  //$("html, body").scrollTop($("#myModal").offset().top);
                  <?php endif; ?>
                  <?php  if($windowForm=="slide"):?>
                  document.getElementById("postresponse_slide").style.color= "#E41313";
                  document.getElementById("postresponse_slide").innerHTML = response.output;
                  document.getElementById("postresponse_slide").style.display = "block";
                  jQuery(window).scrollTop(0);
                  <?php endif; ?>
              }
              else
              {
                <?php  if($windowForm=="popup"):?>
                  document.getElementById("postresponse_modal").style.color= "#1bb970";
                  document.getElementById("postresponse_modal").innerHTML = response.output;
                  document.getElementById("postresponse_modal").style.display = "block";
                  document.getElementById("myForm").reset();
                  //$("html, body").scrollTop($("#myModal").offset().top);
                  jQuery(window).scrollTop(0);
                  jQuery('#myModal').scrollTop(0);
                  jQuery('#modal_body').scrollTop(0);
                  <?php endif; ?>
                  <?php  if($windowForm=="slide"):?>
                  document.getElementById("postresponse_slide").style.color= "#1bb970";
                  document.getElementById("postresponse_slide").innerHTML = response.output;
                  document.getElementById("postresponse_slide").style.display = "block";
                   document.getElementById("testimonialform").style.display = "none";
                  document.getElementById("myForm").reset();
                  jQuery(window).scrollTop(0);
                  <?php endif; ?>
              
             
              }
              
            }
        });
                }
                
        }
      
    

</script>

<script>
require(
    ['jquery', 'jquery/ui'], 
    function($) {
        $('.testimonialbox').hide();
        $('.testibutton').click(function(e){ 
            e.stopPropagation();
            $('.testimonialbox').slideToggle();
        });
        $('.testimonialbox').click(function(e){
            e.stopPropagation();
        });

        $(document).click(function(){
             $('.testimonialbox').slideUp();
        });
        
        $('.closeicon').click(function(){
             $('#testimonialform').hide(200);
        });
    });
</script>