<?php
$helper= $this->testimonialHelper;
$isblockEnable=$helper->isEnableBlock();
$isReadMoreEnable=$helper->isAllowLinkInBlock();
$blockType=$helper->getBlockType();
if($blockType=="featured")
{
  $blockData=$block->getFeaturedTestimonialsDataForBlock();
}
else{
$blockData=$block->getTestimonialsDataForBlock();
$slidereffect=$helper->getBlockSliderEffect();
$allowpaginition=$helper->isAllowPaginationInBlock();

$sliderDuration=$helper->getBlockSliderDuration();
$isautoslide=false;
$paginition=false;
if($slidereffect=="auto")
{
   $isautoslide=true; 
}
if($allowpaginition)
{
    $paginition=true;

}

}
?>
<script>
    
    require([
        'jquery',
        'fmeCarousal'
    ], function ($) {
        
        jQuery(document).ready(function ($) {
        // Code that uses jQuery's $ can follow here.
          // ==============================
        
            var owl = $("#fme-owl-testimonials");
            owl.owlCarousel({
                  // Most important owl features
                  items : 1,
                  itemsCustom : false,
                  itemsDesktop : [1199,1],
                  itemsDesktopSmall : [980,1],
                  itemsTablet: [768,1],
                  itemsTabletSmall: false,
                  itemsMobile : [479,1],
                  singleItem : false,
                  itemsScaleUp : false,

                  //Basic Speeds
                  slideSpeed :  200,
                  paginationSpeed : 800,
                  rewindSpeed :  <?php echo json_encode($sliderDuration); ?>,

                  //Autoplay
                  autoPlay : <?php echo json_encode($isautoslide); ?>,
                  stopOnHover : true,

                  // Navigation
                  navigation : <?php echo json_encode($paginition); ?>,
                  navigationText : ["prev","next"],
                  navigationText : false,
                  rewindNav : true,
                  scrollPerPage : false,


                  // Responsive
                  responsive: true,
                  responsiveRefreshRate : 200,
                  responsiveBaseWidth: window,



                  //Mouse Events
                  dragBeforeAnimFinish : true,
                  mouseDrag : true,
                  touchDrag : true

            });
        });
        
            
    });

        
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <?php  if($helper->isEnabledInFrontend()):?>

<link rel="stylesheet" type="text/css" media="all" href="<?php echo $block->getViewFileUrl('FME_Testimonials::css/owl-carousel/owl.carousel.css')?>"/>

 <?php  if($isblockEnable):?>
            <div class="sidebar">
            <?php else: ?>
            <div  class="sidebar" style="display:none">
        <?php endif; ?>
       <!--  <div class="block featuredvideo"> -->
        <div class="block-title">
    <span>CUSTOMER TESTIMONIALS</span>
  </div>
<!--   </div> -->
          <div id="fme-owl-testimonials" class="owl-carousel owl-theme">
        <?php foreach ($blockData as $_testimonials): ?>
        
            <div class="item clearfix">
             <div class="testimonial_container">
             <?php 
             // Read Less  Block 
             ?>
             <?php $readMoreFlagblock=false;?>
          <div id="<?php echo 'readlessblock'.$_testimonials->getTestimonialId();?>" class="message_block" style="display:block"> <i class="fa fa-quote-left" aria-hidden="true"></i><br>
            <strong class="message_title"> <?php echo $_testimonials->getShortDesc();?> </strong>
            <p> <?=  substr($_testimonials->getTestimonialDesc(), 0, 128); ?></p>
            
            <?php $string = $_testimonials->getTestimonialDesc(); ?> 
                     <?php $allowedCharacter=$helper->getCharacterPerBlock(); ?>  
                    <?php  $stringCut=""; ?>
                    <?php $string = strip_tags($string);
                        if ((strlen($string) > $allowedCharacter) && ($isReadMoreEnable)) {
                            $stringCut = substr($string, 0,$allowedCharacter);
                            $stringCut=$stringCut."....";
                            $readMoreFlagblock=true;
                            }
                            else
                            {
                               $stringCut =$string; 
                            }
                            
                            ?>
            
            <p>
             <?php //echo $stringCut;?>

            </p>
            
            <?php  if($readMoreFlagblock):?>
            <?php  if($isReadMoreEnable):?>
            <a href="javascript:void(0)" onclick="readmoreblock(<?php echo $_testimonials->getTestimonialId();?>)">read more</a>
            <?php else: ?>
           <a href="#" target="blank" style="display:none">read more</a>
            <?php endif; ?>
            <?php endif; ?>
           
          </div>
          <?php 
          // Readmore  Block 
          ?>
        <div id="<?php echo 'readmoreblock'.$_testimonials->getTestimonialId();?>" class="message_block" style="display:none"> <i class="fa fa-quote-left" aria-hidden="true"></i><br>
                    <strong class="message_title"> <?php echo $_testimonials->getShortDesc();?> </strong>
                    <p>
                    <?php echo $_testimonials->getTestimonialDesc();?>
                    </p>
                  

                     <?php  if($readMoreFlagblock):?>
                    <?php  if($isReadMoreEnable):?>
                    <a href="javascript:void(0)" onclick="readlessblock(<?php echo $_testimonials->getTestimonialId();?>)">read less</a>
                    <?php else: ?>
                  <a href="#" target="blank" style="display:none">read more</a>
                    <?php endif; ?>
                     <?php endif; ?>

                 
                  </div>


 <?php

// Readmore  Block end 

?>
        </div>
            </div>
 <?php endforeach; ?>
          </div>
      </div>
        <?php endif; ?>



