<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>

<div class="mobilefilter">
    <ul>
        <li class="defaultshorting">Default sorting<span class="icon"></span></li>
        <li class="filterclick">Filter<span class="icon"></span></li>
    </ul>
</div>
   <div class="filtershow" style="display:none;">
        <div class="block filter">
            <div class="block-title filter-title">
                <?= $block->escapeHtml(__('SHOP BY PRICE')) ?>
            </div>

            <div class="block-content filter-content">
                <?= $block->getChildHtml('state') ?>

                <?php if ($block->getLayer()->getState()->getFilters()) : ?>
                    <div class="block-actions filter-actions">
                        <a href="<?= $block->escapeUrl($block->getClearUrl()) ?>" class="action clear filter-clear"><span><?= $block->escapeHtml(__('Clear All')) ?></span></a>
                    </div>
                <?php endif; ?>
                <?php $wrapOptions = false; ?>
                <?php foreach ($block->getFilters() as $filter) : ?>
                    <?php if (!$wrapOptions) : ?>
                        <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"><?= $block->escapeHtml(__('Shopping Options')) ?></strong>
                        <dl class="filter-options" id="narrow-by-list">
                        <?php $wrapOptions = true;
                    endif; ?>
                        <?php if ($filter->getItemsCount()) : ?>
                            <dt role="heading" aria-level="3" class="filter-options-title"><?= $block->escapeHtml(__($filter->getName())) ?></dt>
                            <dd class="filter-options-content"><?= /* @noEscape */ $block->getChildBlock('renderer')->render($filter) ?></dd>
                        <?php endif; ?>
                <?php endforeach; ?>
                <?php if ($wrapOptions) : ?>
                    </dl>
                <?php endif; ?>
            </div>
        </div>

    <?php if ($block->canShowBlock()) : ?>
        <div class="choose-gem">
            <?php
            echo $this->getLayout()
            ->createBlock('Magento\Cms\Block\Block')
            ->setBlockId('choose_gem')
            ->toHtml();
            ?>
        </div>
    <?php endif; ?> 
</div>
