.home-testimonials {
	.testimonials-title {
		 text-align: center;
	    font-weight: normal;
	}	
	.owl-buttons {
		position: relative;
		.owl-prev {
		        position: absolute;
			    left: 0;
			    display: inline-block;
			    font: normal normal normal 14px/1 FontAwesome;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    transform: translate(0, 0);
			    font-size: @font-size__base + 3;
			    text-transform: capitalize;
			    &:before {
			    	content: "\f053";
				    padding: 5px;
				    font-size: 12px;
			    }
		}

		.owl-next {
		    position: absolute;
		    right: 0;
		    display: inline-block;
		    font: normal normal normal 14px/1 FontAwesome;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    transform: translate(0, 0);
		    font-size: @font-size__base + 3;
		    text-transform: capitalize;
		    &:before {
		    	content: "\f054";
			    padding: 5px;
			    font-size: 12px;
		    }
		}
	}
}

.featuredvideo {
	.owl-carousel {
		padding: 10px 10px 30px 10px;
		.owl-item {
		.item {
				img {
					width: 100%;
	    			max-width: 100%;
				}
				.item-head {
				    font-weight: @font-weight__bold;
				    text-align: center;
				    color: #636363;
				    line-height: @indent__l;
				    font-size: @font-size__s;
				}
			}
		}
		.owl-controls {
			.owl-buttons {
				   position: relative;
				.owl-prev {
				    left: 0;
				    background: url(../images/video-controls.png) no-repeat 0 -4px;
				    color: @color-black_dark;
				    font-size: @font-size__s + 1;
				    text-transform: capitalize;
				    position: absolute;
				}
				.owl-next {
				    right: 0;
				    background: url(../images/video-controls.png) no-repeat 0 -4px;
				    color: @color-black_dark;
				    font-size: @font-size__s + 1;
				    text-transform: capitalize;
				    position: absolute;
				}
			}
		}
	}
}