// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@layout-column-main__sidebar-offset: 2%;
@layout-column__additional-sidebar-offset: @layout-column-main__sidebar-offset;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .columns {
        #lib-layout-columns();

        .column.main {
            &:extend(.abs-add-box-sizing all);
            .lib-css(padding-bottom, @indent__xl);
            .lib-vendor-prefix-flex-basis(auto);
            .lib-vendor-prefix-flex-grow(1);
            .lib-vendor-prefix-order(1);
            width: 100%;
        }

        .sidebar-main {
            &:extend(.abs-add-box-sizing all);
            .lib-vendor-prefix-flex-grow(1);
            .lib-vendor-prefix-flex-basis(100%);
            .lib-vendor-prefix-order(1);
        }

        .sidebar-additional {
            &:extend(.abs-add-box-sizing all);
            .lib-vendor-prefix-flex-grow(1);
            .lib-vendor-prefix-flex-basis(100%);
            .lib-vendor-prefix-order(2);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .navigation,
    .breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .footer.content,
    .page-main,
    .page-wrapper > .widget,
    .page-wrapper > .page-bottom,
    .block.category.event,
    .top-container {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
    }

    .page-main {
        .account &,
        .cms-privacy-policy & {
            padding-top: 41px;
            position: relative;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cms-index-index{
        .page-main {
            max-width: 100%;
        }
    }
    
    .navigation,
    .breadcrumbs,
    .page-header .header.panel,
    .header.content,
    .page-wrapper > .widget,
    .page-wrapper > .page-bottom,
    .block.category.event,
    .top-container,
    .page-main {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: @layout__max-width;
        padding-left: @layout-indent__width;
        padding-right: @layout-indent__width;
        width: auto;
    }

    .footer{
        &.content{
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        padding: 20px 50px;
        width: auto;  
     }
    }
    .social-media-payment {
        background: #ffffff;
        padding: 20px 0;
        text-align: center;
        .social-links {
            list-style: none;
            margin-left: 0 !important;
            padding: 0;
            margin-bottom: 20px;
            li {
                display: inline-block;
                margin: 0;
                a {
                    display: inline-block;
                    position: relative;
                    margin: 0 auto 0 auto;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    text-align: center;
                    width: 35px;
                    font-size: 24px;
                    i {
                        margin: 0;
                        line-height: 32px;
                        text-align: center;
                        color: #fff;
                        -webkit-transition: all 0.8s;
                        -moz-transition: all 0.8s;
                        -o-transition: all 0.8s;
                        -ms-transition: all 0.8s;
                        transition: all 0.8s;
                        }
                    &.facebookIcon {
                        background-color: #3B5998;
                    }
                    &.linkedinIcon {
                        background-color: #2984b8;
                    }
                    &.twitterIcon {
                        background-color: #33ccff;
                    }
                    &.youtubeIcon {
                        background-color: #e02f2f;
                    }
                    &.google-plusIcon {
                        background-color: #BD3518;  
                    }
                    &.pinterestIcon {
                        background-color: #ca2028;
                    }
                    &.vimeoIcon {
                        background-color: #0ca3d1;
                    }
                    &.wordpressIcon {
                        background-color: #2984b8; 
                    }
                    &.instagramIcon {
                        background-color: #9e6f4f;
                    }
                    
                    &.compassIcon {
                        background-color: #f13311;
                    }
                    &.slideshareIcon {
                        background-color: #3d89a3;
                    }
                }
            }
        }
    }
    .mediaPayment-logo {
        margin: 0 auto;
        padding-bottom: 0px;
        text-align: center;
        .mediaPayment-logo-inner {
            position: relative;
            text-align: center;
            ul {
                margin: 0;
                text-align: center; 
                li {
                    display: inline-block;
                    padding: 0 9px;
                }
            }
        }
    }
    .page-main {
        width: 100%;
    }

    .columns {
        display: block;
    }

    .column.main {
        #lib-layout-columns > .main();
        &:extend(.abs-add-box-sizing-desktop all);
        min-height: 300px;
    }

    .sidebar-main {
        #lib-layout-columns > .left();
        padding-right: @layout-column-main__sidebar-offset;
        &:extend(.abs-add-box-sizing-desktop all);
    }

    .page-layout-2columns-right .sidebar-main {
        padding-left: @layout-column-main__sidebar-offset;
        padding-right: 0;
    }

    .sidebar-additional {
        #lib-layout-columns > .right();
        clear: right;
        padding-left: @layout-column__additional-sidebar-offset;
        &:extend(.abs-add-box-sizing-desktop all);
    }

    .page-layout-2columns-left {
        .sidebar-additional {
            clear: left;
            float: left;
            padding-left: 0;
            padding-right: @layout-column__additional-sidebar-offset;
        }
    }

    .panel.header {
        padding: 10px 20px;
    }
}
