// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Blank theme overrides
//  _____________________________________________

//  Theme file should contain declarations (overrides) ONLY OF EXISTING variables
//  Otherwise this theme won't be available for parent nesting
//  All new variables should be placed in local theme lib or local theme files

.clr {
    clear: both;
}
a {
    transition: .5s all ease;
    &:hover {
        transition: .5s all ease;
    }
}

.page-wrapper {
    .page-header{
        padding-top: 10px;
        .panel {
            &.wrapper {
                background: transparent;
                box-shadow: none;
                .panel {
                    &.header {
                        background: none;
                    }
                }
            }
            .action {
                &.compare {
                    display: none;
                }
            }
        }
    }
}
.header {
    &.content {
        border-top: solid 1px #ff7200;
    }
}
.headerbefore {
    width: 100%;
    .headertopleft {
        float: left;
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                display: inline-block;
                margin-right: 20px;
                color: #000;
                font-weight: 600;
                font-size: 13px;
            }
        }
    }
    .headertopright > ul {display: inline-block;}
    .headertopright {
        float: right;
        .dropdown-menu {
            position: absolute !important;
            width: 100%;
            text-align: left;
            left: -3px;
            padding: 0;
            border-bottom: none;
            background: #fff;
            li {
                width: 100%;
//                border-bottom: solid 1px #ddd;
                padding: 5px 0;
                border-right: none;
                a {
                    padding: 0 20px !important;
                    margin: 0 !important;
                    text-align: left;
                    display: block !important;
                    width: 100%;
                }
            }
        }
        ul {
            li {
                display: inline-block;
                border-right: solid 1px #777;
                padding-right: 5px;
                a {
                    color: #000;
                    font-weight: 600;
                    font-size: 13px;
                    padding: 0;
                    margin-left: 5px;
                    img {
                        display:none;
                        margin-right: 5px;
                    }
                    &:hover {
                        background: none;
                    }
                }
            }
        }
    }
}
.trustpoilat {
    float: left;
    padding-top: 4px;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            float: left;
            margin-left: 20px;
            margin-bottom: 0;
            &:first-child {
                width: 160px;
                margin-left: 0;
                margin-right: 20px;
                padding-top: 8px;
            }
            img {
                float: left;
                margin-right: 10px;
            }
            p {
                color: #000;
                font-size: 13.5px;
                float: left;
                font-weight: 600;
                span {
                    display: block;
                    font-size: 13.5px;
                    font-weight: 700;
                }
            }
            &:last-child {
                display: block;
            }
        }
    }
}
.headcartsection {
    float: right;
    width: 200px;
}
.headerPanel {
    float: left;
    width: 100%;
    max-width: 970px;
    .logosection {
        float: left;
    }
}
.form {
    &.minisearch {
        width: 330px;
        position: relative;
        margin: 0 10px 0 40px;
        float: left;
        .control {
            input {
                border-radius: 50px;
                border: none;
            }
        }
        .actions {
            position: absolute;
            right: 0;
            top: 0;
            button {
                background: #b86b03;
                border-bottom-right-radius: 50px;
                border-top-right-radius: 50px;
                transition: .5s all ease;
                cursor: pointer;
                &:hover {
                    opacity: 0.8;
                    transition: .5s all ease;
                }
            }
        }
    }
}

.sections {
    &.nav-sections {
        background: none;
        margin-top: 0px;
        .container {
            padding-left: 0;
            padding-right: 0;
        }
        .mainnav_wrapper {
            background: none;
            border: none;
            .navigation {
                border-radius: 50px;
                margin-bottom: 15px;
                margin-top: 10px;
            }
        }
    }
}
.bannerouter {
//    background: url('../images/bannerbg.jpg') repeat;
    background: #fff;
    padding:20px 0 10px 0;
    .homepagebanenr {
        display: flex;
        justify-content: space-between;
        width: 1140px;
        margin: auto;
        .mainbannersection  {
            .owl-buttons {
                position: absolute;
                left: 0;
                top: 40%;
                width: 100%;
                .owl-prev {
                    float: left;
                    background: url('../images/left-arrow.png') no-repeat right top;
                    font-size: 0px;
                    width: 34px;
                    height: 57px;
                }
                .owl-next {
                    float: right;
                    background: url('../images/right-arrow.png') no-repeat right top;
                    font-size: 0px;
                    width: 34px;
                    height: 57px;
                }
            }
        }
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .banneriner {
        clear: both;
        overflow: hidden;
        width: 100%;
        .list {
            padding-bottom: 8px;
        }
        .left {
            float: left;
        }
        .right {
            float: left;
            .topsection {
                .list {
                    float: left;
                    padding-left: 8px;
                }
            }
        }
        .bottomersection {
            clear: both;
            overflow: hidden;
            .btmleft {
                float: left;
                .btmsection {
                    padding-left: 10px;
                }
            }
            .btmright {
                float: left;
                .top {
                    .list {
                        float: left;
                        padding-left: 10px;
                    }
                }
                .btm {
                    padding-left: 10px;
                }
            }
        }
    }
}
.logosection {
    float: left;
    position: relative;
    .memberlogo {
        position: absolute;
        bottom: -42px;
        left: 70px;
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                display: inline-block;
                img {
                    width: 40px;
                }
            }
        }
    }
    img {
        width: 254px;
    }
}
.gemstonetabing {
    padding-top: 50px;
     p {
        font-size: 13px;
        color: #8b8b8b;
        padding-top: 20px;
        text-align: center;
    }
    .nav-tabs {
        display: block;
        border: none;
        text-align: center;
       
        a {
            display: inline-block;
            border: none;
            color: #8b8b8b !important;
            font-size: 32px;
            font-weight: bold;
            position: relative;
            margin-right: 50px;
            font-family: 'Roboto Condensed', sans-serif;
            &.active {
                color: #000 !important;
                z-index: 1;
                &::after {
                    height: 10px;
                    content: '';
                    position: absolute;
                    bottom: 12px;
                    background: #ffc000;
                    width: 100%;
                    z-index: -1;
                    left: 0;
                }
            }
        }
    }
    .innersection {
        width: 100%;
        .tab-pane  {
            ul {
                padding: 0;
                list-style: none;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li {
                    text-align: center;
                    width: 23%;
                    border: solid 1px #ccc;
                    border-radius: 20px;
                    margin-top: 30px !important;
                    display: block;
                    padding: 10px 0;
                    &:hover {
                        border: solid 1px #ff7200;
                        .heading {
                            color: #ff7200;
                        }
                    }
                    a {
                        display: block;
                        img {
                            -webkit-transition: 0.8s;
                            -moz-transition: 0.8s;
                            -o-transition: 0.8s;
                            -ms-transition: 0.8s;
                            transition: 0.8s;
                        }
                        .heading {
                            text-transform: uppercase;
                            color: #000;
                            font-weight: 700;
                            font-size: 16px;
                            padding-top: 10px;
                            font-family: 'Roboto Condensed', sans-serif;
                            display: block;
                        }
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    &:hover {
                        img {
                            -moz-transform: scale(1.1) rotate(0deg);
                            -webkit-transform: scale(1.1) rotate(0deg);
                            -o-transform: scale(1.1) rotate(0deg);
                            -ms-transform: scale(1.1) rotate(0deg);
                            transform: scale(1.1) rotate(0deg);
                            -webkit-transition: 0.8s;
                            -moz-transition: 0.8s;
                            -o-transition: 0.8s;
                            -ms-transition: 0.8s;
                            transition: 0.8s;
                        }
                        h2 {
                            text-decoration: none;
                        }
                        text-decoration: none;
                    }
                }
            }
        }
        .viewmore {
            text-align:center;
            padding-top: 20px;
            a {
                text-transform: uppercase;
                color: #fff;
                font-weight: 600;
                background: #000;
                font-size: 13px;
                padding: 8px 14px;
                border-radius: 50px;
                border: solid 1px #000;
                &:hover {
                    background: #ff7200;
                    border: solid 1px #ff7200;
                    text-decoration: none;
                }
            }
        }
    }
}
.choosePrecious {
    text-align: center;
    background: #f9f9f9;
    .cgemstonecertification {
        width: 1140px;
        margin: auto;
        text-align: center;
        padding-top: 5px;
        img {
            margin-left: -7px;
            width: 99%;
        }
    }
}
.customerssays {
    padding-top: 50px;
    .innersection {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .happycustomer {
            max-width: 256px;
            h2 {
                font-size: 20px;
                color: #000;
                font-weight: 700;
                font-family: 'Roboto Condensed', sans-serif;
                span {
                    display: block;
                    position: relative;
                    &::after {
                        height: 8px;
                        content: '';
                        position: absolute;
                        bottom: 0px;
                        background: #ffc000;
                        width: 84%;
                        z-index: -1;
                        left: 0;
                    }
                }
            }
            p {
                font-size: 14px;
                color: #000;
                opacity: 0.7;
                padding: 10px 0;
            }
            .readmore {
                display: inline-block;
                text-transform: uppercase;
                color: #fff;
                font-weight: 600;
                background: #000;
                font-size: 13px;
                padding: 8px 14px;
                border-radius: 50px;
            }
            .customertrust {
                text-align: center;
                border: solid 1px #ccc;
                border-radius: 20px;
                margin-top: 20px;
                padding-left: 30px;
                padding-top: 10px;
                svg {
                    width: 140px !important;
                }
            }
        }
        .testimonialC {
            max-width: 407px;
            border: solid 1px #ccc;
            padding: 20px;
            border-radius: 4px;
            overflow: hidden;
            .content {
                p {
                    font-size: 14px;
                }
                .customername {
                    span {
                        font-size: 14px;
                        color: #000;
                        font-weight: 700;
                        display: block;
                    }
                    p {
                        color: #000;
                        opacity: 0.7;
                        padding-top: 5px;
                    }
                }
            }
        }
    }
}
.topresourcesmain {
    clear: both;
    overflow: hidden;
    padding: 40px 0 0 0;
    background: #f9f9f9;
    h3 {
       font-family: 'Lato', serif;
        font-size: 25px;
        line-height: 30px;
        margin-top: 20px;
        text-align: center;
        text-transform: capitalize;
        color: #21252b;
        font-weight: 600;
        margin: 0;
        text-align: center;
        margin: 0;
//        &::after {
//           height: 8px;
//            content: '';
//            position: absolute;
//            bottom: 0px;
//            background: #ffc000;
//            width: 100%;
//            z-index: -1;
//            left: 0; 
//        }
    }
    .headingbg {
        text-align: center;
        padding-top: 10px;
        margin-bottom: 20px;
    }
    .topresourcesouter {
        float: left;
        width: 560px;
        .owl-buttons {
            position: absolute;
            top: -40px;
            right: 45px;
            width: 30px;
            .owl-prev {
                float: left;
                font-size: 0px;
                position: relative;
                &::before {
                    width: 22px;
                    height: 28px;
                    line-height: 28px;
                    border: solid 1px #ccc;
                    color: #777;
                    font-size: 14px;
                    font-weight: 700;
                    position: absolute;
                    left: 0;
                    content: '<';
                    text-align: center;
                    
                }
            }
            .owl-next {
                float: right;
                position: relative;
                font-size: 0px;
                &::before {
                    width: 22px;
                    height: 28px;
                    line-height: 28px;
                    border: solid 1px #ccc;
                    color: #777;
                    font-size: 14px;
                    font-weight: 700;
                    position: absolute;
                    left: 0;
                    content: '>';
                    text-align: center;
                }
            }
        }
        .item {
            p {
                padding-right: 24px;
            }
            span {
                font-size: 14px;
                font-weight: 700;
                color: #000;
                display: block;
                padding: 15px 0;
                padding-right: 15px;
            }
        }
    }
    .connectwithus {
        float: right;
        width: 500px;
    }
}
.choose_precious_gemstones {
       background: #f9f9f9;
    .innersection {
         max-width: 1140px;
        margin: auto;
    }
    h3 {
//        display: inline-block;
//        font-size: 24px;
//        font-weight: 700;
//        color: #000;
//        margin-bottom: 20px;
//        position: relative;
//        font-family: 'Roboto Condensed', sans-serif;
//        margin: 0;
            font-family: 'Lato', serif;
            font-size: 25px;
            line-height: 30px;
            margin-top: 20px;
            text-align: center;
            text-transform: none;
            color: #21252b;
            font-weight: 600;
            margin: 0;
//        &::before {
//            height: 8px;
//            content: '';
//            position: absolute;
//            bottom: 0px;
//            background: #ffc000;
//            width: 100%;
//            z-index: -1;
//            left: 0; 
//        }
    }
    .headingtext {
        padding-bottom: 25px;
        opacity: 0.7;
    }
    .item-post_head {
        text-align: left;
        padding-top: 14px;
        h5 {
            font-weight: 700;
            color: #000;
            font-size: 14px;
            padding-bottom: 6px;
        }
        p {
            font-weight: 400;
            font-size: 13px;
        }
    }
    .owl-buttons {
        display: none;
    }
}
.brands-logos {
    &.choosePrecious {
        padding: 40px 0;
        .formobile {
            display: none;
        }
    }
}
.newsletterouter {
    background: #f2f2f2;
    padding: 30px 0 25px 0;
    clear: both;
    overflow: hidden;
    .newslettermain {
        float: none;
        width: 745px;
        margin: auto;
        span {
            float: left;
            font-size: 15px;
            font-weight: 700;
            color: #000;
            text-transform: uppercase;
            padding-right: 15px;
            padding-top: 8px;
        }
        .block {
            &.newsletter {
                max-width: 100%;
                width: 500px;
                float: left;
                margin: 0;
                .form {
                    position: relative;
                    .control {
                        &::before {
                            display: none;
                        }
                        label {
                            width: 100%;
                            input {
                                border-radius: 50px;
                                border: solid 1px #ccc;
                                height: auto;
                                padding: 8px 0 7px 20px;
                            }
                        }
                    }
                    .actions {
                        position: absolute;
                        right: 97px;
                        top: 0;
                        button {
                            border-radius: 0;
                            border-bottom-right-radius: 50px;
                            border-top-right-radius: 50px;
                            span {
                                font-size: 14px;
                                color: #fff;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .socialicon {
        float: right;
        width: 355px;
        display: none;
        span {
            float: left;
            font-size: 15px;
            font-weight: 700;
            color: #000;
            text-transform: uppercase;
            padding-right: 10px;
            padding-top: 8px;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                background: #fff;
                border-radius: 50%;
                padding: 5px;
                display: inline-block;
                margin: 0 0 0 5px;
                img {
                    width: 24px;
                }
            }
        }
    }
}
.fooerpayment {
    background: #fff;
    color: #000;
    clear: both;
    overflow: hidden;
    text-align: center;
    .container {
        border-top: solid 1px #ccc;
        padding: 14px 0;
        .copyright {
            font-size: 14px;
            float: none;
            padding-top: 4px;
            padding-bottom: 25px;
            line-height: 26px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #333;
            line-height: 26px;
        }
        .paymenticon {
            float: none;
            ul {
                padding: 0;
                list-style-type: none;
                margin: 0;
                text-align: center;
                li {
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }
        .footersocail {
            ul {
                list-style-type: none;
                text-align: center;
                margin-top: 10px;
                li {
                    display: inline-block;
                    margin-right: 4px;
                }
            }
        }
    }
}
.page-footer {
    background: #e0ddd6;
    color: #fff;
    .footer {
        &.content {
            width: 100%;
            padding: 30px 50px 0 50px;
            .footer-inner {
                padding: 30px 0;
                padding-top: 0;
                .list {
                    padding: 0 10px;
                    width: 18.5%;
                    h3 {
                        padding-bottom: 8px;
                        font-weight: bold;
                        font-size: 14px;
                        text-transform: capitalize;
                        color: #4c4739;
                        opacity: 1;
                        font-family: 'Quattrocento Sans', sans-serif;
                        margin-bottom: 12px;
                        span {
                            display: block;
                        }
                        a {
                        font-weight: 500;
                        font-size: 15px;
                        text-transform: capitalize;
                        color: #000;
                        opacity: 1;
                        font-family: 'Roboto Condensed', sans-serif;
                        }
                        border-bottom: solid 1px #777;
                    }
                    ul {
                        li {
                            padding-bottom: 5px;
                            a { 
                                color: #000;
                                font-weight: 400;
                                font-size: 13px;
                                background: url('../images/footerlink-arrow.png') no-repeat left 4px;
                                padding-left: 18px;
                                &:hover {
                                    text-decoration: none;
                                    color: #f4a137;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    &.contactdetils {
                        span {
                            display: inline-block;
                            vertical-align: text-top;
                            float: left;
                            padding-right: 10px;
                            font-weight: 600;
                            padding-top: 4px;
                        }
                        p, a {
                            display: inline-block;
                            float: left;
                            color: #fff;
                            opacity: 0.7;
                            font-weight: 300;
                            font-size: 13px;
                        }
                        .listing {
                            padding-top: 14px;
                            &.listingS {
                                padding-top: 0;
                                padding-bottom: 15px;
                            }
                            a {
                                display: inline-block;
                                margin-top: 8px;
                                &:hover {
                                    text-decoration: none;
                                    color: #f4a137;
                                    opacity: 1;
                                }
                            }
                        }
                        h3 {
                            padding-top: 32px;
                            a {
                                font-weight: 600;
                                font-size: 14px;
                                text-transform: uppercase;
                                color: #fff;
                                opacity: 1;
                            }
                        }
                    }
                    &.whatsnew {
                        width: 26%;
                        padding-right: 0px;
                        h3 {
                            padding-bottom: 8px;
                            a {
                            font-weight: 500;
                            font-size: 15px;
                            text-transform: capitalize;
                            color: #000;
                            opacity: 1;
                            font-family: 'Roboto Condensed', sans-serif;
                            }
                        }
                        li, a {
                            color: #000;
                            opacity: 1;
                            font-weight: 400;
                            font-size: 11px;
                            margin-bottom: 10px;
                            .readmore {
                                color: #f4a137;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}
#minicart-content-wrapper{
    .minicart-items-wrapper {
        max-height: 325px;
    }
}
.testimonialbox {
    position: fixed;
    top: 80px;
    z-index: 100;
    width: 50%;
    padding: 0;
    background: none;
    left: 0;
    &::before {
        background: rgba(0,0,0,0.7);
        width: 100%;
        height: 100%;
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #myForm {
        margin: 10px;
        width: 100%;
        position: absolute;
        left: 50%;
    }
}
.searchsectionmain {
    .serachtext {
        font-style: italic;
        font-weight: 600;
        float: left;
        line-height: normal;
        padding-bottom: 5px;
        font-size: 13px;
        padding-left: 40px;
        span {
            color: #3b7d65;
            font-size: 15px;
            font-family: 'Lato', serif;
            font-weight: bold;
            line-height: 18px;
        }
    }
}

.table-wrapper.additional-addresses .col {word-break: break-all;}
.action.print {display: none;}
#switcher-currency {
    span {
        &.dollar_symbol {
            color: #333;
            font-weight: bold;
            border: solid 1.5px #333;
            border-radius: 50%;
            line-height: 16px;
            padding: 0 4px;
            display: inline-block;
        }
    }
}
.sections {
    &.nav-sections {
        &.sticky {
            position: fixed;
            top: 0;
            width: 100%;
            background: url('../images/headerbg.jpg') no-repeat center top;
            background-size: cover;
            z-index: 100;
        }
    }
}

#bss-cookie-notice {
    max-width: 100% !important;
    width: 100%;
    background-color: transparent !important;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: url(../images/headerbg.jpg) repeat center top !important;
    justify-content: space-between;
    padding: 10px 255px;
    background-size: cover;
    padding-bottom: 5px;
    text-align: center;
    h4 {
        color: #000 !important;
        font-weight: 600;
        margin: 0 !important;
        padding-top: 5px;
        font-size: 16px;
        line-height: normal;
        float: left;
        padding-top: 10px;
    }
    p {
        color: #000 !important;
        font-weight: 600;
        margin: 0;
        padding-top: 5px;
        font-size: 14px;
        line-height: normal;
        float: left;
        padding-left: 8px;
        padding-top: 10px;
        margin-bottom: 15px;
    }
    button {
        background: none !important;
        border: none !important;
        border-radius: 10px !important;
        transition: .5s all ease;
        color: #000 !important;
        font-weight: 600 !important;
        letter-spacing: 1px;
        line-height: normal !important;
        padding: 10px 22px !important;
        float: none;
        margin-left: 0;
        border: solid 1px #000 !important;
        display: inline-block;
    }
    a {
        background: #000;
        border: none !important;
        border-radius: 10px !important;
        transition: .5s all ease;
        color: #fff !important;
        font-weight: 600 !important;
        letter-spacing: 1px;
        line-height: normal !important;
        display: inline-block;
        height: auto;
        padding: 10px 22px !important;
        margin:0 10px;
        float: none;
        display: inline-block;
    }
}
.homevideotesti {width: 100%;}
.homevideotesti .owl-controls .owl-buttons {display: flex; justify-content: space-between; width: 100%; text-transform: capitalize; font-weight: 600; padding-top: 20px;}
.homevideotesti .viedobanner {padding-right: 0px;}
.homevideotesti .viedobanner iframe {width: 100%;}

.homevideotesti {
    .owl-prev {
        position: relative;
        padding-left: 10px;
        font-size: 14px;
        font-weight: 400;
        &::before {
            border: solid #454545;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            content: '';
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            top: 5px;
            left: 0;
        }
    }
    .owl-next {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        &::after {
            content: '';
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            border: solid #454545;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
        }
    }
}

.topresources {
    background: #fff url('../images/top_resources_bg.png') no-repeat right bottom;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 20px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding-left: 35px;
            background: url(../images/dimond_bullet.png) no-repeat left 5px;
            margin-bottom: 18px;
            a {
                font-size: 14px;
                color: #000;
            }
        }
    }
}
.mobilecertified {
    display: none;
}


/*	Responsive Tabs v1.4, Copyright 2014, Joe Mottershaw, https://github.com/joemottershaw/
//	======================================================================================= */

/*	Table of Contents
//	==================================================
//		#Reset
//		#Themes


/*	#Reset
//	================================================== */

	/* Standard */
.responsive-tabs {
	margin: 0 !important;
	padding: 0;
	list-style-type: none;
	position: relative;
	z-index:1;
}
.responsive-tabs li {
	/*width: 125px;*/
	margin: 0;
	text-align: center;
	line-height: 50px;
	float: left;
	padding: 10px;
}
.responsive-tabs li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
	color: #333333;
	font-family: 'Lato', serif;
	font-size: 14px;
	font-weight: normal;
}
.responsive-tabs li.active {
	font-weight: bold;
}
.responsive-tabs-content {
	margin-bottom: 20px;
}
.responsive-tabs-content.bm-remove {
	margin-bottom: 0;
}
.responsive-tabs-content.bm-smaller {
	margin-bottom: 5px;
}
.responsive-tabs-content.bm-small {
	margin-bottom: 10px;
}
.responsive-tabs-content.bm-medium {
	margin-bottom: 20px;
}
.responsive-tabs-content.bm-large {
	margin-bottom: 30px;
}
.responsive-tabs-content.bm-larger {
	margin-bottom: 40px;
}
.responsive-tabs-content .responsive-tabs-panel {
	padding: 10px;
}
.responsive-tabs-content .responsive-tabs-panel .responsive-tab-title {
	display: none;
}
/* Tabs Left */
.responsive-tabs.responsive-tabs-left {
	/*width: 150px;*/
	float: left;
}
.responsive-tabs.responsive-tabs-left li {
	text-align: left;
	float: none;
}
.responsive-tabs-content.responsive-tabs-left {
	overflow: hidden;
}
/* Tabs Right */
.responsive-tabs.responsive-tabs-right {
	width: 150px;
	float: right;
}
.responsive-tabs.responsive-tabs-right li {
	text-align: right;
	float: none;
}
.responsive-tabs-content.responsive-tabs-right {
	overflow: hidden;
}
 @media only screen and (max-width: 767px) {
.responsive-tabs li {
	display: none;
}
.responsive-tabs-content .responsive-tabs-panel,  .responsive-tabs-content .responsive-tabs-panel .responsive-tab-title {
	display: block;
}
}
/*	#Themes
//	================================================== */

	/* Standard */
.responsive-tabs-default .responsive-tabs li {
	border: 1px solid #DDD;
	border-right: 0;
	cursor: pointer;
	position: relative;
	z-index: 999999;
}
.responsive-tabs-default .responsive-tabs li:last-child {
	border-right: 1px solid #DDD;
}
.responsive-tabs-default .responsive-tabs li.active {
	border-bottom: 1px solid #FFF;
	background: #FFF;
}
.responsive-tabs-default .responsive-tabs-content {
	border: 1px solid #DDD;
	background: #FFF;
	position: relative;
	top: -1px;
	
}
.responsive-tabs-default .responsive-tabs-content .responsive-tab-title {
	color: #00b06c;
}
/* Tabs Left */
.responsive-tabs-default .responsive-tabs.responsive-tabs-left {
	left: 1px;
}
.responsive-tabs-default .responsive-tabs.responsive-tabs-left li {
	width: 100%;
	border-right: 1px solid #DDD;
	border-bottom: 0;
	line-height: 50px;
}
.responsive-tabs-default .responsive-tabs.responsive-tabs-left li:last-child {
	border-bottom: 1px solid #DDD;
}
.responsive-tabs-default .responsive-tabs.responsive-tabs-left li.active {
	border-right: 1px solid #FFF;
}
.responsive-tabs-default .responsive-tabs-content.responsive-tabs-left {
	top: 0;
}
/* Tabs Right */
.responsive-tabs-default .responsive-tabs.responsive-tabs-right {
	right: 1px;
}
.responsive-tabs-default .responsive-tabs.responsive-tabs-right li {
	width: 100%;
	border-right: 1px solid #DDD;
	border-bottom: 0;
	border-left: 1px solid #DDD;
	line-height: 50px;
}
.responsive-tabs-default .responsive-tabs.responsive-tabs-right li:last-child {
	border-bottom: 1px solid #DDD;
}
.responsive-tabs-default .responsive-tabs.responsive-tabs-right li.active {
	border-left: 1px solid #FFF;
}
.responsive-tabs-default .responsive-tabs-content.responsive-tabs-right {
	top: 0;
}
ol::after, ul::after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
}
.bm-remove {
	margin-bottom: 0 !important;
}
.bannertestimonial {
    h4 {
        text-align: center;
        font-size: 18px;
        color: #000;
    }
}
.content.container.p-0.recentarticalsection {
    width: 100%;
    background: #f9f9f9;
    max-width: 100%;
    padding: 20px 0 !important;
    .choose_precious_gemstones {
        width: 1140px;
        margin: auto;
    }
}
.clickmoretesti {
    text-align: center;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translate(-50%, -50%);
    a {
        color: #333;
        text-transform: none;
        font-family: 'Lato', serif;
        font-size: 18px;
    }
}
.recentarticalsection {
    h2 {
        font-weight: 300;
    }
}
.gemstoneuniverse_promotional_block {
    text-align: left;
    #panel {
        display: none;
    }
    .shomorehomebutton {
        text-align: left;
        cursor: pointer;
        font-size: 12px;
        font-weight: normal;
        padding-left: 10px;
        text-decoration: underline;
        color: #060;
    }
}
//.main_wrapper .blog_post_feed.detail article p img {
//    width: 100%;
//}

#navbar {
    .menu-arrow {
        a {
            position: relative;
        }
    }
}

#navbar .menu-arrow > a:before {
    content: '';
    position: absolute;
    right: 1px;
    top: 14px;
    background: url(../images/menu-arrow.png) no-repeat right top;
    height: 14px;
    width: 14px;
}
.recentarticalsection {
    h3 {
        font-weight: 300;
    }
}
.custom_category_content {
    .item {
        p {
            &:first-child {
                text-align: center;
                strong {
                    text-align: center;
                    display: block;
                }
            }
        }
    }
}
.page-header .header .switcher-currency .switcher-trigger > strong {font-weight: normal;}

.serachtext {
    p {
        font-size: 13px;
        font-family: 'Lato', serif;
        font-weight: 400;
        color: #333333;
    }
    .em_style {
        color: #3b7d65;
        font-size: 15px;
        font-family: 'Lato', serif;
        line-height: 15px;
        font-weight: bold;
        line-height: 18px;
    }
    strong {
        font-weight: 700;
    }
}