// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;

@minicart-qty__height: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
        .items-total {
            float: none;
            margin: 0 @indent__s;

            .count {
                font-weight: @font-weight__bold;
            }
        }

        .subtotal {
            margin: 0 @indent__s @indent__s;
            text-align: left;
            display: flex;
            justify-content: space-between;
            padding: 0;
            padding-top: 15px;
            color: #000;
            font-family: 'Roboto Condensed', sans-serif;

            .label {
                &:extend(.abs-colon all);
            }
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: @font-size__l;
                        font-weight: @font-weight__bold;
                    }
                }
            }
        }

        .subtitle {
            display: none;

            &.empty {
                display: block;
                font-size: 14px;
                padding: @indent__l 0 @indent__base;
                text-align: center;
            }
        }

        .text {
            &.empty {
                text-align: center;
            }
        }

        .block-content {
            > .actions {
                margin-top: 15px;
                text-align: center;

                > .primary {
                    margin: 0 @indent__s 15px;

                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                            display: block;
                            margin-bottom: 15px;
                            width: 100%;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }

        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }

    .minicart-wrapper {
        .lib-dropdown(
        @_toggle-selector: ~'.action.showcart',
        @_options-selector: ~'.block-minicart',
        @_dropdown-list-width: 320px,
        @_dropdown-list-position-right: 0,
        @_dropdown-list-pointer-position: right,
        @_dropdown-list-pointer-position-left-right: 26px,
        @_dropdown-list-z-index: 101,
        @_dropdown-toggle-icon-content: @icon-cart,
        @_dropdown-toggle-active-icon-content: @icon-cart,
        @_dropdown-list-item-padding: false,
        @_dropdown-list-item-hover: false,
        @_icon-font-position: before,
        @_icon-font-size: 35px,
        @_icon-font-line-height: 33px,
        @_icon-font-color: @minicart-icons-color,
        @_icon-font-color-hover: @minicart-icons-color-hover,
        @_icon-font-color-active: @minicart-icons-color
        );
        float: right;

        .block-minicart {
            .lib-css(padding, 25px @minicart__padding-horizontal);

            .block-title {
                display: none;
            }
        }

        .product {
            .actions {
                float: right;
                margin: -24px 0 0;
                text-align: right;

                > .primary,
                > .secondary {
                    display: inline;
                }
            }
        }

        .action {
            &.close {
                .lib-button-icon(
                    @icon-remove,
                    @_icon-font-size: 32px,
                    @_icon-font-line-height: 32px,
                    @_icon-font-text-hide: true
                );
                .lib-button-reset();
                height: 40px;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
            }

            &.showcart {
                white-space: nowrap;
                &:before {
                     background: url(../images/carticon.png) no-repeat center;
                    font-size: 0;
                    width: 56px;
                    height: 26px;
                    border-radius: 50%;
                    margin-left: 0px;
                    content: '' !important;
                }
                .text {
                    clip: auto;
                    overflow: inherit;
                    text-transform: uppercase;
                    margin: 10px 0px 0px;
                    font-size: 13px;
                    color: #000;
                    font-weight: 700;
                    padding-left: 0;
                }
                span {
                    &:nth-child(2) {
                        display: block;
                        vertical-align: text-top;
                        text-align: left;
                        margin-top: -8px;
                        color: #000;
                        padding-left: 18px;
                    }
                }

                .counter.qty {
//                    .lib-css(background, @active__color);
//                    .lib-css(color, @page__background-color);
//                    .lib-css(height, @minicart-qty__height);
//                    .lib-css(line-height, @minicart-qty__height);
//                    border-radius: 2px;
//                    display: inline-block;
//                    margin: 3px 0 0;
//                    min-width: 18px;
//                    overflow: hidden;
//                    padding: 0 3px;
//                    text-align: center;
//                    white-space: normal;

                    &.empty {
                        margin-top: -8px;
                        display: block;
                        background: no-repeat;
                        padding: 0;
                        color: #000;
                        line-height: normal;
                        font-weight: 600;
                        padding-left: 62px;
                        span {
                            font-weight: normal;
                        }
                    }

                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                    span {
                        &:nth-child(2) {
                            overflow: visible;
                            width: 100%;
                            position: relative;
                        }
                    }
                }

                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .minicart-widgets {
            margin-top: 15px;
        }
    }

    .minicart-items-wrapper {
        .lib-css(border, 1px solid @minicart__border-color);
        .lib-css(margin, 0 -@minicart__padding-horizontal);
        border-left: 0;
        border-right: 0;
        overflow-x: auto;
        padding: 15px;
    }

    .minicart-items {
        .lib-list-reset-styles();

        .product-item {
            padding: @indent__base 0;

            &:not(:first-child) {
                .lib-css(border-top, 1px solid @minicart__border-color);
            }

            &:first-child {
                padding-top: 0;
            }

            > .product {
                &:extend(.abs-add-clearfix all);
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .product-item-pricing {
            .label {
                display: inline-block;
            }
        }

        .price-minicart {
            margin-bottom: @indent__xs;
        }

        .product {
            > .product-item-photo,
            > .product-image-container {
                float: left;
            }

            .toggle {
                .lib-icon-font(
                    @_icon-font-content: @icon-down,
                    @_icon-font-size: 28px,
                    @_icon-font-line-height: 16px,
                    @_icon-font-text-hide: false,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );
                cursor: pointer;
                position: relative;

                &:after {
                    position: static;
                    right: @indent__base;
                    top: 0;
                }
            }

            &.active {
                > .toggle {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }
        }

        .product-item-name {
            font-weight: @font-weight__regular;
            margin: 0 0 @indent__s;
            text-align: left !important;

            a {
                font-family: 'Roboto Condensed', sans-serif;
                color: #000;
                text-decoration: none;
                font-weight: 700;
                font-size: 16px;
                padding-left: 0;
            }
        }

        .product-item-details {
            padding-left: 88px;

            .price {
                font-weight: @font-weight__bold;
            }

            .price-including-tax,
            .price-excluding-tax {
                margin: @indent__xs 0 0;
            }

            .weee[data-label] {
                .lib-font-size(11);

                .label {
                    &:extend(.abs-no-display all);
                }
            }

            .details-qty {
                margin-top: @indent__s;
            }
        }

        .product.options {
            .tooltip.toggle {
                .lib-icon-font(
                    @icon-down,
                    @_icon-font-size: 28px,
                    @_icon-font-line-height: 28px,
                    @_icon-font-text-hide: true,
                    @_icon-font-margin: -3px 0 0 7px,
                    @_icon-font-position: after
                );

                .details {
                    display: none;
                }
            }
        }

        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }

        .item-qty {
            text-align: center;
            width: 45px;
        }

        .update-cart-item {
            .lib-font-size(11);
            vertical-align: top;
        }

        .subtitle {
            display: none;
        }

        .action {
            &.edit,
            &.delete {
                .lib-icon-font(
                    @icon-settings,
                    @_icon-font-size: 28px,
                    @_icon-font-line-height: 28px,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @color-gray19,
                    @_icon-font-color-hover: @color-gray19,
                    @_icon-font-color-active: @color-gray19
                );
            }

            &.delete {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-trash
                );
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .minicart-wrapper .block-minicart {
        width: 290px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .minicart-wrapper {
        margin-top: @indent__s;
        .lib-clearfix();
        .product {
            .actions {
                float: left;
                margin: 10px 0 0 0;
            }
        }
        .update-cart-item {
            float: right;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
         margin-left: 0px;
        float: right;
        padding-top: 55px;


        .block-minicart {
            right: -15px;
            width: 390px;
        }
        
    }
    .customLink {
        ul {
            margin: 0;
            padding: 0;
            font-weight: bold;
            li {
                list-style-type: none;
                display: inline-block;
                margin: 0;
                &:after {
                    content: '';
                    border-right: 1px solid;
                }
                a {
                    padding: 10px 5px;
                    color: #000 !important;
                    font-size: 1vw;
                    font-family: 'Lato', serif;
                    line-height: 30px;
                }
                &:last-child{
                    &:after {
                        border-right:0px;
                        display: none;
                    }
                }
            }
        }
    }
}
#minicart-content-wrapper {
    .actions {
        .primary {
            button {
                background: #24a962;
                border: none;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                height: auto;
                padding: 10px;
                border-radius: 50px;
            }
        }
        .secondary {
            .viewcart {
                background: #ff7200;
                color: #fff;
                text-transform: uppercase;
                font-weight: 600;
                padding: 10px 20px;
                border-radius: 50px;
                margin-top: 10px;
                display: inline-block;
            }
        }
    }
    .product {
        &.actions {
            .action {
                &.edit {
                    &::before {
                        background: url(../images/cartedit_icon01.png) no-repeat left top;
                        width: 24px;
                        height: 24px;
                        background-size: cover;
                        opacity: 1;
                        content: '';
                        color: #000 !important;
                    }
                }
            }
        }
    }
}