<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php if ($_description = $block->getCurrentCategory()->getDescription()) :?>
    <div class="col-md-12">
    	<!-- <div class="product-jcat-des">
	        <?= /* @noEscape */ $this->helper(Magento\Catalog\Helper\Output::class)->categoryAttribute(
	            $block->getCurrentCategory(),
	            $_description,
	            'description'
	        ) ?>
    	</div> -->

    
    </div>


<?php endif; ?>
