<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$media_url = $objectManager->get('Magento\Store\Model\StoreManagerInterface') ->getStore() ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA); ?>

<div class="tab-container certificationtabing">
    <div class="pleaseselect">The Complete Process</div>
<div class="tab-menu">
      <ul>
         <li><a href="javascript:void('0');" class="tab-a active-a" data-id="tab1">The Complete Process</a></li>
         <li><a href="javascript:void('0');" class="tab-a" data-id="tab2">Certification</a></li>
         <li><a href="javascript:void('0');" class="tab-a" data-id="tab3">Appraisal</a></li>
         <li><a href="javascript:void('0');" class="tab-a" data-id="tab4">Unmatched Price</a></li>
         <li><a href="javascript:void('0');" class="tab-a" data-id="tab5">Insurance</a></li>
         <li><a href="javascript:void('0');" class="tab-a" data-id="tab6">Vedic consecration</a></li>
         <li><a href="javascript:void('0');" class="tab-a" data-id="tab7">Hallmarking</a></li>
         <li><a href="javascript:void('0');" class="tab-a" data-id="tab8">Life time buy back/ returns &amp; refunds</a></li>
      </ul>
   </div>
    
   <div  class="tab certifcatetacont tab-active" data-id="tab1">
        <div class="responsive-tabs-panel tabcontent">
            <div class="responsive-tab-title"></div>
            <h4>The Ultimate Process</h4>
            <p style="text-align: justify;">
                <strong>We are led by</strong> <span class="contentSubHead"> <a href="/gurujishriiarnav.php" target="_blank">Guruji Shrii Arnav</a> </span>
            </p>
            <p style="text-align: justify;">
                <strong>Guruji Shrii Arnav</strong> - Vedic Guru - Chief Consultant and Mentor - He is an internationally acclaimed and recognized Planetary Gemologist. He is one of the leading experts in the fields of Gems and Gemology.
            </p>
            <p style="text-align: justify;">
                An Accredited Jewelry Professional from the <span class="contentSubHead"><a href="http://www.gia.edu/" target="_blank">GIA</a></span> (Gemological Institute of America) he is the current Acting Secretary of the
                <span class="contentSubHead"><a href="http://p-g-a.org/" target="_blank">Planetary Gemologists Association</a></span> - The regulatory and research group for Planetary Gemologists worldwide.
            </p>
            <p style="text-align: justify;">
                Besides mentoring Astro Journey and Gemstoneuniverse, since the year 2007 Guruji has been writing the
                <span class="contentSubHead"><a href="http://www.deccanherald.com/horoscope.php?func=Weekly" target="_blank">weekly astrology horoscope for Deccan Herald</a></span> - a leading Indian English Daily with an average daily
                viewership of 450000+ and a circulation of 200,000+. Read more about <span class="contentSubHead"> <a href="/gurujishriiarnav.php" target="_blank">Guruji Shrii Arnav</a></span>.
            </p>
            <p style="text-align: justify;">
                <strong>
                    His singular belief and guidance has helped evolve this system which ensures that <span class="contentSubHead"> <a href="/navaratnas.php" target="_blank">Planetary Gem Therapy</a></span> works for the individual.
                </strong>
            </p>
            <p style="text-align: justify;"><strong> PLEASE TAKE NOTE: </strong></p>
            <p style="text-align: justify;">
                We have NO third party supplier unlike other Astrology Services/ Astrologers/ Consultants. Our Gemstones are picked up directly from mines, independent suppliers and each lot of gemstone selection is done by a qualified
                professional staff well versed and seasoned in the Gem trade and having the expertise in selection of Jyotish Gemstones. Key core team members involved in sourcing of high quality Gemstones have spent decades in this field
                and have qualified from leading Gemology institutions like the GIA (Gemological Institute of America). Read more on
                <span class="contentSubHead"> <a href="/high-point.php" target="_blank">GIA's Workshop and Accreditation Program exclusively at Gemstoneuniverse</a></span>.
            </p>
            <p style="text-align: justify;">
                Choosing a <span class="contentSubHead"> <a href="/jyotishgemstones.php" target="_blank">Jyotish gemstone</a></span> is not an easy task. Besides assessment of cut, color, clarity, carat weight and lack of treatment, a
                Planetary Gemologist has to ensure that the Jyotish Gemstone is free from any of the flaws listed in sacred texts that lead to bad results. Read case studies
                <span class="contentSubHead"> <a href="/cat/keep-your-gemstone-therapy-error-free.php" target="_blank">here</a></span>.
            </p>
            <p style="text-align: justify;">Every Single Gemstone that makes it to the Gemstoneuniverse inventory is a true Jyotish Gemstone.</p>
            <p style="text-align: justify;">After the initial process of selection of a Vedic Gem, the Gemstones are certified by independent third party Gem Labs.</p>
        </div>     
   </div>

   <div  class="tab certifcatetacont" data-id="tab2">
          <div class="responsive-tabs-panel tabcontent">
            <h3>Independent Lab Certification</h3>
            <p style="text-align: justify;">
                Each Gemstone gets certified independently by a registered, reputable and accredited Gem lab. This ensures complete authenticity of the planetary gemstone and complete transparency for the end customer.
            </p>
            <p style="text-align: justify;">
                Provided below are some samples of certificates authenticating the gemstones we provide. The cut, color, clarity, carat weight, country of origin, treatment or lack thereof, dimensions, species, shape, etc. are all mentioned
                clearly in the certificate, setting apart each gem. We just don&rsquo;t get a Gem tested for identification such as Natural Blue Sapphire but specifically ask for add-on certification services specifying origin and
                treatments.
            </p>
            <p style="text-align: justify;">
                <span style="text-decoration: underline;"> <strong> What you see is what you get. </strong> </span>
            </p>
            <p style="text-align: justify;">
                Our Sheer Range, reach, numbers that we do and the diverse markets from where we source our gemstones ensure that there is world class certification made available from several labs across the globe. There is no singular lab
                which we patronize (which may be another reason for antennas being raised!).
            </p>
            <p style="text-align: justify;">
                At Gemstoneuniverse we ensure that your Gem Certificate has value and provide certificates only of reputed Labs. These certificates are universally accepted by veterans of the Gemstones industry and trade, seasoned gem
                professionals and the Gemstone B2B Trade.
            </p>
            <p style="text-align: center;">
                <a
                    title="GIA Certificate"
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/GIA_front_certificate.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php $media_url ?>images/cms/GIA_front_certificate.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/GIA_front_certificate.jpg" width="160" height="120" />
                </a>

                <a
                    title="GIA Certificate"
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/gia.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php echo $media_url ?>images/cms/gia.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/gia.jpg" width="160" height="120" />
                </a>
                <a
                    title="AIGS Certificate"
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/AIGS_front_certificatet.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php echo $media_url ?>images/cms/AIGS_front_certificatet.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/AIGS_front_certificatet.jpg" width="160" height="120" />
                </a>

                <a
                    title="AIGS Certificate"
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/aigs.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php echo $media_url ?>images/cms/aigs.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/aigs.jpg" width="160" height="120" />
                </a>

                <a
                    title="C Dunaigre Lab"
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/cdunaigre_certificate.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php echo $media_url ?>images/cms/cdunaigre_certificate.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/cdunaigre_certificate.jpg" width="160" height="120" />
                </a>

                <a
                    title="EMIL Lab"
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/emillab_certificate1.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php echo $media_url ?>images/cms/emillab_certificate1.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/emillab_certificate1.jpg" width="160" height="120" />
                </a>

                <a
                    title="EMIL Lab"
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/emillab_certificate2.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php echo $media_url ?>images/cms/emillab_certificate2.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/emillab_certificate2.jpg" width="160" height="120" />
                </a>

                <a
                    title="Inter Gem Lab"
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/intergemlab_certificate.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php echo $media_url ?>images/cms/intergemlab_certificate.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/intergemlab_certificate.jpg" width="160" height="120" />
                </a>

                <a
                    title="Tokyo Gem Lab Certificate for Natural Ruby Gemstoneuniverse"
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/tokyo_gem_lab_certificate_for_ntural_ruby_gemstoneuniverse.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php echo $media_url ?>images/cms/tokyo_gem_lab_certificate_for_ntural_ruby_gemstoneuniverse.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/tokyo_gem_lab_certificate_for_ntural_ruby_gemstoneuniverse.jpg" width="160" height="120" />
                </a>

                <a
                    title="EGL Unheated Sapphire certificate Gemstoneuniverse"
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/egl_unheated_sapphire_certificate_gemstoneuniverse.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php echo $media_url ?>images/cms/egl_unheated_sapphire_certificate_gemstoneuniverse.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/egl_unheated_sapphire_certificate_gemstoneuniverse.jpg" width="160" height="120" />
                </a>

                <a
                    title="GIA Natural Pearl Certificate Gemstoneuniverse"
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/gia_natural_pearl_certificate_gemstoneuniverse.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php echo $media_url ?>images/cms/gia_natural_pearl_certificate_gemstoneuniverse.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/gia_natural_pearl_certificate_gemstoneuniverse.jpg" width="160" height="120" />
                </a>

                <a
                    title="GIA Tajik Ruby Certificate Gemstoneuniverse"
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/gia_tajik_ruby_certificate_gemstoneuniverse.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php echo $media_url ?>images/cms/gia_tajik_ruby_certificate_gemstoneuniverse.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/gia_tajik_ruby_certificate_gemstoneuniverse.jpg" width="160" height="120" />
                </a>

                <a
                    title="GII Certificate for Cats Eye Gemstoneuniverse"
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/gii_certificate_for_cats_eye_gemstoneuniverse.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php echo $media_url ?>images/cms/gii_certificate_for_cats_eye_gemstoneuniverse.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/gii_certificate_for_cats_eye_gemstoneuniverse.jpg" width="160" height="120" />
                </a>

                <a
                    title="GRS Certificate for Hig value Antique Sapphire Gemstoneuniverse"
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/grs_certificate_for_hig_value_antique_sapphire_gemstoneuniverse.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php echo $media_url ?>images/cms/grs_certificate_for_hig_value_antique_sapphire_gemstoneuniverse.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/grs_certificate_for_hig_value_antique_sapphire_gemstoneuniverse.jpg" width="160" height="120" />
                </a>

                <a
                    title="GRS Emerald Certificate Gemstoneuniverse"
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/grs_emerald_certificate_gemstoneuniverse.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php echo $media_url ?>images/cms/grs_emerald_certificate_gemstoneuniverse.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/grs_emerald_certificate_gemstoneuniverse.jpg" width="160" height="120" />
                </a>

                <a
                    title="The Gem and Pearl Testing Lab of Bahrain Natural Pearl Certificate Gemstoneuiverse"
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/the_gem_and_pearl_testing_lab_of_bahrain_natural_pearl_certificate_gemstoneuiverse.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php echo $media_url ?>images/cms/the_gem_and_pearl_testing_lab_of_bahrain_natural_pearl_certificate_gemstoneuiverse.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/the_gem_and_pearl_testing_lab_of_bahrain_natural_pearl_certificate_gemstoneuiverse.jpg" width="160" height="120" />
                </a>
            </p>
            <p style="text-align: justify;">
                To give you an idea of what value <strong>Gemstoneuniverse</strong> complete package from start (when you order your gem report) to end (when your customized talisman reaches you) delivers simply consider the cost of
                certification in this GIA certification fee schedule. Have a look at this chart for the charges for Certification and charges for add on certification such as origin, treatment etc.
            </p>
            <p style="text-align: center;">
                <a title="LAB_feeschedule_Ident_1210_" href="<?php echo $media_url ?>images/cms/lab_feeschedule_ident_1210_.jpg" target="_blank">
                    <img src="<?php echo $media_url ?>images/cms/lab_feeschedule_ident_1210_.jpg" alt="LAB_feeschedule_Ident_1210_" width="160" height="120" />
                </a>
            </p>
            <p style="text-align: justify;"><strong> The complete value of Certification, Appraisal, Insurance, hallmarking when calculated for one single gemstone would range anywhere from $250-$350/-. </strong></p>
            <p style="text-align: justify;">
                <strong>
                    It is our numbers and consistency that gets us volume discounts from the Laboratories which we forward to you as a
                    <span class="contentSubHead"> <a href="/recognition-and-gemstoneuniverse-value-addition.php" target="_blank">Gemstoneuniverse advantage</a></span> and not as freebies or discounts.
                </strong>
            </p>
            <p style="text-align: justify;"><strong> Your Total Shipping Charges Includes all this and is just not shipping. </strong></p>
            <p style="text-align: justify;">
                The bigger Value even than the selection and the certification is professional appraisal which you can read by clicking the next tab or by clicking
                <span class="contentSubHead"> <a href="/certification.php#page-3" target="_blank">here</a>. </span>
            </p>
            <p style="text-align: justify;">Sometimes a question that we get from some internet viewers that is relevant to this section is: <strong>Can I get a certificate of a particular Gem Lab?</strong></p>
            <p style="text-align: justify;">
                Yes that is Possible. Please see the information given above and the value it brings. Analyse the price of the gem that you are inclined to purchase and compare it with the data given below. If you are ok with the timelines
                and costs involved we can readily get it certified from your specified Gem Lab of choice.
            </p>
            <table border="1" cellspacing="4" cellpadding="2">
                <tbody>
                    <tr>
                        <td>Geographical Location</td>
                        <td>Nearest Testing Location for a major Gem Lab in Asia would be Bangkok-the world&rsquo;s coloured Gemstone Capital. As of 5th May 2020, GIA India does not test and certify coloured gemstones in India.</td>
                    </tr>
                    <tr>
                        <td>Certification costs</td>
                        <td>Approximate $200-$400 per Gemstone and Variety. For estimation see Lab fee schedule in the segment above.</td>
                    </tr>
                    <tr>
                        <td>Extra Certification Costs</td>
                        <td>Certification costs for specifying origin etc extra. GIA Charges $250-$500 per Gemstone depending on Gem Variety and carat weight</td>
                    </tr>
                    <tr>
                        <td>Time Taken by Lab for Certification</td>
                        <td>Approximate 8-12 weeks. Extra Charges for Rush Service.</td>
                    </tr>
                    <tr>
                        <td>Time Taken for Gem Transport to and from the Lab to India</td>
                        <td>4-8 weeks</td>
                    </tr>
                    <tr>
                        <td>Extra Charges for export procedures, shipping and Duties</td>
                        <td>As applicable and charged as per actuals</td>
                    </tr>
                </tbody>
            </table>
   </div>
    </div>
    
    
    <div  class="tab certifcatetacont" data-id="tab3">
       <div class="responsive-tabs-panel tabcontent">
            <div class="responsive-tab-title"></div>
            <h3>Independent Appraisal</h3>
            <p>
                <strong>
                    Without examination and approval of the Government of India appointed appraisal panel no package containing real and precious gemstones set in Gold or Silver can be shipped out of India. For this category of goods the
                    appraisal is mandatory as per the law.
                </strong>
            </p>
            <p>
                Once the certification is over and the Gemstone is set, there is an independent <strong>appraisal conducted for authenticity of goods and the price</strong> by a panel of experienced Gemologists and Jewellers appointed by
                the <em>Government of India and the Jewellers association</em>. This panel has eminent Gemologists and Jewellers on board who put their signature on documentation of the finished piece of Jewellery and Gemstone after
                examination.
            </p>
            <p>This ensures that the products are top class and there is <strong>NO QUESTION</strong> of under-invoicing/over-invoicing. Your product is appraised at the correct price and has value throughout life.</p>
            <p>
                Provided for your understanding is also a scanned copy of appraisal done by a Govt. Appraiser (a person who functions specifically in this capacity on an official post created by the Government of India, GOI) who gives his
                assessment along with Jewellers Association.
            </p>
            <p>Also presented is a sample invoice which carries every single detail of your transaction with Gemstoneuniverse, which will be sent to you. <strong>We advocate complete transparency and zero ambiguity.</strong></p>
            <p><strong> Other Major Benefits of Appraisal Include: </strong></p>
            <p><strong>Quality control:</strong> This ensures that your item is fully intact with no damage such as cracks etc. If the goods are damaged/ not up to the mark they are not appraised.</p>
            <p>
                <strong>Authenticity of Item:</strong> Even though we provide <a style="color: #cc8102; text-decoration: underline;" href="/certification.php#page-2" target="_blank">world class certification</a> you have the double
                confirmation from a professional board appointed by the Government.
            </p>
            <p>
                <strong>Fair Price:</strong> Independent Appraisal ensures that you pay a fair price for the goods and this is ratified by industry professionals appointed by the Government for consumer protection and prevention of fraud
                who have no commercial interests. This also ensures that there is no under invoicing/ over invoicing.
            </p>
            <p>
                <strong>Authenticity of Caratage of Precious Metals:</strong> You are ordering a precious item set in Gold and Silver. Using carat meter, weighing balance etc the official appraisal panel determines if the actual facts
                stated on the invoice match the actual product being shipped. You are assured of precious metal quality, Caratage, purity of metal and weight
            </p>
            <p>
                <strong>Safety of your product:</strong> Once your package has been examined, appraised and an appraisal document issued, your items/ goods are put in the box and packaged in front of the Superintendent of Customs and the
                members of the appraisal panel. Once the box is finally packaged the Government Wax Seal if affixed on the package that ensures that the appraised goods are in the package and no individual/ agency can open the package in
                transit and that the product is finally delivered to the customer.
            </p>
            <p>
                <strong>Insurance and appraisal in your country:</strong> You can use the appraisal document to insure your product in your country if you so will. You will be pleased to know that most of our goods our appraised at 100% or
                more than their value by registered and accredited appraiser because of the Gemstoneuniverse quality and unmatched price guarantee. (A qualified and certified professional as per the National Jewellers Association) and not a
                jeweller. An Appraiser will write the value of the goods on his/ her official letter head and will charge a fee for it. The appraisal document is accepted by the law. He/ She will not give a verbal opinion.
            </p>
            <p align="center">
                <a title="003 copy" href="<?php echo $media_url ?>images/cms/thumb/003_copy.jpg" target="_blank"> <img src="<?php echo $media_url ?>images/cms/thumb/003_copy.jpg" alt="003 copy" width="160" height="120" /> </a>
                <a title="002 copy" href="<?php echo $media_url ?>images/cms/independent-appraisal1.jpg')?>" target="_blank"> <img src="<?php echo $media_url ?>images/cms/thumb/002_copy.jpg" alt="002 copy" width="160" height="120" /> </a>
            </p>
            <p><strong>For Domestic Shipments there is no appraisal as per Indian Law. Only your invoice and certification are essential requirements for returns and refunds.</strong></p>
        </div>   
   </div>
    
    <div  class="tab certifcatetacont" data-id="tab4">
        <div class="responsive-tabs-panel tabcontent">
            <div class="responsive-tab-title"></div>
            <h3>Unmatched Price</h3>
            <p style="text-align: left;">
                Gemstoneuniverse wins Top Exporter Award for 10 Straight Years. To know more click
                <span class="contentSubHead"> <a href="https://www.gemstoneuniverse.com/bestgemstonecompany-gemstoneuniverse-topexporter-2019.php" target="_blank">here.</a></span>
            </p>
            <p style="text-align: justify;">
                We offer you natural gemstones with such <strong>exceptional clarity</strong> and <strong>lack of treatment</strong> that a Gemstone with equivalent clarity level and lack of treatment will be at least priced 4-6 times at
                majority of good and reputable vendors where also you are unlikely to find the range that you have at Gemstoneuniverse. Compare Gem Notes and Videos of 3000+ shipped out items at
                <span class="contentSubHead"> <a href="https://vimeo.com/gemstoneuniverse" target="_blank">Gemstoneuniverse Vimeo Channel</a></span> and the
                <span class="contentSubHead"> <a href="/blog" target="_blank">Gemstoneuniverse Blog</a></span>.
            </p>
            <p style="text-align: justify;">
                The <span class="contentSubHead"> <a href="/blog" target="_blank">Gemstoneuniverse Blog</a></span> has details of prices some of the items shipped out on a weekly basis since 2008. This has been done ensure transparency and
                to enable comparison. If you use the search box on the Blog you can also see the trends how the price range is varying year to year as per the shade, color, carat weight etc of the Gemstone.
            </p>
            <p style="text-align: justify;">The best way to evaluate is to view inventory at some local vendors and also at online vendors and compare.</p>
            <p style="text-align: justify;">
                <span class="contentSubHead"> <a href="/blog/natural-fine-planetary-talismans/buy-gemstones-crystals-online-difference/" target="_blank">A Real Gemstone</a></span> is never cheap; it is valuable, though you may great it a
                great value due to skills and expertise of seasoned Gemstone Professionals and <span class="contentSubHead"> <a href="/blog/value-additionthe-insider-the-gemstoneuniverse-advantage/" target="_blank">resources</a></span> that
                we at Gemstoneuniverse provide. At Gemstoneuniverse you also have value of your Gemstone throughout your <span class="contentSubHead"> <a href="/certification.php#page-8" target="_blank">life</a></span>.
            </p>
            <p style="text-align: justify;">
                We offer you great value because we source directly from the mines/mine owners, our own experience in the Gem Trade, negotiating skills, strategic partnerships and alliances and because of
                <span class="contentSubHead"> <a href="/certification.php#page-3" target="_blank">Government Instituted Appraisal Panel</a></span>.
            </p>
            <p style="text-align: justify;">
                We hate to harp on this but our <span class="contentSubHead"> <a href="/about.php" target="_blank">mission</a></span> is service to planetary gemology and our
                <span class="contentSubHead"> <a href="/about.php" target="_blank">vision</a></span> is to ensure that the efficacy and glory of this sacred science reaches all.
            </p>
            <p style="text-align: justify;">
                Real is Rare and depending on who you ask and there is no single correct price of a Coloured Gemstone unlike that of a electronic commodity such as a phone that can be manufactured in a factory. A
                <span class="contentSubHead"> <a href="/blog/natural-fine-planetary-talismans/buy-gemstones-crystals-online-difference/" target="_blank">real precious Gemstone</a></span> is unique, singular and exclusive and that&rsquo;s
                why - <strong>A Gem is for a Gem</strong> philosophy holds true.
            </p>
            <p style="text-align: justify;">
                Please read the link below Gem price per carat for more details. Whether it is an ecommerce website, a retail jeweller, a commission agent, the local jeweller, a high end fashion chain or a door to door vendor the cost of
                procurement for each of these agencies will be variable depending on their resources, skill sets, experience, range of operation etc. One of the important factors in pricing is also the culture and ability to negotiate.
                Click here for an interesting insight on <span class="contentSubHead"> <a href="/negotiating-skills-in-the-gemstone-trade.php" target="_blank">Gem Negotiation and Price of a Gemstone</a></span>.
            </p>
            <p style="text-align: justify;">
                <strong>
                    We deal in fine quality gemstones with extensive resources with zeal to delight our patrons. With our skills and expertise we want our winner to be winner on both the fronts- On the front of getting the benefits of
                    planetary Gem Therapy and on the economic and financial front of procuring a valuable Gemstone at a great price that has value throughout the life.
                </strong>
            </p>
            <p style="text-align: justify;">
                Some eminent experts and professionals are working together to make a software solution to accurately predict Gemstone prices but it is surely a very daunting task if not an impossible one just because of the sheer range of
                colour itself. The pricing in Diamond market is still predictable because of a limited shade of colour-primary shades of white) and limited clarity grades.
            </p>
            <p style="text-align: justify;">
                The word cheap or low cost comes in only when dealing on <span class="contentSubHead"> <a href="/pretty-baubles-or-gemstones.php" target="_blank">commercial quality stones</a></span> or instances of convenience such as stone
                dealt in <span class="contentSubHead"> <a href="/ratticaratconverter.php" target="_blank">Rattis</a></span>. The words discounts factor in only when carrying huge inventory requiring urgent liquidation, distress sales or
                desperation to make a presence in the market etc because the value of real precious Gemstones never devalues. It just appreciates.
            </p>
            <p style="text-align: justify;">Leaving all marketing hype we suggest you to go through the resources listed below and we can only say:</p>
            <p style="text-align: justify;">
                <strong> <em> If you can get a similar gemstone of equal quality at a lesser price from anywhere we shall buy 100 carats from you. </em> </strong>
            </p>
            <p style="text-align: justify;">
                Your Ultimate Guarantee is our <span class="contentSubHead"> <a href="/sterling-returns-refunds-policy.php" target="_blank">Lifetime Returns and Buy Back Facility</a></span> that we have honoured since the year 2000 under
                the Astro Journey Umbrella and since 2006 under the Gemstoneuniverse Umbrella.
            </p>
            <p style="text-align: justify;"><strong> Gemstoneuniverse Asia Pacific Division - Reach and Value </strong></p>
            <p style="text-align: justify;">
                <span class="contentSubHead"> <a href="/buyingdivision.php" target="_blank"> Buying Division</a> </span>
            </p>
            <p style="text-align: justify;"><strong> Price </strong></p>
            <p style="text-align: justify;">
                <span class="contentSubHead"> <a href="/pretty-baubles-or-gemstones.php" target="_blank"> Are you sure that your cheapest Gemstone is not the most expensive one. </a> </span>
            </p>
            <p style="text-align: justify;">
                <span class="contentSubHead"> <a href="/gemspricepercarat.php" target="_blank"> Gem Price per Carat-How Gemstones are Priced. </a> </span>
            </p>
            <p style="text-align: justify;">
                <span class="contentSubHead"> <a href="/rubies-soon-to-be-stuff-of-legends.php" target="_blank"> The World Ruby situation-Market Prices and trends of Ruby for Last 5 Years. </a> </span>
            </p>
        </div>    
   </div>
    
    <div  class="tab certifcatetacont" data-id="tab5">
       <div class="responsive-tabs-panel tabcontent">
            <div class="responsive-tab-title"></div>
            <h3>Insurance</h3>
            <p>
                Your package is also insured. Please go through the sample scanned insurance document provided for your understanding. There is due diligence at our end for we believe in not only the fine, precious talismans you order but
                in the value of hard work and flawless processing done at our end.
            </p>
            <p align="center">
                <a
                    title=""
                    class="thumbnail"
                    href="<?php echo $media_url ?>images/cms/thumb/r.jpg"
                    data-image-id=""
                    data-toggle="modal"
                    data-title=""
                    data-caption=""
                    data-image="<?php echo $media_url ?>images/cms/thumb/r.jpg"
                    data-target="#image-gallery"
                >
                    <img src="<?php echo $media_url ?>images/cms/thumb/r.jpg" alt="r" width="160" height="120" />
                </a>
            </p>
            <strong>* Special Duty Structure exists for the countries of UK, New Zealand and UAE. This is a minor duty and is usually lower than 5% of the total package value. </strong>
        </div>   
   </div>
    
    <div  class="tab certifcatetacont" data-id="tab6">
          <div class="responsive-tabs-panel tabcontent">
            <div class="responsive-tab-title"></div>
            <h3>Vedic Consecration</h3>
            <p>Consecration and energization of the Gemstone in your name, birth star is a vital and essential part that plays a major role in Vedic Gemstone Therapy. Your Gemstone is consecrated and energized as per full Vedic rites.</p>
            <p class="art-video" align="center">
                <iframe src="//player.vimeo.com/video/81098167" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </p>
            <p><a style="color: #cc8102; text-decoration: underline;" href="/consecration-of-your-talisman.php"> Consecration of your talisman - Encrypting your spiritual DNA </a></p>
        </div>
   </div>
    
    <div  class="tab certifcatetacont" data-id="tab7">
       <div class="responsive-tabs-panel tabcontent">
            <div class="responsive-tab-title"></div>
            <h3>Hallmarking</h3>
            <p>Gold used for setting of the Gemstones is certified <strong>22 KDM Gold/ 18 KDM Gold</strong> . There is a hallmark for 22 KDM/ 18KDM on all www.gemstoneuniverse.com gold rings, pendants and talismans.</p>
            <p>Silver used in setting of gemstones is <strong>Sterling Silver</strong> - 92.5 grade, the purest form for ornamental silver.</p>
            <p>Your Gemstones will be appraised at a minimum of 3 levels of Government of India authorities and will carry an independent lab certification before being dispatched to you.</p>
            <p>
                Each Gemstone after going through the stringent process of Selection, Appraisal and Certification is finally insured and all duties are paid to ensure that your precious Planetary Gemstone reaches you in mint condition. Each
                package after appraisal and certification is wax sealed to ensure that no one else except you can open the package.
            </p>
        </div>   
   </div>
    
    <div  class="tab certifcatetacont" data-id="tab8">
        <div class="responsive-tabs-panel tabcontent">
            <div class="responsive-tab-title"></div>
            <div>
                <p style="text-align: center;">
                    <img src="media/wysiwyg/new-gsu5.jpg" class="img-responsive" style="margin: 0 auto;" alt="" /><br />
                    <br />
                </p>
                <p align="center">
                    <strong>Before Copying &amp; Pasting... Click <a href="http://www.ehow.com/info_8335872_consequences-dmca-violation.html" target="_blank">here</a>.</strong><strong></strong>
                </p>
                <p align="center"><strong>Gemstoneuniverse-Delivering Unmatched Excellence and Values for 2 Decades</strong></p>
                <p align="center">
                    <strong><em>A Promise Kept and Honoured for 20 Years</em></strong>
                </p>
                <p>
                    Gemstoneuniverse &amp; Astro Journey take great pride in offering you the best refund and exchange policy available in the Industry so that you can buy with total peace of mind
                    <strong>and have assurance of value of your precious product. </strong>
                </p>
                <p>
                    With 20 years focus on Gem Therapy, this policy is formulated to give the best in class assurance so that your focus is completely on the success of <a href="/certification.php">100 % Error Free Gem Therapy.</a><br />
                    <br />
                </p>
                <p align="center"><strong>Within 30 days of Delivery (Days are counted from the date of delivery of the product)</strong></p>
                <div class="table-responsive">
                    <table border="1" cellspacing="1" cellpadding="0" t>
                        <tbody>
                            <tr>
                                <td style="text-align: center; padding: 5px;"><strong>Country/ Product</strong></td>
                                <td style="text-align: center; padding: 5px;"><strong>India</strong></td>
                                <td style="text-align: center; padding: 5px;"><strong>United States</strong></td>
                                <td style="text-align: center; padding: 5px;"><strong>All Other countries</strong></td>
                                <td style="text-align: center; padding: 5px;"><strong>Remarks</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left; padding: 5px;" valign="top">Loose Gemstones (all)</td>
                                <td style="text-align: center; padding: 5px;" valign="top">100% of Product Value. Shipped Back to us by Insured Speed post to Bangalore, India</td>
                                <td style="text-align: center; padding: 5px;" valign="top">100% of Product Value. Shipped Back to us by Insured Courier UPS/ FedEx/ USPS to our facilitation center in the United States</td>
                                <td style="text-align: center; padding: 5px;" valign="top">100% of Product Value. Shipped Back to us by Insured Speed post to Bangalore, India</td>
                                <td style="text-align: center; padding: 5px;" valign="top">Product should be sent back in an unused condition with all certification/s, original invoice.</td>
                            </tr>
                            <tr>
                                <td style="text-align: left; padding: 5px;" valign="top"><strong>Gemstones set in Gold and Silver as rings, Pendants and Talismans</strong></td>
                                <td style="text-align: center; padding: 5px;" valign="top">Same as Above</td>
                                <td style="text-align: center; padding: 5px;" valign="top">Same as Above</td>
                                <td style="text-align: center; padding: 5px;" valign="top">Same as Above</td>
                                <td style="text-align: center; padding: 5px;" valign="top">
                                    <p>Same as Above</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p><strong>Notes:</strong></p>
                <p>
                    - This Policy is registered with Tax Authorities, Legal agencies and no refunds will be entertained in absence of Original Invoice with company seal.
                    <strong>No further communication in this matter shall be entertained if any document is missing</strong>. For legal compliance we have to submit the original invoice as proof of refund.
                    <strong>We request you to keep your documents safely.</strong>
                </p>
                <p>What is not refunded?</p>
                <p>- Shipping, handling and appraisal charges (If applicable).</p>
                <p>- Labour charges for making of rings/ pendants if any.</p>
                <p>- On Domestic Returns from India there will be a deduction of 3% on order value that accounts for the GST (Goods and Services Tax).</p>
                <p>- Card Charges/ Payment Gateway charges that you pay to the merchant/bank to process your order.</p>
                <p align="center"><strong>From Day 31 to Lifetime (No refund only Exchange)</strong></p>
                <p align="center">
                    <strong>Lifetime Upgrade Facility</strong><br />
                    <br />
                    <strong>You can upgrade to a new Gem/S.&nbsp; Applicable only if the new Purchase is equivalent or more in Value than the original Purchase.</strong> <br />
                    <br />
                </p>
                <div class="table-responsive">
                    <table border="1" cellspacing="0" cellpadding="2">
                        <tbody>
                            <tr>
                                <td style="text-align: center; padding: 5px;"><strong>Country/ Product</strong></td>
                                <td style="text-align: center; padding: 5px;"><strong>India</strong></td>
                                <td style="text-align: center; padding: 5px;"><strong>United States</strong></td>
                                <td style="text-align: center; padding: 5px;"><strong>All Other countries</strong></td>
                                <td style="text-align: center; padding: 5px;"><strong>Remarks</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left; padding: 5px;" valign="top">Loose Gemstones (all)</td>
                                <td style="text-align: center; padding: 5px;" valign="top">No Refund</td>
                                <td style="text-align: center; padding: 5px;" valign="top">No Refund</td>
                                <td style="text-align: center; padding: 5px;" valign="top">No Refund</td>
                                <td style="text-align: center; padding: 5px;" valign="top">No Refund</td>
                            </tr>
                            <tr>
                                <td style="text-align: left; padding: 5px;" valign="top"><strong>* Organic Gemstones Natural Pearl, Red Coral, White Coral set in Gold and Silver as rings, Pendants and Talismans</strong></td>
                                <td style="text-align: center; padding: 5px;" valign="top">No Refund</td>
                                <td style="text-align: center; padding: 5px;" valign="top">No Refund</td>
                                <td style="text-align: center; padding: 5px;" valign="top">No Refund</td>
                                <td style="text-align: center; padding: 5px;" valign="top">No Refund</td>
                            </tr>
                            <tr>
                                <td style="text-align: left; padding: 5px;" valign="top"><strong>**Ruby, Yellow Sapphire, Diamond, White Sapphire, Blue Sapphire</strong></td>
                                <td style="text-align: center; padding: 5px;" valign="top">75% of Invoice Value subject to Gem condition. Shipped to Bangalore India by Insured Speed Post</td>
                                <td style="text-align: center; padding: 5px;" valign="top">75% of Invoice Value subject to Gem condition. Shipped to Bangalore India by Insured Speed Post</td>
                                <td style="text-align: center; padding: 5px;" valign="top">75% of Invoice Value subject to Gem condition. Shipped to Bangalore India by Insured Speed Post</td>
                                <td style="text-align: center; padding: 5px;" valign="top">
                                    Product should be sent back with all certification/s, original invoice. In case of missing original invoice/certification no exchange request would be entertained. Hence Please keep your documents safely
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left; padding: 5px;" valign="top"><strong>***Red Garnet, Hessonite Garnet, Cat&rsquo;s Eye Chrysoberyl, Moonstone, Peridot, Heliodor, Golden Beryl, Iolite, Amethyst</strong></td>
                                <td style="text-align: center; padding: 5px;" valign="top">50% of Invoice Value subject to Gem condition. Shipped to Bangalore India by Insured Speed Post</td>
                                <td style="text-align: center; padding: 5px;" valign="top">50% of Invoice Value subject to Gem condition. Shipped to Bangalore India by Insured Speed Post</td>
                                <td style="text-align: center; padding: 5px;" valign="top">50% of Invoice Value subject to Gem condition. Shipped to Bangalore India by Insured Speed Post</td>
                                <td style="text-align: center; padding: 5px;" valign="top">
                                    Product should be sent back with all certification/s, original invoice. In case of missing original invoice/certification no exchange request would ne entertained. Hence Please keep your documents safely
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p align="center">&nbsp;</p>
                <p><strong>What is not refunded?</strong></p>
                <p>- Shipping, handling and appraisal charges (If applicable).</p>
                <p>- Labour charges for making of rings/ pendants if any.</p>
                <p>- On Domestic Returns from India there will be a deduction of 3% on order value that accounts for the GST (Goods and Services Tax).</p>
                <p>- Card Charges/ Payment Gateway Charges that you pay to the merchant/ Bank to process your order.</p>
                <p>* Organic Gemstones are very soft on the Moh&rsquo;s Scale. These can waste with usage and hence no return and refund on organic Gemstones.</p>
                <p>*Terms &amp; Conditions of refund and exchange:</p>
                <p><strong>a.</strong> Refunds will be made in the currency of purchase</p>
                <p>
                    <strong>b.</strong> For purchases within India the refund will be made by an account payee cheque or bank transfer and for products delivered to other countries the refund will be made by bank transfer only. For refund/
                    exchange within 6 months of purchase the funds can be reverted back to the credit/ debit card that you have used to make the purchase.
                </p>
                <p>
                    <strong>c.</strong> Depending on the value and currency of the refunds it may take between 30-60 days from date of approval of refunds for the funds to reach you. This requires submission of original invoice and
                    documents to the Tax authorities and the RBI in case the payment has to be made in foreign currency.
                </p>
                <p><strong>d.</strong> Exchange should be for a product of equal or higher value. You can buy any product of your choice and it does not necessarily have to be from the same Gem family.</p>
                <p><strong>e.</strong> Refund or Exchange is not available for products that have been altered and/or repaired, taken out of original settings or cracked.</p>
                <p><strong>f.</strong> The adjustment in exchange value for wear &amp; tear and damages, if any, will be arrived at by our Appraisers post inspection of the product.</p>
                <p><strong>g.</strong> Gold or Silver purchased from us will be valued for exchange at the price published by the Jewelers&rsquo; Association, Bangalore on the day of exchange</p>
                <p><strong>h.</strong> For exchanges-applicable taxes, labor charges, wastage, bank charges, credit card charges, appraisal charges, shipping and insurance charged on the original purchase are non-refundable</p>
                <p><strong>I.</strong> Cost of return shipping &amp; insurance will be borne by the Client</p>
                <p>
                    <strong>j.</strong>
                    <strong>
                        No return/ refund/ exchange if original invoice and certification is missing. These have to be given in original as per directives of the law due to the precious nature of these goods and involvement of foreign
                        currency etc.
                    </strong>
                </p>
                <p>
                    <strong>
                        Please keep your documents safely. No further communication is entertained in this regard in case of missing original invoice and certificate/s. This rule is mandatory and we shall not be able to do anything in this
                        regard due to laws and policies.
                    </strong>
                </p>
                <p><strong>Process for Refund or Exchange</strong></p>
                <p><strong>a.</strong> Please send us an email requesting for a refund.</p>
                <p><strong>b.</strong> Do provide all the details asked for and attach pictures of the products and documents if requested ( Only if Requested)</p>
                <p><strong>c.</strong> We will revert to you within 2 working days with a Return Authorization Number (RAN)</p>
                <p><strong>d.</strong> Follow the instructions received with the Return Authorization Number (RAN) and ship us the product along with the original documents and invoice.</p>
                <p><strong>e.</strong> On receipt of the shipment, we will inspect the product and confirm the refund/exchange and the value of the refund/exchange by email.</p>
                <p><strong>f.</strong> If you are exchanging for product of higher value, you will now need to make the payment for the differential amount and communicate the same to us.</p>
                <p><strong>g.</strong> Once the process is completed we will communicate the refund or shipping details (as applicable) to you</p>
                <p><strong>So are you ready to enjoy... </strong></p>
                <ul class="soareyoureadey">
                    <li>World Class Recommendation by <a href="/team.php">top Astrologers and Planetary Gemologists.</a></li>
                    <li>
                        World Class precious Gemstone offered to you at 1/4th-1/6th of the price from the choicest mines all over the world? Do you want to enjoy Gemstoneuniverse <a href="/certification.php">unmatched price guarantee.</a>
                    </li>
                    <li>World Class <a href="/certification.php">certification</a> and <a href="/certification.php">Appraisal</a> that ensures that your gemstone has value throughout your lifetime?</li>
                    <li>A remedial measure that give you <a href="/impact-of-jyotish-gemstones.php">tangible and quantifiable gains?</a></li>
                </ul>
                <p align="center">
                    <strong>
                        If your answer is YES, Then <br />
                        We welcome YOU to the Gemstoneuniverse Family!!!
                    </strong>
                </p>
                <p>* This policy is subject to change without prior notice in case of policy changes by the Government or directives issued by financial or statutory bodies.</p>
                <p>
                    <a href="/blessings-of-the-dalai-lama"><strong>Our Credentials </strong></a>
                </p>
                <p>
                    <a href="/about.php"><strong>About Us </strong></a>
                </p>
                <p>&nbsp;</p>
                <p align="center">** <strong>Gemstoneuniverse reserves the right to change this policy at any time. The rights of the customer will be governed by the policy at the time of purchase.</strong></p>
                <p>*** Arbitration in case of dispute will be in Court in Bangalore, India.</p>
            </div>
        </div>  
   </div>
    
</div>

<script>
require(['jquery'], function ($) {
    $(document).ready(function(){ 
        $('.tab-a').click(function(){  
          $(".tab").removeClass('tab-active');
          $(".tab[data-id='"+$(this).attr('data-id')+"']").addClass("tab-active");
          $(".tab-a").removeClass('active-a');
          $(this).parent().find(".tab-a").addClass('active-a');
         });
    });
     if ($(window).width() < 767) {
         $('.certificationtabing .tab-menu').hide();
            $('.certificationtabing .pleaseselect').click(function(e){ 
                e.stopPropagation();
                $('.certificationtabing .tab-menu').slideToggle();
        });
     }
});
</script>


<style>
    .certificationtabing .tab{display: none;}
    .certificationtabing .tab-active{display: block;}
    .certificationtabing ul { list-style: none;  padding: 0; margin: 0; clear: both;  overflow: hidden;  width: 36%;
    float: left; border-right: 0px;}
    .certifcatetacont {float: left; width: 64%; padding: 10px 20px; border: solid 1px #ddd;}
    .certificationtabing ul li{float: none; margin: 0; line-height: normal; }
    .certificationtabing ul li a.tab-a {font-size: 16px; padding: 15px 20px; color: #000 !important; display: block; border: solid 1px #ddd;}
    .certificationtabing ul li a.tab-a:hover {text-decoration: none;}
    .certificationtabing ul li a.tab-a.active-a {background: #b86b03;  color: #fff !important;}
    .pleaseselect {display: none;}
    @media (max-width: 767px) {
        .pleaseselect {display: block;}
        .certificationtabing .pleaseselect { background: #eee; border: solid 1px #ddd; padding: 10px;  font-size: 16px;
    padding-left: 20px}
        .certificationtabing  .tab-menu ul {float: none; width: 100%; margin-bottom: 20px;}
        .certifcatetacont  {width: 100%; margin-top: 10px;}
        
    }
</style>