<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

?>
<?php
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);

?>

<?php 
 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
 $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
 
  

?>
<?php if (!$_productCollection->count()) :?>
    <div class="message info empty"><div><?= $block->escapeHtml(__('We can\'t find products matching the selection.')) ?></div></div>
<?php else :?>

        

     

 
   
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>


    <?php //$current_url=  $_SERVER['REQUEST_URI'];
 
   //$a=explode("=",$current_url);
    //$products_url = isset( $a[1]) ?  $a[1] : null;

    if(isset($_GET['product_id'])){

           $product_id = $_GET['product_id'];

    if($product_id){
       $product_id;
      $product = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);
      
    ?>
    <?php if($product->getName()){ ?>
    <div class="rign_design_strip">

          <div class="pr_image"><img src="<?php echo $storeManager->getStore()->getBaseUrl(); ?>/media/catalog/product/<?php echo  $product->getImage(); ?>" width="58px"></div>
          <div class="ringadddetails">
              <span class="text">Selecting ring for the gem</span>
              <span class="name"><?php echo $product->getName();  ?></span> 
              <span class="sku"><?php echo $product->getSku(); ?></span>
        </div>
    </div>

<?php } } } ?>

    <div class="products wrapper <?= /* @noEscape */ $viewMode ?> products-<?= /* @noEscape */ $viewMode ?>">
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product) :?>
            <li class="item product product-item">
                <div class="product-item-info" data-container="product-<?= /* @noEscape */ $viewMode ?>">
                    <?php
                    $productImage = $block->getImage($_product, $imageDisplayArea);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?= $block->escapeUrl($_product->getProductUrl()) ?>"
                       class="product photo product-item-photo"
                       tabindex="-1">
                        <?= $productImage->toHtml() ?>
                    </a>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?= $block->escapeUrl($_product->getProductUrl()) ?>">
                                <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getSku(), 'name') ?>

                            </a>
                        </strong>
                       
                         
                        <?php 
                           if(!$category=='') { 
                         $categoryId= $category->getId();

                        if($categoryId==46 || $categoryId==47 || $categoryId==11 || $categoryId==9 || $categoryId==7 || $categoryId==12 || $categoryId==10){  ?>
                        <div class="price-grid productgrid ringcategorycustom">
                            <div class="innersecton">
                                <div class="list">
                                    <div class="price-itm">
                                        <p>Total Price</p>
                                        <span class="center-block">
                                            <span class="price">
                                                <?php   
                                                 $price= $_product->getPrice();
                                                  echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false);?>
                                            </span>
                                        </span>   
                                    </div>
                                </div>
                            </div>
                        </div>

                        <?php }  else { 
                               
                            
                            ?> 
                       
                       <div class="price-grid productgrid">
                            <div class="innersecton">
                                <div class="list">
                                    <div class="price-itm">
                                        <p>WT.(Carats)</p>
                                        <span class="center-block">
                                            <span class="price">
                                                <?php echo number_format($_product->getWeight(), 4)."\n"; ?>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="list">
                                    <div class="price-itm">
                                        <p>Price/Carat</p>
                                        <span class="center-block">
                                            <span class="price">
                                               <?php  $price_carat= $_product->getPriceCarat(); 
                                                   echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price_carat,true,false);      
                                                ?>
                                            </span>
                                        </span>                                       
                                    </div>
                                </div>
                                <div class="list">
                                    <div class="price-itm">
                                        <p>Total Price</p>
                                        <span class="center-block">
                                            <span class="price">
                                                <?php   
                                                 $price= $_product->getPrice();

                                                 echo $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($price,true,false); 

                                                 ?>
                                            </span>
                                        </span>   

                                    </div>
                                </div>
                            </div>
                        </div>
                     


                        <?php } } ?>
                        <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                        
                        <?php if ($_product->isAvailable()) :?>
                            <?= $block->getProductDetailsHtml($_product) ?>
                        <?php endif; ?>

                        <div class="product-item-inner">
                            <div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $block->escapeHtmlAttr($position) : '' ?>>
                                <div class="actions-primary"<?= strpos($pos, $viewMode . '-primary') ? $block->escapeHtmlAttr($position) : '' ?>>
                                    <?php if ($_product->isSaleable()) :?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>

                                        <?php 
                                           if(!$category=='') {
                                            $categoryId= $category->getId();
                                            if($categoryId == 28 || $categoryId==29 || $categoryId==30 || $categoryId==31 || $categoryId==32 || $categoryId==33 || $categoryId==34 || $categoryId==35 || $categoryId==36 || $categoryId==37 || $categoryId==38 || $categoryId==39 || $categoryId==40 || $categoryId==41 || $categoryId==42 || $categoryId==43  || $categoryId=65) { ?>  

                                        
                                        <input type="button" onclick="location.href='<?php echo $_product->getProductUrl(); ?>?required_msg=yes';" value="Add To Cart" />
                                         <?php }  else{ ?>

                                        <form data-role="tocart-form"
                                              data-product-sku="<?= $block->escapeHtmlAttr($_product->getSku()) ?>"
                                              action="<?= $block->escapeUrl($postParams['action']) ?>"
                                              method="post">
                                            <input type="hidden"
                                                   name="product"
                                                   value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
                                            <input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
                                                   value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                            <?= $block->getBlockHtml('formkey') ?>
                                            <button type="submit"
                                                    title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>"
                                                    class="action tocart primary">
                                                <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                            </button>
                                        </form>
                                        <?php } } ?>
                                    <?php else :?>
                                        <?php if ($_product->isAvailable()) :?>
                                            <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                        <?php else :?>
                                            <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <div data-role="add-to-links" class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $block->escapeHtmlAttr($position) : '' ?>>
                                    <?php if ($addToBlock = $block->getChildBlock('addto')) :?>
                                        <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </li>
            <?php endforeach; ?>
        </ol>
    </div>
    <?= $block->getToolbarHtml() ?>
     <?php 
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
            if(!$category==''){ 
            $cat = $category->getData('custom_attribute');

            if(!$cat==''){   ?>
        

    <div class="custom_category_content">
       <?php  echo $cat; ?>
    </div>
    <?php } }  ?>
    <?php if (!$block->isRedirectToCartEnabled()) :?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $block->escapeJs($_product->getSku()) ?>"
                }
            }
        }
        </script>
    <?php endif; ?> 
<?php endif; ?>
 <?php //} ?>