<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$getBaseUrl = $this->getBaseUrl(); 

?>
 

<div class="row">  
	<div class="headerbefore">
		<div class="headertopleft">
            <ul>
                <li>
                    <span><img src='<?php echo $this->getViewFileUrl('images/callicon.png'); ?>' alt="phone"></span>
                    CALL +91-80-25216611 (WORLDWIDE), 1-888-864-1187 (USA)
                </li>
<!--
                <li>
                    <span><img src='<?php //echo $this->getViewFileUrl('images/callicon01.png'); ?>' alt="phone"></span>
                    1-888-864-1187 (USA)
                </li>
-->
            </ul>
        </div>
        <div class="headertopright">
        	<ul class="nav navbar-nav top-right-nav pull-right right-menu-dropdown">
                <li>
                    <a href="<?php echo $getBaseUrl; ?>about.php">
                        <span><img src='<?php echo $this->getViewFileUrl('images/aboutus-icon.png'); ?>' alt="About"></span>
                        About Us
                    </a>
                </li>
                <li><a href="<?php echo $getBaseUrl; ?>faqs">FAQS</a></li>
                <li><a href="<?php echo $getBaseUrl; ?>contact-gemstoneuniverse.php">Contact Us</a></li>
                <li><a href="<?php echo $getBaseUrl; ?>gemstonearticles/guide-to-best-gemstone-website-online">Why Us</a></li>
                <li>
                    <a href="<?php echo $getBaseUrl; ?>sterling-returns-refunds-policy.php">
                        <span><img src='<?php echo $this->getViewFileUrl('images/lifetime_icon.png'); ?>' alt="Lifetime"></span>
                        Lifetime Exchange
                    </a>
                </li>
                <li>
                    <a href="<?php echo $getBaseUrl; ?>testimonials">
                        <span><img src='<?php echo $this->getViewFileUrl('images/lifetime_icon.png'); ?>' alt="Lifetime"></span>
                        Testimonials
                    </a>
                </li>
                <li>
                    <a href="<?php echo $getBaseUrl; ?>in-the-media">
                        <span><img src='<?php echo $this->getViewFileUrl('images/lifetime_icon.png'); ?>' alt="News"></span>
                        In News
                    </a>
                </li>
        		<!-- <li class="dropdown ">
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src='<?php echo $this->getViewFileUrl('images/inr-icon.png'); ?>' alt="INR">
                        Currency:USD
        				<span class="caret"></span>
        			</a>
        			<ul class="dropdown-menu" role="menu">
		               <li><a href="#">INR</a></li>
		           		<li><a href="#">USD</a></li>
                   </ul>
        		</li> -->

        		<li class="dropdown mr-3">
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src='<?php echo $this->getViewFileUrl('images/usericon.png'); ?>' alt="account">
                        Account 
        				<span class="caret"></span>
        			</a>
        			<ul class="dropdown-menu" role="menu">
		               	<li><a href="<?php echo $getBaseUrl; ?>customer/account/">My Account</a></li>
		           		<li><a href="<?php echo $getBaseUrl; ?>checkout/cart/">My Cart</a></li>
		           		<li><a href="<?php echo $getBaseUrl; ?>checkout">Checkout</a></li>
		           		<li><a href="<?php echo $getBaseUrl; ?>customer/account/create/">Register</a></li>
		           		<li><a href="/blog">Blog</a></li>
		           		<?php 
                          $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                          $customerSession = $objectManager->create('Magento\Customer\Model\Session');
                         if($customerSession->isLoggedIn()) : ?>
                    <span class="header_account_link_list logout">
                     <a class= "header_account_link" href="<?php echo $this->getUrl("customer/account/logout");?>"><?php echo __('Logout')?></a>
                    </span>
               <?php else: ?>
                    <span class="header_account_link_list login">
                        <a class= "header_account_link" href="<?php echo $this->getUrl("customer/account/login");?>"><?php echo __('Sign in')?></a>
                    </span>
                <?php endif;?>
		        	</ul>
		        
        		</li>
        	</ul>
        </div>
	</div>
</div>