<div class="mainnav_wrapper hidden-xs hidden-sm">
  <div class="container">     
    <!-- start navigation -->
		<section class="navigation">
	      <!-- <section class="mtext">GEMSTONE UNIVERSE</section>
	      <section class="micon">GEMSTONE </section> -->
	      <?php
			echo $this->getLayout()
			->createBlock('Magento\Cms\Block\Block')
			->setBlockId('navbar_menu_dekstop')
			->toHtml();
			?>
	    </section>
    <!-- end navigation -->
  </div>
</div>