<?php 


echo "Orange Mantra"; 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_page_config = $objectManager->get('Magento\Framework\View\Page\Config');

echo $_meta_title = strip_tags($_page_config->getTitle()->getShort());
echo $_meta_description = strip_tags($_page_config->getDescription());
$_meta_keywords = strip_tags($_page_config->getKeywords());

?>

    <!-- <meta property="og:site_name" content="gemstoneuniverse.com"/> 
    <meta property="og:type" content="website" />
	<meta property="og:title" content="<?php echo $_meta_title ?>"/>
	<meta property="og:url" content="<?php echo "https://". $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'];?>"/>
	<meta property="og:description" content="<?php echo $_meta_description;  ?>"/> 
	<meta property="og:keywords" content="<?php echo $_meta_keywords;  ?>"/>
	<meta property="og:image" content="/media/wysiwyg/Gemstoneuniverse.com-The-Gold-Standard-in-Planetary-Gemology20.jpg"/>  
 -->

<?php

//echo "dj";
	/*$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current product
    
	if ($product) {
	$helperImport  = $objectManager->get('\Magento\Catalog\Helper\Image');
	$imageUrl      = $helperImport->init($product, 'product_page_image_small')
			                 ->setImageFile($product->getSmallImage()) // image,small_image,thumbnail
			                 ->resize(380)
			                 ->getUrl(); */

 //echo $product->getMetaDescription();

  //$product->getMetaTitle();
   //echo $product->getMetaDescription();
			                 ?>
 
       

    <?php// }  ?>



	