/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {

 border:0;
 outline:0;
 background:transparent;
}



article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
 display:block;
}

nav ul {
 list-style:none;
}

blockquote, q {
 quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}

a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
 text-decoration:none;
}

/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}

/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000;
 font-style:italic;
 font-weight:bold;
}

del {
 text-decoration: line-through;
}

abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}

table {
 border-collapse:collapse;
 border-spacing:0;
}

/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0;
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}

input, select {
 vertical-align:middle;
}


h3 { font-size:28px; font-weight:700; color:#333; padding:10px 0 }

h4 { font-size:18px; font-weight:600; color:#555; padding:10px 0 }

h5 { font-size:16px; font-weight:600; color:#555; padding:10px 0 }



/*Main Style Sheet*/
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }




.content_wrapper { width:100%; padding:20px 0 }

.inner_container { max-width:1250px; margin:0 auto; padding:0 15px; }

/*Left Side*/

.main_wrapper { width:70%; float:left; overflow:hidden; word-wrap: break-word; }

/*Main Slider*/

.main_wrapper .main_slider { width:100%; background:#fff; padding:20px; box-sizing:border-box; margin-bottom:30px; border-bottom:#f3f3f3 3px solid }

.main_wrapper .main_slider .item { position:relative; }

.main_wrapper .main_slider .item .title { background:url(../images/slide-cap-bg.png) repeat-x; width:100%; height:200px; padding:25px; box-sizing:border-box; text-align:center; position:absolute; left:0; bottom:0px; }

.main_wrapper .main_slider .item .title .title_cap { width:100%; text-align:center; position:absolute; left:0; bottom:30px; }

.main_wrapper .main_slider .item .title .title_cap h1 { font-size:24px; font-weight:400; color:#fff; text-transform:uppercase; line-height:30px; }

.main_wrapper .main_slider .item .title .title_cap a { color:#fff; }

.main_wrapper .main_slider .item .title .title_cap span { font-size:13px; font-weight:400; color:#fff; text-transform:uppercase; }

.main_wrapper .main_slider .item .title .title_cap span.divider { display: block; width: 18px; height: 1px; margin: 15px auto; background-color: #fff; }

/*Blog Post Feed*/

.main_wrapper .blog_post_feed { width:100%; background:#fff; padding-bottom:20px; box-sizing:border-box; margin-bottom:20px; }

.main_wrapper .blog_post_feed.grid { width:46%; margin:12px; display:inline-block; vertical-align:top; background:#fff; padding:20px; box-sizing:border-box; margin-bottom:30px; border-bottom:#f3f3f3 3px solid; }

.main_wrapper .block-image {
    background-color: #F3F3F3;
    position: relative;
}

.main_wrapper .blog_post_feed.grid .block-image {
    background-color: #F3F3F3;
    position: relative;
    float: left;
    width: auto;
    height: auto;
    overflow: hidden;
}

.main_wrapper .block-image .thumb {
    width: 100%;
    height: áuto;
    position: relative;
    display: block;
    z-index: 2;
    overflow: hidden;
    border: solid 1px #777;
    padding: 5px;
}

.main_wrapper .block-image .thumb img { width:100%; height:auto }

.main_wrapper .block-image .thumb:hover .thumb-overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(40,35,40,0.3);
        -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; }


.main_wrapper .blog_post_feed article h2 {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.4em;
    font-weight: 500;
    color: #000;
    padding-bottom:10px;
    text-transform:uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

.main_wrapper .blog_post_feed article { float:left; width:100%; margin-left:0px; padding-top: 20px; }

.main_wrapper .blog_post_feed.grid article { float:left; width:100%; margin-left:0px; padding-top:12px; }

.main_wrapper .blog_post_feed.grid article h2 { font-size:16px; line-height: 1.5em; }

.main_wrapper .blog_post_feed article h2 a { color:#000 }

.main_wrapper .blog_post_feed article h2 a:hover { color:#ff7200; text-decoration: none;}

.main_wrapper .blog_post_feed article .date { font-size:15px; color:#ff7200; text-transform:uppercase; line-height:22px;     font-family: 'Roboto Condensed', sans-serif; }

.main_wrapper .blog_post_feed article .detail { padding:8px 0; font-size:14px; color: #000; line-height:24px; }

/*Pagination*/

.main_wrapper .pagination { width:100%; padding:20px 0 }

.main_wrapper .pagination ul { list-style:none; padding:0; margin:0; text-align:center; }

.main_wrapper .pagination ul li { display:inline-block; vertical-align:top; margin:0 3px; }

.main_wrapper .pagination ul li a {  }

.main_wrapper .pagination ul li a.next::before { font-family: "FontAwesome"; font-size: 14px; color: #696E74; content: "\f054"; font-weight:normal; }

.main_wrapper .pagination ul li a { background: #FFF;  display:block; text-align: center; font-size: 14px; font-weight:600; color: #656462; position: relative; line-height:32px; text-align:center; padding:3px 15px; }

.main_wrapper .pagination ul li a.active { background: #446CB3; color: #fff; }

.main_wrapper .pagination ul li a:hover.active { background:#446CB3; color:#fff; }

.main_wrapper .pagination ul li a:hover { background:#DFDFE1 }

.main_wrapper .pagination ul li a:hover.next::before { color:#000; font-weight:normal; }

.main_wrapper .pagination ul li:last-child a:hover { color:#000 }

/*Detail Page*/

.main_wrapper .blog_post_feed.detail { width:100%; }

.main_wrapper .blog_post_feed.detail article { float:none; width:100%; margin-left:0px; }
.main_wrapper .blog_post_feed.detail article h1 {font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: left;
    color: #000;
    margin: 0;
}

.main_wrapper .blog_post_feed.detail article p { padding:10px 5px; font-size:14px; color: #000; line-height:24px;  width: auto !important; text-align: center;}
.main_wrapper .blog_post_feed.detail article p a {color: #ff7200;}
.main_wrapper .blog_post_feed.detail article p em {font-style: normal !important;}
.main_wrapper .blog_post_feed.detail article p img {float: none; margin: 0; display: block; margin: auto;}
.main_wrapper .blog_post_feed.detail article p strong {    color: #000;
    line-height: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal; font-size: 18px;}

.main_wrapper .blog_post_feed.detail ul { list-style:none; margin:15px 45px; }

.main_wrapper .blog_post_feed.detail ul li { padding:4px 3px; clear:both; font-size:14px; font-weight:400; color:#555; line-height:22px; list-style:circle }

.main_wrapper .blog_post_feed.detail article h2 { font-size:24px; line-height:1.5em; }

.main_wrapper .blog_post_feed.detail .block-image { margin-top:15px; }

/*Video Block*/

.main_wrapper .blog_post_feed.detail .video_block { width:100%; background:#f7f7f7; padding:25px 20px; box-sizing:border-box; margin:20px 0 }

/*Title*/

.main_wrapper .blog_post_feed.detail .video_block .title { width:100%; }

.main_wrapper .blog_post_feed.detail .video_block .title h6 { color: #2f2f2f; position: relative; line-height:19px; padding-bottom:13px; margin-bottom:27px;border-bottom: 2px solid #F2f2f2; font-size:18px; font-weight:600; }

.main_wrapper .blog_post_feed.detail .video_block .title h6:before { position:absolute; content: ''; bottom:-2px; left:0; width:36px; height:3px; background-color:#446CB3; }

/*Comments*/

.main_wrapper .blog_post_feed.detail .comments_list { width:100%; }

.main_wrapper .blog_post_feed.detail .comments_list ul{ list-style:none; margin:0px; padding:0px;}

.main_wrapper .blog_post_feed.detail .comments_list ul li { display:block; border:none; padding:20px 0px;}

.main_wrapper .blog_post_feed.detail .comments_list ul li ul.comment_reply {  margin:0px; padding:0px; margin-left:60px;}

.main_wrapper .blog_post_feed.detail .comments_list ul li ul.comment_reply li { display:block; border:none; padding-top:20px ;}

.main_wrapper .blog_post_feed.detail .comments_list ul li ul.comment_reply li .post_comments { padding-top:20px;}

.main_wrapper .blog_post_feed.detail .comments_list ul li .post_comments { width:98%;  overflow:hidden; border:none;}

.main_wrapper .blog_post_feed.detail .post_comments .post_comment_image {width:10%; float:left; }

.main_wrapper .blog_post_feed.detail .post_comments .post_comment_image img { max-width:100%; height:auto; border-radius:45px;}

.main_wrapper .blog_post_feed.detail .post_comments .post_comment_text {width:87%; float:right;  }

.main_wrapper .blog_post_feed.detail .post_comments .post_comment_text .comment_desc  { width:100%; border-bottom:1px solid #dedede; padding:10px 0px 25px;}

.main_wrapper .blog_post_feed.detail .post_comments .post_comment_text .comment_desc span { font-size:13px; font-weight:600; color:#555555; float:left; }

.main_wrapper .blog_post_feed.detail .post_comments .post_comment_text .comment_desc a { float:right; text-decoration:none; font-size:11px; color:#fff; background:#b3b3b3; padding:2px 8px; text-transform:uppercase; font-weight:600; border-radius:1px; }

.main_wrapper .blog_post_feed.detail .post_comments .post_comment_text .comment_desc a:hover { background:#446CB3;}

.main_wrapper .blog_post_feed.detail .post_comments .post_comment_text p { font-size:13px; font-family:arial; color:#808080; margin-top:15px; }
 
/*Form*/

.blog_detail_form { width:100%; overflow:hidden; clear:both; padding-top:20px; }

.blog_detail_form p {font-size:14px; font-family:arial; color:#7a7a7a; margin-left:10px; }

.blog_detail_form form {margin-top:25px; padding-bottom:40px; width:100%;}

.blog_detail_form form ul.name {list-style:none; float:left; margin-left:28px; }

.blog_detail_form form ul.email {list-style:none; float:left; margin-left:28px;  margin-top:10px;}

.blog_detail_form form ul.comment {list-style:none; float:left; margin-left:28px; margin-top:20px; padding-bottom:20px; width:100%;}

.blog_detail_form form ul li { width:100%; display:inline-block; vertical-align:top; font-size:14px; color:#7a7a7a; padding-bottom:14px; }

.blog_detail_form form ul li label { width:100%; display:block; clear:both; padding:10px 0 }

.blog_detail_form form ul.comment li {font-size:14px; font-family:arial; color:#7a7a7a; padding-bottom:10px; }

.blog_detail_form form ul li input.user_name { width:100%; background:none; font-size:14px; color:#7a7a7a; border:4px solid #f5f5f5; padding:12px; box-sizing:border-box }

.blog_detail_form form ul li textarea.user_name { width:100%; background:none; font-size:14px; color:#7a7a7a; border:4px solid #f5f5f5; padding:12px; box-sizing:border-box }

.blog_detail_form form .post_comment_btn { background:#446CB3; color:#fff; font-size:14px; font-weight:600; padding:8px 20px; border-radius:1px; border:0px; text-transform:uppercase; cursor:pointer; }

.blog_detail_form form .post_comment_btn:hover { background:#222; color:#fff; }



/*Related Posts*/

.main_wrapper .blog_post_feed.detail .related_posts { width:100%; }

.main_wrapper .blog_post_feed.detail .related_posts .title { position: relative; height:30px; margin-bottom:10px; }

.main_wrapper .blog_post_feed.detail .related_posts .title h2 { color: #2f2f2f; position: relative; line-height:19px; padding-bottom:13px; margin-bottom:27px;border-bottom: 2px solid #F2f2f2; font-size:18px; font-weight:600; }

.main_wrapper .blog_post_feed.detail .related_posts .title h2:before { position:absolute; content: ''; bottom:-2px; left:0; width:36px; height:3px; background-color:#446CB3; }

.main_wrapper .blog_post_feed.detail .related_posts .posts_block { width:100%; padding:20px 0 }

.main_wrapper .blog_post_feed.detail .related_posts .posts_block ul { list-style:none; margin:0; padding:0 }

.main_wrapper .blog_post_feed.detail .related_posts .posts_block ul li { width:23%; display:inline-block; vertical-align:top; margin:0 15px 15px 0 }

.main_wrapper .blog_post_feed.detail .related_posts .posts_block ul li:last-child { margin:0 0px 15px 0 }

.main_wrapper .blog_post_feed.detail .related_posts .posts_block ul li img { max-width:100%; height:auto; }

.main_wrapper .blog_post_feed.detail .related_posts .posts_block ul li h3 { font-size:14px; font-weight:400; color:#222; line-height:23px; padding:8px 0; }

.main_wrapper .blog_post_feed.detail .related_posts .posts_block ul li h3 a { color:#222; }

.main_wrapper .blog_post_feed.detail .related_posts .posts_block ul li h3 a:hover { color:#446CB3; }

.main_wrapper .blog_post_feed.detail .related_posts .posts_block ul li span { font-size:12px; font-weight:400; color:#999; text-transform:uppercase; padding-top:6px; }




.main_wrapper .blog_post_feed.detail .related_posts .posts_block .item { margin:10px }

.main_wrapper .blog_post_feed.detail .related_posts .posts_block img { max-width:100%; height:auto; }

.main_wrapper .blog_post_feed.detail .related_posts .posts_block h3 { font-size:14px; font-weight:400; color:#222; line-height:23px; padding:8px 0; }

.main_wrapper .blog_post_feed.detail .related_posts .posts_block h3 a { color:#222; }

.main_wrapper .blog_post_feed.detail .related_posts .posts_block h3 a:hover { color:#446CB3; }

.main_wrapper .blog_post_feed.detail .related_posts .posts_block span { font-size:12px; font-weight:400; color:#999; text-transform:uppercase; padding-top:6px; }



/*SideBar*/

.sidebar_wrapper { width: 28%; float:right; overflow:hidden; box-sizing:border-box; word-wrap:break-word; padding-bottom: 20px; }

.sidebar_wrapper .widget { margin-bottom:30px; overflow:hidden; padding:10px; background:#fff; }

.sidebar_wrapper .widget .screen { width:100%; margin-top:20px; }

.sidebar_wrapper .widget .screen img { max-width:100%; height:auto; }

.sidebar_wrapper .widget .banner { width:100%; }

.sidebar_wrapper .widget .banner img { max-width:100%; height:auto; }

.sidebar_wrapper .widget .widget_title { position: relative; height:30px; margin-bottom:15px; }

.sidebar_wrapper .widget {border: solid 1px #ddd; padding: 0;}
.sidebar_wrapper .widget .widget_title h2 {
      background-color: #e8e9e9;
    padding: 10px;
    color: #333333;
    font-family: "Lato",serif;
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;

}

/*
.sidebar_wrapper .widget .widget_title h2:before { 
height: 8px;
    content: '';
    position: absolute;
    bottom: 0;
    background: #ffc000;
    width: 100%;
    z-index: -1;
    left: 0;
}
*/

.sidebar_wrapper .widget .img_overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(40,35,40,0.0);
}

:focus {
    outline: 0;
}

.custom_widget .post_panel {
    padding-left: 15px;
    display: table-cell;
}
.custom_widget li {clear: both; overflow: hidden;}
.custom_widget li:first-child {
    overflow: hidden;
        text-transform: uppercase;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    z-index: 1;
}
/*
.custom_widget li:first-child:before {
        height: 8px;
    content: '';
    position: absolute;
    bottom: 0;
    background: #ffc000;
    width: 100%;
    z-index: -1;
    left: 0;
}
*/

.custom_widget .rcp_title {
    overflow: hidden;
    line-height: 0;
    margin: 0 0 2px;
    padding: 0;
}

.custom_widget .rcp_title a {
    color: #2f2f2f;
    font-size: 13px;
    line-height: 1.4em;
    margin: 2px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-weight: 600;
    color: #333;
}

.custom_widget .rcp_title a:hover {
    color: #ff7200;
    text-decoration: none;
}

.custom_widget .rcthumb {
    position: relative;
    float: left;
    margin: 0!important;
    width: 90px;
    height: 65px;
    overflow: hidden;
    display: block;
    vertical-align: middle;
}

.custom_widget .rcthumb:hover .img_overlay { background-color: rgba(40,35,40,0.35);
-webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out; }


/*Follow Us*/

.sidebar ul {
    list-style: none;
}

.social-count-plus ul { margin-top:20px; }

.social-count-plus > ul > li {
    display: block;
    float: none;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    padding: 0;
}

.social-count-plus > ul {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.social-count-plus > ul > li.count-facebook > a {
    background: #516eab;
}

.social-count-plus > ul > li > a.icon {
    height: 40px;
    background: #999;
    display: block;
    width: 100%;
    border-radius: 2px;
}

.social-count-plus > ul > li > span.items {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    pointer-events: none;
}

.social-count-plus > ul > li.count-twitter > a {
    background: #29c5f6;
}

.social-count-plus > ul > li.count-youtube > a {
    background: #cd201f;
}

.social-count-plus > ul > li > a:after {
    font-family: FontAwesome;
    color: #fff;
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    left: 14px;
    text-align: center;
    width: 20px;
    top: 0;
    bottom: 0;
    line-height: 40px;
}

.social-count-plus > ul > li.count-facebook > a:after {
    content: "\f09a";
}

.social-count-plus > ul > li > a:before {
    font-family: FontAwesome;
    content: "\f067";
    opacity: 0.5;
    color: #fff!important;
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    right: 6px;
    text-align: center;
    width: 20px;
    top: 0;
    bottom: 0;
    line-height: 40px;
}

.social-count-plus > ul > li > a:after {
    font-family: FontAwesome;
    color: #fff;
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    left: 14px;
    text-align: center;
    width: 20px;
    top: 0;
    bottom: 0;
    line-height: 40px;
}

.social-count-plus > ul > li.count-twitter > a:after {
    content: "\f099";
}

.social-count-plus > ul > li > a:after {
    font-family: FontAwesome;
    color: #fff;
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    left: 14px;
    text-align: center;
    width: 20px;
    top: 0;
    bottom: 0;
    line-height: 40px;
}

.social-count-plus > ul > li.count-youtube > a:after {
    content: "\f167";
}

.social-count-plus > ul > li > span.items > span.count {
    font-size: 16px;
    display: inline-block;
    margin: 12px 0 8px 50px;
    padding-left:20px;
    border-left: 1px solid rgba(255,255,255,0.2);
    color: #fff!important;
}

.social-count-plus > ul > li > span.items > span.label {
    margin-left: 10px;
    color: #fff;
    position: relative;
    top: -1px;
}

.social-count-plus > ul > li.count-facebook > a {
    background: #516eab;
}

.social-count-plus > ul > li > a.icon:hover {
    opacity: 0.85;
    
}

/*Tags*/

.sidebar .widget-content {
    width: 300px;
    background-color: #fff;
    padding: 20px 0px 0px;
    margin: 0;
}

.cloud-label-widget-content {
    text-align: left;
    overflow: hidden;
    margin-top:20px;
}

.cloud-label-widget-content .label-size, .cloud-label-widget-content .label-count {
    height: 30px!important;
    line-height: 19px!important;
}

.cloud-label-widget-content .label-size {
    background: #f5f5f5;
    display: block;
    float: left;
    font-size: 11px;
    margin: 0 5px 5px 0;
}

.cloud-label-widget-content .label-size-1, .label-size-2, .label-size-3, .label-size-4, .label-size-5 {
    font-size: 100%;
    opacity: 10;
}

.cloud-label-widget-content .label-size a {
    padding: 6px 10px;
}

.cloud-label-widget-content .label-size a, .cloud-label-widget-content .label-size span {
    height: 18px!important;
    color: #2f2f2f;
    display: inline-block;
    font-size: 11px;
    font-weight: 400!important;
    text-transform: uppercase;
    padding: 6px 8px;
}

.cloud-label-widget-content .label-size a:hover {
    color: #fff !important;
    background:#446CB3;
    -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out; }
  
  
/*Search*/
#horizontalTab .custom_widget {padding: 0;}
.sidebar_wrapper .widget .search { width:97%; padding-top:0px; position: relative; padding: 10px; clear: both; overflow: hidden;}

.sidebar_wrapper .widget .search input { padding:8px; font-size:14px; font-weight:400; border:0px; vertical-align:top; float:left; box-sizing:border-box;     background: none;
    border: solid 1px #777;
    border-radius: 20px;
    width: 100%; }

.sidebar_wrapper .widget .search button { float:left; font-family:'Open Sans', Arial, sans-serif; font-size:14px; font-weight:600; color:#fff; border:0px; cursor:pointer; box-sizing:border-box; 
    background: #ed9321;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    height: auto;
    line-height: normal;
    padding: 6.5px 14px;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*Categories*/



.sidebar_wrapper .widget .categories ul { list-style:none; padding:0; margin:0; padding: 10px; }

.sidebar_wrapper .widget .categories ul li { clear:both; box-sizing:border-box;  margin: 0; border-bottom: 1px solid #e8e9e9; padding: 8px 0;}

.sidebar_wrapper .widget .categories ul li:hover { background:#fff; }

.sidebar_wrapper .widget .categories ul li:hover a { color:#ff7200; text-decoration: none;}

.sidebar_wrapper .widget .categories ul li a {
      
    color: #333333;
    display: block;
    font-family: lato;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
}
.sidebar_wrapper .widget .categories ul li a span {display: inline-block;}
.sidebar_wrapper .widget .categories ul li a:hover { color:#00b06c; text-decoration: none; }

.sidebar_wrapper .widget .categories ul li a.selected { color:#00b06c; text-decoration: none; }

/*Recent Comments*/

.sidebar_wrapper .widget .randomposts p { font-size:13px; font-weight:400; line-height:20px; }

.sidebar_wrapper .widget .randomposts span { font-size:11px; color:#999 }

/*RSS Feed*/

.sidebar_wrapper .widget .rss_feed { width:100%; padding-top:20px; }

.sidebar_wrapper .widget .rss_feed .icon { float:left; margin-right:10px; }

.sidebar_wrapper .widget .rss_feed a { color:#222 }

.sidebar_wrapper .widget .rss_feed span { font-size:14px; line-height:32px; }

.clear { clear:both; width:100%}
/*-------------------*/
.product_video_module { width:100%; }

.product_video_module h2 { font-family: 'Open Sans', sans-serif; font-size:32px; font-weight:400; color:#474e5c; padding-bottom:20px; }

.product_video_module .video { width:100%; /*height: 500px;*/}

.product_video_module .video img { max-width:100%; height:auto; }

.product_video_module .info {margin-top: 10px; width:auto; padding:30px; background:#f5f5f5; clear:both; border-bottom:#e7e7e7 1px solid; }

.product_video_module .info h3 { font-family: 'Open Sans', sans-serif; font-size:24px; font-weight:400; color:#474e5c;  }

.product_video_module .info h4 { font-size:12px; font-weight:normal; color:#939395;  }

.product_video_module .info p { font-size:14px; font-weight:normal; color:#666;  line-height:26px; }

/*Gallery*/

.product_video_module .gallery { width:100%; padding:10px 0 }

.product_video_module .gallery h5 { font-family: 'Open Sans', sans-serif; font-size:18px; font-weight:400; color:#474e5c; padding-bottom:5px; }

.order-products-toolbar.toolbar.bottom .pager {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 20px;
}
.order-products-toolbar.toolbar.bottom .pager .toolbar-amount {padding-top: 6px;}
.order-products-toolbar.toolbar.bottom .pager .limiter {padding-top: 6px;}
.order-products-toolbar.toolbar.bottom .pager .item {line-height: normal;}
.order-products-toolbar.toolbar.bottom .pager .item  a {display: inline-flex; width: 24px;}
.order-products-toolbar.toolbar.bottom .pager .item.current span {color: #ff7200;}
.order-products-toolbar.toolbar.bottom .pager .pages .action.next:before, .order-products-toolbar.toolbar.bottom .pager .pages .action.previous:before {line-height: normal; color: #fff !important; font-size: 24px; font-weight: bold; margin: 0;}


#owl-demo .item {
    margin: 19px;
    /*border:#dadada 1px solid;*/
    margin-top:45px;
}
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

#owl-demo-pv .item {
    margin: 19px;
    /*border:#dadada 1px solid;*/
    margin-top:45px;
}
#owl-demo-pv .item img {
    display: block;
    width: 100%;
    height: auto;
}


/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */
 
 #demo { max-width:1180px; margin:0 auto; padding:0 15px; }

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
    
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(../images/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.3
*/

.owl-theme .owl-controls{
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=70);/*IE7 fix*/
    opacity: 0.7;
    position:relative;
}



.owl-theme .owl-controls .owl-buttons div.owl-prev,
.owl-theme .owl-controls .owl-buttons div a.prev {
    background:url(../images/arrow_left.png) no-repeat center;
    left:-35px;
    top:47%;
    display:block;
    width:24px;
    height:24px;
    position:absolute;
}

.owl-theme .owl-controls .owl-buttons div.owl-next,
.owl-theme .owl-controls .owl-buttons div a.next {
    background:url(../images/arrow_right.png) no-repeat center;
    right:-35px;
    top:47%;
    display:block;
    width:24px;
    height:24px;
    position:absolute;
}





/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display:none;
    /*display: inline-block;*/
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 7px;
    height: 7px;
    margin: 5px 7px;
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #474e5c;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    
    background: #f47922;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background:../images/AjaxLoader.gif) no-repeat center center
}


/*Overlay*/

.owl-carousel .thumb {position: relative; width:auto; height:auto;  /*border:#dadada 1px solid;*/}
.owl-carousel .thumb a {position: absolute; top: 0; display: block; width: 100%; height: 100%; text-align: center; text-decoration: none;}
.owl-carousel .thumb a .play, .thumb a .overlay {opacity: 0;}
.owl-carousel .thumb a:hover .play, .thumb a:hover .overlay {display: block; transition: opacity .25s ease-in-out;-moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out;}
.owl-carousel .thumb a:hover .play {position: relative; font-size:45px; color: #ffffff; margin-top:39%; z-index: 1000; opacity: 1;}
.owl-carousel .thumb a:hover .overlay {position: absolute; top: 0; width: 100%; height: 100%; background-color: #000000; opacity: .2;}


.owl-carousel .item .title { text-align:center; padding:8px 0; padding-bottom:5px; font-family: 'Open Sans', sans-serif; font-size:14px; font-weight:400; color:#474e5c; line-height:26px; }

.owl-carousel .item .title a { color:#474e5c }

.owl-carousel .item .title a:hover { color:#1979c3 }

.owl-carousel .item .title p { font-family:Arial, Helvetica, sans-serif; text-align:center; font-size:11px; color:#8a8a8a; }


@media (min-width: 200px) and (max-width: 400px) {
 
 .owl-carousel .thumb a:hover .play { font-size:38px; margin-top:39%; }

}

@media (min-width: 400px) and (max-width: 500px) {
 
 .owl-carousel .thumb a:hover .play { font-size:38px; margin-top:35%; }

}

@media (min-width: 500px) and (max-width: 600px) {
 
 .owl-carousel .thumb a:hover .play { font-size:38px; margin-top:35%; }

}

@media only screen and (max-width: 767px) {
    .inner_container {max-width: 100%; padding: 0;}
    .main_wrapper .blog_post_feed.detail .block-image {float: none; width: 100%;}
}

