<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>

   <?php 
 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
  if(!$category==''){
   $categoryId= $category->getId();
  ?>

   
    <div class="block filter">
        <div class="block-title filter-title">
            <?= $block->escapeHtml(__('Shop By new')) ?>
        </div>

        <div class="block-content filter-content">
            <?= $block->getChildHtml('state') ?>

            <?php if ($block->getLayer()->getState()->getFilters()) : ?>
                <div class="block-actions filter-actions">
                    <a href="<?= $block->escapeUrl($block->getClearUrl()) ?>" class="action clear filter-clear"><span><?= $block->escapeHtml(__('Clear All')) ?></span></a>
                </div>
            <?php endif; ?>
            <?php $wrapOptions = false; ?>
            <?php foreach ($block->getFilters() as $filter) : ?>
                <?php if (!$wrapOptions) : ?>
                    <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"><?= $block->escapeHtml(__('Shopping Options')) ?></strong>
                    <dl class="filter-options" id="narrow-by-list">
                    <?php $wrapOptions = true;
                endif; ?>
                    <?php if ($filter->getItemsCount()) : ?>
                        <?php if($categoryId==46 || $categoryId==47 || $categoryId==11 || $categoryId==9 || $categoryId==7 || $categoryId==12 || $categoryId==10){ 
                            $hide_price_title = 'hide_price_title';
                            ?>
                        <dt role="heading" aria-level="3" class="filter-options-title <?php echo $hide_price_title; ?> "><?= $block->escapeHtml(__($filter->getName())) ?></dt>
                        <?php } else{ ?> 

                      <dt role="heading" aria-level="3" class="filter-options-title"><?= $block->escapeHtml(__($filter->getName())) ?></dt>
                        <?php }

                         ?>
                        <dd class="filter-options-content"><?= /* @noEscape */ $block->getChildBlock('renderer')->render($filter) ?></dd>
                    <?php endif; ?>
            <?php endforeach; ?>
            <?php if ($wrapOptions) : ?>
                </dl>
            <?php endif; ?>
        </div>
    </div>

   

<?php 
 

 echo "string";   
 
if($categoryId==28 || $categoryId==29 || $categoryId==30 || $categoryId==31 || $categoryId==32 || $categoryId==33 || $categoryId==34 || $categoryId==35 || $categoryId==36 || $categoryId==37 || $categoryId==38 || $categoryId==39 || $categoryId==40 || $categoryId==41 || $categoryId==42 || $categoryId==43 || $categoryId==44 ){  

    if ($block->canShowBlock()) { ?>
        <div class="choose-gem">
            <?php
            echo $this->getLayout()
            ->createBlock('Magento\Cms\Block\Block')
            ->setBlockId('choose_gem')
            ->toHtml();
            ?>
        </div>
    <?php

 } }  } ?>  
