<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Checkout\Block\Onepage */
?>
<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
    $currencyFactory = $objectManager->create('Magento\Directory\Model\CurrencyFactory');
    $currencyCode = $storeManager->getStore()->getCurrentCurrencyCode();
    $currency = $currencyFactory->create()->load($currencyCode);
     $currencySymbol = $currency->getCurrencySymbol(); 

     $cart = $objectManager->get('\Magento\Checkout\Model\Cart');

     $quote = $cart->getQuote();
     $shippingAddress = $quote->getShippingAddress();
     $countryCode = $shippingAddress->getData('country_id');

    if($currencySymbol=='₹'){ ?>

    <!-- <script type="text/javascript">
        
        document.getElementById('tco_api').parentElement.parentElement.style.display='none';
    </script> -->
    
     <style type="text/css">
         .payment-group .payment-method:nth-child(2) {display: none;}
       
     </style>

   <?php  } 

    if($currencySymbol=='$'){  ?>

    <!-- <script type="text/javascript">

    document.getElementById('dismiss').parentNode.style.display='none'; 

    </script> -->
        <style type="text/css">
            .payment-group .payment-method:nth-child(2) {display: block;}
            .payment-group .payment-method:nth-child(3) {display: none;}
            .payment-group .payment-method:nth-child(4) {display: none;}
        </style>

   <?php  }
 
?>



<div id="checkout" data-bind="scope:'checkout'" class="checkout-container">
    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'>
        <div class="loader">
            <img src="<?= $block->escapeUrl($block->getViewFileUrl('images/loader-1.gif')) ?>"
                 alt="<?= $block->escapeHtmlAttr(__('Loading...')) ?>"
                 style="position: absolute;">
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
            }
        }
    </script>
    <script>
        window.checkoutConfig = <?= /* @noEscape */ $block->getSerializedCheckoutConfig() ?>;
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;
    </script>
    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader'
        ], function(url, blockLoader) {
            blockLoader("<?= $block->escapeJs($block->escapeUrl($block->getViewFileUrl('images/loader-1.gif'))) ?>");
            return url.setBaseUrl('<?= $block->escapeJs($block->escapeUrl($block->getBaseUrl())) ?>');
        })
    </script>
    
</div>
