// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@account-nav-background: @sidebar__background-color;
@account-nav-color: false;

@account-nav-current-border: 3px solid transparent;
@account-nav-current-border-color: @active__color;
@account-nav-current-color: false;
@account-nav-current-font-weight: @font-weight__semibold;

@account-nav-delimiter__border-color: @color-gray82;

@account-nav-item-hover: @color-gray91;

@_password-default: @color-gray-light01;
@_password-weak: #ffafae;
@_password-medium: #ffd6b3;
@_password-strong: #c5eeac;
@_password-very-strong: #81b562;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .login-container {
        max-width: 100%;
        margin: auto;
        width: 100% !important;
        .block {
            &-new-customer {
                .actions-toolbar {
                    margin-top: 25px;
                }
            }

            .block-title {
                &:extend(.abs-login-block-title all);
                font-size: 18px;
                border-bottom:  none;
                padding: 0;
                margin: 0;
                strong {
                    font-size: 18px;
                }
            }
        }

        .fieldset {
            .lib-form-hasrequired(bottom);
            &:after {
                margin-top: 35px;
            }
        }
    }

    .block-addresses-list {
        .items.addresses {
            > .item {
                margin-bottom: @indent__base;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .form-address-edit {
        .region_id {
            display: none;
        }

        .actions-toolbar .action.primary {
            &:extend(.abs-button-l all);
        }
    }

    .form-edit-account {
        .fieldset.password {
            display: none;
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-information,
    .box-newsletter {
        .box-content {
            line-height: 26px;
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            &.field {
                > .label {
                    &:extend(.abs-visually-hidden all);

                    + .control {
                        width: 100%;
                    }
                }
            }

            .field {
                &:extend(.abs-add-clearfix all);
            }
        }
    }

    //
    //  My account
    //  ---------------------------------------------

    .account {
        .column.main {
            h2 {
                margin-top: 0;
            }

            .toolbar {
                text-align: center;
                .limiter-options {
                    width: auto;
                }
            }

            .limiter {
                >.label {
                    &:extend(.abs-visually-hidden all);
                }
            }

            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
            }
        }

        .sidebar-additional {
            margin-top: 40px;
        }

        .table-wrapper {
            &:last-child {
                margin-bottom: 0;
            }

            .action {
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .table-return-items {
            .qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                }
            }
        }
        .form-newsletter-manage {
            .field {
                &.choice {
                    &::before {
                        display: none;
                    }
                    label {
                        span {
                            vertical-align: text-top;
                        }
                    }
                }
            }
            .actions-toolbar {
                width: 100%;
                margin-top: 40px;
            }
        }
        footer {
            .bestdeal {
                .field {
                    width: auto;
                    
                    label {
                        &::before {
                            top: 4px;
                        }
                        &::after {
                            top: 6.2px;
                        }
                    }
                }
            }
            .form {
                &.subscribe {
                    .actions {
                        button {
                            padding: 12px;
                        }
                    }
                }
            }
        }
    }

    //  Checkout address (create shipping address)
    .field.street {
        .field {
            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Account navigation
    //  ---------------------------------------------

    .account-nav {
        .title {
            &:extend(.abs-visually-hidden all);
        }

        .content {
            .lib-css(background, @account-nav-background);
            padding: 15px 0;
        }

        .item {
            margin: 3px 0 0;

            &:first-child {
                margin-top: 0;
            }

            a,
            > strong {
                .lib-css(color, @account-nav-color);
                border-left: 3px solid transparent;
                display: block;
                padding: @indent__xs 18px @indent__xs 15px;
            }

            a {
                text-decoration: none;

                &:hover {
                    .lib-css(background, @account-nav-item-hover);
                }
            }

            &.current {
                a,
                strong {
                    .lib-css(border-color, @account-nav-current-border-color);
                    .lib-css(color, @account-nav-current-color);
                    .lib-css(font-weight, @account-nav-current-font-weight);
                }

                a {
                    .lib-css(border-color, @account-nav-current-border-color);
                }
            }

            .delimiter {
                border-top: 1px solid @account-nav-delimiter__border-color;
                display: block;
                margin: @indent__s 1.8rem;
            }
        }
    }

    //
    //  Blocks & Widgets
    //  ---------------------------------------------

    .block {
        &:extend(.abs-margin-for-blocks-and-widgets all);
        .column.main & {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .title {
            margin-bottom: @indent__s;

            strong {
                .lib-heading(h4);
                .column.main & {
                    font-size: @h3__font-size;
                }
            }
        }

        p:last-child {
            margin: 0;
        }

        .box-actions {
            margin-top: @indent__xs;
        }
    }

    //
    //  Password Strength Meter
    //  ---------------------------------------------

    .field.password {
        .control {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction();

            .mage-error {
                .lib-vendor-prefix-order(2);
            }

            .input-text {
                .lib-vendor-prefix-order(0);
                z-index: 2;
            }
        }
    }

    .password-strength-meter {
        background-color: @_password-default;
        height: @form-element-input__height;
        line-height: @form-element-input__height;
        padding: @form-element-input__padding;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        .password-none & {
            &:before {
                background-color: @_password-default;
                width: 100%;
            }
        }

        .password-weak & {
            &:before {
                background-color: @_password-weak;
                width: 25%;
            }
        }

        .password-medium & {
            &:before {
                background-color: @_password-medium;
                width: 50%;
            }
        }

        .password-strong & {
            &:before {
                background-color: @_password-strong;
                width: 75%;
            }
        }

        .password-very-strong & {
            &:before {
                background-color: @_password-very-strong;
                width: 100%;
            }
        }
    }

    .control.captcha-image {
        .lib-css(margin-top, @indent__s);

        .captcha-img {
            vertical-align: middle;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .account {
        .column.main,
        .sidebar-additional {
            margin: 0;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .login-container {
        .fieldset {
            &:after {
                text-align: center;
            }
        }
    }

    .account {
        .messages {
            margin-bottom: 0;
        }

        .toolbar {
            &:extend(.abs-pager-toolbar-mobile all);
        }
    }

    .control.captcha-image {
        .captcha-img {
            .lib-css(margin-bottom, @indent__s);
            display: block;
        }
    }

    .customer-account-index {
        .page-title-wrapper {
            position: relative;
        }
    }

    .form.search.advanced {
        .field.price {
            .with-addon {
                .input-text {
                    flex-basis: auto;
                    width: 100%;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .login-container {
        &:extend(.abs-add-clearfix-desktop all);

        .block {
            &:extend(.abs-blocks-2columns all);
            &.login {
                .actions-toolbar {
                    > .primary {
                        margin-bottom: 0;
                        margin-right: @indent__l;
                    }

                    > .secondary {
                        float: left;
                    }
                }
            }
        }

        .fieldset {
            &:after {
                &:extend(.abs-margin-for-forms-desktop all);
            }

            > .field {
                > .control {
                    width: 80%;
                }
            }
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            .field {
                .label {
                    .lib-css(margin, @form-field-type-label-inline__margin);
                    .lib-css(padding, @form-field-type-label-inline__padding);
                    .lib-css(text-align, @form-field-type-label-inline__align);
                    .lib-css(width, @form-field-type-label-inline__width);
                    box-sizing: border-box;
                    float: left;
                }

                .control {
                    .lib-css(width, @form-field-type-control-inline__width);
                    float: left;
                }
            }
        }
    }

    .form.password.reset,
    .form.send.confirmation,
    .form.password.forget,
    .form.create.account,
    .form.search.advanced,
    .form.form-orders-search {
        min-width: 600px;
        width: 50%;
    }

    //
    //  My account
    //  ---------------------------------------------

    .account.page-layout-2columns-left {
        .sidebar-main,
        .sidebar-additional {
            width: 22.3%;
        }

        .column.main {
            width: 77.7%;
        }
    }

    .account {
        .column.main {
            .block:not(.widget) {
                .block-content {
                    &:extend(.abs-add-clearfix-desktop all);

                    .box {
                        &:extend(.abs-blocks-2columns all);
                    }
                }
            }
        }

        .toolbar {
            &:extend(.abs-pager-toolbar all);
        }
    }

    .block-addresses-list {
        .items.addresses {
            &:extend(.abs-add-clearfix-desktop all);
            font-size: 0;

            > .item {
                display: inline-block;
                font-size: @font-size__base;
                margin-bottom: @indent__base;
                vertical-align: top;
                width: 48.8%;

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    margin-bottom: 0;
                }

                &:nth-child(even) {
                    margin-left: 2.4%;
                }
            }
        }
    }

    //
    //  Welcome block
    //  ---------------------------------------------

    .dashboard-welcome-toggler {
        &:extend(.abs-visually-hidden-desktop all);
    }

    .control.captcha-image {
        .captcha-img {
            margin: 0 @indent__s @indent__s 0;
        }
    }
}
.login-container, .customer-account-forgotpassword {
    .block-title {
        border-bottom: none;
        strong {
            font-size: 16px !important;
            font-weight: 700 !important;
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: 20px;
        }
    }
    .note {
        font-size: 15px;
    }
    p {
        font-size: 15px;
    }
    .actions-toolbar {
        margin: 25px 0 0 0 !important;
        display: block;
        .loginbutton {
            text-align: right;
            float: right;
        }
        .primary {
            width: 100%;
            clear: both;
            padding-top: 15px;
        }
        a {
            text-decoration: underline;
            color: #000;
            font-size: 16px;
            font-weight: 600;
            border-radius: 0;
        }
    }
    .block-new-customer {
        a {
            text-decoration: none;
        }
    }
    .block-customer-login {
        border-right: 0;
        padding-right: 0;
        clear: both;
        overflow: hidden;
        float: none;
    }
    .field {
        label {
            display: block;
            text-align: left;
            font-weight: normal !important;
            font-size: 15px;
        }
        input {
            height: auto;
            border: solid 1px #000;
            padding: 10px;
            font-size: 16px;
        }
    }
}
#login-form {
    .fieldset {
        &::after {
            margin-left: 0 !important;
            display: none;
        }
    }
}
.logininner {
   
    .field {
        width: 100%;
        padding-bottom: 0px;
        margin-bottom: 20px;
        label {
            font-size: 16px;
            color: #000;
        }
        input {
            height: auto;
            border: solid 1px #000;
            font-size: 16px;
            padding: 10px;
        }
    }
}
.password {
    &.forget {
        width: 100% !important;
        margin: auto;
        border: 0;
        padding: 0px;
        .note {
            font-size: 18px;
        }
    }
    .actions-toolbar {
        margin: 25px 0 0 0 !important;
        a {
            text-decoration: underline;
            color: #000;
            font-size: 18px;
            font-weight: 500;
        }
    }
}
.captcha {
    .field  {
        width: 100%;
        img {
            float: left;
        }
        button {
            float: right;
            background: #fff;
            font-size: 12px;
            border: solid 1px #000;
            text-transform: uppercase;
            &:hover {
                background: #006ab3;
                color: #fff;
                border: solid 1px #006ab3;
            }
        }
    }
}
.customer-account-forgotpassword {
    h1 {
        &.page-title {
            width: 100%;
            text-align: left;
            float: none;
            margin-top: 0px;
            padding-bottom: 20px;
            font-size: 20px;
        }
    }
}
.customer-account-create {
    h1 {
        &.page-title {
            width: 100%;
            text-align: left;
            float: none;
            margin-top: 0;
            padding-bottom: 20px;
            font-size: 18px;
            font-weight: 700;
        }
    }
    .legend {
        margin-left: 0px !important;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .choice {
        &.newsletter {
            font-size: 16px;
            margin-bottom: 15px;
            float: left;
            width: 100%;
            text-align: left;
            &::before {
                display: none !important;
            }
            span {
                vertical-align: text-top;
                display: inline-block;
                padding: 2px 0 0 4px;
            }
        }
    }
}
.actions-toolbar {
    margin-left: 0 !important;
    a {
        text-decoration: underline;
        color: #000;
        font-size: 18px;
        font-weight: 500;
        &:hover {
            color: #006ab3;
            text-decoration: none;
        }
    }
}
.form-create-account {
    width: 100% !important;
    border:0;
    padding: 0px;
    margin: auto;
}
.customer-account-login {
    h1 {
        &.page-title {
            width: 100%;
            text-align: left;
            margin-top: 0px;
            font-size: 20px;
            padding-bottom: 15px;
        }
    }
}

.account {
    .fieldset {
        margin: 0 0 0 0;
        .legend {
            margin: 0 0 0 0;
            font-size: 20px;
            span {
                font-size: 16px !important;
                font-weight: 700 !important;
                text-transform: uppercase;
                display: inline-block;
                margin-bottom: 20px;
            }
        }
    }
    .field {
            width: 100%;
            margin-bottom: 20px;
            label {
                font-size: 15px;
                display: block;
                padding-bottom: 8px;
                font-weight: normal !important;
            }
            input {
                height: auto;
                border: solid 1px #000;
                padding: 10px;
                font-size: 16px;
            }
        select {
            height: auto;
            border: solid 1px #000;
            padding: 10px;
            font-size: 16px;
        }
            &.choice {
                span {
                    display: inline-block;
                    padding: 4px 0 0 10px;
                }
            }
        }
    .page-title {
        font-size: 26px !important;
    }
    .block-title {
            margin-bottom: 30px !important;
        strong {
            font-size: 16px  !important;
            font-weight: 700  !important;
            text-transform: uppercase;
        }
        a {
           white-space: nowrap;
            font-size: 14px;
            font-weight: 600;
            color: #000;
            text-transform: uppercase;
            display: inline-block;
            line-height: normal;
            border-bottom: solid 1px #000;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .box {
        .box-content {
            font-size: 15px;
            line-height: 30px;
        }
        .box-title {
            span {
                font-size: 16px !important;
                font-family: 'Roboto Condensed', sans-serif;
            }
        }
    }
    .box-actions {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        a {
            font-size: 14px;
            text-transform: uppercase;
            text-decoration: none;
            margin: 0;
            border: solid 1px #000;
            padding: 8px 15px;
            border-radius: 20px;
            color: #000;
            &:hover {
                background: #ff7200;
                color: #fff;
                border: solid 1px #ff7200;
                text-decoration: none;
            }
        }
    }
    .sidebar {
        &.sidebar-additional {
            display: none;
        }
    }
    .account-nav-content {
        background: #fff;
        padding-top: 0;
        .nav {
            display: block;
            li {
                &.current {
                    color: #ff7200;
                    background: none;
                    strong {
                        padding: 0;
                        border: none;
                        text-decoration: none;
                        font-size: 16px;
                        font-weight: 600;
                        color: #ff7200;
                        font-family: 'Roboto Condensed', sans-serif;
                        text-transform: capitalize;
                        font-weight: normal;
                        background: none;
                    }
                }
                &:nth-child(5), &:nth-child(8), &:nth-child(9) {
                    display: none;
                }
            }
            a {
                text-decoration: none;
                font-size: 16px;
                color: #000;
                font-weight: 600;
                font-family: 'Roboto Condensed', sans-serif;
                text-transform: capitalize;
                padding: 0;
                border: none;
                font-weight: normal;
                &:hover {
                    color: #ff7200;
                    background: none;
                }
            }
        }
    }
    .block-content {
        justify-content: space-between;
        display: block;
        .box {
            border: solid 1px #a1a1a1;
            padding: 30px 20px;
        }
        
    }
    input[type="checkbox"]:checked + label:after {
            left: 3px;
            top: 10px;
        }
}
.form-edit-account {
    width: 100%;
    .password-info {
        font-size: 16px;
        padding-bottom: 15px;
    }
}

.editaccountinner {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.form-address-edit {
    .fieldset {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .street {
        .additional {
            display: none;
        }
    }
}

.actions-toolbar {
    display: flex;
    justify-content: space-between;
    .action {
        &.back {
            display: inline-block;
            padding-top: 10px;
        }
    }
}

.account {
    .page-title {
        font-size: 20px !important;
        padding-bottom: 20px;
    }
}
.toolbar {
    &.wishlist-toolbar {
        .pager {
            font-size: 16px;
            font-weight: 600;
            display: flex;
            justify-content: space-between;
        }
    }
}
#wishlist-view-form {
    .actions-toolbar {
        display: block;
        .primary {
            button {
                background: #000;
                color: #fff;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
}
.form-wishlist-items{
    .products-grid {
        &.wishlist {
            .product-item-inner {
                .field {
                    &.comment-box {
                        width: 95%;
                        textarea {
                            border: solid 1px #000;
                            height: 50px;
                            color: #000;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
#minicart-content-wrapper { 
    .block-content {
        display: block;
    }
}
.table-wrapper{
    &.orders-recent {
        td {
            font-size: 16px;
        }
    }
}
.socialortext {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        width: 45%;
        border-top: solid 1px #777;
    }
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 12px;
        width: 45%;
        border-top: solid 1px #777;
    }
}
.form-create-account {
    .hide {
        &.field {
            &.choice {
                &.newsletter {
                    display: none;
                }
            }
        } 
    }
}
.fieldset {
    &.create {
        &.account {
            &::after {
                display: none !important;
            }
        }
    }
}
.fieldset {
    &.create {
        &.info {
            &::after {
                margin-top: 0;
            }
        }
    }
}
.data {
    &.table {
        &.table-additional-addresses-items {
            &.history {
                td {
                    display: flex !important;
                    justify-content: space-between;
                    text-transform: capitalize;
                    padding: 0px 20px 10px 0 !important;
                    font-size: 16px;
                    a {
                        border: solid 1px #000;
                        font-size: 16px;
                        color: #000;
                        padding: 0 10px;
                        text-transform: uppercase;
                        line-height: normal;
                    }
                }
            }
        }
    }
}
.customer-account-createpassword {
    .page-title {
        width: 100%;
        float: none;
        text-align: center;
        font-size: 24px;
        span {
            font-size: 24px;
        }
    }
    .form {
        &.password {
            &.reset {
                width: 100%;
                margin: auto;
                border: solid 1px #777;
                padding: 20px;
                .fieldset {
                    margin: 0;
                    .field {
                        float: none;
                        width: 100%;
                        .label {
                                display: block;
                                float: none;
                                width: 100%;
                                text-align: left;
                                font-size: 14px;
                                font-weight: 400;
                                color: #000;
                                padding-bottom: 5px;
                            span {
                                color: #000;
                            }
                        }
                        &:nth-child(2) {
                            float: none;
                        }
                        input {
                            border: solid 1px #000;
                            height: auto;
                            padding: 10px;
                        }
                        .control {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.block {
    &.block-reviews-dashboard {
        display: none;
    }
}

.login-container, .customer-account-forgotpassword, .customer-account-create  {
    h1 {
        &.page-title {
            padding-top: 20px;
        }
    }
    .actions-toolbar {
        padding-top: 20px;
        .primary {
            button, a {
                background-image: none;
                background: #ff7200;
                border: 1px solid #ed9321;
                color: #ffffff !important;
                cursor: pointer;
                display: inline-block;
                font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-weight: 700 !important;
                padding: 10px 15px !important;
                font-size: 15px !important;
                box-sizing: border-box;
                vertical-align: text-top;
                text-transform: uppercase;
                height: auto;
                line-height: normal;
                border-radius: 20px !important;
            }
        }
    }
}
.account {
    .page-main {
        padding-top: 0 !important;
    }
    .column {
        &.main {
            order: 2;
        }
    } 
    .actions-toolbar {
        width: 100%;
        .primary {
            button {
                background: #ff7200;
                color: #fff;
                border: solid 1px #ff7200;
                text-decoration: none;
                border-radius: 20px;
                font-size: 14px !important;
                font-weight: 600;
                text-transform: uppercase;
                padding: 8px 25px !important;
                transition: .5s all ease;
            }
        }
        .secondary {
            a {
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: none;
                margin: 0;
                border: solid 1px #000;
                padding: 8px 15px;
                border-radius: 20px;
            }
        }
    }
}
.customeraccountinfo {
    .field {
        &.choice {
            &:first-child {
                margin-bottom: 0;
            }
            label {
                display: inline-block;
            }
        }
    }
}
.table-wrapper {
    &.orders-recent {
        td {
            display: flex !important;
            justify-content: space-between;
            &::before {
                font-weight: 500 !important;
            }
            a {
                font-size: 14px;
                font-weight: 600;
                color: #000;
                text-transform: uppercase;
                display: inline-block;
                line-height: normal;
                border-bottom: solid 1px #000;
            }
        }
    }
}