//Import Custom CMS Blog CSS
@import 'module/_customcms.less';



@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quattrocento&display=swap');



body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: @color-white;
}
//  Color variables

// rajeev css 
@home-section-bg-color: #f9f9f9;
@home-section-h2-color: #21252b;
@gems_item-a-color: #333333;
@gems_item-a-bg-color: #e9e9e9;
@gems_item-a-hover-color: #00b06c;
@tan_color : #e8bf78;
@light-yellow-collor: #e1b54f;



// rajeev css 
// comman css start

.border_right {
    border-right: 1px @gems_item-a-bg-color;
}
.p-0 {
	padding:0px;
}
.pl-0 {
	padding-left:0px;
}
.pr-0 {
	padding-right:0px;
}
.np {
    padding: 0;
}

.pt-0 {
	padding-top: 0px;
}

.pb-0 {
	padding-bottom: 0px;
}

.px-5{
	padding: 0 5px;
}

.P5 {
    padding: 0 5px;
}

.p-3{
	padding: 3px;
}

.pl-10 {
	padding-left: 10px;
}

.p-2 {
	padding:2px;
}
.p-5 {
	padding: 5px;
}

.m-0 {
	padding:0px;
}
.ml-0 {
	margin-left:0px;
}
.mr-0 {
	margin-right:0px;
}

.mt-0 {
	margin-top: 0px;
}

.MB5 {
    margin-bottom: 5px;
}

.mb-0 {
	margin-bottom: 0px;
}
.px-20 {
	padding: 0 20px;
}

.blr-pd10 {
    border-left: 1px solid @tan_color;
    border-right: 1px solid @tan_color;
    padding: 0 10px;
}
.mr-10 {
	margin-right:20px;
}

.col-md-5th-1, 
.col-md-5th-2, 
.col-md-5th-3, 
.col-md-5th-4 {
    float: left;
}

.col-md-5th-1 {
    width: 20%;
}



// Header css start
.page-wrapper {
	.page-header {
		    background: url(../images/headerbg.jpg) no-repeat center top;
		    height: auto;
		    margin-top: 0px;
		    padding-bottom: 0;
            background-size: cover;
			.header {
				&.content {
					width: 1170px;
	    			padding: ceil(@indent__s + 2)  ceil(@indent__s + 5) 0 ceil(@indent__s + 5);
	    			.headerPanel {
    					margin: 4px 0 4px;
    					padding-left:0px;
    					
    					
		    			.logo {
						    display: block;
						    float: none;
						    max-width: 100%;
						    margin-bottom: 0;
//		    				img {
//		    					width: 100%;
//		    				}
		    			}
		    			.logos_box {
		    				ul {
		    					padding: 0;
		    					text-align: right;
		    					li {
		    						display: inline-block;
								    margin: 0px 1px;
								    background: @color-white;
								    list-style: none;
		    					}
		    				}
		    			}
		    			
	    			
		    			
						    .head_desc {
							    font-size: @font-size__s + 1;							   
							    font-weight: @font-weight__regular;
							    color: @gems_item-a-color;
							    .em_style {
								    color: #3b7d65;
								    font-size: @font-size__base + 1;								   
								    line-height: @font-size__base + 1;
								    font-weight:@font-weight__bold;
								    line-height: @indent__s + 8;
								}
							}
							
						

						.google_reviews {
							margin-top: @indent__s - 5;
							img {
							    margin: 0 auto;
							}
						}
					}
				}
			}
		
	}
}

// navbar css start
.mainnav_wrapper {
	width: 100%;
    z-index: 1;
    transition: top 400ms ease 0s;
    background: @color-white;
    border-top: 1px solid @gems_item-a-bg-color;
    border-bottom: 6px solid @gems_item-a-bg-color;
    .navigation {
	    background: @color-white;
	    position: relative;
	    z-index: 9;
	    #navbar {
			    position: relative;
			    z-index: 99;
			    width: 100%;
			    -js-display: flex;
			    display: -ms-flexbox;
			    display: flex;
			    -ms-flex-flow: row nowrap;
			    flex-flow: row nowrap;
			    -ms-flex-align: flex-start;
			    align-items: flex-start;
			    -ms-flex-pack: justify;
			    justify-content: space-between;
			    -ms-flex-align: center;
			    -webkit-align-items: center;
			    -webkit-box-align: center;
			    list-style: none;
			    li {
				    line-height: 44px;
                    border-right: solid 1px #ccc;
                    margin: 0;
                    &:last-child {
                        border: none;
                    }
				   
				    a {
				    	display: block;
					    font-size: 13px;
					    padding: 0 16px;
					    color: #000;
					    text-align: center;
					    cursor: pointer;
					    &:hover{
					    	text-decoration: none;
					    	color: #ff7200;
					    }
					}
					&:hover {
                        text-decoration: none;
						.ddnav {
							display: block;
						    top: 44px;
						    transition: top 400ms ease 1s;
						    
						}
						.ddnav2 {
						    display: block;
						    top: 44px;
						    transition: top 400ms ease 1s;
						}
						& > a{
						    text-decoration: none;
						    color: #ff7200;
						}
					}
					&.horoscopes_menu{
						position: relative;
					}
					&.gllry_menu{
						position: relative;
					}
					.ddnav {
						position: absolute;
					    z-index: 10000;
					    background-color: @color-white;
					    border-top: none;
					    border-bottom: none;
					    display: none;
					    top: -20px;
					    border-radius: 0 0 5px 5px;
					    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
					    padding-bottom: 10px;
					    width: 550px;
					    left: 5%;
					    .d-flx{
					    	display: flex;
					    }
						&.sub_mgr {
							width: 730px;
							z-index: 9999;
	    					padding: ceil(@indent__s + 10) 0 0;
	    					left: 7%;
	    					.item_col {
							    border: none;
							    background-color: @color-white;
							    margin-bottom: 20px;
							    &:hover{
							    	h4{
							    		a{
							    			color: #ff7200;
							    		}
							    	}
							    }
							    .img {
								    margin: 0;
								    background-color: @color-white;
								    overflow: hidden;
							        -webkit-transition-duration: 0.4s;
								    -moz-transition-duration: 0.4s;
								    -ms-transition-duration: 0.4s;
								    -o-transition-duration: 0.4s;
								    transition-duration: 0.4s;
								    transform: scale(1);
								    position: relative;
								    overflow: hidden;
								    width: 100%;
								    box-shadow: 0px 0px 10px rgba(255, 114, 0, 0.35);
								    padding: 20px 16px;
								    margin-bottom: 10px;
								}
								h4 {
								    margin: 0;
								    padding: 0;
								    color: @gems_item-a-color;
								    background-color: @color-white;
								    text-transform: uppercase;
								    text-align: center;
								    font-weight: @font-weight__regular;
								    font-size: @font-size__s - 1;
								    line-height: @indent__m + 1;
								    a {
								    	line-height: @indent__s + 6;
    									padding: 3px 0;
    									font-size: 11px;
    									font-weight: 600;
    									&:hover{
    										color: #ff7200;
    									}
								    }
								}
								a {
									color: @color-black_dark;
									background: @color-white;
								    text-decoration: none;
								    display: block;
								    font-size: @font-size__s - 2;
								    padding: 0px;
								    &:hover {
							    	    background-color: @color-white;
										color: @color-white;
								    }
								}
							}
						}
						&.sub_m1 {
					    	width: 100%;
					    	max-width: 800px;
							left: 17.3%;
							padding-top: 15px;
							.d-flx{
								display: flex;
							}
							.choose-gems {
								h3 {
								    font-size: @font-size__base;
								    line-height: @font-size__xl - 1;
								    margin-top: @indent__s;
								    text-align: center;
								    text-transform: capitalize;
								    color: @home-section-h2-color;
								    font-weight: 600;
								    text-align: left;
								    letter-spacing: 0.5px;
								    margin-bottom: 8px;
								}
								& > .col-md-12{
									padding-left: 0;
								}
								.gems_menu_links{
									padding-left: 4px;
									list-style-type: none;
									li{
										padding:0;
										margin-bottom: 5px;
										line-height: normal;
										border:none;
										a{
											font-size: 13px;
											font-weight: 500;
											text-transform: capitalize;
											color: #000;
											text-align: left;
											line-height: 22px;
											letter-spacing: 0.5px;
											position: relative;
											padding-left: 25px;
											&:hover{
												color: #ff7200;
												text-decoration: none;
											}
											&::before{
												background-image: url(../images/m_thmb.png);
												position:absolute;
												content: '';
												width: 15px;
												height: 16px;
												left:0;
												top: 3px;

											}
										}
									}
								}
								.item_col {
									border: @gems_item-a-bg-color 1px solid;
								    background-color: @color-white;
								    margin-bottom: @indent__m - 5;
								    .img {
								    	margin: 0;
									    background-color: @color-white;
									    overflow: hidden;
									    a {
									    	color: @color-black_dark;
										    text-decoration: none;
										    display: block;
										    background-color: @gems_item-a-bg-color;
										    font-size: @font-size__s - 2;
										    padding: 0;

										    img {
										    	-webkit-transition-duration: 0.4s;
											    -moz-transition-duration: 0.4s;
											    -ms-transition-duration: 0.4s;
											    -o-transition-duration: 0.4s;
											    transition-duration: 0.4s;
											    transform: scale(1);
											    position: relative;
											    overflow: hidden;
											    width: 100%;
											    background-color: @color-white;
											    &hover {
											    	opacity: 1;
    												transform: scale(1.05);
											    }
										    }
									    }
								    }
								    h4 {
								    	margin: 0;
									    padding: 0;
									    color: @color-black_dark;
									    background-color: @gems_item-a-bg-color;
									    text-transform: uppercase;
									    text-align: center;
									    font-weight: @font-weight__light;
									    font-size: @font-size__s - 1;
									    line-height: @indent__m + 1;

									    a {
									    	color: @gems_item-a-color;
										    text-decoration: none;
										    display: block;
										    background-color: @gems_item-a-bg-color;
										    font-size: @font-size__s - 2;
										    padding: 0px;
										    &:hover {
										    	background-color: @gems_item-a-hover-color;
											    color: @color-white;
											    text-decoration: none;
										    }
									    }
								    }
								}
							}
					    }
					    &.sub_m2 {
				    	    width: 100%;
					    	max-width: 800px;
							left: 27.42%;
							padding-top: 15px;
							.d-flx{
								display: flex;
							}
							.choose-gems {
								h3 {
									font-size: @font-size__base;
								    line-height: @font-size__xl - 1;
								    margin-top: @indent__s;
								    text-align: center;
								    text-transform: capitalize;
								    color: @home-section-h2-color;
								    font-weight: 600;
								    text-align: left;
								    letter-spacing: 0.5px;
								    margin-bottom: 8px;
								}
								& > .col-md-12{
									padding-left: 0;
								}
								.gems_menu_links{
									padding-left: 4px;
									list-style-type: none;
									li{
										padding:0;
										margin-bottom: 5px;
										line-height: normal;
										border:none;
										a{
											font-size: 13px;
											font-weight: 500;
											text-transform: capitalize;
											color: #000;
											text-align: left;
											line-height: 22px;
											letter-spacing: 0.5px;
											position: relative;
											padding-left: 25px;
											&:hover{
												color: #ff7200;
												text-decoration: none;
											}
											&::before{
												background-image: url(../images/m_thmb.png);
												position:absolute;
												content: '';
												width: 15px;
												height: 16px;
												left:0;
												top: 3px;

											}
										}
									}
								}
								.item_col {
									border: @gems_item-a-bg-color 1px solid;
								    background-color: @color-white;
								    margin-bottom: @indent__m - 5;
								    .img {
								    	margin: 0;
									    background-color: @color-white;
									    overflow: hidden;
									    a {
									    	color: @color-black_dark;
										    text-decoration: none;
										    display: block;
										    background-color: @gems_item-a-bg-color;
										    font-size: @font-size__s - 2;
										    padding: 0;

										    img {
										    	-webkit-transition-duration: 0.4s;
											    -moz-transition-duration: 0.4s;
											    -ms-transition-duration: 0.4s;
											    -o-transition-duration: 0.4s;
											    transition-duration: 0.4s;
											    transform: scale(1);
											    position: relative;
											    overflow: hidden;
											    width: 100%;
											    background-color: @color-white;
											    &hover {
											    	opacity: 1;
    												transform: scale(1.05);
											    }
										    }
									    }
								    }
								    h4 {
								    	margin: 0;
									    padding: 0;
									    color: @color-black_dark;
									    background-color: @gems_item-a-bg-color;
									    text-transform: uppercase;
									    text-align: center;
									    font-weight: @font-weight__light;
									    font-size: @font-size__s - 1;
									    line-height: @indent__m + 1;

									    a {
									    	color: @gems_item-a-color;
										    text-decoration: none;
										    display: block;
										    background-color: @gems_item-a-bg-color;
										    font-size: @font-size__s - 2;
										    padding: 0px;
										    width: 98%;
										    margin: 0 auto;
										    white-space: nowrap;
										    overflow: hidden;
										    text-overflow: ellipsis;
										    &:hover {
										    	background-color: @gems_item-a-hover-color;
											    color: @color-white;
											    text-decoration: none;
										    }
									    }
								    }
								}
							}
					    }
					    &.sub_m4 {
					    	width: 700px;
    						left: auto;
    						right:0;
    						padding-top: 15px;
    						.choose-gems {
								h3 {
									font-size: @font-size__base;
								    line-height: @font-size__xl - 1;
								    margin-top: @indent__s;
								    text-align: center;
								    text-transform: capitalize;
								    color: @home-section-h2-color;
								    font-weight: 600;
								    text-align: left;
								    margin-bottom: 8px;
								}
								& > .col-md-12{
									padding-left: 0;
								}
								.menuLgMidBox{
									ul{
										li{
											border-right: none;
											a{
												&:hover{
													color: #ff7200;
													text-decoration: none;
												}
											}
										}
									}
								}
								.gems_menu_links{
									padding-left: 0;
									list-style-type: none;
									display: flex;
									flex-flow: row wrap;
									li{
										padding:0;
										margin-bottom: 5px;
										line-height: normal;
										border:none;
										width: 48%;
										a{
											font-size: 13px;
											font-weight: 500;
											text-transform: capitalize;
											color: #000;
											text-align: left;
											line-height: 22px;
											letter-spacing: 0.5px;
											padding-left: 30px;
											position: relative;
											&:hover{
												color: #ff7200;
												text-decoration: none;
											}
											&::before{
												background-image: url(../images/m_thmb.png);
												position:absolute;
												content: '';
												width: 15px;
												height: 16px;
												left:0;
												top: 3px;
											}
										}
									}
								}
								.item_col {
									border: @gems_item-a-bg-color 1px solid;
								    background-color: @color-white;
								    margin-bottom: @indent__m - 5;
								    .img {
								    	margin: 0;
									    background-color: @color-white;
									    overflow: hidden;
									    a {
									    	color: @color-black_dark;
										    text-decoration: none;
										    display: block;
										    background-color: @gems_item-a-bg-color;
										    font-size: @font-size__s - 2;
										    padding: 0;

										    img {
										    	-webkit-transition-duration: 0.4s;
											    -moz-transition-duration: 0.4s;
											    -ms-transition-duration: 0.4s;
											    -o-transition-duration: 0.4s;
											    transition-duration: 0.4s;
											    transform: scale(1);
											    position: relative;
											    overflow: hidden;
											    width: 100%;
											    background-color: @color-black;
											    &hover {
											    	opacity: 1;
    												transform: scale(1.05);
											    }
										    }
									    }
								    }
								    h4 {
								    	margin: 0;
									    padding: 0;
									    color: @color-black_dark;
									    background-color: @gems_item-a-bg-color;
									    text-transform: uppercase;
									    text-align: center;
									    font-weight: @font-weight__light;
									    font-size: @font-size__s - 1;
									    line-height: @indent__m + 1;

									    a {
									    	color: @light-yellow-collor;
										    text-decoration: none;
										    display: block;
										    background-color: @color-black;
										    padding: 0px;
										    text-decoration: none;
										    display: block;
										    font-size: @font-size__s - 2;
										    padding: 0px;
										   
									    }
								    }
								}
								.menuLgMidBox {

    								ul {
    									padding: 0px;
										list-style: outside none none;
	    								margin: 0 ;

	    								li {
										    list-style: outside none none;
										    padding: 0 0 0 @indent__l;
										    font-size: @font-size__base + 2;
										    line-height: @indent__l + 5;
										    font-weight: @font-weight__regular;
										    &:before {
										    	font-family: 'FontAwesome';
											    content: "\f178";
											    margin: 0 10px 0 0;
											    color: @gems_item-a-hover-color;
											    margin-left: -30px;
											    margin-top: 2px;
										    }
										    a {
										    	color: @color-black_dark;
										    	display: inline-block;
										    }
	    								}
    								}
								}
							}
					    }
					}
					.ddnav2 {
					    position: absolute;
					    z-index: 10000;
					    background-color: @color-white;
					    border-top: solid 6px @gems_item-a-hover-color;
					    border-bottom: none;
					    display: none;
					    top: -20px;
					    border-radius: 0 0 5px 5px;
					    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
					    padding-bottom: @indent__s;
					    width: 200px;
					    .dd_wrapper {
						    width: 200px;
						    float: left;
						    border-right: solid 1px #f0eeee;
						    ul {
						    	padding-top: 5px;
    							padding-left: 0;
    							    list-style: none;
    							li {
    								a {
									    padding-left: @indent__l;
									    margin-left: 0px;
									    font-size: @font-size__base;
									    line-height: @indent__m - 1;
									    position: relative;
									    display: block;
									    color: @gems_item-a-color;
									    &:hover {
									    	color: @color-black;
										    padding-left: @indent__l;
										    margin-left: @indent__s;
										    transition: margin 200ms ease 0s;
									    }
									}
    							}
						    }
						}
						&.glry_sub_menu{
							border-top: 0;
							left:-2px;
							box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
							.dd_wrapper{
								width: 180px;
								border: 0;
								ul{
									li{
										border-right: 0;
										a{
											font-size: 13px;
											line-height: 28px;
											padding-left: 22px;
											margin-left: 0;
											letter-spacing: 0.4px;
											text-align: left;
											&:hover{
												padding-left: 22px;
												margin-left: 0;
												color: #ff7200;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
}

// navbar css end
// home page css start

.cms-index-index {
	.page-wrapper {
		

		    // home page slider
		    .home-page-slider {
				#owl-gemstoneuniverse {
					border-bottom: 1px solid @gems_item-a-bg-color;
			    	position: relative;

			    	.owl-wrapper-outer {
			    		min-height: 354px;
			    	}
			    	.owl-buttons {
			    		.owl-prev {
			    			position: absolute;
						    left: 0;
						    top: 40%;
						    background-image: url(../images/left-arrow.png);
						    font-size: 0;
						    width: 30px;
						    height: 60px;

			    		}
			    		.owl-next {
						    position: absolute;
						    right: 0;
						    top: 40%;
						    background-image: url(../images/right-arrow.png);
						    font-size: 0;
						    width: 30px;
						    height: 60px;
			    		}
			    	}
				}
			}
			// home page slider end

			// Choose Precious Gemstones css start
			.choosePrecious {
			    background: @home-section-bg-color;
			    padding: ceil(@indent__s + 5) 0;
			    .choose_precious_gemstones{
			    	h2 {
				    font-family: 'Lato', serif;
				    font-size: @font-size__xl + 4;
				    line-height: @indent__l;
				    margin-top: @indent__m - 5;
				    text-align: center;
				    text-transform: capitalize;
				    color: @home-section-h2-color;
				    font-weight: @font-weight__light;
				    margin-bottom: @indent__m  - 1;
					    &:after {
					    	content: url(../images/head_divider.png);
						    position: relative;
						    top: 10px;
						        display: block;
					    }
					}
					.gems_item {
					    border: @gems_item-a-bg-color 1px solid;
					    background-color: @color-white;
					    margin-bottom: 20px;
					    .gems_item_img {
						    margin: 0;
						    background-color: @color-white;
						    overflow: hidden;
						    img {
					    	    -webkit-transition-duration: 0.4s;
							    -moz-transition-duration: 0.4s;
							    -ms-transition-duration: 0.4s;
							    -o-transition-duration: 0.4s;
							    transition-duration: 0.4s;
							    transform: scale(1);
							    position: relative;
							    overflow: hidden;
							    width: 100%;
							    background-color: @color-white;
							    &:hover {
							    	opacity: 1;
    								transform: scale(1.05);
							    }
						    }
						}
						h4 {
							margin: 0;
						    padding: 0;
						    color: @gems_item-a-color;
						    background-color: @gems_item-a-bg-color;
						    text-transform: uppercase;
						    text-align: center;
						    font-weight: @font-weight__regular;
						    font-size: @font-size__base + 1;
						    line-height: @indent__l - 4;
							a {
								color: @gems_item-a-color;
							    text-decoration: none;
							    display: block;
							    background-color: @gems_item-a-bg-color;
							    font-size: @indent__s;
							    &:hover {
							    	background-color: @gems_item-a-hover-color;
    								color: rgb(255, 255, 255);
							    }

							}
						}

					}
					.top_resources_sec {
					    background: rgb(255, 255, 255) url(../images/top_resources_bg.png) no-repeat scroll right bottom;
					    border: 1px solid rgb(204, 204, 204);
					    font-size: 16px;
					    font-style: italic;
					    font-weight: @font-weight__semibold;
					    padding: 5px 15px;
					    text-align: left;
					    ul {
					    	list-style: outside none none;
						    margin: 0 ;
						    padding: 0px;
						    li {
						    	background: rgba(0, 0, 0, 0) url(../images/dimond_bullet.png) no-repeat scroll left center;
							    list-style: outside none none;
							    padding: 0 0 0 40px;
							    font-size: @font-size__base + 1;
							    line-height: @indent__l + 5;
							    font-weight: @font-weight__regular;
							    margin-bottom: 0;
							    a{
							    	color: @gems_item-a-color;
							    	text-decoration: none;
							    }
						    }
					    }
					}
					#articles-slider {
						.owl-item {
							margin-right: @indent__s;
							.item {
							    background: @color-white;							
								.item-img {
								    position: relative;
								    cursor: pointer;
								    border: 1px solid @color-gray-darken0;
								    img {
								    	margin: 0 auto;
	   								 	width: 100%;
								    }
								}
								.item-info {
								    padding: @indent__s;
								    border-radius: 0 0 5px 5px;
								    margin-top: 1px;
								    .item-post_head {
							    	    margin-top: 5px;
										border: none;
										h5 {
											line-height: @indent__l;
										    margin: 0;
										    text-transform: uppercase;
										    font-size: @font-size__base;
										    color: @gems_item-a-color;
										}
										a {
											.item-post-text {
											    color: #ababab;
											    text-transform: none ;
											    font-size: @font-size__base;
											    
											}
										}
								    }
								}
							}
						}
						.owl-controls {
							.owl-buttons {
								.owl-prev {
					    			position: absolute;
								    left: 0;
								    top: 40%;
								    background-image: url(../images/left-arrow.png);
								    font-size: 0;
								    width: 30px;
								    height: 60px;

					    		}
					    		.owl-next {
								    position: absolute;
								    right: 0;
								    top: 40%;
								    background-image: url(../images/right-arrow.png);
								    font-size: 0;
								    width: 30px;
								    height: 60px;
					    		}
							}
						}
					}
			    }
			    .gemstoneuniverse_promotional_block {
			    	#showmore_button {
					    padding-left: @indent__s;
					    font-size: @font-size__s + 2;
					    color: #060;
					    text-decoration: underline;
					}
					#showmore_text {
					    padding: 1px 0;
					}
			    } 
			}

			// Choose Precious Gemstones css end
		}
}

.page-header{
	.panel{
		&.wrapper{
			padding-bottom: 0 !important;
			padding-top: 0px !important;
		}
	}
	.header{
		position: relative;
		padding-top: 7px;
		.switcher-currency{
			position: absolute;
			right: 0;
			margin-right: 0;
			.switcher-trigger{
				& > strong{
					color: #000;
					font-weight: bold;
				}
				&::after{
					content: '';
				    width: 0;
				    height: 0;
				    margin-left: 2px;
				    vertical-align: middle !important;
				    border-top: 4px dashed #000;
				    border-right: 4px solid transparent;
				    border-left: 4px solid transparent;
				}
				&.active{
					&::after{
						vertical-align: middle;
					}
				}
			}
			.switcher-dropdown{
				min-width: 40px !important;
				.switcher-option{
					a{
						padding: 6px 8px;
						font-weight: bold;
						color: #ff7200;
					}
				}
			}

		}
		.headerbefore{
			.headertopright{
				padding-right: 70px;
				.right-menu-dropdown{
					li{
						&.dropdown {
							.dropdown-toggle{
								&::after{
									display: none;
								}
								.caret{
									display: inline-block;
								    width: 0;
								    height: 0;
								    margin-left: 2px;
								    vertical-align: middle;
								    border-top: 4px dashed;
								    border-right: 4px solid transparent;
								    border-left: 4px solid transparent;
								}
							}
						}
					}
				}
			}
		}
	}
}

