<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */

$storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt()
?>
<span data-action="toggle-nav" class="action nav-toggle"><span><?= $block->escapeHtml(__('Toggle Nav')) ?></span></span>
<div class="row">
    <div class="headerPanel">
    <div class="logosection">
    <a
    class="logo"
    href="<?= $block->escapeUrl($block->getUrl('')) ?>"
    title="<?= $block->escapeHtmlAttr($storeName) ?>"
    aria-label="store logo">
    <img src="<?= $block->escapeUrl($block->getLogoSrc()) ?>"
         title="<?= $block->escapeHtmlAttr($block->getLogoAlt()) ?>"
         alt="<?= $block->escapeHtmlAttr($block->getLogoAlt()) ?>"
            <?= $block->getLogoWidth() ? 'width="' . $block->escapeHtmlAttr($block->getLogoWidth()) . '"' : '' ?>
            <?= $block->getLogoHeight() ? 'height="' . $block->escapeHtmlAttr($block->getLogoHeight()) . '"' : '' ?>
    />
    </a>

    <div class="memberlogo">
        <ul>
            <li><img src='<?php echo $this->getViewFileUrl('images/member_logo.jpg'); ?>' alt="ICA"></li>
            <li><img src='<?php echo $this->getViewFileUrl('images/iacc_logo.jpg'); ?>' alt="Indo-American Chamber of Commerce - IACC"></li>
            <li><img src='<?php echo $this->getViewFileUrl('images/gia_logo.png'); ?>' alt="Gemological Institute Of America - GIA"></li>
            <li><a href="/gemstoneuniverse-awarded-certification-for-responsibly-sourced-conflict-free-gemstones"><img src='<?php echo $this->getViewFileUrl('images/m-aem-logo.png'); ?>' alt="Accredited Ethical Member - AEM"></a></li>
        </ul>    
    </div>    
</div>

    <script type="text/javascript">
        requirejs(['require', 'jquery', 'aos'],
        function(require, $, AOS) {

            AOS.init({
                duration: 600,
            });
        });
</script>
        
<script>
        
    require(['jquery'], function ($) {
      $(window).scroll(function(){
            var ScrollTop = $(window).scrollTop();
            if(ScrollTop > 120){
                $('.sections.nav-sections').addClass('sticky');
            } else{
               $('.sections.nav-sections').removeClass('sticky');
            }        
        }); 
        
        $(document).on('change', 'select.flavourdiv', function() {
                var selectedCountry = $(this).children("option:selected").index();
                $("select.flavourdiv").prop("selectedIndex", selectedCountry);
        
        });
        

        
        });
</script>
        
        <style>
        .switcher-currency{ position: absolute;  right: 0;  margin-right: 0; }
.switcher-trigger & > strong{ color: #000; font-weight: bold;}
.switcher-trigger&:after{
          content: '';
            width: 0;
            height: 0;
            margin-left: 2px;
            vertical-align: middle !important;
            border-top: 4px dashed #000;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
.switcher-trigger.active &:after {vertical-align: middle;}
      .switcher-dropdown{ min-width: 40px !important;}
        .switcher-option a{padding: 6px 8px;  font-weight: bold;  color: #ff7200; }
            #switcher-currency-nav {display: none;}
            .header.links {display: none;}
            .addthis_toolbox.addthis_32x32_style span {letter-spacing: 0px !important;}
            .payment-option._collapsible.opc-payment-additional.discount-code .payment-option-title.field.choice {clear: both;}
            .payment-option._collapsible.opc-payment-additional.discount-code .payment-option-title.field.choice span {display: block;}
            .payment-option._collapsible.opc-payment-additional.discount-code .payment-option-title.field.choice span span {display: inline-block;}
/*            .main_wrapper .blog_post_feed.detail article p img {width: 50%;}*/
            ul.cert_img_blk, ul.cert_img_blk {padding: 0; list-style: none;}
            .hidden, .hiddencat {
                  display: none;
                }
        </style>
        