// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 8;

@checkout-step-title__border: @border-width__base solid @color-gray80;
@checkout-step-title__font-size: 26px;
@checkout-step-title__font-weight: @font-weight__light;
@checkout-step-title__padding: @indent__s;

@checkout-step-title-mobile__font-size: 18px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-index-index {
        .page-title-wrapper {
            &:extend(.abs-visually-hidden all);
           
        }
    }

    .checkout-container {
        &:extend(.abs-add-clearfix all);
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);

        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-checkout-title all);
        }

        .step-content {
            margin: 0 0 @indent__xl;
        }
    }

    .checkout-index-index {
        .nav-sections,
        .nav-toggle {
            display: none;
        }

        .logo {
            margin-left: 0;
        }
    }

    .checkout-onepage-success {
        &:extend(.abs-add-clearfix all);

        .print {
            display: none;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-wrapper {
        .step-title {
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .opc-wrapper {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @checkout-wrapper__columns);
        padding-right: @indent__l;
    }

    .checkout-onepage-success {
        .print {
            display: block;
            float: right;
            margin: 22px 0 0;
        }
    }
}

.cart.table-wrapper .col.price, .order-items.table-wrapper .col.price, .cart.table-wrapper .col.qty, .order-items.table-wrapper .col.qty, .cart.table-wrapper .col.subtotal, .order-items.table-wrapper .col.subtotal, .cart.table-wrapper .col.msrp, .order-items.table-wrapper .col.msrp {
    text-align: left;
}

.page-title-wrapper {
    padding-top: 15px;
    .page-title {
        span {
            font-family: 'Roboto Condensed', sans-serif;
            color: #000;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 22px;
            display: inline-block;
            position: relative;
            &::after {
                height: 8px;
                content: '';
                position: absolute;
                bottom: -5px;
                background: #ffc000;
                width: 100%;
                z-index: -1;
                left: 0;
            }
        }
    }
}


#shopping-cart-table {
    th {
        padding-top: 20px;
        border-top: 0;
        border-bottom: solid 1px #ff7200;
        color: #000;
        font-weight: 700;
        text-transform: uppercase;
    }
    .cart {
        &.item {
            .col {
                &.item {
                    border-top: none;
                    padding-bottom: 20px;
                    .product-item-photo {
                        display: inline-block;
                        width: auto;
                    }
                    .product-item-details {
                        display: inline-block;
                        width: 65%;
                        .product-item-name {
                            font-family: 'Roboto Condensed', sans-serif;
                            font-size: 18px;
                            font-weight: 700;
                            text-decoration: none;
                            margin: 0;
                        }
                        .item-options {
                            font-size: 14px;
                        }
                    }
                }
            }
            .col {
                &.price {
                    border-top: 0;
                    .price {
                        font-weight: 700;
                        font-family: 'Roboto Condensed', sans-serif;
                        color: #000;
                        font-size: 18px;
                    }
                }
            }
            .col {
                &.qty {
                    border-top: 0;
                }
            }
            .col {
                &.subtotal {
                    border-top: 0;
                }
            }
        }
    }
    .actions-toolbar {
        padding-top: 8px;
        padding-bottom: 5px;
        .action {
            &.action-delete {
                background: none;
                border: solid 1px #000;
                border-radius: 20px;
                font-weight: 600;
                text-transform: uppercase;
                color: #000;
                transition: .5s all ease;
                margin-bottom: 0;
                &:hover {
                    color: #fff;
                    border: solid 1px #ff7200;
                    background: #ff7200;
                    transition: .5s all ease;
                }
            }
        }
        .action {
            &.action-edit {
                background: #ff7200;
                border: none;
                border-radius: 20px;
                color: #fff;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 600;
                padding: 8px 36px;
                height: auto;
                display: inline-block;
                transition: .5s all ease;
                border: solid 1px #ff7200;
                margin-bottom: 0;
                &:hover {
                    border: solid 1px #000;
                    background: #fff;
                    color: #000;
                    transition: .5s all ease;
                }
            }
        }
    }
}
.form {
    &.form-cart {
        .cart {
            &.main {
                &.actions {
                    a, button {
                        background: none;
                        border: solid 1px #000;
                        border-radius: 20px;
                        font-weight: 600;
                        text-transform: uppercase;
                        color: #000;
                        padding: 10px 16px;
                        text-align: center;
                        transition: .5s all ease;
                        &:hover {
                            border: solid 1px #51b27e;
                            color: #fff;
                            text-decoration: none;
                            background: #51b27e;
                        }
                    }
                }
            }
        }
        .cart {
            &.item {
                border-top: 0;
                border-bottom: solid 1px #000;
                td {
                    border-top: solid 1px #000;
                }
            }
        }
    }
}
.checkout-cart-index {
    .cart-summary {
        background: none;
        border: solid 1px #777;
        border-radius: 20px;
        .summary {
            &.title {
                font-family: 'Roboto Condensed', sans-serif;
                color: #000;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 20px;
                display: inline-block;
                position: relative;
                &::after {
                    height: 8px;
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    background: #ffc000;
                    width: 100%;
                    z-index: -1;
                    left: 0;
                }
            }
        }
        #block-shipping {
            .title {
                padding-top: 10px;
                margin-top: 10px;
                strong {
                    font-family: 'Roboto Condensed', sans-serif;
                    color: #000;
                }
            }
        }
        .cart-totals {
            border: none;
            color: #000;
            th, td {
                border-top: solid 1px #000;
                background: #fff;
            }
        }
        .grand {
            &.totals {
                strong {
                    font-family: 'Roboto Condensed', sans-serif;
                    text-transform: uppercase;
                    font-size: 16px;
                }
            }
        }
        .mark {
            background: #fff;
        }
        .block {
            &.discount  {
                strong {
                    font-family: 'Roboto Condensed', sans-serif;
                    color: #000;
                    font-weight: 500;
                    font-size: 17px;
                }
                .fieldset {
                    &.coupon {
                        label {
                            font-weight: normal;
                            color: #000;
                        }
                        .control {
                            input {
                                border: solid 1px #000;
                                height: auto;
                                padding: 8px;
                            }
                        }
                        .actions-toolbar {
                            .primary {
                                width: 100%;
                                button {
                                    width: 100%;
                                    background: none;
                                    border: solid 1px #000;
                                    font-weight: 600;
                                    text-transform: uppercase;
                                    border-radius: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .checkout {
            &.methods  {
                .checkout {
                    background: #24a962;
                    border: none;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 16px;
                    height: auto;
                    border-radius: 50px;
                    padding: 12px 0;
                    transition: .5s all ease;
                    &:hover {
                        background: #ff7200;
                        transition: .5s all ease;
                    }
                }
                li:nth-child(2n) {
                    display: none;
                }
            }
        }
    }
    .message  {
        &.message-notice{
            &.notice {
                margin-top: 20px;
                margin-bottom: 10px;
                text-align: left;
                color: #000;
                font-size: 14px;
                background: #f3f3f3;
                border: solid 1px #777;
            }
        }
    }
}

.checkout-index-index {
    .header {
        &.content {
            border: none;
            text-align: center;
            .headerPanel {
                float: none;
                text-align: center;
                width: 100%;
                max-width: 100%;
                .logosection {
                    float: none;
                    img {
                        display: inline-block;
                    }
                }
            }
        }
    }
    #maincontent {
        .authentication-wrapper {
            display: none;
        }
        .opc-wrapper {
            width: 60.666%;
            border: solid 1px #777;
            padding-right: 0;
            margin-top: 20px;
            border-radius: 20px;
            .step-title {
                font-family: 'Roboto Condensed', sans-serif;
                text-transform: uppercase;
                color: #000;
                font-weight: 600;
                font-size: 21px;
                border-bottom: solid 1px #777;
                padding-top: 15px;
                padding-left: 20px;
            }
            .form {
                &.form-shipping-address {
                    max-width: 100%;
                    padding: 0 20px;
                    #shipping-new-address-form {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        .field {
                            width: 45%;
                            label {
                                display: block;
                                float: none;
                                width: 100%;
                                text-align: left;
                                color: #000;
                                font-size: 14px;
                                padding-bottom: 8px;
                            }
                            .control {
                                width: 100%;
                                input {
                                    height: auto;
                                    border: solid 1px #777;
                                    padding: 10px;
                                }
                                select {
                                    height: auto;
                                    border: solid 1px #777;
                                    padding: 10px;
                                    width: 100%;
                                }
                            }
                            &.street {
                                legend {
                                    width: 100%;
                                    text-align: left;
                                    padding-bottom: 8px;
                                }
                                .field {
                                    width: 100%;
                                    label {
                                        width: auto;
                                    }
                                    &.additional {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .form {
                &.form-login {
                    max-width: 100%;
                    padding: 0 20px;
                    margin-bottom: 0;
                    #customer-email-fieldset {
                        margin-bottom: 0;
                    }
                    .field {
                        width: 100%;
                        label {
                            display: block;
                            float: none;
                            width: 100%;
                            text-align: left;
                            color: #000;
                            font-size: 14px;
                            padding-bottom: 8px;
                        }
                        .control {
                            width: 100%;
                            input {
                                height: auto;
                                border: solid 1px #777;
                                padding: 10px;
                            }
                            select {
                                height: auto;
                                border: solid 1px #777;
                                padding: 10px;
                                width: 100%;
                            }
                        }
                }
            }
            }
            #checkout-step-shipping_method {
                padding: 0 20px;
                padding-left: 40px;
                position: relative;
                .actions-toolbar {
                    position: absolute;
                    top: 15px;
                    right: 20px;
                    button {
                        background: #24a962;
                        border: none;
                        font-weight: 600;
                        text-transform: uppercase;
                        font-size: 16px;
                        height: auto;
                        border-radius: 20px;
                        padding: 8px 25px;
                        border: solid 1px #24a962;
                        transition: .5s all ease;
                        &:hover {
                            color: #000;
                            border: solid 1px #000;
                            transition: .5s all ease;
                            background: #fff;
                        }
                    }
                }
            }
        }
        .opc-summary-wrapper {
            margin: 0;
            .modal-content {
                border: solid 1px #777;
                border-radius: 20px;
                .opc-block-summary {
                    background: none;
                    .title {
                        font-family: 'Roboto Condensed', sans-serif;
                        text-transform: uppercase;
                        color: #000;
                        font-weight: 600;
                        font-size: 21px;
                        border-bottom: solid 1px #777;
                        margin: 0;
                        padding-top: 0;
                        position: relative;
                    }
                    .product-item-inner {
                        font-family: 'Roboto Condensed', sans-serif;
                        color: #000;
                        font-weight: 600;
                        strong {
                            font-weight: 600;
                        }
                        .price {
                            font-weight: 600;
                        }
                    }
                    .content {
                        &.minicart-items {
                            display: block !important;
                        }
                    }
                    .items-in-cart {
                        .title {
                            padding:0;
                        }
                    }
                    .product-item-name {
                        white-space: pre-wrap;
                    }
                }
            }
        }
    }
}
.product-item:hover .product-item-inner {
    position: relative;
    top: 0;
}

.opc-block-summary > span {z-index: 1;}
.opc-block-summary > span::after {
    height: 8px;
    content: '';
    position: absolute;
    bottom: 13px;
    background: #ffc000;
    width: 47%;
    z-index: -1;
    left: 0;
}
#co-payment-form {
    .payment-method {
        .payment-method-title {
            padding-left: 20px;
            span {
                font-family: 'Roboto Condensed', sans-serif;
                color: #000;
                text-transform: uppercase;
                font-size: 16px;
                padding-left: 20px;
                display: inline-block;
                padding-top: 5px;
            }
        }
        .payment-method-content {
            color: #000;
        }
    }
    .actions-toolbar {
        margin-left: 0 !important;
        .primary {
            float: left;
            button {
                background: #24a962;
                font-weight: 600;
                font-size: 16px;
                text-transform: uppercase;
                border: none;
                height: auto;
                border-radius: 20px;
                transition: .5s all ease;
                border: solid 1px #24a962;
                padding: 8px 20px;
                &:hover {
                    color: #000;
                    border: solid 1px #000;
                    background: #fff;
                    transition: .5s all ease;
                }
            }
        }
    }
}

.payment-option {
    &.opc-payment-additional {
        &.discount-code {
            .action-toggle {
                font-family: 'Roboto Condensed', sans-serif;
                color: #000;
                text-transform: uppercase;
                font-size: 16px;
            }
            #discount-form {
                max-width: 100%;
                .payment-option-inner {
                    float: left;
                    width: 50%;
                    .control {
                        input {
                            height: auto;
                            padding: 10px;
                            border: solid 1px #777;
                        }
                    }
                }
                .actions-toolbar {
                    float: left;
                    button {
                        background: none;
                        border: solid 1px #000;
                        border-radius: 0;
                        height: auto;
                        padding: 9px;
                        border-left: 0;
                        line-height: normal;
                    }
                }
            }
        }
    }
}
.mark {
    background: none;
}
.opc-block-shipping-information {
    .shipping-information-title {
        border: none;
        padding: 0;
        margin: 0 0 10px 0;
        span {
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 600;
            color: #000;
            position: relative;
            z-index: 1;
            &::after {
                height: 8px;
                content: '';
                position: absolute;
                bottom: 0px;
                background: #ffc000;
                width: 100%;
                z-index: -1;
                left: 0;
            }
        }
    }
    .shipping-information-content {
        word-break: break-all;
    }
}
.checkout-onepage-success {
    .column {
        &.main {
            text-align: center;
            .actions-toolbar {
                .primary {
                    float: none;
                }
            }
            .page-title {
                float: none;
                display: block;
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }
}
#checkout-payment-method-load {
    .no-payments-block {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 18px;
        padding-left: 20px;
        padding-top: 0;
        margin-top: 0;
    }
}

#checkout-payment-method-load input[type="radio"]:not(:checked) + label:before,  #checkout-payment-method-load input[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    background: #fff;
    border-radius: 0;
}

#checkout-payment-method-load input[type="radio"]:not(:checked) + label, #checkout-payment-method-load input[type="radio"]:checked + label{
    position: relative;
    padding-left: 1.2em;
    cursor: pointer;
}
#checkout-payment-method-load input[type="radio"]:checked + label:after {
       content: "";
    position: absolute;
    top: 9px;
    left: 3px;
    font-size: 19px;
    line-height: 0.8;
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    transition: all 0.2s ease 0s;
    background: #ff7200;
    width: 11px;
    height: 11px;
    border-radius: 0;
}
 #checkout-payment-method-load input[type="radio"]:not(:checked),  #checkout-payment-method-load input[type="radio"]:checked {
    opacity: 0;
    position: absolute;
}
.checkout-payment-method .checkout-billing-address .billing-address-details {word-break: break-all; padding-right: 20px;}
#checkout-payment-method-load {
    .fieldset {
        width: 100%;
        .billing-address-form{
            max-width: 100%;
            .field {
                float: left;
                width: 48%;
                margin-right: 10px;
                label {
                    display: block;
                    text-align: left;
                    width: 100%;
                    padding-bottom: 8px;
                }
                input, select {
                    width: 100%;
                    border: solid 1px #777;
                    height: auto;
                    padding: 10px;
                }
                &.street {
                    .label {
                        display: block;
                        text-align: left;
                        width: 100%;
                        padding-bottom: 8px;
                    }
                    .field {
                        width: 100%;
                        label {
                            display: none;
                        }
                    }
                    .additional {
                        display: none;
                    }
                }
                .control {
                    width: 100%;
                }
            }
        }
    }
    .payment-method-billing-address {
        .actions-toolbar {
            button {
                background: none;
                border: solid 1px #000;
                padding: 8px 20px;
                border-radius: 20px;
                color: #000;
                margin-top: 0;
                transition: .5s all ease;
                &:hover {
                    text-decoration: none;
                    color: #000;
                    background: #ffc000;
                    border: solid 1px #ffc000;
                    transition: .5s all ease;
                }
            }
        }
    }
}
.checkout-index-index  {
    .memberlogo {
        display: none;
    }
    .page-bottom, .fooerpayment {
        display: none;
    }
}
.payment-method {
    &.payment-method-twocheckout {
        .payment-method-title {
            &.field {
                &.choice {
                    padding-bottom: 0;
                }
            }
        }
        label {
            &.label {
                font-family: 'Roboto Condensed', sans-serif;
                color: #000;
                text-transform: uppercase;
                font-size: 16px;
                display: inline-block;
                padding-top: 5px;
                padding-left: 35px !important;
            }
        }
    }
}
.checkout-billing-address {
    padding-left: 25px;
}
.form {
    &.mptwocheckout-method-form {
        label {
            &.label {
                padding-left: 0px !important;
            }
        }
    }
}