<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$getBaseUrl = $this->getBaseUrl(); 

?>

<style>
    .panel.header .links, .panel.header .switcher {display: block;}
</style>

<div class="row">
	<div class="headerbefore">
		<div class="headertopleft">
            <ul>
                <li>
                    <span><img src='<?php echo $this->getViewFileUrl('images/callicon-mobile.png'); ?>' alt="phone"></span>
                    CALL +91-80-25216611 (WORLDWIDE), 1-888-864-1187 (USA)
                </li>
<!--
                <li>
                    <span><img src='<?php //echo $this->getViewFileUrl('images/callicon01-mobile.png'); ?>' alt="phone"></span>
                    1-888-864-1187 (USA)
                </li>
-->
            </ul>
        </div>

        
        <div class="headertopright">
        	<ul class="nav navbar-nav top-right-nav  right-menu-dropdown">
             
             
               
       <?php echo $this->getLayout()
            ->createBlock("Magento\Directory\Block\Currency")
            ->setTemplate("Magento_Directory::currency.phtml")
            ->toHtml();  ?>     
        		<li class="dropdown ">
        			
        		</li>
        		<li class="dropdown pull-right">
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img src='<?php echo $this->getViewFileUrl('images/usericon-mobile.png'); ?>' alt="account">
                        Account 
        				<span class="caret"></span>
        			</a>
        			<ul class="dropdown-menu" role="menu">
		               	<li><a href="<?php echo $getBaseUrl; ?>customer/account/">My Account</a></li>
		           		<li><a href="<?php echo $getBaseUrl; ?>checkout/cart/">My Cart</a></li>
		           		<li><a href="<?php echo $getBaseUrl; ?>checkout">Checkout</a></li>
		           		<li><a href="<?php echo $getBaseUrl; ?>customer/account/create/">Register</a></li>
		           		<li><a href="/blog">Blog</a></li>
		           		<?php if($customerSession->isLoggedIn()){?>
                                <li>
                                    <a href="<?php echo $getBaseUrl.'customer/account/logout' ?>"><span>Logout</span></a>
                                </li>
                            <?php } else { ?>
		           		<li><a href="<?php echo $getBaseUrl; ?>customer/account/login">Log In</a></li>
                          <?php } ?>
		        	</ul>
		        
        		</li>
        	</ul>
        </div>
	</div>
</div>