/*22-Feb-20*/

@grey_color_light : #e8e9e9;
@green_color_link : #00b06c;
@dark_grey_bg : #e0ddd5;
@font_style_italic : italic;



.ringsizemagerment {
    margin-left: 0;
    margin-right: 0;
    p {
        font-size: 14px;
        color: #000;
        font-family: 'Open Sans', sans-serif;
        line-height: 26px;
        a {
                color: #ff7200;
            }
        strong {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 18px;
            font-weight: 500;
            color: #000;
        }
    }
    h4 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 18px;
        color: #000;
        padding-bottom: 12px;
    }
    ul {
        padding-bottom: 10px;
        li {
            font-size: 14px;
            a {
                color: #ff7200;
            }
        }
    }
    
    .nine_gems_wrapper {
        col-xs-12 {
            padding-left: 0;
            padding-right: 0;
        }
        h5 {
            font-family: 'Roboto Condensed', sans-serif;
            color: #000;
            font-weight: 500;
            font-size: 25px;
            border: none;
            padding: 0 0 20px 0;
        }
        .contenttop {
            clear: both;
            overflow: hidden;
            padding-bottom: 30px;
            .left {
                float: none;
                width: 100%;
            }
            .right {
                float: none;
                width: 100%;
                padding-left: 0px;
                .nine_head {
                    font-family: 'Roboto Condensed', sans-serif;
                    color: #000;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 18px;
                }
                p {
                    padding-bottom: 10px;
                    color: #000;
                }
            }
            &.imagecontent {
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .videobtmcontent {
        padding-top: 30px;
        p {
            padding-bottom: 15px;
            color: #000;
            line-height: 26px;
            font-size: 14px;
            a {
                color: #ff7200;
            }
        }
       .subheading {
            font-family: 'Roboto Condensed', sans-serif;
            color: #000;
            font-size: 16px;
        }
        ul {
            padding-bottom: 30px;
            padding-left: 15px;
            li {
                color: #000;
                line-height: 26px;
            }
        }
    }
    .ringsizeTable {
        .col-md-12 {
            padding: 0;
        }
        .nine_head {
            font-family: 'Roboto Condensed', sans-serif;
            color: #000;
            font-weight: 500;
            font-size: 22px;
            border: none;
            padding: 0;
        }
        p {
            color: #000;
            line-height: 26px;
        }
        .table-responsive {
            border: solid 1px #000;
            margin-bottom: 30px;
            border-bottom: none;
            td {
                border: solid 1px #000 !important;
                color: #000;
                select {
                    width: 80px;
                }
            }
            .table-bgblue {
                &.tophead {
                    td {
                       font-family: 'Roboto Condensed', sans-serif;
                        text-transform: uppercase;
                        color: #000;
                        font-weight: 600;
                        font-size: 16px;
                        .bodertopnone {
                            border-top: none !mportant;
                        }
                    }
                }
            }
        }
    }
    table {
        td {
            strong {
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: bold;
            }
        }
    }
    .recognition {
        .innersection {
            border: solid 1px #ddd;
            padding: 8px;
            text-align: center;
        }
    }
    .sterlingreturnstop {
        clear: both;
        overflow: hidden;
        padding-bottom: 30px;
        padding-top: 30px;
        .imagesection {
            float: none;
            width: 100%;
        }
        .content {
            float: none;
            width: 100%;
            padding-top: 15px;
            .heading {
                p {
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 20px;
                    font-weight: normal;
                    margin: 0 0 10px 0;
                }
            }
        }
    }
    .cert_img_blk {
        list-style: none;
        padding: 0;
        display: block;
        text-align: center;
        li {
            img {
                width: auto !important;
                border: solid 1px #ddd;
                padding: 5px;
            }
            &:nth-child(2), &:nth-child(3) {
                display: inline-block;
            }
        }
    }
    .nav {
        &.nav-tabs {
            padding: 0;
            margin: 20px 0;
            border: none;
            li {
                position: relative;
                a {
                    display: inline-block;
                    border: none;
                    color: #8b8b8b !important;
                    font-size: 18px;
                    font-weight: bold;
                    position: relative;
                    margin-right: 30px;
                    font-family: 'Roboto Condensed', sans-serif;
                    &.active {
                        z-index: 1;
                        color: #000 !important;
                        &:hover {
                            text-decoration: none;
                        }
                        &::after {
                            height: 6px;
                            content: '';
                            position: absolute;
                            bottom: 4px;
                            background: #ffc000;
                            width: 100%;
                            z-index: -1;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
    .tab-content {
        .nine_head {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 18px;
            color: #000;
            text-decoration: none !important;
        }
    }
    .aboutguruji {
        img {
            float: left;
            margin:0 20px 10px 0;
        }
        span {
            &.gurumantra {
                display: inline-block;
                border: solid 1px #ff7200;
                border-radius: 20px;
                padding: 4px 14px;
                margin-bottom: 12px;
                margin-right: 35px;
            }
        }
        .sepratetext {
         color: #ff7200;   
        }
    }
    .planetarygem {
        .innersection {
            padding-bottom: 40px;
            img {
                float: left;
                margin: 0 20px 0 0;
            }
        }
        .navaratnatable {
            margin-bottom: 40px;
            a {
                color: #ff7200;
            }
            th {
                font-family: 'Roboto Condensed', sans-serif;
            }
            th, td {
                border: solid 1px #777 !important;
            }
        }
    }
    .worldlargestv {
        iframe {
            padding: 4px;
            border: solid 1px #ddd;
            margin: 0px;
        }
    }
    .fifthybangkok {
        .topsection {
            display: flex;
            flex-wrap: wrap;
            .caption {
                .txt {
                    font-family: 'Roboto Condensed', sans-serif;
                    max-width: 97% !important;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .retialstoresection {
        .innersection {
            padding-bottom: 40px;
            .image {
                float: none;
                width: 100%;
            }
            .content {
                float: none;
                width: 100%;
                padding: 0px 0 0 0px;
                p {
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 16px !important;
                    border-bottom: solid 2px #ff7200;
                    padding-bottom: 20px !important;
                }
            }
            &:nth-child(even) {
                .image {
                    float: right;
                }  
                .content {
                    float: left;
                    padding-left: 0;
                    padding-right: 0px;
                    text-align: right;
                }
            }
        }
    }
}

.videogallery {
    .latestvideotext {
        padding: 0;
        text-align: center;
        p {
            font-size: 14px;
            text-align: left;
        }
        h2 {
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            color: #000;
            padding-bottom: 10px;
            font-weight: 500;
            font-size: 18px;
            text-align: left;
            a {
                color: #ff7200;
            }
        }
    }
    .listing {
        margin-bottom: 50px;
        .leftsection {
            float: none;
            width: 100%;
            border: solid 1px #ccc;
            padding: 8px;
            &.floatright {
                float: right;
            }
        }
        .rightsection {
            float: none;
            width: 100%;
            border-bottom: solid 3px #ff7200;
            padding-bottom: 25px;
            padding-top: 40px;
            h2 {
                margin-left: 0;
                width: 100%;
                font-family: 'Roboto Condensed', sans-serif;
                text-transform: capitalize;
                color: #000;
                line-height: 26px;
                font-size: 18px;
            }
            p {
                padding-top: 20px;
                color: #000;
                line-height: 26px;
                position: relative;
                font-size: 14px;
            }
            &.floatleft {
                float: left;
                text-align: right;
            }
        }
    }
    .clickformore {
        text-align: center;
        display: inline-block;
        width: 100%;
        a {
            border: solid 1px #000;
            font-size: 18px;
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            color: #000;
            padding: 12px 20px;
            border-radius: 20px;
            display: inline-block;
            margin-bottom: 20px;
            &:hover {
                text-decoration: none;
                border: solid 1px #ff7200;
                background: #ff7200;
                color: #fff;
            }
        }
    }
}

.astrophotogallry {
    .topheading {
        text-align: center;
        line-height: 26px;
        p {
            font-size: 14px;
            text-align: left;
        }
        h2 {
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            color: #000;
            padding-bottom: 10px;
            font-weight: 600;
        }
    }
    .gallerylisting {
        text-align: center;
        display: block;
        justify-content: space-between;
        margin-top: 20px;
        img {
            width: 100%;
            border-radius: 2px;
            -webkit-transition: 0.8s;
            -moz-transition: 0.8s;
            -o-transition: 0.8s;
            -ms-transition: 0.8s;
            transition: 0.8s;
        }
        .list {
            border: solid 1px #959595;
            border-radius: 2px;
            padding: 4px;
            overflow: hidden;
            position: relative;
            margin-bottom: 20px;
            .content {
                position: absolute;
                bottom: 3px;
                color: #fff;
                text-align: center;
                width: 98.5%;
                font-size: 14px;
                background: rgba(0,0,0,0.7);
                padding: 15px 8px;
                line-height: 22px;
                left: 50%;
                transform: translate(-50%, 0%);
                transition: .5s all ease;
                a {
                        color: #ff7200;
                    }
                p {
                    margin: 0;
                    
                }
            }
            &:hover {
                img {
                    -moz-transform: scale(1.1) rotate(0deg);
                    -webkit-transform: scale(1.1) rotate(0deg);
                    -o-transform: scale(1.1) rotate(0deg);
                    -ms-transform: scale(1.1) rotate(0deg);
                    transform: scale(1.1) rotate(0deg);
                    -webkit-transition: 0.8s;
                    -moz-transition: 0.8s;
                    -o-transition: 0.8s;
                    -ms-transition: 0.8s;
                    transition: 0.8s;
                }
                .content {
                    left: 50%;
                    width: 100%;
                    bottom: 0;
                    transition: .5s all ease;
                }
            }
        }
        .marginleft {
            margin-left: 0px;
        }
    }
}
.innewscount {
    .nine_gems_wrapper {
        font-family: 'Roboto Condensed', sans-serif;
        h5 {
            margin-bottom: 25px;
        }
        tr:nth-child(even) {
            background: #efefef;
        }
        table {
            border: solid 1px #ccc;
            th {
                text-transform: uppercase;
            }
            td {
                border: solid 1px #e8e9e9;
                font-weight: normal;
                font-size: 16px;
                a {
                    color: #000;
                    &:hover {
                        text-decoration: none;
                        color: #ff7200;
                    }
                }
            }
        }
    }
    
}
.inthemedia {
    .pageHeading {
        h2 {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 600;
            color: #000;
            display: inline-block;
            font-size: 24px;
            text-transform: uppercase;
            border-bottom: solid 2px #ffc000;
        }
    }
    .publication {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;
        color: #000;
        padding-top: 15px;
        .heading {
            font-weight: 600;
        }
        .normaltext {
            border-right: solid 1px #777;
            padding: 0 8px 0 5px;
            display: inline-block;
            margin-right: 10px;
        }
        .readfull {
            a {
                color: #ff7200;
                text-decoration: none;
            }
        }
    }
    .publicationshort {
        padding-top: 40px;
        .inner {
            position: relative;
            clear: both;
            overflow: hidden;
            .leftbanner {
                float: none;
                width: 100%;
                img {
                    border:solid 1px #777;
                    padding: 4px;
                }
            }
            .shortcontent {
                float: none;
                padding: 20px 0 0 0px;
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 24px;
                width: 100%;
                color: #000;
                p {
                    padding-top: 12px;
                    font-size: 16px;
                }
                span {
                    display: block;
                    padding: 10px 0;
                    a {
                        font-size: 18px;
                        text-transform: uppercase;
                        background: #ff7200;
                        color: #fff;
                        padding: 8px 20px;
                        border-radius: 20px;
                        &:hover {
                            border: solid 1px #000;
                            color: #000;
                            background: none;
                            text-decoration: none;
                        }
                    }
                }
            }
            .calltoaction {
                display: flex;
                justify-content: space-between;
                font-size: 20px;
                text-transform: uppercase;
                position: relative;
                right: 0;
                bottom: 0px;
                width: 100%;
                padding-top: 20px;
                a {
                    border: solid 1px #000;
                    border-radius: 20px;
                    padding: 8px 20px;
                    color: #000;
                    font-size: 14px;
                    &:hover {
                        text-decoration: none;
                        border: solid 1px #000;
                        background: #000;
                        color: #fff;
                    }
                }
            }
        }
    }
    .publicationshort {
        &.dhleving {
            padding-top: 20px;
            h2 {
                font-family: 'Roboto Condensed', sans-serif;
                color: #000;
                font-size: 21px;
                margin-bottom: 10px;
            }
            p {
                line-height: 26px;
                color: #000;
                padding-top: 5px;
                font-size: 14px;
            }
        }
    }
    
    .calltoactionmain {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        text-transform: uppercase;
        bottom: 5px;
        width: 100%;
        padding-top: 15px;
        a {
            border: solid 1px #000;
            border-radius: 20px;
            padding: 8px 20px;
            color: #000;
            font-size: 14px;
            &:hover {
                text-decoration: none;
                border: solid 1px #000;
                background: #000;
                color: #fff;
            }
        }
    }
}
.process-box, .nine_gems_box {
        font-family: 'Roboto Condensed', sans-serif;
        padding-right: 0px;
        h3 {
//            text-transform: uppercase;
//            color: #000;
//            font-weight: 600;
//            font-size: 18px;
//            position: relative;
//            display: inline-block;
//            &::after {
//                height: 8px;
//                content: '';
//                position: absolute;
//                bottom: 0;
//                background: #ffc000;
//                width: 100%;
//                z-index: -1;
//                left: 0;
//            }
                background-color: #e8e9e9;
                text-align: center;
                padding: 10px 10px;
                text-transform: uppercase;
                font-size: 18px;
                font-family: 'Lato', serif;
                font-weight: 400;
                color: #333333;
                margin: 0;
        }
        .process-container {
            border: 1px solid #e9e9e9;
            padding: 10px 10px;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            padding-top: 0px;
            li {
                padding-bottom: 10px;
                border-bottom: solid 1px #e9e9e9;
                a {
                    display: block;
                    color: #333333;
                    font-family: "Lato", serif;
                    font-size: 14px;
                    font-style: italic;
                    line-height: 14px;
                    text-align: left;
                    &:hover {
                        color: #00b06c;
                        text-decoration: none;
                    }
                    &#current {
                        background: #ffffff url(../images/oneline-arroww.jpg) no-repeat scroll right center;
                         color: #00b06c;
                    }
                }
            }
        }
    }
.process-box ul, .nine_gems_box ul {
    width: 100%;
}
.videogallery {
    &.buyingdivisin {
        .leftsection {
            width:100%;  
            iframe {
                padding: 10px;
            }
        }
        .rightsection {
            width: 100%;
            padding-top: 50px;
            border: none;
            h2 {
                width: 100%;
                border-bottom: solid 3px #ff7200;
                padding-bottom: 20px;
            }
        }
    }
}
.divisiongallry {
    .listing {
        border: solid 1px #ddd;
        padding: 8px;
        span {
            display: block;
            font-family: 'Roboto Condensed', sans-serif;
            text-align: center;
            font-size: 16px;
            padding: 10px 0;
        }
    }
}
.teamdetails {
    .innersection {
        padding: 10px 0 30px 0;
        img {
            float: left;
            border: solid 1px #ff7200;
            border-radius: 50%;
            margin-right: 20px;
        }
        p {
            padding-top: 15px;
        }
        &:nth-child(even) {
            img {
                float: right;
                margin-left: 20px;
            }
        }
    }
}
.ringmakingcharge {
    padding-bottom: 30px;
    img {
        float: left;
        width: 50%;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    p {
        a {
            color: #ff7200;
        }
    }
}
.cms-page-view .container .row .col-md-12:first-child {display: block !important; padding-left: 15px !important; padding-right: 15px !important;}
.cms-page-view .container .row .col-md-12:first-child .col-md-9, .cms-page-view .container .row .col-md-12:first-child .col-md-3 {padding: 0;}
.cms-page-view .container .row .col-md-12:first-child .col-md-9 .col-md-12 {padding: 0px;}
.cms-page-view .container .row .col-md-12:first-child h5 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    border: none;
    padding: 10px 0 20px 0;
}
.cms-page-view .container .row .col-md-12  img {float: none; margin: 0 0px 20px 0; width: 100%; margin-left: 0px !important;}

.cms-page-view .container .row .col-md-12 p {font-size: 14px; text-align: left !important; color: #000; line-height: 26px; padding-bottom: 10px;}

.innewsimagesection {
    padding: 40px 0 0 0;
    .inner {
        padding-bottom: 40px;
        img {
            float: none;
            border: solid 1px #ddd;
            padding: 8px;
            margin: 0 20px 20px 0;
            width: 100%;
        }
        li {
            font-size: 14px;
        }
        p {
            color: #000;
            font-size: 16px;
            line-height: 26px;
            a {
                color: #ff7200;
            }
            strong {
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 22px;
                color: #000;
                font-weight: 500;
            }
        }
    }
}
.incalltoaction {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    a {
        border: solid 1px #000;
        border-radius: 20px;
        padding: 8px 20px;
        color: #000;
        font-size: 14px;
        &:hover {
            text-decoration: none;
            border: solid 1px #000;
            background: #000;
            color: #fff;
        }
    }
}
.horoscopetab {
    margin: 0px 0 20px 0;
    padding: 0 !important;
    a {
        display: inline-block;
        border: none;
        color: #8b8b8b !important;
        font-size: 16px;
        font-weight: bold;
        position: relative;
        margin-right: 15px;
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 10px;
        &.active {
            border-bottom: solid 4px #ffc000;
            color: #000 !important;
        }
    }
}
.horoscopelist {
    width: 100%;
    .innersection {
        clear: both;
        overflow: hidden;
        margin-bottom: 40px;
        width: 100%;
        img {
            float: left;
            margin-right: 30px;
            border: solid 1px #ff7200;
            padding: 5px;
            border-radius: 50%;
            width: 30%;
        }
        h3 {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 18px;
            color: #000;
            font-weight: 600;
            margin-bottom: 15px;
            padding-top: 20px;
        }
        p {
            font-size: 14px;
            line-height: 24px;
            color: #000;
            padding-bottom: 10px;
            a {
                color: #ff7200;
            }
        }
        &.videosection {
            iframe {
                border: solid 1px #777;
                padding: 5px;
                float: left;
                margin-right: 0px;
                margin-bottom: 20px;
                width: 100%;
            }
            &.morevideolist {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                iframe {
                    margin:0 0 20px 0;
                }
            }
        }
    }
}
.blog-page {
    .columns {
        margin-top: 40px;
        .post-list {
            .post-title {
                a {
                    font-family: 'Roboto Condensed', sans-serif;
                    color: #000;
                    font-size: 22px;
                }
            }
        }
    }
}
.faqs-index-index, .faqs-index-detail  {
    .page {
        &.messages {
            padding-bottom: 30px;
        }
    }
}
.block {
    &.block-faq {
        clear: both;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 20px;
        .block-title {
            float: left;
            padding-top: 14px;
            strong {
                color: #000;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 600;
            }
        }
        .menu {
            float: left;
            width: 100%;
            form {
                position: relative;
                input {
                    height: auto;
                    padding: 9px;
                    border-radius: 20px;
                }
                button {
                    background-image: none;
                    background: #ed9321;
                    border: 1px solid #ed9321;
                    color: #ffffff;
                    cursor: pointer;
                    display: inline-block;
                    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    font-weight: 700;
                    padding: 9px 15px;
                    font-size: 1.4rem;
                    box-sizing: border-box;
                    vertical-align: middle;
                    position: absolute;
                    right: 0;
                    top: 8px;
                    border-radius: 20px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    span {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
.faq_block {
    ul {
        padding: 0;
        list-style-type: none;
    }
    h2 {
        font-family: 'Roboto Condensed', sans-serif;
        color: #000;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        display: inline-block;
        position: relative;
        border-bottom: solid 2px #ffc000;
        padding-bottom: 5px;
    }
    .accordion-toggle {
        font-family: 'Roboto Condensed', sans-serif;
        color: #000;
        font-size: 17px;
        background: #f3f3f3;
        padding: 8px 12px;
        margin-top: 15px;
        border: solid 1px #f3f3f3;
        transition: .5s all ease;
        cursor: pointer;
        &:hover {
            background: none;
            color: #000;
            border: solid 1px #000;
            transition: .5s all ease;
        }
    }
    .accordion-content {
        color: #000;
        font-size: 15px;
        height: auto !important;
        line-height: 26px;
        padding-bottom: 0;
        clear: both;
        padding: 8px 10px;
        border: solid 1px #d3d3d3;
        border-top: none;
        a {
            color: #ff7200;
        }
    }
    .read_more {
        a {
            display: inline-block;
            background: #ff7200;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            padding: 8px 14px;
            margin: 5px 0 40px 0;
            border-radius: 20px;
            border: solid 1px #ff7200;
            &:hover {
                text-decoration: none;
                border: solid 1px #000;
                background: none;
                color: #000;
            }
        }
    }
}
.cms-page-view {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
}
.weeklyhororscope {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .item {
        &.well {
            width: 100%;
            box-shadow: none;
            h3 {
                font-family: 'Roboto Condensed', sans-serif;
                color: #000;
                font-weight: 500;
                font-size: 22px;
                padding-top: 15px;
                line-height: normal;
                span {
                    display: block;
                    font-size: 16px;
                    padding-top: 8px;
                    color: #000;
                }
            }
            p {
                font-size: 15px;
                color: #000;
                line-height: 26px;
                padding-top: 20px;
                text-align: justify;
                img {
                    float: left;
                    width: 30%;
                    margin: 0;
                }
            }
        }
    }
}
.testimonialVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 100;
    height: 100%;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.2);
        z-index: -1;
    }
    
    .innersection {
        position: absolute;
        width: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: solid 1px #fff;
        padding: 1px;
        overflow: hidden;
    }
    .closeicon {
        color: #000;
        font-size: 21px;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        background: #fff;
        padding: 0 8px;
        line-height: normal;
        font-weight: bold;
    }
}
.videopopup {
    &.testimonialVideo {
        &.tab-active {
            display: block !important;
        }
    }
}
.testimonials-index-index {
    #nav-profile {
        p {
            font-size: 14px;
            color: #000;
            line-height: 26px;
        }
    }
    .videolisting {
        .video_thumb {
            padding-top: 30px;
        }
        img {
            float: left;
            margin: 0 15px 15px 0;
            border: solid 1px #777;
            padding: 4px;
        }
    }
}

.choose_precious_gemstones {
    text-align: center;
    .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .blog_post_feed {
            padding: 0 10px;
            article {
                text-align: left;
                .detail {
                    p {
                        text-align: left !important;
                    }
                }
            }
            h3 {
                padding:  10px 0;
                word-wrap: break-word;
                a {
                    font-weight: 700;
                    color: #000;
                    font-size: 16px;
                    font-family: 'Roboto Condensed', sans-serif;
                    padding-bottom: 6px;
                    }
            }
            p {
                font-size: 14px;
                color: #000;
            }
            .block-image {
                img {
                    height: 250px;
                    border-radius: 20px;
                    width: 100%;
                }
            }
        }
    }
}
.sidebar-additional {
    .trustpilot-widget {
        clear: both;
    }
    .sidebar {
        span {
            display: block;
            font-weight: 700;
            color: #000;
            background: none;
            padding: 0;
            font-size: 18px;
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
            &::after {
                content: '';
                position: absolute;
                bottom: -8px;
                left: 0;
                width: 20%;
                background: #ffc000;
                height: 5px;
                z-index: -1;
            }
        }
    }
    #fme-owl-testimonials {
        margin: 30px 0;
    }
}
.teamdetails {
    .innersection {
        padding-bottom: 0;
        img {
            float: left !important;
            margin: 0 10px 0 0 !important;
            width: auto !important;
        }
    }
}
.nine_gems_wrapper {
    .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }
}
.page-title-wrapper .page-title {line-height: 30px; margin-top: 0;}
.main_wrapper .blog_post_feed {padding: 0 !important;}
body {
    padding-left: 0 !important;
    padding-right: 0 !important;
    &.article-index-index {
        padding-left: 0;
        padding-right: 0;
        background: none;
        .inner_container {
            max-width: 100%;
            padding: 0;
        }
    }
}
.order-products-toolbar {
    &.toolbar {
        &.bottom {
            .pager {
                display: block !important;
                .toolbar-amount {
                    text-align: center;
                }
                .pages {
                    text-align: center;
                }
                .limiter {
                    text-align: center;
                }
            }
        }
    }
}

.nine_gems_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
    .product-container {
        border: solid 1px #ddd;
        margin-bottom: 20px;
        text-align: center;
        width: 48%;
        padding-bottom: 10px;
        border-radius: 10px;
        padding-top: 10px;
        .new-arrivals-image {
            float: none;
            img {
                margin: 0 !important;
                float: none !important;
                display: inline-block;
                width: auto !important;
            }
        }
        .product-name {
            float: none;
            font-size: 14px;
            padding-top: 20px;
            span {
                &.name {
                    color: #ff7200;
                }
            }
        }
    }
}


#bss-cookie-notice {
    max-width: 100% !important;
    width: 100%;
    background-color: transparent !important;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: url(../images/headerbg.jpg) repeat center top !important;
    justify-content: space-between;
    padding: 0px 20px;
    background-size: cover;
    padding-bottom: 5px;
    text-align: center;
    h4 {
        color: #000 !important;
        font-weight: 600;
        margin: 0 !important;
        padding-top: 5px;
        font-size: 14px;
        line-height: normal;
        padding-top: 10px;
    }
    p {
        color: #000 !important;
        font-weight: 600;
        margin: 0;
        font-size: 14px;
        line-height: normal;
        padding-top: 10px;
        padding-bottom: 10px
    }
    button {
        background: #ff7200 !important;
        border: none !important;
        border-radius: 10px !important;
        transition: .5s all ease;
        color: #fff !important;
        font-weight: 600 !important;
        letter-spacing: 1px;
        line-height: normal !important;
        padding: 10px 22px !important;
        display: inline-block;
    }
    a {
        background: #000;
        border: none !important;
        border-radius: 10px !important;
        transition: .5s all ease;
        color: #fff !important;
        font-weight: 600 !important;
        letter-spacing: 1px;
        line-height: normal !important;
        display: inline-block;
        height: auto;
        padding: 10px 22px !important;
    }
}
.right-container-wrap {
    &.sticky {
        background: url(../images/headerbg.jpg) repeat center top !important;
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        left: 0;
        .headerbottomlink, .trustpoilat, .logomobilemember {
            display: none;
        }
        .nav-toggle {
            top: 5px;
            left: 10px;
        }
        .headcartsection {
            top: 10px;
        }
        .logosection {
            padding-left: 45px;
        }
    }
}
.container {
    &.videogallery {
        padding-left: 0;
        padding-right: 0;
    }
}
.article-index-index, .article-index-detail  {
    .content_wrapper {
        .inner_container {
            display: flex;
            flex-wrap: wrap;
            .main_wrapper {
                order: 2;
            }
            .sidebar_wrapper {
                order: 1;
                .widget {
                    padding: 0;
                }
            }
        }
    }
}

.sidebar_wrapper {
    .categories {
        display: none;
    }
    .widget {
        .widget_title {
            &.categorytitle {
                h2 {
                    display: block;
                    background: #ddd;
                    padding: 18px 0;
                    border-radius: 4px;
                    width: 100%;
                    position: relative;
                    font-size: 0px;
                    &::before {
                        background: none;
                        font-size: 18px;
                        font-weight: 500;
                        content: 'Select Category';
                        text-transform: uppercase;
                        position: absolute;
                        left: 14px;
                        bottom: 7px;
                        height: auto;
                        }
                    &::after {
                        border: solid black;
                        border-width: 0 3px 3px 0;
                        display: inline-block;
                        padding: 5px;
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        position: absolute;
                        right: 14px;
                        top: 10px;
                        content: '';
                    }
                }
            }
        }
    }
}

.contactusform {
    display: block !important;
    flex-wrap: wrap;
    .contact {
        padding: 0;
        border: none !important;
        .innersection {
            padding: 0;
        }
    }
}
.blog-page .columns .post-list .post-title a {font-size: 18px;}
.post-list .post-header .post-title {max-width: 100% !important;}


.article-index-index  .minicart-wrapper .action.showcart .counter.qty.empty {font-size: 10px !important;}
.englishviedomobile {
    padding: 0 15px;
}

.article-index-detail {
    table {
        border-right: 1px solid #bbb;
    }
}
.article-index-detail td {
    border-left: 1px solid #bbb;
    border-top: 1px solid #bbb;
    padding: 3px 8px;
    text-align: left;
    vertical-align: top;
}

p {
    font-size: 14px;
}
.cert-container li {
    font-size:14px; 
}
.cert-container {
    ul {
        padding: 0 0 0 15px;
        list-style-type: none;
    }
}
.cert-container li:before {
    font-family: 'FontAwesome';
    content: "\f178";
    margin: 0 10px 0 -15px;
    color: #46c694;
}
.nine_gems_wrapper td {
    border: 1px solid #c9c5ba !important;
    font-size: 14px;
}
.nine_gems_wrapper {
    .table-responsive {
        .table-bordered {
            border: 1px solid #dee2e6 !important;
        }
    }
}
.siderbarright {
    .price-itm {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        text-align: center;
        padding: 0 10px;
    }
}
.nine_gems_container .product-container .siderbarright .price .pt {
    color: #B12704;
    font-size: 16px;
}