<?php

$blockGrid = $block->getBlockGrid();
$gridJsObjectName = $blockGrid->getJsObjectName();
?>
<?php  echo $block->getGridHtml(); ?>
<input type="hidden" name="related_products" id="in_article_images" data-form-part="articles_article_form" value="" />
<script type="text/x-magento-init">
    {
        "*": {
            "FME_Articles/relatedimages/assign-images": {
                "selectedProducts": <?php echo $block->getProductsJson(); ?>,
                "gridJsObjectName": <?php echo '"' . $gridJsObjectName . '"' ?: '{}'; ?>
            }
        }
    }
</script>
<script>
    require('mage/apply/main').apply();
</script>
