<?php

$blockGrid = $block->getBlockGrid();
$gridJsObjectName = $blockGrid->getJsObjectName();

?>

<?php  echo $block->getGridHtml(); ?>
<input type="hidden" name="assign_related_articles" id="in_category_articles" data-form-part="articles_article_form" value="" />
<script type="text/x-magento-init">
    {
        "*": {
            "FME_Articles/relatedarticles/assign-articles": {
                "selectedProducts": <?php echo $block->getProductsJson(); ?>,
                "gridJsObjectName": <?php echo '"' . $gridJsObjectName . '"' ?: '{}'; ?>
            }
        }
    }
</script>
<script>
    require('mage/apply/main').apply();
</script>
