<?php
// TODO: add forward slash to the root path at the end if not present
// TODO: add graphics path in admin and default it to external indicator folder with old and new indicators

/** @var WebRotate360\ProductViewerStandard\ViewModel\WebRotatedStandard $viewModel */
$viewModel = $block->getViewModel();

$rootPath = $viewModel->getWebrotateRootUrl();
$configPath = $viewModel->getWebrotatePath();
$swatches = $viewModel->getSwatches();

if (empty($configPath)) {
    $configPath = $viewModel->getMasterConfigUrl();
    if (!empty($configPath)) {
        $isMasterMode = true;
    }
}

$configBaseUrl = $viewModel->getBaseUrl();
if ($viewModel->getUseMediaUrlConfig() === true) {
    $configBaseUrl = $viewModel->getMediaUrl();
}

$isLoaderOn = (!isset($isMasterMode) && !empty($configPath)) || (isset($isMasterMode) && !empty($rootPath));
?>

<?php if ($isLoaderOn) : ?>
    <?php $configPath = strpos($configPath, 'https://') === 0 ? $configPath : $configBaseUrl . $configPath; ?>
    <link rel="stylesheet" type="text/css" href="<?= /* @noEscape */ $viewModel->getViewerSkinUrl() ?>"/>
    <script language="javascript" type="text/javascript">
        var __WR360Config = {
            thumbPath: "<?= /* @noEscape */ $viewModel->getPopupIconUrl() ?>",
            graphicsPath: "<?= /* @noEscape */ $viewModel->getGraphicsPathUrl() ?>",
            endPlacement: <?=/* @noEscape */ $viewModel->isEndPlacement() ? 'true' : 'false' ?>,
            confFileURL: "<?= /* @noEscape */ $configPath ?>",
            rootPath: "<?= /* @noEscape */ $rootPath ?>",
            licensePath: "<?= /* @noEscape */ $viewModel->getLicense() ?>",
            useAnalytics: <?=/* @noEscape */  $viewModel->isUseAnalytics() ? 'true' : 'false' ?>,
            apiCallback: "<?=/* @noEscape */  $viewModel->getApiCallback() ?>",
            swatches: <?=/* @noEscape */ $swatches ? $swatches : 'null' ?>
        };
    </script>
<?php endif ?>

