<section class="admin__page-section verify-tab-content">
<h1>PayU Payment Verification</h1>
<table class="admin__table-secondary">
        <tbody>
        <?php echo $block->getChildHtml(); ?>
        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Order ID:') ?></th>
            <td><?php echo $block->getOrderIncrementId(); ?></td>
        </tr>
        <tr>
            <th><?php /* @escapeNotVerified */
                echo __('Verification Status:') ?></th>
            <td><?php echo $block->getPaymentdetails(); ?>				
			</td>
        </tr>
        </tbody>
    </table>
</section>