<?php
/**
 * MagePrince
 * Copyright (C) 2020 Mageprince <info@mageprince.com>
 *
 * @package Mageprince_BuyNow
 * @copyright Copyright (c) 2020 Mageprince (http://www.mageprince.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author MagePrince <info@mageprince.com>
 */
?>
<?php $product = $block->getProduct(); ?>
<?php $helper = $this->helper("Mageprince\BuyNow\Helper\Data"); ?>
<?php $buttonTitle = $helper->getButtonTitle() ?>
<?php if ($product->isSaleable()) : ?>
    <?php $postParams = $block->getAddToCartPostParams($product); ?>
    <div class="buynow-btn">
        <form action="<?php /* @noEscape */ echo $postParams['action']; ?>"
              id="product_addtocart_form_<?php /* @noEscape */ echo $postParams['data']['product']; ?>"
              method="post">
            <input type="hidden" 
                   name="product"
                   value="<?php /* @noEscape */ echo $postParams['data']['product']; ?>">
            <input type="hidden"
                   name="<?php /* @noEscape */ echo 'uenc'; ?>"
                   value="<?php /* @noEscape */ echo $postParams['data']['uenc']; ?>">
            <?php echo $block->getBlockHtml('formkey')?>
            <button type="submit"
                    title="<?php echo $block->escapeHtml(__($buttonTitle)); ?>"
                    class="action tocart buynow primary"
                    data-mage-init='
                    {
                        "Mageprince_BuyNow/js/buy-now": {
                            "form": "#product_addtocart_form_<?php echo $postParams['data']['product']; ?>"
                        }
                    }
                '>
                <span><?= /* @noEscape */ __($buttonTitle) ?></span>
            </button>
        </form>
    </div>
<?php endif; ?>