// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Theme variables
//  _____________________________________________

//  Messages
@message-global-note__background: @color-yellow-light2;
@message-global-note__border-color: @color-yellow-light3;
@message-global-note__color: @text__color;

@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;

@message-global-caution__background: @color-red9;
@message-global-caution__border-color: none;
@message-global-caution__color: @color-white;

@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;

//  Header
@header__background-color: false;
@header-icons-color: @color-gray56;
@header-icons-color-hover: @color-gray20;

@addto-color: @text__color__muted;
@addto-hover-color: @primary__color;

@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@button__shadow: inset 0 2px 1px rgba(0,0,0,.12);

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: false;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    body {
        .lib-css(background-color, @page__background-color);
    }

    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        
        
    }

    .page-main {
        
        .lib-vendor-prefix-flex-grow(1);
    }

    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        .lib-css(background-color, @header__background-color);
        border-bottom: 1px solid @border-color__base;
        margin-bottom: @indent__base;
    }

    .header {
        &.content {
            &:extend(.abs-add-clearfix all);
            padding-top: @indent__s;
            position: relative;
        }
    }

    .logo {
        float: left;
        margin: 0 0 @indent__s @indent__xl;
        max-width: 50%;
        position: relative;
        z-index: 5;

        img {
            display: block;
        }

        .page-print & {
            float: none;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title + .action {
                margin-top: @indent__l;
            }
        }
    }

    .action.skip {
        &:not(:focus) {
            &:extend(.abs-visually-hidden all);
        }

        &:focus {
            .lib-css(background, @color-gray94);
            .lib-css(padding, @indent__s);
            box-sizing: border-box;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }

    .action-skip-wrapper {
        height: 0;
        position: relative;
    }

    //
    //  Global notice
    //  ---------------------------------------------

    .message.global {
        p {
            margin: 0;
        }

        &.noscript,
        &.cookie {
            .lib-message(@_message-type: global-note);
            margin: 0;
        }

        &.cookie {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: 3;

            .actions {
                margin-top: @indent__s;
            }
        }

        &.demo {
            .lib-message(@_message-type: global-caution);
            margin-bottom: 0;
            text-align: center;
        }
    }

    //
    //  Footer
    //  ---------------------------------------------

    .page-footer {
        .lib-css(background-color, @footer__background-color);
        margin-top: auto;
        background: @footer-bg-color;
    }

    .footer {
        &.content {           
            padding-bottom: 25px;
            padding-top: 25px;

            ul {
                &:extend(.abs-reset-list all);
            }

            .links {
                > li {
                    margin: 0 0 8px;
                }
            }

            .switcher-store {
                margin: 0 0 30px;
            }

            .footer-inner {
                -js-display: flex;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
                -ms-flex-align: flex-start;
                align-items: flex-start;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -ms-flex-align: center;
                -webkit-align-items: center;
                -webkit-box-align: center;
                list-style: none;
                .col-item {
                    padding: 0 10px;
                    width: ~"calc(100% - 13%)";
                    h3 {
                        border-bottom: 1px solid #4c4739;
                        color: #4c4739;
                        font-family: 'Quattrocento', serif;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: @indent__s + 6;
                        margin: 0 0 10px;
                        padding: 0 0 7px;
                        text-transform: none;
                        a {
                            color: #4c4739;
                            display: block;
                            text-decoration: none;
                            span {
                                display: block;
                            }
                        }
                    }
                    ul {
                        list-style: outside none none;
                        margin: 0 0 15px;
                        padding: 0;
                        li {
                            display: flex;
                            font-size: @font-size__s - 1;
                            margin: 0;
                            padding: 0 0 5px;
                            a {
                                color: #514f49;
                                font-size: 12px;
                                line-height: 20px;
                                background: url(../images/right.png) no-repeat left 6px;
                                padding-left: 15px;
                            }
                        }
                    }
                    &:last-child {
                        width: 100%;
                    }
                }
            }


        }

        .copyright,
        .bugs {
            display: block;
            margin: 20px 0 0;
        }
    }

    .page-header,
    .page-footer {
        .switcher {
            margin-right: 10px;

            .options {
                .lib-dropdown(
                @_dropdown-actions-padding: 0,
                @_dropdown-list-item-padding: 0,
                @_dropdown-toggle-icon-content: @icon-down,
                @_dropdown-toggle-active-icon-content: @icon-up,
                @_icon-font-text-hide: true,
                @_icon-font-size: 22px,
                @_icon-font-line-height: 22px,
                @_dropdown-list-min-width: 160px
                );

                ul.dropdown {
                    a {
                        display: block;
                        padding: 8px;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            li {
                font-size: @font-size__s;
                margin: 0;
            }

            .label {
                &:extend(.abs-visually-hidden all);
            }

            strong {
                font-weight: @font-weight__regular;
            }
        }
    }

    //
    //  Widgets
    //  ---------------------------------------------

    .sidebar {
        .widget.block:not(:last-child),
        .widget:not(:last-child) {
            &:extend(.abs-margin-for-blocks-and-widgets all);
        }
    }

    .widget {
        clear: both;

        .block-title {
            &:extend(.abs-block-title all);
        }
    }

    .page-header,
    .page-footer {
        .widget.block {
            .lib-css(margin, @indent__base 0);
        }
    }

    .no-display {
        &:extend(.abs-no-display all);
    }

    //
    //  Calendar
    //  ---------------------------------------------

    .ui-datepicker {
        td {
            padding: 0;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-wrapper {
        > .breadcrumbs,
        > .top-container,
        > .widget {
            box-sizing: border-box;
            width: 100%;
        }
    }

    .navigation ul {
        padding: 0 8px;
    }

    .header {
        &.panel {
            > .header.links {
                float: right;
                font-size: 0;
                .lib-list-inline();
                margin-left: auto;

                > li {
                    font-size: @font-size__base;
                    margin: 0 0 0 15px;

                    &.welcome,
                    a {
                        line-height: 1.4;
                    }

                    &.welcome {
                        a {
                            .lib-css(padding-left, @indent__xs);
                        }
                    }
                }
            }
        }

        &.content {
            &:extend(.abs-add-clearfix-desktop all);
            padding: @indent__l @indent__base 0;
        }
    }

    .page-header {
        border: 0;
        margin-bottom: 0;

        .panel.wrapper {
            
            padding: ceil(@indent__s - 2) 0;
            border-radius: 0px;
            color: @color-white;
            margin-bottom: 0;
            }

        .header.panel {
            max-width: 1170px;
            &:extend(.abs-add-clearfix-desktop all);
            padding: 0px;
            
            padding-right:@indent__s + 5;
            padding-left: @indent__s + 5;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 0px;
            border: 0;
            box-shadow: none;
            .header-top-link {
                ul {
                    margin: 0;
                    list-style: none;
                    padding: 0;
                    li {
                        display: inline-block;
                        margin-bottom: 0px;
                        a{
                            color: #000;
                            text-transform: uppercase;
                            padding: 0 6px;
                            font-size: @font-size__s - 1;
                            text-decoration: none;
                            &:hover {
                                background-color: transparent;
                            }
                        }
                        ul {
                            li {
                                display: block;
                                a {
                                    display: block;
                                    padding: 3px 20px;
                                    clear: both;
                                    font-weight: @font-weight__regular;
                                    line-height: 1.42857143;
                                    color: @color-black_dark;
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                }
            }
            .callusheader {
                color: #fde2b4;
                margin-bottom: 0;
                text-transform: uppercase;
                text-align: center;
                font-size: @font-size__base - 1;
            }
            .right-menu-dropdown {
                .dropdown {
                    display: inline-block;
                    margin-bottom: 0px;
//                    a {
//                        padding-top: 0 ;
//                        color: #fde2b4;
//                        text-transform: uppercase;
//                        font-size: @font-size__s - 1;
//                        padding-bottom: 0;
//                        &:hover {
//                            background-color: transparent;
//                        }
//                        &:focus {
//                            background-color: transparent;
//                        }
//
//                    }
                    .dropdown-menu {
                        li {
                            margin-bottom: 0px;
                            a {
                                display: block;
                                padding: 3px 20px;
                                clear: both;
                                font-weight: @font-weight__regular;
                                line-height: 1.42857143;
                                color: @color-black_dark;
                                font-size: @font-size__base;
                                white-space: nowrap;
                                text-transform: capitalize;
                            }
                        }
                    }
                    &:hover {
                        .dropdown-menu{
                            display: block;
                            background: #ffedb4;
                            padding-bottom: 7px;
                            width: 120px;
                            span {
                                &.login {
                                    display: block;
                                    font-weight: normal;
                                    padding-left: 18px;
                                    padding-top: 6px;
                                    a {
                                        font-weight: normal;
                                        margin-left: 0;
                                    }
                                }
                            }
                        }                        
                    }
                }
            }
        }

        .switcher {
            display: inline-block;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title {
                display: inline-block;
            }

            .page-title + .action {
                float: right;
                margin-top: @indent__base;
            }
        }
    }

    .logo {
        margin: -8px auto 25px 0;

        img {
            max-height: inherit;
        }
    }

    .footer {
        &.content {
            .block {
                float: right;
            }

            .links {
                display: inline-block;
                margin-bottom: 20px;
                padding: 0 50px 0 0;
                vertical-align: top;
            }

            .switcher.store {
                display: inline-block;
                padding-right: 50px;
                vertical-align: top;
            }
        }

        .copyright {
            &:extend(.abs-add-clearfix all);
        }
    }
}
.panel {
    &.wrapper {
        padding-top: 0px !important;
        .topline {
            background: #b86b03;
            color: #Fff;
            text-align: center;
            width: 100vw;
            margin-left: -51vw;
            height: 100%;
            margin-top: 0;
            left: 50%;
            position: relative;
            padding: 5px 0;
            line-height: normal;
            margin-bottom: 10px;
            p {
                margin: 0px;
                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }
}
.covidtexttopinfo {
        background: #cbac41;
        color: #530000;
        text-align: center;
        height: 100%;
        margin-top: 0;
        width: 100%;
        position: relative;
        padding: 7px 0;
        line-height: normal;
        margin-bottom: 0px;
        font-weight: 600;
        a {
            color: #fff;
            text-decoration: underline;
        }
        p {
            margin: 0px;
            a {
                color: #fff;
                text-decoration: underline;
            }
        }
}
.cms-credentials-php  {
    .container .row .col-md-12 img {float: none !important;}
}

.choosegemhomepage {
    background: #f9f9f9;
    .innersection {
        width: 1140px;
        margin: auto;
        padding-top: 30px;
        .clr {
            height: 0px;
        }
    }
    h1, h2 {
        font-family: 'Lato', serif;
        font-size: 25px;
        line-height: 30px;
        margin-top: 20px;
        text-align: center;
        text-transform: capitalize;
        color: #21252b;
        font-weight: 300;
        margin: 0;
    }
    .headingbg {
        text-align: center;
        padding-top: 10px;
    }
    .listingcount {
        float: left;
        width: 48.5%;
        &:nth-child(2) {
            float: right;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            padding-top: 20px;
            li {
                width: 32%;
                text-align: center;
                background: #fff;
                border: solid 1px #e9e9e9;
                margin-bottom: 15px;
                float: left;
                margin-right: 11px;
                &:nth-child(3n) {
                    margin-right: 0px;
                }
                span {
                    display: block;
                    text-align: center;
                }
                a {
                    transition: .5s all ease;
                    span {
                        color: #333;
                        text-decoration: none;
                        display: block;
                        background-color: #e9e9e9;
                        font-family: 'Lato', serif;
                        font-size: 12px;
                        padding: 6px 0;
                        text-transform: uppercase;
                    }
                    img {
                        -webkit-transition-duration: 0.4s;
                        -moz-transition-duration: 0.4s;
                        -ms-transition-duration: 0.4s;
                        -o-transition-duration: 0.4s;
                        transition-duration: 0.4s;
                        transform: scale(1);
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                    }
                    &:hover {
                        text-decoration: none;
                        transition: .5s all ease;
                        img {
                            opacity: 1;
                            transform: scale(1.05);
                        }
                        span {
                            background-color: #00b06c;
                             color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    }
}
.data.table.table-additional-addresses-items {
    th {
        font-size: 14px !important;
    }
    th, td {
        border: solid 1px #ddd !important;
        a {
            display: block;
            word-break: initial;
            margin-bottom: 10px;
        }
    }
}
.checkout-billing-address {
    .actions-toolbar {
        .action.action-cancel {
            background: #ff7200 !important;
            color: #fff;
            border: solid 1px #ff7200  !important;
            padding: 7px 20px;
            margin-top: 0;
            text-decoration: none;
            &:hover {
                background: #fff !important;
                color: #000;
            }
            span {
                font-weight: 600;
                font-size: 16px;
                text-transform: uppercase;
                display: block;
            }
        }
        .action.action-update {
            color: #fff;
        }
    }
}