
<!--@subject  {{var data.subject}}  @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
        <td>            
            <p>
                A new Testimonial has been submitted with the following details. The details are as follows.
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>Testimonial Detail</h1>
        </td>
    </tr>
    <tr class="email-information">
        <td>            
            <table class="message-info">                
                <tr>
                                   <td align="center" style="text-align:left;width:30%;font-weight:bold;">Company Name:</td>
                                   <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var data.company_name}}</td>
                </tr>
                <tr>
                                   <td align="center" style="text-align:left;width:30%;font-weight:bold;">E-mail: </td>
                                   <td align="center" style="padding-left:5px;text-align:left;width:70%;">{{var data.email}}</td>
                </tr>
                <tr>
                                   <td align="center" style="text-align:left;width:30%;font-weight:bold;">Testimonial Description:  </td>
                                   <td align="center" style="padding-left:5px;text-align:left;width:70%;">  {{var data.testimonial_desc}}</td>
                </tr>
                <tr>
                                   <td align="center" style="text-align:left;width:30%;font-weight:bold;">Website Url: </td>
                                   <td align="center" style="padding-left:5px;text-align:left;width:70%;"> {{var data.website_url}}</td>
                </tr>               
                <tr>
                                   <td align="center" style="text-align:left;width:30%;">&nbsp;</td>
                                   <td align="center" style="padding-left:5px;text-align:left;width:70%;">&nbsp;</td>
                </tr>
                <tr>
                                   <td align="center" style="text-align:left;width:30%;font-weight:bold;">Regards,</td>
                                   <td align="center" style="padding-left:5px;text-align:left;width:70%;">&nbsp; </td>
                </tr>
            </table>            
            
            
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
