// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@price-border-color : #e9e9e9;
@product-price-color : #B12704;
@certified-text-color: #999999;
@certified-text-link-color : #5670a8;
@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists
    .products {
        margin: @indent__l 0;
    }

    .product-item {
        margin-bottom: 0;
        &:hover {
            transition: .5s all ease;
            .product-item-inner {
                position: static !important;
                padding-bottom: 30px;
            }
        }
        .product-item-inner {
            display: block;
            transition: .5s all ease;
            padding-bottom: 30px;
            .action {
                &.tocompare {
                    display: block !important;
                    background: none;
                    background: url('../images/compare-icon.png') no-repeat center top;
                    width: 26px;
                    height: 26px;
                    position: absolute;
                    top: 3px;
                    right: 0;
                    background-size: 60%;
                    opacity: 0.5;
                    &::before {
                        display: none;
                    }
                }
            }
        }
        
        .product-item-actions {
            .actions-primary {
                width: 100%;
                button {
                    width: 100%;
                    background: #ff7200;
                    border: none;
                    border-radius: 50px;
                    transition: .5s all ease;
                    border: solid 1px #ff7200;
                    &:hover {
                        background: none;
                        border: solid 1px #000;
                        color: #000;
                        transition: .5s all ease;
                    }
                    span {
                        font-size: 13px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }
            .actions-secondary {
                width: 45%;
                button {
                    width: 100%;
                    background: #51b27e;
                    border: none;
                    border-radius: 50px;
                    transition: .5s all ease;
                    border: solid 1px #51b27e;
                    &:hover {
                        background: none;
                        border: solid 1px #000;
                        color: #000;
                        transition: .5s all ease;
                    }
                    span {
                        font-size: 13px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }
        }
         .product-item-details {
             position: relative;
            .product-item-name {
                text-transform: uppercase;
                margin: @indent__s 0;
                font-size: @indent__s + 4;
                text-align: center;
                max-width: 90% !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
         }
    }


    .product {
        &-items {
            font-size: 0;
            &:extend(.abs-reset-list all);
        }

        &-item {
            font-size: 1.4rem;
            vertical-align: top;

            .products-grid & {
                display: inline-block;
                margin-left: 2%;
                padding: 0;
                width: calc(~'(100% - 2%) / 2');
                
            }

            &:nth-child(2n + 1) {
                margin-left: 0;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin: @indent__xs 0;
                word-wrap: break-word;
            }

            &-info {
                max-width: 100%;
                width: 100%;

                .page-products & {
                    width: 100%;
                }
            }

            &-actions {
                font-size: 0;

                > * {
                    font-size: 1.4rem;
                }

                .actions-secondary {
                    display: inline-block;
                    font-size: 1.4rem;
                    vertical-align: middle;
                    white-space: nowrap;
                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        line-height: 35px;
                        text-align: center;
                        width: 35px;

                        &:extend(.abs-actions-addto-gridlist all);
                        &:before {
                            margin: 0;
                        }

                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }

                .actions-primary {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                }
            }

            .price-box {
                margin: @indent__s 0 @indent__m;

                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__bold;
                    white-space: nowrap;
                }

                .price-label {
                    font-size: @font-size__s;

                    &:after {
                        content: ':';
                    }
                }
            }
            .product-item-inner {
                display: block;
                transition: .5s all ease;
            }

            .special-price,
            .minimal-price {
                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__bold;
                }

                .price-wrapper {
                    display: inline-block;
                }

                .price-including-tax + .price-excluding-tax {
                    display: block;
                }
            }

            .special-price {
                display: block;
            }

            .old-price {
                .price {
                    font-weight: @font-weight__regular;
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: 5px;

                .price-label {
                    .lib-css(color, @link__color);
                    .lib-font-size(14);
                }

                .price {
                    font-weight: @font-weight__regular;
                }
            }

            .minimal-price-link,
            .price-excluding-tax,
            .price-including-tax {
                display: block;
                white-space: nowrap;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                 background: #21252b;
                &:before {
                    content: "\f079";
                    color: #ffffff;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: @font-size__base + 2;
                    font-family: 'FontAwesome';
                }
            }

            .tocart {
                white-space: nowrap;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '('attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    -js-display: flex;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-flow: row nowrap;
                    flex-flow: row nowrap;
                    -ms-flex-align: flex-start;
                    align-items: flex-start;
                    -ms-flex-pack: justify;
                    justify-content: flex-start;
                    -ms-flex-align: center;
                   
                }

                &-photo {
                    vertical-align: top;
                    
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                        width: 100%;
                        .product-item-inner {
                            display: block;
                        }
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }

    .price-grid {
            display: inline-block;
            width: 100%;
            margin: ceil(@indent__s - 5)  0 @indent__s;
        .price-itm-sec {
            border: 1px solid @price-border-color;
            text-align: center;
            .price-itm {
                p {
                    text-align: center;
                    color: @color-black;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: @indent__s + 8 ;
                    margin: @indent__s - 10;
                    padding-bottom: 8px;
                }
                span {
                    color: @product-price-color;
                    font-size: @indent__s + 2;
                    font-weight: bold;
                    text-align: center;

                    .price {
                        color: #ffa139;
                        font-size: 16px;
                        font-weight: 600;
                        text-align: center;
                        padding: ceil(@indent__s - 5) 0;
                    }
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .product {
        &-item {
            .products-grid & {
                margin-bottom: @indent__l;
            }

            &-actions {
                display: block;

                .products-grid & {
                    margin: @indent__s 0;
                }

                .actions-primary + .actions-secondary {
                    > * {
                        white-space: normal;
                    }
                }
            }
        }
    }

    .products-grid .product-item {
        width: 100%/3;
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                margin-left: 2%;
                padding: 0;
                width: calc(~'(100% - 4%) / 3');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                margin-left: 2%;
                padding: 0;
                width: calc(~'(100% - 4%) / 3');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }
//    .page-title-header {
//        h3 {
//            font-size: @font-size__base + @font-size__s;
//            line-height: 18px;
//            color: @color-black_dark;
//            font-weight: @font-weight__regular;
//            margin: 0 0 20px 0;
//        }
//        p {
//            color: @gems_item-a-hover-color;
//            font-size: @font-size__s + 1;
//            line-height: 18px;
//        }
//    }
    
}
.product-jcat-des {
        font-size: 14px;
        padding-bottom: 10px;
    }
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .products-grid {
        .product-item {
            width: 100%/5;
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/6;
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0 @indent__s - 5;
            }

            .product-item {
                margin-left: 0;
                padding: 10px;
                width: 33.3%;
                .product-item-info{
                    padding:0;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/5;
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .prdduct-info-sec {
        display: inline-block;
        width: 100%;
        .product-info-name {

        }
        table {
            tr {
                td {
                    border: none;
                    font-size: @indent__s + 3;
                    line-height: @indent__l - 2;
                    text-align: left;
                    color: @color-black_dark;
                     padding: ceil(@indent__s - 6) 0;

                     span {
                        color: @gems_item-a-hover-color;
                        text-transform: uppercase;
                     }
                }
            }
        }
        .certified {
            p {
                font-size: @indent__s + 2;
                line-height: @indent__s + 2;
                text-align: center;
                color: @certified-text-color;
                }
                a {
                    color: @certified-text-link-color;
                    text-decoration: underline;
                }
            }
        }

        .product-options-wrapper {
                border-top: 1px solid @price-border-color;
            .control {
                select {
                    width: 330px;
                    max-width: 100%;
                    height: 30px;
                }
            }
        }

        .sidebar-additional {
            .block {
                border: none;
                clear: both;
                margin-bottom: @indent__l - 10;

                .block-title {
                    background: none;
                    padding: 0;
                    text-align: left;
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -15px;
                        left: 0;
                        width: 20%;
                        background: #ffc000;
                        height: 5px;
                        z-index: -1;
                    }
                    strong {
                            display: block;
                        font-weight: 700;
                        color: #000;
                        background: none;
                        padding: 0;
                        font-size: 18px;
                        font-family: 'Roboto Condensed', sans-serif;
                        text-transform: uppercase;
                    }
                }
                .empty {
                    border: solid 1px #ddd;
                    border-radius: 20px;
                    text-align: center;
                    padding: 15px;
                    margin-top: 35px;
                }
            }
        }

}

.product-links-sec {
    .topsection {
        background: #fcfcfc;
        border: none;
        color: #000;
        border-radius: 20px;
        border: solid 1px #ddd;
        margin-bottom: 20px;
        h2 {
            border: none;
            font-weight: bold;
            font-size: 16px;
            padding-left: 28px;
            margin: 0;
            padding-top: 14px;
        }
    }
    .product-top-toolbar {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border: none;
        .mobileblcok {
            display: none;
        }
        .col-md-4 {
            padding-left: 0;
            padding-right: 0;
        }
        ul {
            padding-bottom: 0;
            margin-bottom: 0;
            li {
                margin: 0;
                position: relative;
                &::before {
                    display: none;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background: url(../images/listingpage-rightarrow.png) no-repeat left 1px;
                    left: 22px;
                    top: 7px;
                    background-size: 100%;
                }
                a {
                    color: #000;
                    font-size: 13px;
                    display: inline-block;
                    padding-left: 30px;
                    margin-bottom: 15px;
                    padding-bottom: 2px;
                }
            }
        }
    }
}
.breadcrumbs {
    padding-top: 15px;
    li {
        width: auto !important;
    }
}
.choose-gem {
    border: none;
    width: 100%;
    h3 {
        text-transform: uppercase;
        font-weight: 700;
        color: #000;
        font-size: 16px;
        position: relative;
        margin-bottom: 35px;
        font-family: 'Roboto Condensed', sans-serif;
        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 20%;
            background: #ffc000;
            height: 3px;
            z-index: -1;
        }
    }
    .gems-left-category {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item {
            width: 31%;
            border: solid 1px #ccc;
            border-radius: 20px;
            margin-bottom: 20px;
            padding: 10px 0;
            cursor: pointer;
            transition: .5s all ease;
            .gems-cat-img {
                border: none;
                text-align: center;
                img {
                    width: auto;
                    height: auto;
                    -webkit-transition: 0.8s;
                    -moz-transition: 0.8s;
                    -o-transition: 0.8s;
                    -ms-transition: 0.8s;
                    transition: 0.8s;
                }
            }
            .thumb-name {
                color: #000;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 500;
                text-align: center;
                padding-top: 10px;
                font-family: 'Roboto Condensed', sans-serif;
                margin-bottom: 0;
            }
            &:hover {
                border: solid 1px #ff7200;
                transition: .5s all ease;
                .gems-cat-img {
                    border: none;
                }
                img {
                     -moz-transform: scale(1.1) rotate(0deg);
                    -webkit-transform: scale(1.1) rotate(0deg);
                    -o-transform: scale(1.1) rotate(0deg);
                    -ms-transform: scale(1.1) rotate(0deg);
                    transform: scale(1.1) rotate(0deg);
                    -webkit-transition: 0.8s;
                    -moz-transition: 0.8s;
                    -o-transition: 0.8s;
                    -ms-transition: 0.8s;
                    transition: 0.8s;
                }
                .thumb-name {
                    color: #ff7200;
                }
            }
        }
    }
}
.sidebar-main {
    margin-top: 0 !important;
    .block {
        &.filter {
            .filter-title {
                text-transform: uppercase;
                font-weight: 700;
                color: #000;
                font-size: 16px;
                position: relative;
                margin-bottom: 35px;
                font-family: 'Roboto Condensed', sans-serif;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 20%;
                    background: #ffc000;
                    height: 3px;
                    z-index: -1;
                }
            }
            .filter-subtitle {
                display: none;
            }
            #narrow-by-list {
                .filter-options-title {
                    display: none;
                }
                p {
                    label {
                        display: none;
                    }
                    input {
                        color: #7e7e7e !important;
                        font-weight: 600 !important;
                        padding-left: 0 !important;
                        outline: 0;
                        box-shadow: none;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .ui-slider-horizontal {
        background: #ffc000;
        height: 5px;
        .ui-slider-handle {
            top: -5px;
            background: #ffc000;
            width: 14px;
            height: 14px;
            &::after {
                background: #fff;
                content: '';
                position: absolute;
                left: 3px;
                top: 3px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
            }
        }
    }
    .mobilefilter {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            color: #000;
            border-bottom: solid 1px #ddd;
            margin-bottom: 20px;
            border-top: solid 1px #ddd;
            li {
                border-left: solid 1px #ddd;
                margin-bottom: 0;
                width: 50%;
                padding: 5px 20px;
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 16px;
                color: #000;
                position: relative;
                &.selected {
                    background: #ffc000;
                }
                .icon {
                    border-width: 0px 1px 1px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    border: solid #000;
                    border-top: 0;
                    border-left: 0;
                    margin-left: 8px;
                    vertical-align: text-top;
                    margin-top: 4px;
                }
                &:first-child {
                    border-left: 0;
                }
                &:last-child {
                    text-align: right;
                }
            }
        }
    }
    .filtershow {
        padding: 10px 15px;
    }
}

.sidebar-additional {
    .featuredvideo {
        border: none !important;
        span {
            display: block;
            font-weight: 700;
            color: #000;
            padding-top: 10px;
            line-height: 28px;
            font-family: 'Roboto Condensed', sans-serif;
        }
        .owl-carousel {
            padding: 0 0 0 0 !important;
        }
        .block-title {
            background: none !important;
            border: none;
            text-transform: uppercase !important;
            font-weight: 700 !important;
            color: #000 !important;
            font-size: 20px !important;
            position: relative;
            margin-bottom: 35px !important;
            border: none !important;
            text-align: left !important;
            padding-left: 0 !important;
            font-family: 'Roboto Condensed', sans-serif;
            &::after {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 20%;
                background: #ffc000;
                height: 5px;
                z-index: -1;
            }
        }
    }
    .trustpilot-widget {
        border: solid 1px #ddd;
        border-radius: 20px;
        padding: 20px;
        margin-top: 40px;
        padding-bottom: 0;
    }
}
.page-title-header {
    h3 {
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 10px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    p {
//        display: inline-block;
//        background: #ffc000;
//        color: #000;
//        padding: 3px 8px;
    }
}

.toolbar {
    &.toolbar-products {
        border-top: solid 1px #ddd;
        border-bottom: solid 1px #ddd;
        padding: 0 0 0 0;
        margin-bottom: 0;
        margin-top: 10px;
        p {
            color: #000;
            padding: 5px 0;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 14px;
        }
        .modes {
            margin-left: 15px;
            display: none;
            .modes-mode {
                border: none;
                &::before {
                    color: #000;
                }
            }
        }
        .toolbar-sorter {
            &.sorter {
                .sort-asc {
                    display: none;
                }
            }
        }
    }
}
.products {
    &.product-items {
        .product {
            &.name {
                a {
                    color: #000;
                    font-size: 16px;
                    font-weight: 700;
                    font-family: 'Roboto Condensed', sans-serif;
                }
            }
        }
        .productgrid {
            .innersecton {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .list {
                    &:last-child {
                        display: block;
                        width: 100%;
                        text-align: center;
                        padding-top: 10px;
                    }
                }
                .price-itm {
                    padding: 0 5px;
                    p {
                        font-size: 12px;
                        font-weight: 600;
                        margin: 0 0 0 0;
                        padding-bottom: 4px;
                        color: #000;
                        text-transform: uppercase;
                    }
                    .center-block {
                        color: #B12704;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
.pages {
    .item {
        font-size: 15px;
        span {
            font-size: 15px;
        }
        a {
            font-size: 15px;
            color: #000;
        }
        &.pages-item-previous {
            a {
                background: #000;
                border: none;
                color: #fff;
            }
        }
    }
    .item {
        &.pages-item-next {
            a {
                margin-left: 12px;
                color: #000;
                opacity: 1;
                background: #ffc000;
                border: none;
            }
        }
    }
}

    .prdduct-info-sec {
        width: 100%;
        .producttopinfo {
            padding-bottom: 20px;
        }
        .product-info-name {
            float: left;
            padding-top: 0px;
            font-family: 'Roboto Condensed', sans-serif;
            h4 {
                font-size: 22px;
                color: #000;
                font-weight: 400;
            }
            span {
                display: block;
                font-weight: 700;
                color: #000;
                font-size: 18px;
            }
        }
        .guarnatedicon {
            float: right;
            img {
                width: 70px;
            }
        }
        .prodetailstable {
            border: solid 1px #ddd !important;
            border-bottom: none;
            border-right: none;
            tr {
                &:nth-child(odd) {
                    background: #fff1e5;
                }
            }
            td {
                padding: 8px 20px;
                font-size: 14px;
                color: #000;
                font-weight: 500;
                border-bottom: solid 1px #ddd !important;
                border-right: solid 1px #ddd !important;
                &.stock-availability {
                    font-weight: 700;
                }
            }
        }
        .prostaticinfo {
            padding: 10px 0;
            font-size: 13px;
            a {
                color: #ff7200;
            }
        }
        .totalpriceinfo {
            background: #24a962;
            border-left: 0;
            p, span {
                color: #fff !important;
            }
        }
    }

.product-add-form {
    .product-options-wrapper {
        border: none;
        label {
            display: none !important;
        }
        .control {
            select {
                width: 100%;
                border: solid 1px #ddd;
                border-top: none;
                padding: 12px;
                height: auto;
            }
        }
    }
        .box-tocart {
            display: block;
            .field {
                &.qty {
                    float: left;
                    display: none !important;
                    width: 100px;
                    justify-content: space-between;
                    padding: 0;
                    margin-right: 0px;
                    &::before {
                        display: none;
                    }
                    label {
                        padding-right: 10px !important;
                        span {
                            text-transform: uppercase;
                            color: #000;
                            padding-top: 15px;
                            display: inline-block;
                        }
                    }
                    .control {
                        width: 50%;
                        input {
                            width: 100%;
                            height: auto;
                            padding: 12px;
                        }
                    }
                }
            }
            .actions {
                width: 100%;
                display: flex !important;
                justify-content: space-between;
                padding: 0 !important;
                margin: 0;
                float: right;
                #instant-purchase {
                    display: none;
                }
                .primary {
                    &.tocart {
                        width: 45%;
                        background: #ff7200;
                        color: #fff;
                        border-radius: 50px;
                        span {
                            color: #fff;
                            text-transform: uppercase;
                            font-size: 14px;
                        }
                    }
                }
                .buynow-button {
                    width: 45%;
                    button {
                        width: 100% !important;
                        background: #51b27e !important;
                        color: #fff;
                        border-radius: 50px;
                        border: none;
                        span {
                            color: #fff;
                            text-transform: uppercase;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
}
.product {
    &.info {
        &.detailed {
                padding-top: 20px;
                overflow: hidden;
                .data {
                    &.item {
                        &.title {
                            a {
                                border: none;
                                background: none;
                                font-family: 'Roboto Condensed', sans-serif;
                                font-size: 18px;
                                color: #000;
                                opacity: 0.4;
                                height: auto;
                                padding-left: 0;
                                padding-right: 30px;
                                margin-right: 35px;
                            }
                            &.active {
                                a {
                                    opacity: 1;
                                    border-bottom: solid 4px #ffc000;
                                }
                            }
                        }
                    }
                }
            .data {
                &.item {
                    &.content {
                        margin-top: 0;
                        padding-left: 0;
                        padding: 0;
                        border: none;
                        .description {
                            p {
                                color: #000;
                                font-weight: 400;
                                font-size: 14px;
                                strong {
                                    font-weight: 600;
                                }
                                a {
                                    color: #ff7200;
                                }
                                em {
                                    font-style: normal;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.fieldset {
    &.review-fieldset {
        .field  {
            margin-bottom: 15px;
            label {
                float: none !important;
                display: block;
                text-align: left !important;
                font-size: 14px;
                font-weight: 500;
                padding-bottom: 8px !important;
            }
        }
    }
}
.actions-toolbar {
    &.review-form-actions {
        margin-left: 0 !important;
        button {
                background: #ff7200 !important;
                color: #fff !important;
                border-radius: 50px;
                border: none !important;
                box-shadow: none;
                height: auto;
                padding: 12px 20px;
            span {
                font-size: 14px;
                text-transform: uppercase;
            }
        }
    }
}
.product.media .fotorama__stage, .product.media .fotorama__nav {
    width: 350px !important;
}
.product-video {
    position: absolute;
    bottom: 20px;
    top: auto;
    height: auto;
    text-align: center;
    button {
        width: 85%;
        margin-top: 15px;
        background: url(../images/pdppage_buttong.jpg) no-repeat center top;
        border: none;
        color: #8c290a;
        font-size: 15px;
        font-weight: 600;
        text-transform: capitalize;
        padding: 10px;
        border-radius: 0;
        transition: .5s all ease;
        &:hover {
            color: #000;
            transition: .5s all ease;
        }
    }
}
#narrow-by-list {
    border: solid 1px #ddd;
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 0;
    .items {
        .item {
            a {
                font-family: 'Roboto Condensed', sans-serif;
                color: #000;
                font-size: 15px;
                line-height: 30px;
                span {
                    font-size: 15px;
                    color: #000;
                }
                .count {
                    color: #ff7200;
                }
            }
            
        }
    }
}
.block-content {
    &.filter-content {
        .block-actions {
            &.filter-actions {
                a {
                    border: solid 1px #000;
                    border-radius: 20px;
                    padding: 5px 14px;
                    text-transform: uppercase;
                    color: #000;
                    font-weight: 600;
                    margin-top: 10px;
                    display: inline-block;
                    transition: .5s all ease;
                    &:hover {
                        text-decoration: none;
                        transition: .5s all ease;
                        background: #ff7200;
                        color: #fff;
                        border: solid 1px #ff7200;
                    }
                }
            }
        }
        .action {
            &.remove {
                font-family: 'Roboto Condensed', sans-serif;
                color: #000;
                font-size: 14px;
                border-radius: 10px;
                margin-left: 8px;
                text-transform: uppercase;
                font-weight: 500;
                &:hover {
                    text-decoration: none;
                    color: #ff7200;
                }
            }
        }
        .filter-current-subtitle {
            display: none;
        }
    }
}
.modal-popup {
    &.confirm {
        .modal-header {
            border: none;
            h1 {
                font-family: 'Roboto Condensed', sans-serif;
                border: none;
                font-size: 24px;
                color: #000;
                font-weight: 500;
                text-align: center;
                width: 100%;
            }
            button {
                &::before {
                    font-size: 44px;
                    line-height: 24px;
                }
            }
        }
        .modal-content {
            font-family: 'Roboto Condensed', sans-serif;
            color: #000;
            text-align: center;
            font-size: 16px;
            text-transform: capitalize;
            box-shadow: none;
            padding: 0 20px !important;
            border: none;
        }
        .modal-footer {
            border: 0;
            justify-content: space-between;
            display: flex;
            border-top: solid 1px #777;
            padding-top: 15px;
            margin-top: 20px;
            padding-bottom: 15px;
            .action-dismiss {
                background: #ff7200;
                color: #fff;
                font-weight: normal;
                font-size: 16px;
                text-transform: uppercase;
                border: solid 1px #ff7200;
                border-radius: 20px;
                transition: .5s all ease;
                &:hover {
                    background: none;
                    border: solid 1px #000;
                    color: #000;
                }
            }
            .action-accept {
                background: none;
                border: solid 1px #000;
                font-size: 16px;
                text-transform: uppercase;
                color: #000;
                font-weight: normal;
                border-radius: 20px;
                line-height: normal;
                padding: 6px 24px;
                transform: .5s all ease;
                &:hover {
                    background: #ff7200;
                    border: solid 1px #ff7200;
                    color: #fff;
                    transition: .5s all ease;
                }
            }
        }
    }
}



.drop-down{
    width: 100%;
    position: relative;
}

.drop-down .selected a{
  display:block; 
  border-radius:2px;
  text-decoration:none;
 font-family: 'Roboto Condensed', sans-serif;
color: #000;
font-size: 17px;
width: 100%;
background: #ffd251;
border: none;
border-radius: 20px;
padding: 4px 14px;
    position: relative;
    z-index: 10;
}

.drop-down .selected a span{
  cursor:pointer; 
  display:block; 
  padding:5px;
}

.drop-down .option{
  position:relative; 
}

.drop-down .options ul{
  display:none;
  list-style:none; 
  padding:0px 0px; 
  position:absolute; 
  left:0px; 
  top:32px; 
        width: 100%;
    background: #fff1ca;
    border: none;
    padding: 14px;
    border-radius: 20px;
    z-index: 1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.drop-down .selected span.value, .drop-down .options span.value{
  display: none;
}
.drop-down .options ul li{
   margin: 0;
    padding: 10px 0;
    border-bottom: solid 1px #fff;
}
.drop-down .options ul li a{
  padding: 0;
    display: block;
    text-decoration: none;
    color: #000;
    font-family: 'Roboto Condensed', sans-serif;;
}
.virtualcategory {
    ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        list-style: none;
        flex-wrap: wrap;
        margin: 0px;
        li {
            width: 48%;
            margin: 0;
        }
    }
    .addtocart {
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        display: block;
        text-align: center;
        color: #fff;
        font-size: 20px;
        background: #ff7200;
        line-height: normal;
        padding: 10px 0;
        border-radius: 20px;
        border: solid 1px #ff7200;
        &:hover {
            border: solid 1px #000;
            background: none;
            color: #000;
            text-decoration: none;
        }

    }
}
.mobileshorting {
    position: absolute;
    top: 40px;
    background: #fff;
    border-bottom: solid 1px #777;
    padding: 10px 0 !important;
    width: 100%;
    left: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #000;
    .sorter-label {
        display: none;
    }
    select {
        width: 90%;
        margin: 0;
    }
}
.products {
    &.list {
        &.items {
            &.product-items {
                padding: 0 10px;
            }
        }
    }
}
.custom_category_content {
    padding: 0px;
    font-size: 14px;
    text-align: justify;
}
.more_link {
    padding-left: 15px;
}
.sidebar {
    &.sidebar-additional {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0;
    }
}
.catalog-product-view {
//    .column.main {
//        padding: 0 15px;
//    }
}
.page-products {
    .page-main {
        padding-left: 0 !important;
        padding-right: 0px !important;
    }
    &.catalog-product-view {
       .page-main {
            padding-left: 0 !important;
            padding-right: 0px !important;
        } 
    }
}
    #selectbox {
        background: #ffd251;
        border: none;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;
        height: auto;
        padding: 10px 25px;
        border-radius: 4px;
        margin-top: 20px;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .spanlist {
        background: #fff2c9;
        border-radius: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: 0px;
        position: relative;
        span {
            font-family: 'Roboto Condensed', sans-serif;
            position: static;
            input {
                width: 100%;
                visibility: visible;
                position: absolute;
                padding: 14px;
                height: 50px;
                opacity: 0;
                z-index: 100;
                left: 0;
            }
            br {
                display: none;
            }
            label {
                display: block;
                margin: 0;
                padding-bottom: 10px;
            }
        }
    }
.virsulrignsize {
    padding: 20px;
    padding-top: 40px;
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
        li {
            width: 48%;
            text-align: center;
            label {
                display: block;
                padding-top: 10px;
            }
        }
    }
}
.rign_design_strip {
    background: #ffc000;
    padding: 8px;
    color: #fff;
    clear: both;
    overflow: hidden;
    .pr_image {
        float: left;
        margin-right: 10px;
    }
    .ringadddetails {
        float: left;
        font-size: 20px;
        line-height: normal;
        .text {
            display: block;
            font-size: 14px;
        }
    }
}

.product {
    &.attribute {
        &.description {
            .value {
                font-size: 14px;
                a {
                    color: #ff7200;
                }
            }
        }
    }
}
.pro_video_item {
    width: 95% !important;
    max-width: 95% !important;
    iframe {
        width: 100% !important;
    }
}

.product-vedic-gemstone-report-details, .product-vedic-gemstone-recommendation-report-brief {
    .product-info-name {
        width: 75%;
    }
    .product-video {
        display: none;
    }
    .prodetailstable {
        display: none;
    }
//    .box-tocart {
//        .actions {
//            button {
//                &:hover {
//                    background: #fff !important;
//                    border: solid 1px #000;
//                    span {
//                        color: #fff;
//                    }
//                }
//            }
//        }
//    }
    .totalpriceinfo {
        border-radius: 20px;
        line-height: normal;
        height: auto;
        padding: 13px 0 !important;
        width: 50%;
        max-width: 50%;
        display: block;
        flex: auto;
        margin-bottom: 20px;
        .price-itm {
            p {
                display: inline-block;
                margin: 0;
                padding: 0;
                padding-right: 10px;
            }
        }
    }
    .product-options-wrapper {
        .fieldset {
            .label {
                display: block !important;
                font-weight: 400;
            }
            .legend {
                font-weight: 400;
            }
        }
    }
    .product-add-form .product-options-wrapper .control select {border-top: solid 1px #ddd;}
//    .action {
//        &.primary {
//            &.tocart {
//                border: solid 1px #ff7200;
//                &:hover {
//                    background: #fff;
//                    color: #000;
//                    border: solid 1px #000 !important;
//                }
//            }
//        }
//    }
    .data {
        &.item {
            &.content {
                form {
                    .action {
                        &.primary {
                            &.tocart {
                               background-color: transparent !important;
                                background: url(../images/addtoCartButton.png) no-repeat center top !important;
                                width: 200px !important;
                                height: 50px;
                                display: block;
                                border: none !important;
                                background-size: 93% !important;
                                line-height: 30px;
                                transition: .5s all ease;
                                span {
                                    color: #8c290a;
                                    font-size: 16px !important;
                                    font-weight: 700 !important;
                                }
                                &:hover {
                                    span {
                                        color: #000;
                                        transition: .5s all ease;
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
}
//.metal_list {
//    .listing {
//        background: #fefefe;
//        padding: 10px 0;
//        border: solid 1px #777;
//        transition: .5s all ease;
//        &:hover {
//            background: #ffd251;
//            transition: .5s all ease;
//        }
//        a {
//            font-size: 14px;
//            color: #000;
//            text-transform: uppercase;
//            font-weight: 500;
//            text-decoration: none;
//            &:hover {
//                text-decoration: none;
//            }
//        }
//    }
//}


.metaltooltip {
    display: inline-block !important;
    background: #ff7800;
    padding: 2px 6px;
    border-radius: 50%;
    color: #000;
    text-align: center;
    line-height: normal;
    position: static;
    .metaltooltipouter {
        display: none
    }
    &:hover {
        .metaltooltipouter {
            display: block;
            position: absolute;
            background: #fff;
            left: 15px;
            width: 95%;
            top: 10px;
            padding: 10px;
            height: 245px;
            overflow-y: scroll;
            text-align: left;
            font-weight: normal;
        }
    }
}
.item.product.product-item {
    .product-image-wrapper {
        display: block;
        text-align: center;
    }
}

.product-item-inner {
    .actions-primary {
        button, input {
            background-color: transparent !important;
            background: url(../images/addtoCartButton.png) no-repeat center top !important;
            width: 140px !important;
            height: 36px;
            display: block;
            border: none !important;
            background-size: 93% !important;
            margin: auto;
            line-height: 22px;
            transition: .5s all ease;
            span {
                color: #8c290a;
                font-size: 13px !important;
                font-weight: 700 !important;
            }
            &:hover {
                span {
                    color: #000;
                    transition: .5s all ease;
                }
            }
        }
        input {
            height: auto;
            padding: 8px 0;
            line-height: normal;
            font-weight: 600;
        }
    }
}

.box-tocart {
    .actions {
        button {
            background-color: transparent !important;
            background: url(../images/addtoCartButton.png) no-repeat center top !important;
            width: 200px !important;
            height: 50px;
            display: block;
            border: none !important;
            background-size: 93% !important;
            line-height: 16px !important;
            transition: .5s all ease;
            span {
                color: #8c290a !important;
                font-size: 16px !important;
                font-weight: 700 !important;
            }
            &:hover {
                border: none !important;
                span {
                    color: #000;
                    transition: .5s all ease;
                }
            }
        }
    }
}
.hidden, .hiddencat {
    display: none;
}
.shomorebutton {
    background: no-repeat;
    border: none;
    padding: 0;
    color: #f4a137;
    box-shadow: none;
    border-bottom: solid 1px #f4a137;
    &:hover {
        box-shadow: none;
        border: none;
        background: none;
    }
    &:focus {
         box-shadow: none;
        border: none;
        background: none;
    }
}
.custom_category_content {
    p {
        text-align: left;
        strong {
            font-weight: 500;
        }
    }
}
#layered-filter-block-container {
    display: none;
}
.cat_extra_info {
    background: none;
    color: #00b06c;
    font-family: 'Lato', serif;
    font-size: 14px;
    line-height: 18px;
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
    padding-left: 0;
}
#add_gem_cart, #add_Pendant_cart {
    background: url(../images/vprodcut-buttong-bg.png) no-repeat center 4px !important;
    background-size: 90% !important;
    height: 50px;
    line-height: 16px !important;
    padding: 0;
    width: 100% !important;
    span {
        font-size: 14px !important
    }
}

.toolbar.toolbar-products {
    display: flex;
    justify-content: space-between;
    .toolbar-amount {
        font-size: 11px;    
    }
    .pages .item span {
        font-size: 11px;
    }
}
#layer-product-list {
    .custom_category_content {
        padding: 20px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}