
@gems_item-a-hover-color: #00b06c;

.faq_section {
	padding: ceil(@indent__m - 5) ceil(@indent__s - 5);
	ul {
		list-style: none;
    	padding-left: @indent__m - 5;
		li {
			padding-bottom: @indent__m  - 5;
		    border-bottom: 1px solid #e8e9e9;
		    margin-bottom: @indent__s;
			margin-bottom: @indent__s;
			a {
			    font-size: @font-size__base - 1;
			    line-height: @indent__s + 4;
			    text-align: left;
			    color: @color-black;
			    font-style: italic;
			    text-decoration: none;
			}
			&:before {
				font-family: 'FontAwesome';
			    content: "\f101";
			    margin: 0 5px 0 -15px;
			    color: @gems_item-a-hover-color;
			}
		}
	}
}