<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */


$topicsData = $block->getCurrentTopicDetail();
$answerLengthAllowed = $block->allowedAnswerLength();

?>
 <div class="Breadcrumb"> <a href="">Home</a> > <a href="/faqs">The GemstoneUniverse - FAQs | Frequently Asked Questions</a> > <?php echo $topicsData->getTitle(); ?></div>
 
<div class="faq_block" data-rating-role="rating-placeholder">


    <div id="rating-response"></div>
            <h2><?php echo $topicsData->getTitle(); ?></h2>


    


           
    <div class="block block-faq">
                <div class="block-title">
                    <strong><?php echo __('Search FAQs'); ?></strong>
                </div> 
            <div class="menu">
                <form action="<?php echo $block->getSearchUrl() ?>" id="faqsForm" method="GET" >
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tbody>                               
                            <tr>
                                <td class="value">
                                <input id="faqssearch" name="faqssearch" value="" class="required-entry required-entry input-text" type="text"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <button class="form-button" type="submit"><span><?php echo __('Search') ?></span></button>
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                </form>
             </div>
    </div>

 <div class="faq_quetion">
    <?php $faqsColection = $block->getDetailPageFaqs($topicsData->getId());
       if($faqsColection->count() > 0){
        $c_new= 1;
        $tab = 1;
    foreach ($faqsColection as $faq){  ?>

      <div class="details_title">
<?php //echo $faq->getId(); ?>
      <span class="deatilscount"><?php echo $c_new++; ?></span>  <a href="#<?php echo $tab++; ?>"><?php echo $faq->getTitle(); ?></a> 
      </div>
    <?php } }?>        
 


     
                    
        <?php $faqsColection = $block->getDetailPageFaqs($topicsData->getId());
            $c = 1;
            $tab = 1;
            if($faqsColection->count() > 0){
                foreach ($faqsColection as $faq){                               
                                
                    ?> 
                <div class="faqanswermain">
                     <?php //echo  $id = $faq->getId(); ?>
                    <span class="accordion-toggle" id="<?php echo $tab++; ?>">
                        <span class="count"><?php echo $c++; ?></span>
                        <?php echo $faq->getTitle(); ?>  
                    </span>
                                    <div class="faqanswer">
                                        <?php 
                                            echo $answer = $faq->getFaqAnswer(); 
                                            
                                        ?>
                                      </div>
                                </div>
                                          
                                   <?php } } ?>
                                    
                                
                                   
                                
                                
                                
                   
                  
                     
                
                
 </div>
        <div class="tothetop botom"> <a href="#"><img src='<?php echo $this->getViewFileUrl('images/backtotop.png'); ?>' alt="back top"></a> </div>      
    



<script>
        
    require(['jquery'], function ($) {
      $(window).scroll(function(){
            var ScrollTop = $(window).scrollTop();
            if(ScrollTop > 300){
                $('.tothetop.botom').addClass('sticky');
            } else{
               $('.tothetop.botom').removeClass('sticky');
            }        
        }); 

        
        });
</script>
