<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */


$topicsCollection = $block->getFrontPageTopics();
$answerLengthAllowed = $block->allowedAnswerLength();
$noq = $block->numberOfQuestionToDisplay();

?>


<div class="block block-faq">
        <div class="block-title">
        <strong><?php echo __('Search FAQs'); ?></strong>
    </div> 
 
    
        <div class="menu">
        
                <form action="<?php echo $block->getSearchUrl() ?>" id="faqsForm" method="GET" >
                    
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tbody>                               
                                <tr>
                                        <td class="value"><input id="faqssearch" name="faqssearch" value="" class="required-entry required-entry input-text" type="text"/></td>
                                </tr>
                                <tr>
                                        <td>
                                                <button class="form-button" type="submit"><span><?php echo __('Search') ?></span></button>
                                        </td>
                                </tr> 
                            </tbody>
                        </table>
                    
               </form>
        </div>
        
</div>

<div data-rating-role="rating-placeholder">
    
    <div id="rating-response"></div>
    <?php foreach($topicsCollection as $topic): ?>

            <div class="faq_block">
             
                <h2><?php echo $topic->getTitle(); ?></h2>
                <ul id="<?php echo 'accordion_element'.$topic->getId(); ?>">
                    
                    <?php 
                    
                    $faqsColection = $block->getFrontPageFaqs($topic->getId()); 
                    $num = 1;
                    
                    
                        if($faqsColection->count() > 0){
                           $c=1;
                            foreach ($faqsColection as $faq){                                
                                
                                if($noq != '')                                
                                    if($num <= $noq){
                                        
                                
                                            ?>                            
                                            <li>
                                                       
                                                        <div class="accordion-toggle" data-role="trigger">
                                                            <span class="faqmaincount"><?php echo $c++; ?></span> 
                                                            <?php echo $faq->getTitle(); ?>
                                                        </div>
                                                        <div class="accordion-content" data-role="content">
                                                            <p>
                                                                <?php 
                                                                    $answer = $faq->getFaqAnswer(); 
                                                                    if($answerLengthAllowed == 0 || (strlen($answer) <= $answerLengthAllowed)):
                                                                        echo $answer;
                                                                    else:
                                                                        echo substr($answer, 0, $answerLengthAllowed).' <a title="'._("View Detail").'" href="'.$block->getFaqUrl($faq).'">...</a>';
                                                                    endif;  
                                                                ?>
                                                            </p>
                                                            
                                                            <?php if($block->isRatingEnable() ){ ?>
                                                                <div class="br-theme-css-stars">
                                                                    <select id="<?php echo $faq->getId(); ?>" data-stars-role="<?php echo (int) $faq->getRatingStars(); ?>" data-customer-rate-readonly="<?php echo $block->isCustomerReadonlyStars($faq->getId())?>">
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                    </select>
                                                                </div>
                                                            <?php } ?>
                                                        </div>    
                                            </li>
                                            <?php
                                
                                        $num++;
                                    }
                            }                       

                        }else{

                            echo __('There are no faqs for this topic.');
                        }

                    ?>
                </ul>         
                
                    <?php if($faqsColection->count() > $noq && $block->isViewMoreLinkEnable()){ 

                        echo __('<div class="read_more"><a href="'.$block->getTopicUrl($topic->getId()).'"><span>–</span>Read more<span>–</span></a></div>');
                    }
                    ?>
                                            
                
            </div>
              
    <?php endforeach; ?>

</div>
 <div class="tothetop botom"> <a href="#"><img src='<?php echo $this->getViewFileUrl('images/backtotop.png'); ?>' alt="back top"></a> </div> 
<?php if($block->isAccordionEnable()){ ?>

    <script>
        require([
            'jquery',
            'tabs'], function ($) {
            $(".faq_block ul").accordion();
             $(window).scroll(function(){
            var ScrollTop = $(window).scrollTop();
            if(ScrollTop > 300){
                $('.tothetop.botom').addClass('sticky');
            } else{
               $('.tothetop.botom').removeClass('sticky');
            }        
        }); 
        });
    </script>

<?php } ?>


<?php if($block->isRatingEnable()){ ?>

    <script>
        
        require([
            'jquery',
            'barrating'
            ], function ($) {

            $('.br-theme-css-stars select').barrating({
                theme : 'css-stars',
                initialRating : true, //get value from element's attribute 'data-stars-role'
               // readonly : <?php //echo $block->isCustomerRatingReadonly() ?>,
                onSelect : function(value, text, faq, event){

                    if(typeof(event) !== undefined){

                        $('#rating-response').text('');

                        //call ajax and save the rating for that FAQ
                        $.ajax({
                                method: "POST",
                                dataType: "json",
                                url: "<?php echo $block->getRatingAjaxUrl() ?>",
                                data: { value: value, faq: faq }
                        }).done(function( res ) {

                                if(res.error === false){

                                    $('#rating-response').text(res.message);
                                    if($('#rating-response').hasClass('rate-fail')){
                                        $('#rating-response').removeClass('rate-fail');
                                    }
                                    $('#rating-response').addClass('rate-success');

                                    //make these stars readonly now
                                    $('#'+faq).barrating('readonly', true);

                                }else{
                                    $('#rating-response').text(res.message);
                                    if($('#rating-response').hasClass('rate-success')){
                                        $('#rating-response').removeClass('rate-success');
                                    }
                                    $('#rating-response').addClass('rate-fail');                                
                                }

                        });
                    }
                }
            });
        });
        
    </script>
    
    
    <script type="text/x-magento-init">
        {
            "[data-rating-role=rating-placeholder]": {
                "FME_Faqs/js/barrating":
                    {}
            }
        }
    </script>
<?php } ?>
