<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */


$searchData = $block->getFaqSearchDetail();


?>
    
    

            <div class="faq_block" data-rating-role="rating-placeholder">
                    
                <div id="rating-response"></div>
                <ul id="<?php echo 'accordion_element' ?>">
                    
                    <?php 

                        if(count($searchData) > 0){

                            foreach ($searchData as $faq){                               
                                
                    ?>                            
                    <li>
                                <div class="accordion-toggle" data-role="trigger"><?php echo $faq['title'] ?></div>
                                <div class="accordion-content" data-role="content">
                                    <p><?php echo $faq['faq_answer'] ?></p>
                                    
                                
                                    <?php if($block->isRatingEnable() ){ ?>
                                        <div class="br-theme-css-stars">
                                            <select id="<?php echo $faq['faq_id']; ?>" data-stars-role="<?php echo (int) $faq['rating_stars']; ?>" data-customer-rate-readonly="<?php echo $block->isCustomerReadonlyStars($faq['faq_id'])?>">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                    <?php } ?>
                                </div>
                                
                                
                    </li>
                    <?php
                                                                
                            }                        

                        }else{
                    
                    ?>
                    
                            <div class="message notice">
                                <div>
                                    <?php echo __('Your search returned no results.');  ?>
                                </div>
                            </div>
                            
                    <?php
                    
                        }

                    ?>
                </ul>      
                
                
            </div>
              
    

<?php if($block->isAccordionEnable() ){ ?>

<script>
    require([
        'jquery',
        'tabs'], function ($) {
        $(".faq_block ul").accordion();
    });    
   
</script>

<?php } ?>


<?php if($block->isRatingEnable() ){ ?>

<script>
   
    require([
        'jquery',
        'barrating'
        ], function ($) {
        
        $('.br-theme-css-stars select').barrating({
            theme : 'css-stars',
            initialRating : true, //get value from element's attribute 'data-stars-role'
           // readonly : <?php //echo $block->isCustomerRatingReadonly() ?>,
            onSelect : function(value, text, faq, event){
                
                if(typeof(event) !== undefined){
                    
                    $('#rating-response').text('');
                    
                    //call ajax and save the rating for that FAQ
                    $.ajax({
                            method: "POST",
                            dataType: "json",
                            url: "<?php echo $block->getRatingAjaxUrl() ?>",
                            data: { value: value, faq: faq }
                    }).done(function( res ) {
                            
                            if(res.error === false){
                                
                                $('#rating-response').text(res.message);
                                if($('#rating-response').hasClass('rate-fail')){
                                    $('#rating-response').removeClass('rate-fail');
                                }
                                $('#rating-response').addClass('rate-success');
                                
                                //make these stars readonly now
                                $('#'+faq).barrating('readonly', true);
                                
                            }else{
                                $('#rating-response').text(res.message);
                                if($('#rating-response').hasClass('rate-success')){
                                    $('#rating-response').removeClass('rate-success');
                                }
                                $('#rating-response').addClass('rate-fail');                                
                            }
                            
                    });
                }
            }
        });
    });
    
</script>


<script type="text/x-magento-init">
    {
        "[data-rating-role=rating-placeholder]": {
            "FME_Faqs/js/barrating":
                {}
	}
    }
</script>

<?php } ?>