<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */


$topicsCollection = $block->getFrontPageTopics();

?>

<div class="block block-faq">
        <div class="block-title">
		<strong><?php echo __('Search FAQs'); ?></strong>
	</div> 
 
	
	    <div class="menu">
		
                <form action="<?php echo $block->getSearchUrl() ?>" id="faqsForm" method="GET" >
                    
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tbody>                               
                                <tr>
                                        <td class="value"><input id="faqssearch" name="faqssearch" value="" class="required-entry required-entry input-text" type="text"/></td>
                                </tr>
                                <tr>
                                        <td>
                                                <button class="form-button" type="submit"><span><?php echo __('Search') ?></span></button>
                                        </td>
                                </tr> 
                            </tbody>
                        </table>
                    
               </form>
	    </div>
	    
</div>
