<?php if($this->articlesHelper->isArticleModuleEnable()):?>
<?php 
      $currdatetime = $block->getCurrDateTime();
      $arrCurrDateTime = (array)$currdatetime;
     // $arrCurrDateTime = $arrCurrDateTime['date'];
      
?>
 <?php $categorybanner = $this->getAritlcesCollection(); ?>
<?php 
  

  foreach ($categorybanner as $item): ?>
    <?php  $url = $item['identifier']; ?> 
    
    <?php if($item['image'] != ''): ?>
        <?php if ($item['image'] == 'no_image.png') {$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); $this->assetRepo =$objectManager->create('\Magento\Framework\View\Asset\Repository'); $thumb_url_article = $this->assetRepo->getUrl('FME_Articles::images/no_image.png');} else { $thumb_url_article = $this->sliderHelper->resizeImage($item['image'], 100, 75); } ?> 
    <?php else: ?>
        <?php $thumb_url_article = ""; ?>
    <?php endif; ?>
    
  
      <div class="blog_post_feed clearfix">
        <div class="block-image">
          <div class="thumb"> <a href="<?php echo $this->getUrl().$this->articlesHelper->getArticleFinalDetailIdentifier($url) ?>" class="img-effect" ><span class="thumb-overlay"></span><img src="<?php echo $thumb_url_article ?>" alt=""></a> </div>
        </div>
        <article> <font class="retitle">
          <h3 class="post-title entry-title"> <a href="<?php echo $this->getUrl().$this->articlesHelper->getArticleFinalDetailIdentifier($url) ?>"> <?php echo __($item['title']) ?> </a> </h3>
          </font> <span class="date"><?php //echo __(new Zend_Date(strtotime($item['article_publish_date']))) ?></span>
          <div class="detail">
              <span> <?php echo __($item['artilce_short_summary']) ?>

                  <p style="text-align: justify;"><?php  

                  $content = substr($item['articlesdetail'], 0, 150); 
                  echo strip_tags($content);

                  ?> .....</p>

                  
                

                   
                   <!-- <p>Shariyar Mehkari, The Transporter, Gemstoneuniverse, Positively Unstoppable, Positively Gemstoneuniverse, Positively Cheerful</p> -->
              </span>
            </div>
        </article>
      </div>     

    <?php endforeach; ?>  


<?php endif; ?>