<?php
    $_postCollection = $block->getPostCollection();
?>
<?php if ($_postCollection->count()) { ?>
<section class="choosePrecious">
    <div class="container p-0">
        <div class="col-md-12 p-0">
            <div class="choose_precious_gemstones">
                <div class="innersection">
                <h2><?= $block->escapeHtml($block->getTitle()) ?></h2>
                    <div class="headingbg">
                        <img src='<?php echo $this->getViewFileUrl('images/head_divider.png'); ?>' alt="bg">
                    </div>
                <P class="headingtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi risus velit, euismod eget maximus sit amet, interdum ac<br> nisi. Curabitur ac interdum nisl, a aliquam neque.</P>
                <div class="col-md-12">
                    <div id="articles-slider">
                        <?php foreach ($_postCollection as $_post) { ?>
                                <?php
                                    $_postUrl = $block->escapeUrl($_post->getPostUrl());
                                    $_postName = $block->escapeHtml($_post->getTitle());
                                ?>
                            <div class="item" style="margin-right: 10px;">
                                <?php $featuredImage = $_post->getFeaturedListImage() ?: $_post->getFeaturedImage(); ?>
                                <?php if ($featuredImage) { ?>
                                    <?php
                                        $featuredImgAlt = $_post->getData('featured_list_img_alt') ?: $_post->getData('featured_img_alt');
                                        if (!$featuredImgAlt) {
                                            $featuredImgAlt = $_postName;
                                        }
                                    ?>
                                    <div class="item-img">
                                        <img width="250" height="250" src="<?= $block->escapeHtml($featuredImage) ?>"alt="<?= $block->escapeHtml($featuredImgAlt) ?>">
                                    </div>
                                <?php } ?>
                                <div class="item-info">
                                    <div class="item-post_head">
                                        <h5><a href="<?= /*@noEscape*/ $_postUrl ?>"></a>
                                       <?php  $small = substr($_postName , 0, 50); ?>
                                            <?= $small; ?>...</h5>
                                        <p class="item-post-text">The India Excellence Awards-IEA 2019 for excellence and performance were held on the 15th December 2019 at the Taj Hotel in Bangalore...</p>
                                    </div>
                                </div>
                            </div>
                        <?php } ?>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<?php } ?>
<script type="text/javascript">
    require(
    ['jquery', 'jquery/ui', 'owl-carousel'],
    function($) {
        
//    $("#articles-slider").owlCarousel({
//    autoPlay: 3000,
//    navigation : true,
//    items : 4,
//    itemsDesktop : [1199,3],
//    itemsDesktopSmall : [979,3]
//
//    });
        
           
          $(".recentarticalsection").owlCarousel({
            autoPlay: 3000,
            navigation : true,
            items : 3,
            itemsDesktop : [1199,3],
            itemsDesktopSmall : [979,2]

        }); 


    });
</script>