<?php
/**
* This is our custom template for mobile view videos
* on lading page
*/
?>
<style type="text/css">
  .container.brands_dots .owl-controls .owl-pagination{
    text-align: center;
    padding-top: 10px;
  }
  .container.brands_dots .owl-controls .owl-pagination .owl-page {
    background: #b2b2b2;
    padding: 5px;
    display: inline-block;
    border-radius: 20px;
    margin-right: 10px;
}
.container.brands_dots .owl-controls .owl-pagination {
    text-align: center;
    padding-top: 10px;
}
.container.brands_dots .owl-controls .owl-pagination {
    text-align: center;
    padding-top: 10px;
}
.container.brands_dots .owl-controls .owl-pagination .owl-page.active {
    background: #ffc000;
}

.container.brands_dots{
  padding: 0px 15px;
}
.brandslogo .owl-item{
  text-align: center;
}
</style>
<div class="certified_left_logo">
  <div class="certified_left_logo"><img src="<?php echo $block->getMediaUrl(); ?>home_page/certified-image00.jpg" alt="">
  </div>
<div  class="container brands_dots brandslogo owl-carousel owl-theme"> 
  <div class="item">
    <a href="#">
      <img src="<?php echo $block->getMediaUrl(); ?>home_page/certified-image01.jpg" alt="img">
    </a>
  </div>
  <div class="item">
    <a href="#"><img src="<?php echo $block->getMediaUrl(); ?>home_page/certified-image02.jpg" alt="img">
    </a>
  </div>
  <div class="item">
    <a href="#"><img src="<?php echo $block->getMediaUrl(); ?>home_page/certified-image03.jpg" alt="img">
    </a>
  </div>
  <div class="item">
    <a href="#"><img src="<?php echo $block->getMediaUrl(); ?>home_page/certified-image04.jpg" alt="img">
    </a>
  </div>
  <div class="item">
    <a href="#"><img src="<?php echo $block->getMediaUrl(); ?>home_page/certified-image05.jpg" alt="img">
    </a>
  </div>
  <div class="item">
    <a href="#"><img src="<?php echo $block->getMediaUrl(); ?>home_page/certified-image06.jpg" alt="img">
    </a>
  </div>
  <div class="item">
    <a href="#"><img src="<?php echo $block->getMediaUrl(); ?>home_page/certified-image07.jpg" alt="img">
    </a>
  </div>
  <div class="item">
    <a href="#"><img src="<?php echo $block->getMediaUrl(); ?>home_page/certified-image08.jpg" alt="img">
    </a>
  </div>
   <div class="item">
    <a href="#"><img src="<?php echo $block->getMediaUrl(); ?>home_page/certified-image09.jpg" alt="img">
    </a>
  </div>
   <div class="item">
    <a href="#"><img src="<?php echo $block->getMediaUrl(); ?>home_page/certified-image10.jpg" alt="img">
    </a>
  </div>
</div>
</div>
<script type="text/javascript">
   require(
       ['jquery', 'jquery/ui', 'owl-carousel'], 
        function($) {
            
            $(".brandslogo").owlCarousel({
                autoPlay: 2000,
                responsiveClass:true,
                navigation : false,
                items : 1

            }); 

         
    });
  </script>
