<?php
/**
* This is our custom template for mobile view videos
* on lading page
*/
?>
<style type="text/css">
  .container.video_dots .owl-controls .owl-pagination{
    text-align: center;
    padding-top: 10px;
  }
  .container.video_dots .owl-controls .owl-pagination .owl-page {
    background: #b3804e;
    padding: 5px;
    display: inline-block;
    border-radius: 20px;
    margin-right: 10px;
}
.container.video_dots .owl-controls .owl-pagination {
    text-align: center;
    padding-top: 10px;
}
.container.video_dots .owl-controls .owl-pagination {
    text-align: center;
    padding-top: 10px;
}
.container.video_dots .owl-controls .owl-pagination .owl-page.active {
    background: #ffc000;
}

.container.video_dots{
  padding: 0px 15px;
}
</style>
<div class="bannerouter">
<div class="container video_dots mainbannersection owl-carousel owl-theme"> 
  <div class="item">
    <a href="#"><img src="<?php echo $block->getMediaUrl(); ?>home_page/astro_mobile_banner1.png" alt="img">
    </a>
  </div>
  <div class="item">
    <a href="#"><img src="<?php echo $block->getMediaUrl(); ?>home_page/astro_mobile_banner2.png" alt="img">
    </a>
  </div>
  <div class="item">
    <a href="#"><img src="<?php echo $block->getMediaUrl(); ?>home_page/astro_mobile_banner3.png" alt="img">
    </a>
  </div>
  <div class="item">
    <a href="#"><img src="<?php echo $block->getMediaUrl(); ?>home_page/astro_mobile_banner4.png" alt="img">
    </a>
  </div>


</div>
</div>
<script type="text/javascript">
   require(
       ['jquery', 'jquery/ui', 'owl-carousel'], 
        function($) {
            
            $(".mainbannersection").owlCarousel({
                autoPlay: 3000,
                navigation : false,
                items : 1

            }); 

         
    });
  </script>
