
<?php 
$collection =$block->getHomeSliderCollection();  ?>

  <div class="mainbannersection owl-carousel owl-theme"> 
   <?php  foreach ($collection as $data): ?>

      
      <div class="item"><a href="/<?php  echo $data->getUrl(); ?>"><img src="<?=$block->getMediaUrl(); ?><?=  $data->getImage(); ?>" alt=" <?php  echo $data->getImageAlt(); ?>"></a></div>
    <?php endforeach; ?>
  </div> 
            

<script type="text/javascript">
   require(
       ['jquery', 'jquery/ui', 'owl-carousel'], 
        function($) {
            
            $(".mainbannersection").owlCarousel({
                autoPlay: 3000,
                navigation : true,
                items : 1

            }); 

         
    });
  </script>
