<!--
/**
 * Copyright © 2015 CustomerPradigm. All rights reserved.
 * See COPYING.txt for license details.
 */
-->




<div data-bind="visible: canVisibleBlock">
    <div class="payment-option _collapsible opc-payment-additional discount-code"
         data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">

        <div class="payment-option-title field choice" data-role="title">
        <span style="color: red;">Please enter your ring size and ring design in the Order Comment box below. This information can be sent by you later also by email. In any case we shall be sending you a confirmation of your order. In case these details are left empty we shall request the same by email.</span><br>
            <span class="action action-toggle" id="block-comment-heading" role="heading" aria-level="2">
                <!-- ko i18n: 'Order Comment'--><!-- /ko -->
            </span>
        </div>
        <div class="payment-option-content" data-role="content">
            <form class="form form-discount" id="comment-form">
                <div class="payment-option-inner">
                    <div class="field">
                        <label class="label" for="comment-code">
                            <span data-bind="i18n: 'Enter comment'"></span>
                        </label>
                        <div class="control">
                            <textarea class="input-text" id="comment-code" name="comment-code" rows="2" maxlength="200" data-bind="attr:{placeholder: $t('Enter comment')} " ></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>