/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
*/

& when (@media-common = true) {
    .contact-index-index {
        .column:not(.sidebar-main) {
            .form.contact {
                float: none;
                width: 50%;
            }
        }

        .column:not(.sidebar-additional) {
            .form.contact {
                float: none;
                width: 50%;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .contact-index-index .column:not(.sidebar-additional) .form.contact {
        min-width: 600px;
    }
}

//  Mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .contact-index-index {
        .column:not(.sidebar-main) {
            .form.contact {
                float: none;
                width: 100%;
            }
        }

        .column:not(.sidebar-additional) {
            .form.contact {
                float: none;
                width: 100%;
            }
        }
    }
}

.contact-index-index {
    .page-title-wrapper {
        display: none;
    }
    #maincontent {
        padding: 0 0 0 0;
    }
    .contactusbanner {
        background: #0072bc;
        color: #fff;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-top: 80px;
        h2 {
            font-size: 50px;
            font-weight: 800;
            text-transform: uppercase;
            padding: 110px 0 114px 20px;
            text-align: left;
            line-height: 80px;
            span {
                display: block;
                font-weight: 500;
                font-size: 42px;
            }
        }
        .bannerimage {
            position: absolute;
            right: 0;
            top: -70px;
        }
    }
    .contactusform {
        padding: 0 20px;
        float: left;
        width: 75%;
        .innersection {
            padding: 0 15px;
            .fieldset {
                margin: 0 0 0 0;
            }
            .actions-toolbar{
                .action  {
                    background: #ff7200;
                    border: solid 1px #ff7200;
                    height: auto;
                    padding: 8px 28px;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: normal;
                    border-radius: 20px;
                    transition: .5s all ease;
                    &:hover {
                        background: none;
                        border: solid 1px #000;
                        color: #000;
                    }
                }
            }
        }
        .logininner {
            .field {
                width: 100% !important;
                margin-bottom: 28px;
                label {
                    font-weight: 500;
                }
            }
            textarea {
                border: solid 1px #000;
                height: 100px;
            }
        }
        .legend {
            margin-left: 0;
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1.5px;
            font-family: 'Roboto Condensed', sans-serif;
            color: #000;
        }
        .note {
            font-size: 18px;
            &::before {
                display: none !important;
            }
            &::after {
                display: none !important;
            }
        }
        .contact {
            
            border: solid 1px #a9a9a9;
            margin-top: 20px;
            border-bottom: 0;
            border-top: 0;
        }
    }
    .column {
        &.main {
            width: 100% !important;
        }
    }
}
.minwidth {
    min-width: 100% !important;
}
.contactright {
    .innersection {
        padding: 40px;
        .socialicon {
            img {
                margin: 0 10px 0 0 !important;
                width: 24px !important;
            }
        }
    }
    h2 {
        font-size: 18px !important;
        text-transform: uppercase !important;
        font-weight: 600 !important;
        letter-spacing: 1.5px !important;
        font-family: 'Roboto Condensed', sans-serif !important;
        color: #000 !important;
    }
    h3 {
        font-size: 22px;
        font-weight: 600;
    }
    p {
        font-size: 16px;
        margin-bottom: 0px;
        line-height: 30px;
        a {
            color: #ff7200;
        }
    }
}
.boderleft {
    border-left: 0 !important;
}
.borderright {
    border-right: 0 !important;
}
.contact {
    .socialicon {
        img {
            margin-left: 0;
            margin-right: 10px;
            width: 20px;
        }
    }
}
.contactusform {
    .required {
        display: inline-block;
        padding-left: 2px;
        color: red;
    }
}
.contact-index-index {
    .column.main {
        width: 100% !important;
    }
}