/*22-Feb-20*/

@grey_color_light : #e8e9e9;
@green_color_link : #00b06c;
@dark_grey_bg : #e0ddd5;
@font_style_italic : italic;



.ringsizemagerment {
    margin-left: 0;
    margin-right: 0;
    p {
        font-size: 14px;
        color: #000;
        font-family: 'Open Sans', sans-serif;
        line-height: 26px;
        a {
                color: #00b06c;
            }
        strong {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 14px;
            font-weight: 500;
            color: #000;
            a {
                color: #00b06c;
            }
        }
    }
    h4 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 18px;
        color: #000;
        padding-bottom: 12px;
    }
    ul {
        padding-bottom: 10px;
        li {
            a {
                color: #ff7200;
            }
        }
    }
    
    .nine_gems_wrapper {
        padding-left: 15px;
        h5 {
            font-family: 'Roboto Condensed', sans-serif;
            color: #000;
            font-weight: 500;
            font-size: 25px;
            border: none;
            padding: 0 0 20px 0;
        }
        .contenttop {
            clear: both;
            overflow: hidden;
            padding-bottom: 30px;
            .left {
                float: none;
                width: 50%;
                margin: auto;
            }
            .right {
                float: none;
                width: 1000%;
                padding-left: 0px;
                margin-top: 30px;
                .nine_head {
                    font-family: 'Roboto Condensed', sans-serif;
                    color: #000;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 18px;
                }
                p {
                    padding-bottom: 10px;
                    color: #000;
                }
            }
            &.imagecontent {
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .videobtmcontent {
        padding-top: 30px;
        p {
            padding-bottom: 15px;
            color: #000;
            line-height: 26px;
            font-size: 14px;
            a {
                color: #ff7200;
            }
        }
       .subheading {
            font-family: 'Roboto Condensed', sans-serif;
            color: #000;
            font-size: 16px;
        }
        ul {
            padding-bottom: 30px;
            li {
                color: #000;
                line-height: 26px;
            }
        }
    }
    .ringsizeTable {
        .nine_head {
            font-family: 'Roboto Condensed', sans-serif;
            color: #000;
            font-weight: 500;
            font-size: 22px;
            border: none;
            padding: 0;
        }
        p {
            color: #000;
            line-height: 26px;
        }
        .table-responsive {
            border: solid 1px #000;
            margin-bottom: 30px;
            border-bottom: none;
            td {
                border: solid 1px #000 !important;
                color: #000;
                select {
                    width: 80px;
                }
            }
            .table-bgblue {
                &.tophead {
                    td {
                       font-family: 'Roboto Condensed', sans-serif;
                        text-transform: uppercase;
                        color: #000;
                        font-weight: 600;
                        font-size: 16px;
                        .bodertopnone {
                            border-top: none !mportant;
                        }
                    }
                }
            }
        }
    }
    table {
        td {
            strong {
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: bold;
            }
        }
    }
    .recognition {
        .innersection {
            border: solid 1px #ddd;
            padding: 8px;
            text-align: center;
        }
    }
    .sterlingreturnstop {
        clear: both;
        overflow: hidden;
        padding-bottom: 30px;
        padding-top: 30px;
        .imagesection {
            float: none;
            width: 100%;
            text-align: center;
        }
        .content {
            float: none;
            width: 100%;
            padding-top: 45px;
            .heading {
                text-align: center;
                p {
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 16px;
                    font-weight: normal;
                    margin: 0 0 10px 0;
                    line-height: normal;
                }
            }
        }
    }
    .cert_img_blk {
        list-style: none;
        padding: 0;
        display: flex;
        li {
            img {
                width: 100%;
            }
        }
    }
    .nav {
        &.nav-tabs {
            padding: 0;
            margin: 20px 0;
            border: none;
            li {
                position: relative;
                a {
                    display: inline-block;
                    border: none;
                    color: #8b8b8b !important;
                    font-size: 18px;
                    font-weight: bold;
                    position: relative;
                    margin-right: 30px;
                    font-family: 'Roboto Condensed', sans-serif;
                    &.active {
                        z-index: 1;
                        color: #000 !important;
                        &:hover {
                            text-decoration: none;
                        }
                        &::after {
                            height: 6px;
                            content: '';
                            position: absolute;
                            bottom: 4px;
                            background: #ffc000;
                            width: 100%;
                            z-index: -1;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
    .tab-content {
        .nine_head {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 18px;
            color: #000;
            text-decoration: none !important;
        }
    }
    .aboutguruji {
        img {
            float: left;
            margin:0 20px 10px 0;
        }
        span {
            &.gurumantra {
                display: inline-block;
                border: solid 1px #ff7200;
                border-radius: 20px;
                padding: 4px 14px;
                margin-bottom: 12px;
                margin-right: 35px;
            }
        }
        .sepratetext {
         color: #ff7200;   
        }
    }
    .planetarygem {
        .innersection {
            padding-bottom: 40px;
            img {
                float: none;
                margin: 0;
            }
        }
        .navaratnatable {
            margin-bottom: 40px;
            a {
                color: #ff7200;
            }
            th {
                font-family: 'Roboto Condensed', sans-serif;
            }
            th, td {
                border: solid 1px #777 !important;
            }
        }
    }
    .worldlargestv {
        iframe {
            padding: 4px;
            border: solid 1px #ddd;
            margin: 0px;
        }
    }
    .fifthybangkok {
        .topsection {
            display: flex;
            flex-wrap: wrap;
            .caption {
                .txt {
                    font-family: 'Roboto Condensed', sans-serif;
                    max-width: 97% !important;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .retialstoresection {
        .innersection {
            padding-bottom: 40px;
            .image {
                float: left;
                width: 50%;
            }
            .content {
                float: left;
                width: 50%;
                padding: 40px 0 0 40px;
                p {
                    font-family: 'Roboto Condensed', sans-serif;
                    font-size: 18px !important;
                    border-bottom: solid 2px #ff7200;
                    padding-bottom: 40px !important;
                }
            }
            &:nth-child(even) {
                .image {
                    float: right;
                }  
                .content {
                    float: left;
                    padding-left: 0;
                    padding-right: 40px;
                    text-align: right;
                }
            }
        }
    }
}

.videogallery {
    .latestvideotext {
        padding: 30px 0;
        text-align: center;
        h2 {
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            color: #000;
            padding-bottom: 10px;
            font-weight: 600;
            a {
                color: #ff7200;
            }
        }
    }
    .listing {
        margin-bottom: 50px;
        .leftsection {
            float: left;
            width: 610px;
            border: solid 1px #ccc;
            padding: 8px;
            &.floatright {
                float: right;
            }
        }
        .rightsection {
            float: right;
            width: 460px;
            border-bottom: solid 3px #ff7200;
            padding-bottom: 25px;
            padding-top: 40px;
            h2 {
                margin-left: 0;
                width: 460px;
                font-family: 'Roboto Condensed', sans-serif;
                text-transform: uppercase;
                color: #000;
                line-height: 26px;
            }
            p {
                padding-top: 20px;
                color: #000;
                line-height: 26px;
                position: relative;
                font-size: 16px;
            }
            &.floatleft {
                float: left;
                text-align: right;
            }
        }
    }
    .clickformore {
        text-align: center;
        display: inline-block;
        width: 100%;
        a {
            border: solid 1px #000;
            font-size: 18px;
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            color: #000;
            padding: 12px 20px;
            border-radius: 20px;
            display: inline-block;
            margin-bottom: 20px;
            &:hover {
                text-decoration: none;
                border: solid 1px #ff7200;
                background: #ff7200;
                color: #fff;
            }
        }
    }
}

.astrophotogallry {
    .topheading {
        text-align: center;
        line-height: 26px;
        h2 {
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            color: #000;
            padding-bottom: 10px;
            font-weight: 600;
        }
    }
    .gallerylisting {
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
        img {
            width: 100%;
            height: 450px;
            border-radius: 2px;
            -webkit-transition: 0.8s;
            -moz-transition: 0.8s;
            -o-transition: 0.8s;
            -ms-transition: 0.8s;
            transition: 0.8s;
        }
        .list {
            border: solid 1px #959595;
            border-radius: 2px;
            padding: 4px;
            overflow: hidden;
            position: relative;
            margin-right: 0;
            margin-bottom: 20px;
            width: 31%;
            &:last-child {
                margin-right: 0;
            }
            .content {
                position: absolute;
                bottom: 3px;
                color: #fff;
                text-align: center;
                width: 98.5%;
                font-size: 14px;
                background: rgba(0,0,0,0.7);
                padding: 15px 8px;
                line-height: 22px;
                left: 50%;
                transform: translate(-50%, 0%);
                transition: .5s all ease;
                a {
                        color: #ff7200;
                    }
                p {
                    margin: 0;
                    
                }
            }
            &:hover {
                img {
                    -moz-transform: scale(1.1) rotate(0deg);
                    -webkit-transform: scale(1.1) rotate(0deg);
                    -o-transform: scale(1.1) rotate(0deg);
                    -ms-transform: scale(1.1) rotate(0deg);
                    transform: scale(1.1) rotate(0deg);
                    -webkit-transition: 0.8s;
                    -moz-transition: 0.8s;
                    -o-transition: 0.8s;
                    -ms-transition: 0.8s;
                    transition: 0.8s;
                }
                .content {
                    left: 50%;
                    width: 100%;
                    bottom: 0;
                    transition: .5s all ease;
                }
            }
        }
        .marginleft {
            margin-left: 20px;
        }
    }
}
.innewscount {
    .nine_gems_wrapper {
        font-family: 'Roboto Condensed', sans-serif;
        h5 {
            margin-bottom: 25px;
        }
        tr:nth-child(even) {
            background: #efefef;
        }
        table {
            border: solid 1px #ccc;
            th {
                text-transform: uppercase;
            }
            td {
                border: solid 1px #e8e9e9;
                font-weight: normal;
                font-size: 16px;
                color: #000;
                a {
                    color: #00b06c;
                    &:hover {
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
        }
    }
    
}
.inthemedia {
    .pageHeading {
        h2 {
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 600;
            color: #000;
            display: inline-block;
            font-size: 24px;
            text-transform: uppercase;
            border-bottom: solid 2px #ffc000;
        }
    }
    .publication {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;
        color: #000;
        padding-top: 15px;
        .heading {
            font-weight: 600;
        }
        .normaltext {
            border-right: solid 1px #777;
            padding: 0 8px 0 5px;
            display: inline-block;
            margin-right: 10px;
        }
        .readfull {
            a {
                color: #ff7200;
                text-decoration: none;
            }
        }
    }
    .publicationshort {
        padding-top: 40px;
        .inner {
            position: relative;
            clear: both;
            overflow: hidden;
            .leftbanner {
                float: left;
                width: 50%;
                img {
                    border:solid 1px #777;
                    padding: 4px;
                }
            }
            .shortcontent {
                float: left;
                padding: 0px 0 0 45px;
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 30px;
                width: 50%;
                color: #000;
                p {
                    padding-top: 12px;
                    font-size: 16px;
                }
                span {
                    display: block;
                    padding-top: 10px;
                    a {
                        font-size: 18px;
                        text-transform: uppercase;
                        background: #ff7200;
                        color: #fff;
                        padding: 8px 20px;
                        border-radius: 20px;
                        &:hover {
                            border: solid 1px #000;
                            color: #000;
                            background: none;
                            text-decoration: none;
                        }
                    }
                }
            }
            .calltoaction {
                display: flex;
                justify-content: space-between;
                font-size: 20px;
                text-transform: uppercase;
                position: absolute;
                right: 0;
                bottom: 5px;
                width: 46%;
                a {
                    border: solid 1px #000;
                    border-radius: 20px;
                    padding: 8px 20px;
                    color: #000;
                    font-size: 14px;
                    &:hover {
                        text-decoration: none;
                        border: solid 1px #000;
                        background: #000;
                        color: #fff;
                    }
                }
            }
        }
    }
    .publicationshort {
        &.dhleving {
            padding-top: 20px;
            h2 {
                font-family: 'Roboto Condensed', sans-serif;
                color: #000;
                font-size: 21px;
                margin-bottom: 10px;
            }
            p {
                line-height: 26px;
                color: #000;
                padding-top: 5px;
            }
        }
    }
    
    .calltoactionmain {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        text-transform: uppercase;
        bottom: 5px;
        width: 100%;
        padding-top: 15px;
        a {
            border: solid 1px #000;
            border-radius: 20px;
            padding: 8px 20px;
            color: #000;
            font-size: 14px;
            &:hover {
                text-decoration: none;
                border: solid 1px #000;
                background: #000;
                color: #fff;
            }
        }
    }
}
.process-box, .nine_gems_box {
        font-family: 'Roboto Condensed', sans-serif;
        padding-right: 15px;
        h3 {
//            text-transform: uppercase;
//            color: #000;
//            font-weight: 600;
//            font-size: 18px;
//            position: relative;
//            display: inline-block;
//            &::after {
//                height: 8px;
//                content: '';
//                position: absolute;
//                bottom: 0;
//                background: #ffc000;
//                width: 100%;
//                z-index: -1;
//                left: 0;
//            }
                background-color: #e8e9e9;
                text-align: center;
                padding: 10px 10px;
                text-transform: uppercase;
                font-size: 18px;
                font-family: 'Lato', serif;
                font-weight: 400;
                color: #333333;
                margin: 0;
        }
        .process-container {
            border: 1px solid #e9e9e9;
            padding: 10px 10px;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            padding-top: 0px;
            li {
                padding-bottom: 10px;
                border-bottom: solid 1px #e9e9e9;
                a {
                    display: block;
                    color: #333333;
                    font-family: "Lato", serif;
                    font-size: 14px;
                    font-style: italic;
                    line-height: 14px;
                    text-align: left;
                    &:hover {
                        color: #00b06c;
                        text-decoration: none;
                    }
                    &#current {
                        background: #ffffff url(../images/oneline-arroww.jpg) no-repeat scroll right center;
                         color: #00b06c;
                    }
                }
            }
        }
    }
.videogallery {
    &.buyingdivisin {
        .leftsection {
            width:100%;  
            iframe {
                padding: 10px;
            }
        }
        .rightsection {
            width: 100%;
            padding-top: 50px;
            border: none;
            h2 {
                width: 100%;
                border-bottom: solid 3px #ff7200;
                padding-bottom: 20px;
            }
        }
    }
}
.divisiongallry {
    .listing {
        border: solid 1px #ddd;
        padding: 8px;
        span {
            display: block;
            font-family: 'Roboto Condensed', sans-serif;
            text-align: center;
            font-size: 16px;
            padding: 10px 0;
        }
    }
}
.teamdetails {
    .innersection {
        padding: 10px 0 30px 0;
        img {
            float: left;
            border: solid 1px #ff7200;
            border-radius: 50%;
            margin-right: 20px;
        }
        p {
            padding-top: 15px;
        }
        &:nth-child(even) {
            img {
                float: right;
                margin-left: 20px;
            }
        }
    }
}
.ringmakingcharge {
    padding-bottom: 30px;
    img {
        float: none;
        margin-bottom: 20px;
    }
    p {
        a {
            color: #00b06c;
        }
    }
}
.cms-page-view .container .row .col-md-12:first-child {display: flex; padding-left: 0; padding-right: 0;}
.cms-page-view .container .row .col-md-12:first-child h5 {
        border-bottom: 1px solid #e8e9e9;
        color: #333333;
        font-family: "Lato",serif;
        font-size: 25px;
        font-weight: 300;
        line-height: 24px;
        margin: 0 0 20px;
        padding-bottom: 10px;
        text-align: left;
}
//.cms-page-view .container .row .col-md-12  img {float: left; margin: 0 20px 20px 0;}

.cms-page-view .container .row .col-md-12 p {font-size: 14px; color: #000; line-height: 26px; padding-bottom: 10px;}
.cms-page-view .container .row .col-md-12 p.txtgreen {
    color: #00b06c;
    font-family: "Lato", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
}
.cms-page-view .container .row .col-md-12 p .contentSubHead a {color: #337ab7;}
.innewsimagesection {
    padding: 40px 0 0 0;
    .inner {
        padding-bottom: 40px;
        img {
            float: none;
            padding: 8px;
            margin: auto;
            display: block;
        }
        p {
            color: #000;
            font-size: 16px;
            line-height: 26px;
            a {
                color: #ff7200;
            }
            strong {
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 22px;
                color: #000;
                font-weight: 500;
            }
        }
    }
}
.incalltoaction {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    a {
          padding: 7px 15px;
    background-color: #ed9321;
    border: 0px;
    border-radius: 0px;
    color: #fff;
        font-weight: normal;
        text-transform: capitalize;
        &:hover {
            text-decoration: none;
            background: #000;
            color: #fff;
        }
    }
}
.horoscopetab {
    margin: 20px 0;
    a {
        display: inline-block;
        border: none;
        color: #8b8b8b !important;
        font-size: 20px;
        font-weight: bold;
        position: relative;
        margin-right: 15px;
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        position: relative;
        &.active {
            border-bottom: solid 4px #ffc000;
            color: #000 !important;
        }
    }
}
.horoscopelist {
    .innersection {
        clear: both;
        overflow: hidden;
        margin-bottom: 40px;
        img {
            float: left;
            margin-right: 30px;
            border: solid 1px #ff7200;
            padding: 5px;
            border-radius: 50%;
        }
        h3 {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 20px;
            color: #000;
            font-weight: 600;
            margin-bottom: 15px;
            padding-top: 20px;
        }
        p {
            font-size: 16px;
            line-height: 26px;
            color: #000;
            padding-bottom: 10px;
            a {
                color: #ff7200;
            }
        }
        &.videosection {
            iframe {
                border: solid 1px #777;
                padding: 5px;
                float: left;
                margin-right: 20px;
            }
            &.morevideolist {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                iframe {
                    margin:0 0 20px 0;
                }
            }
        }
    }
}
.blog-page {
    .columns {
        margin-top: 40px;
        .post-list {
            .post-title {
                a {
                    font-family: 'Roboto Condensed', sans-serif;
                    color: #000;
                    font-size: 22px;
                }
            }
        }
    }
}
.faqs-index-index, .faqs-index-detail  {
    .page {
        &.messages {
            padding-bottom: 30px;
        }
    }
}
.faqs-index-detail {
    .page-title-wrapper {
        display: none;
    }
    .Breadcrumb {
        padding-bottom: 20px;
    }
    .column {
        &.main {
            width: 100% !important;
            .faq_block {
                float: left;
                width: 70%;
            }
        }
    }
    .faqanswermain {
        .accordion-toggle {
            display: block;
            width: 100%;
            .count
            {
                background: #fff;
                line-height: normal;
                display: inline-block;
                padding: 2px 6px;
                margin-right: 10px;
                float: left;
                margin-bottom: 20px;
            }
        }
       .faqanswer {
            color: #000;
            font-size: 15px;
            height: auto !important;
            line-height: 26px;
            padding-bottom: 0;
            clear: both;
            padding: 8px 10px;
            border: solid 1px #d3d3d3;
            border-top: none;
        }
    }
}
.block {
    &.block-faq {
        clear: both;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 20px;
        .block-title {
            float: left;
            padding-top: 14px;
            strong {
                color: #000;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 600;
            }
        }
        .menu {
            float: left;
            width: 360px;
            form {
                position: relative;
                input {
                    height: auto;
                    padding: 9px;
                    border-radius: 20px;
                }
                button {
                    background-image: none;
                    background: #ed9321;
                    border: 1px solid #ed9321;
                    color: #ffffff;
                    cursor: pointer;
                    display: inline-block;
                    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    font-weight: 700;
                    padding: 9px 15px;
                    font-size: 1.4rem;
                    box-sizing: border-box;
                    vertical-align: middle;
                    position: absolute;
                    right: 0;
                    top: 8px;
                    border-radius: 20px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    span {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}
.faq_block {
    .faqmaincount {
        background: #fff;
        line-height: normal;
        display: inline-block;
        padding: 2px 6px;
        margin-right: 10px;
        float: left;
        margin-bottom: 20px;
    }
    ul {
        padding: 0;
        list-style-type: none;
    }
    h2 {
        font-family: 'Roboto Condensed', sans-serif;
        color: #000;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        display: inline-block;
        position: relative;
        border-bottom: solid 2px #ffc000;
        padding-bottom: 5px;
    }
    .accordion-toggle {
        font-family: 'Roboto Condensed', sans-serif;
        color: #000;
        font-size: 17px;
        background: #f3f3f3;
        padding: 8px 12px;
        margin-top: 15px;
        border: solid 1px #f3f3f3;
        transition: .5s all ease;
        cursor: pointer;
        &:hover {
            background: none;
            color: #000;
            border: solid 1px #000;
            transition: .5s all ease;
        }
    }
    .accordion-content {
        color: #000;
        font-size: 15px;
        height: auto !important;
        line-height: 26px;
        padding-bottom: 0;
        clear: both;
        padding: 8px 10px;
        border: solid 1px #d3d3d3;
        border-top: none;
        a {
            color: #ff7200;
        }
    }
    .read_more {
        a {
            display: inline-block;
            background: #ff7200;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            padding: 8px 14px;
            margin: 5px 0 40px 0;
            border-radius: 20px;
            border: solid 1px #ff7200;
            &:hover {
                text-decoration: none;
                border: solid 1px #000;
                background: none;
                color: #000;
            }
        }
    }
}
.weeklyhororscope {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .item {
        &.well {
            width: 48%;
            box-shadow: none;
            h3 {
                font-family: 'Roboto Condensed', sans-serif;
                color: #000;
                font-weight: 500;
                font-size: 22px;
                padding-top: 15px;
                line-height: normal;
                span {
                    display: block;
                    font-size: 16px;
                    padding-top: 8px;
                    color: #000;
                }
            }
            p {
                font-size: 15px;
                color: #000;
                line-height: 26px;
                padding-top: 20px;
                img {
                    float: left;
                    width: 30%;
                    margin: 20px 0 15px 0;
                }
            }
        }
    }
}
.testimonialVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 100;
    height: 100%;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0,0,0,0.2);
        z-index: -1;
    }
    
    .innersection {
        position: absolute;
        width: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: solid 1px #fff;
        padding: 1px;
        overflow: hidden;
    }
    .closeicon {
        color: #000;
        font-size: 21px;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        background: #fff;
        padding: 0 8px;
        line-height: normal;
        font-weight: bold;
    }
}
.videopopup {
    &.testimonialVideo {
        &.tab-active {
            display: block !important;
        }
    }
}
.testimonials-index-index {
    #nav-profile {
        p {
            font-size: 14px;
            color: #000;
            line-height: 26px;
        }
    }
    .videolisting {
        .video_thumb {
            padding-top: 30px;
        }
        img {
            float: left;
            margin: 0 15px 15px 0;
            border: solid 1px #777;
            padding: 4px;
        }
    }
}

.choose_precious_gemstones {
    text-align: center;
    .content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 30px !important;
        .blog_post_feed {
            padding: 0 10px;
            article {
                text-align: left;
                padding-top: 0px;
            }
            h3 {
                padding:  10px 0;
                word-wrap: break-word;
                max-width: 100% !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                a {
                    font-weight: 700;
                    color: #000;
                    font-size: 14px;
                    padding-bottom: 6px;
                    }
            }
            .block-image {
                img {
                    height: 300px;
                    width: 360px;
                }
            }
        }
    }
}
.sidebar-additional {
    .trustpilot-widget {
        clear: both;
    }
    .sidebar {
        span {
            display: block;
            font-weight: 700;
            color: #000;
            background: none;
            padding: 0;
            font-size: 18px;
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
            &::after {
                content: '';
                position: absolute;
                bottom: -8px;
                left: 0;
                width: 20%;
                background: #ffc000;
                height: 5px;
                z-index: -1;
            }
        }
    }
    #fme-owl-testimonials {
        margin: 30px 0;
    }
    .block.block-faq {
        .block-title {
            display: block;
            width: 100%;
            margin-bottom: 40px;
        }
        .faq_section {
            border: solid 1px #ddd;
            border-radius: 20px;
            padding: 20px 15px;
            margin-top: 20px;
            clear: both;
            a {
                font-style: normal;
            }
        }
    }
}
.certification-name {
    &.col-md-12 {
        display: block !important;
    }
}
.cert-container {
    table {
        border: solid 1px #ccc;
        font-family: 'Roboto Condensed', sans-serif;
        margin-bottom: 30px;
        tr {
            &:nth-child(even) {
                background: #efefef;
            }
        }
        th {
            text-transform: uppercase;
            color: #000;
            border-right: solid 1px #ddd;
            padding: 14px 18px;
        }
        td {
            background: none !important;
            border-right: solid 1px #ddd !important;
            text-align: left;
            padding: 14px !important;
            color: #000 !important;
            border-top: solid 1px #ddd !important;
            font-size: 16px;
        }
    }
}
.freegemrecommend {
    h5 {
        font-family: 'Roboto Condensed', sans-serif;
        color: #000;
        font-weight: 500;
        font-size: 25px;
        border: none;
        padding: 0 0 20px 0;
    }
    img {
        float: left;
        margin: 0 30px 20px 0;
    }
    p {
        font-size: 16px;
        line-height: 26px;
        margin: 0;
        padding-bottom: 8px;
        a {
            color: #ff7200;
        }
    }
}
.table-comparison {
    border: solid 1px #ddd !important;
    margin-top: 20px;
    tr {
        &:nth-child(even) {
            background: #efefef;
        }
    }
    th {
        text-transform: uppercase;
        color: #000;
        border-right: solid 1px #ddd;
        padding: 14px 18px;
    }
    .attribute {
        &.value {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 16px;
            font-weight: 600;
        }
    }
    p {
        font-size: 14px;
        line-height: 24px;
        color: #000;
        font-weight: normal;
        a {
            color: #000;
        }
    }
}
.faq_quetion {
    .details_title {
        padding: 5px 0;
        border-bottom: solid 1px #ddd;
        margin-bottom: 10px;
        clear: both;
        overflow: hidden;
        .deatilscount {
            margin-right: 10px;
            margin-bottom: 5px;
            float: left;
        }
        a {
            color: #ff7200;
            font-size: 14px;
        }
    }
}
.nine_gems_container {
        border: solid 1px #ddd;
        border-top: none;
        margin-top: 0px;
        padding: 20px 10px;
    .product-container {
        border-bottom: solid 1px #ddd;
        margin-bottom: 20px;
        width: 100%;
        padding-bottom: 10px;
        overflow: hidden;
        clear: both;
        .siderbarleft {
            float: left;
        }
        .siderbarright {
            float: left;
            padding-left: 20px;
            width: 59%;
            .price-itm {
                display: flex;
                justify-content: space-between;
                line-height: normal;
                vertical-align: top;
                padding: 10px 0;
                p, span {
                    line-height: normal;
                    padding: 0;
                    margin: 0;
                }
            }
            .price {
                .pt {
                    color: #B12704;
                    font-size: 16px;
                }
            }
        }
        .new-arrivals-image {
            float: none;
            img {
                margin: 0 !important;
                float: none !important;
                display: inline-block;
                width: 80px;
            }
        }
        .product-name {
            float: none;
            font-size: 14px;
            padding-top: 0px;
            span {
                &.name {
                    color: #00b06c;
                    font-size: 16px;
                }
            }
        }
    }
}
.videogallery {
    .item.well {
        &.listing {
            &:nth-child(even) {
                .leftsection {
                    float: right;
                }
                .rightsection {
                    float: left;
                    text-align: right;
                }
            }
        }
    }
}
.navigation {
    &:nth-child(10) {
        border-right: 0;
    }
    .menu10 {
        &.lastlinkmobile {
            display: none;
        }
    }
}

.footer.content .footer-inner { align-items: flex-start !important;}
.footer.content .footer-inner strong {width: 100%;}
.page-footer .footer.content .footer-inner .list.whatsnew li, .page-footer .footer.content .footer-inner .list.whatsnew a {margin-bottom: 5px !important;}
.page-footer .footer.content .footer-inner .list.whatsnew a br {display: none;}

.cms-annual-horoscope-vedic-astrology-aries-2020 img {display: block}
.cms-annual-horoscope-vedic-astrology-aries-2020 .container-fluid .row {width: 100%; margin: 0;}
.horoscopecms img {display: block}
.horoscopecms.container-fluid .row {width: 100%; margin: 0;}
.MB20 {
    margin-bottom: 20px;
}
.cert-container li:before {
    font-family: 'FontAwesome';
    content: "\f178";
    margin: 0 10px 0 -15px;
    color: #46c694;
}
.cert-container ul {
    padding: 0 0 0 15px;
    list-style: none;
}
.nine_gems_wrapper th {
    background: #e0ddd5 none repeat scroll 0 0;
    color: #000000;
    font-weight: bold;
    border: 1px solid #c9c5ba !important;
}
.nine_gems_wrapper td {
    border: 1px solid #c9c5ba !important;
}
p.nine_head {
    font-family: 'Lato', serif;
    font-size: 13px;
    line-height: 24px;
    color: #00b06c !important;
    text-align: left;
    text-decoration: underline;
    font-weight: bold
}
.nine_gems_wrapper img {display: block; margin: auto;}
.cms-page-view .std h2, .cms-no-route .std h2, .cms-page-view h1, .cms-page-view h2 {
    color: #3399cc;
    font-size: 30px;
    padding: 10px 0;
    margin: 0;
    font-weight: bold;
}
.cms-page-view h1 {
    text-transform: uppercase;
}
.worldslargeststoreinfrist {
    flex-wrap: wrap;
    .worldslargeststorein {
        display: flex;
        flex-wrap: wrap;
        .thumbnail {
            border: solid 1px #ddd;
            border-radius: 4px;
            padding: 5px;
        }
    }
}
.soareyoureadey {
    float: none !important;
    width: 100% !important;
    padding-bottom: 20px !important;
    line-height: 26px;
    li {
        line-height: 26px !important;
    }
}
.article-index-detail  {
    article {
        p {
            font-weight: 600;
            margin-bottom: 10px;
            line-height: 26px;
            color: #000;
            
        }
    }
}
.secretsofjyotish {
    text-align: center !important;
    border: solid 1px #ddd;
    p {
        text-align: center !important;
    }
    td {
        border: solid 1px #ddd;
    }
}

.article-index-category, .article-index-index  {
    .blog_post_feed {
        clear: both;
        overflow: hidden;
        .block-image {
            float: left;
            width: 30%;
        }
        article {
            float: right;
            width: 67%;
            padding-top: 0px;
            p {
                text-align: left !important;
            }
        }
    }
}
.buyingdivbtm {
    .col-md-6 {
        float: left;
    }
}
.gemsretaillisting {
    p {
        font-size: 14px !important;
        padding: 10px;
        font-family: 'Lato', serif;
    }
}
.powerful-upratna-pendants {
    .block1{background:url(../images/pen-landing/block1.jpg);}
    .block2{background:url(../images/pen-landing/block2.jpg);}
    .block3{background:url(../images/pen-landing/block3.jpg);}
    .block4{background:url(../images/pen-landing/block4.jpg);}
    .block5{background:url(../images/pen-landing/block5.jpg);}
    .block6{background:url(../images/pen-landing/block6.jpg);}
    .block7{background:url(../images/pen-landing/block7.jpg);}
    .block8{background:url(../images/pen-landing/block8.jpg);}
    .pendentsBlock {
        width: 100%;
        float: left;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        padding: 25px 40px;
        font-family: 'Lato', serif;
    }
    .mt-30 {
        margin-top: 30px;
    }
    .amethystBtn, .peridotBtn, .cateyeBtn, .heliodorBtn, .hessoniteBtn, .whitetopazBtn, .bluemoonStoneBtn, .redgarnetBtn {
        color: #fff;
        padding: 5px;
        background: rgba(0,0,0,0.35);
        display: inline-block;
        border: 1px solid #486517;
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 10px;
        padding: 12px;
    }
    .whitetopazBtn {
        background: rgba(255,255,255,0.35);
        display: inline-block;
        border: 1px solid #c2cdcd;
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 10px;
        color: #000;
        padding: 12px;
    }
    .pendentHeading {
        font-size: 28px;
        margin-top: 43px;
        font-family: 'Lato', serif;
        margin-bottom: 15px;
        position: relative;
        z-index: 1;
        color: #fff;
        &::before {
            content: '';
            position: absolute;
            top: -15px;
            left: -15px;
            background: url(../images/pen-landing/headBorder.png) no-repeat left top;
            width: 103px;
            height: 62px;
            z-index: -1;
        }
    }
    p {
        color: #fff;
    }
    .textBlack {
        h4, p {
            color: #000;
        }
    }
}
.cms-powerful-upratna-pendants-php {
    .pendentImg {
        display: contents;
    }
}
.sidebar_wrapper .widget .categories li:first-child {display: none;}
.article-index-index, .article-index-detail, .article-index-category {
    .main_wrapper {
        float: right;
        img {
            display: block;
            margin: auto;
        }
    }
    .sidebar_wrapper {
        float: left;
    }
}
.cms-domestic-shipping-php {
    .container {
        p {
            text-align: left !important;
        }
        .table-responsive {
            table {
                float: left;
            }
        }
    }
}
.tothetop {
    &.botom {
        display: none;
        &.sticky {
            position: fixed;
            right: 30px;
            bottom: 0;
            display: block;
        }
        a {
            display: block;
            position: relative;
            bottom: 20px;
            img {
                width: 40px;
            }
        }
    }
}

.recentarticlleft {
    h2 {
        background-color: #e8e9e9;
        padding: 10px;
        width: 100%;
        color: #333333;
        font-family: "Lato",serif;
        font-size: 16px;
        text-transform: uppercase;
        display: block;
//        text-transform: uppercase;
//        color: #000;
//        font-weight: 600;
//        font-size: 18px;
//        position: relative;
//        display: inline-block;
//        font-family: 'Roboto Condensed', sans-serif;
//        &::after {
//            height: 8px;
//            content: '';
//            position: absolute;
//            bottom: 0;
//            background: #ffc000;
//            width: 100%;
//            z-index: -1;
//            left: 0;
//        }
    }
    .widget {
        width: 100%;
        border: solid 1px #ddd;
        border-radius: 0px;
        padding: 10px;
    }
}
.main_wrapper .block-image .thumb {border: none;}
.main_wrapper .block-image .thumb img {width: auto;}
.main_wrapper .block-image {background: none;}
.main_wrapper .block-image:hover span, .main_wrapper .block-image .thumb:hover span {background: none !important;}

.main_wrapper .blog_post_feed.detail .block-image {background:none;}
.main_wrapper .blog_post_feed.detail .block-image:hover {background: none;}
.articalbloglink {padding-top: 20px;}
.articalbloglink p {display: inline-block;}
.main_wrapper {
    .blog_post_feed {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .second_main_heading {
        font-family: "Trebuchet MS";
        font-size: 16px;
        color: #501F01;
        font-weight: bold;
        text-decoration: none;
        line-height: 20px;
        padding-bottom: 10px;
        padding: 20px 10px;
    }
}
.imagecentertxt {
    text-align: center;
    strong {
        font-size: 16px !important;
    }
}

.article-index-detail  .imgs {
    border: 1px solid #bbb;
    padding: 9px;
    text-align: center;
    margin: 0 auto 10px;
}
.article-index-detail  .imgs span {
    color: #501F01;
    font-weight: bold;
}
.article-index-detail  .imgs img {
    margin-bottom: 7px;
    width: 100%;
}
.article-index-detail  table {
    border: 1px solid #bbb;
}
.article-index-detail  td {
    border-left: 1px solid #bbb;
    border-top: 1px solid #bbb;
    padding: 3px 8px;
    text-align: left;
    vertical-align: top;
}
.article-index-detail  td strong {
    font-weight: bold;
}
.article-index-detail  td p {
    text-align: left;
    font-style: normal;
    font-weight: normal;
}

.article-index-detail  #rounded-corner {
    font-size: 14px;
    text-align: left;
    width: 60%;
    color: #666;
    margin: 0 auto 15px;
}

.article-index-detail  #rounded-corner th {
    background: #ccc;
    color: #000;
    font-size: 14px;
    font-weight: normal;
    padding: 8px;
    border-right: 1px solid #fff;
}
.article-index-detail  #rounded-corner th strong {
    font-weight: bold;
}
.article-index-detail  #rounded-corner td {
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #666;
    padding: 8px;
}
.article-index-detail  #rounded-corner tbody td {
    background: #eee;
}
.back_div {
    margin:15px 0 0 20px;
    clear: both;
    overflow: hidden;
    input {
        margin-top: 8px;
        padding: 6px 14px 7px;
        border: 0px;
        cursor: pointer;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        color: #494949;
        font: bold 13px/18px Tahoma;
    }
}
.article-index-detail  {
    .main_wrapper {
        border: #e0e0e0 1px solid;
        margin-bottom: 40px;
        .main_title {
            background-color: #e8e9e9;
            padding: 10px;
            .post-title.entry-title {
                color: #333333;
                font-family: "Lato",serif;
                font-size: 17px;
                text-transform: uppercase;
                padding-bottom: 0;
                margin: 0;
            }
        }
        article{
            padding: 0 20px;
            &:nth-child(1) {
                padding: 0;
            }
        }
    }
}
.addthis_toolbox {
    padding: 0 10px !important;
}
.article-index-category {
    .page-title-header {
        background-color: #e8e9e9;
        h3 {
            color: #333333;
            font-family: "Lato",serif;
            font-size: 16px;
            text-transform: uppercase;
            padding-left: 10px;
            font-weight: 500;
            margin-bottom: 30px;
        }
    }
    .blog_post_feed  {
            width: 100%;
            min-height: 155px;
            height: auto;
            border-bottom: 1px solid #e8e9e9;
            margin-top: 12px;
            display: inline-block;
            padding-bottom: 20px;
        .post-title.entry-title {
            margin: 0;
            padding: 0;
            a {
                text-transform: capitalize;
                color: #333333;
                font-family: 'Lato', serif;
                font-size: 17px;
                font-weight: bold;
                text-decoration: none;
            }
        }
        .detail {
            span {
                p {
                    color: #333333;
                    font-family: 'Lato', serif;
                    font-size: 14px;
                    font-weight: normal;
                    display: block;
                    line-height: 22px;
                    margin-bottom: 0px;
                }
                .BLinks {
                    color: #00b06c;
                }
            }
        }
        .block-image {
            width: 24%;
            .thumb {
                a {
                    border: #d5d5d5 1px solid;
                    float: left;
                    margin: 0;
                    img {
                        border: 4px solid #ffffff;
                        height: 130px;
                        width: 180px;
                    }
                }
            }
        }
        article {
            width: 74%;
        }
    }
}
.page-footer .footer.content .footer-inner .list {float: left;}
.page-footer {
    em {
        width: 100%;
        font-style: normal;
    }
    b {
        font-weight: normal !important;
    }
}
.fooerpayment .container .copyright {font-weight: normal;}

.article-index-detail {
    .main_wrapper {
        article {
            .alignleft {
                float: left;
                border: 1px solid #bbb;
                padding: 9px;
                margin-right: 20px;
                text-align: center;
            }
        }
    }
}
.article-index-detail article p {
    font-weight: 500;
}
.article-index-detail article p em {font-weight: 600;}
.article-index-detail  .caption-txt {
    text-align: center;
    color: #501F01;
    font-weight: bold;
    margin: 0 auto;
}
.article-index-detail  .imgs {
    border: 1px solid #bbb;
    padding: 9px;
    text-align: center;
    margin: 0 auto 10px;
}
.article-index-detail  .imgs img {
    margin-bottom: 7px;
    width: 100%;
}
.article-index-detail  {
    .topsction {
        p {
            font-weight: 600;
        }
    }
    h1 {
        text-transform: uppercase;
        margin: 0px;
    }
    h2, h3 {
        font-size: 28px;
        font-weight: 700;
    }
    h1.icon-head.head-adminhtml-articles {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        color: #333;
        padding-bottom: 10px;
        margin-bottom: 0;
    }
    h3 {
        &.icon-head.head-adminhtml-articles {
            font-size: 24px;
            font-weight: 700;
            text-transform: capitalize;
            color: #333;
        }
    }
    .block-image {
        .thumb {
            img {
                border: 4px solid #CCCCCC;
                max-width: 720px;
            }
        }
    }
    .heading_text {
        color: #333333;
        font-family: "Lato",serif;
        font-size: 16px;
        text-transform: uppercase;
    }
}
.DLinks {
    font-family: "Trebuchet MS";
    font-size: 16px;
    color: #3172a0;
    font-weight: bold;
    text-decoration: none;
    line-height: 20px;
}
.inextprev {
    padding: 0px 0 40px 0px;
}
.inextprev a {
    padding: 7px 15px;
    background-color: #ed9321;
    border: 0px;
    border-radius: 0px;
    font-weight: bold;
    color: #fff;
}
.inextprev .iprev {
    float: left;
}
.inextprev a {
    padding: 7px 15px;
    background-color: #ed9321;
    border: 0px;
    border-radius: 0px;
    font-weight: bold;
    color: #fff;
}
.inextprev .inext {
    float: right;
}
.onejanmedia {
    td {
        padding: 0;
    }
    .TextInput {
        img {
            max-width: 100%;
            width: 240px;
            height: auto;
            display: block;
            max-height: 140px;
        }
    }
    h1 {
        font-weight: 36px;
        font-weight: 600;
    }
    .inextprev {
        margin-top: 20px;
    }
}
.cms-annual-2019-horoscope-vedic-astrology-aries, .cms-annual-horoscope-vedic-astrology-aquarius, .cms-annual-horoscope-vedic-astrology-aquarius-2019  {
    img {
        display: block;
    }
}
.cms-page-view {
    .container-fluid {
        .row.pb {
            img {
                display: block;
            }
        }
    }
}
h1 {
    &.nine_head {
        font-size: 36px;
        text-transform: uppercase;
        color: #333;
    }
}
h2 {
    &.nine_head {
        font-size: 30px;
        text-transform: capitalize;
        color: #333;
    }
}
h3 {
    &.nine_head {
        font-size: 24px;
        text-transform: capitalize;
        color: #333;
        font-weight: bold;
    }
}
.certification-name h5 {
    border-bottom: 1px solid #e8e9e9;
    color: #333333;
    font-family: "Lato", serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 18px;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
    text-align: left;
}
.cms-halfamillionfancelebration {
    .page-footer {
        display: none;
    }
    .social-link.MB20.top-border {
        display: none;
    }
    .footer {
        width: 100%;
        left: 0px;
    }
}
.cms-navratri-contest-september-2107, .cms-navratri-special-contest-winners-april-2017, .cms-mothers-day-contest-2017, .cms-mothers-day-contest-winners-2017 {
    .price_info h1 {
        padding: 0;
        margin: 0;
        font-size: 30px;
        font-weight: 600;
        margin-top: 10px;
        text-transform: capitalize;
        color: #ffb716 !important;
        line-height: 44px;
    }
    .dark_btn {
        background: #ffb716;
        color: #000;
        border: 0;
        padding: 10px 20px;
        text-align: center;
        cursor: pointer;
        font-family: 'Raleway', Arial, sans-serif;
        font-weight: 600;
        font-size: 20px;
        text-transform: none;
        text-decoration: none;
        display: inline-block;
        -webkit-transition: all 200ms ease 0s;
        -moz-transition: all 200ms ease 0s;
        -ms-transition: all 200ms ease 0s;
        -o-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
        -webkit-appearance: none;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .VL_special_section .mrg_bt {
        margin-bottom: 30px;
        margin: 2%;
        width: 96%;
        float: left;
    }
    .boder {
        border: 1px solid #cecece;
        padding: 10px 0;
    }
    .tc_btn {
        background: #ffb716;
        color: #000;
        border: 0;
        padding: 10px 20px;
        text-align: center;
        cursor: pointer;
        font-family: 'Raleway', Arial, sans-serif;
        font-weight: 600;
        font-size: 20px;
        text-transform: none;
        position: absolute;
        bottom: 15px;
        right: 15px;
        text-decoration: none;
        -webkit-transition: all 200ms ease 0s;
        -moz-transition: all 200ms ease 0s;
        -ms-transition: all 200ms ease 0s;
        -o-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
        -webkit-appearance: none;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .VL_special_section .my_container {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    .VL_special_section .vl_banner {
        margin: 0;
        padding: 20px 0 0 0;
        position: relative;
        background: #FFF;
    }
    .VL_special_section {
        margin: 0;
        padding: 0;
        position: relative;
    }
    .price_info h5 {
        padding: 0;
        margin: 15px 0 25px 0;
        font-size: 16px !important;
        font-weight: 300;
        line-height: inherit;
    }
    .VL_special_section .mrg_l_r {
        margin-left: 20px;
        margin-right: 20px;
    }
    .VL_special_section .my_common_box {
        margin: 10px 0;
        padding: 0;
        position: relative;
        float: none;
        display: inline-block;
    }
    .VL_special_section .comon_winner_box .price_info {
        padding: 0 0 0 50px;
        margin: 0;
        color: #000;
        float: left;
        width: 55%;
    }
    .VL_special_section .gift_voucher_img {
        float: left;
    }
    .VL_special_section .width_80 {
        width: 80%!important;
    }
    .VL_special_section .comon_winner_box {
        margin: 0 auto;
        padding: 20px 0;
    }
    .VL_special_section .mrg_bt {
        margin-bottom: 30px;
        margin: 2%;
        width: 96%;
        float: left;
    }
    .price_info h4 {
        padding: 0;
        margin: 0 0 5px 0;
        font-size: 18px;
        font-weight: 400;
    }
    .price_info h3 {
        padding: 0;
        margin: 0 0 10px 0;
        font-size: 25px;
        font-weight: 500;
    }
    .VL_special_section .mrg_l_r {
        margin-left: 20px;
        margin-right: 20px;
    }
    .VL_special_section .my_common_box img {
        margin: 0 0 10px 0;
        border: 1px solid #000;
    }
    .mfp-hide {
        display: none !important;
    }
    .VL_special_section .border_bottom {
        border-bottom: 1px solid #9f0c18;
    }
    .mothers_day_grad_winner {
        background: url('../images/grand_prize.jpg') no-repeat;
        width: 70%;
        margin: 0 auto;
        padding: 50px 0;
    }
    .grad_winner .price_info {
        padding: 0 0 0 250px;
        margin: 0;
        color: #000;
    }
}.cms-navratri-contest-september-2107, .cms-navratri-special-contest-winners-april-2017, .cms-mothers-day-contest-2017, .cms-mothers-day-contest-winners-2017 {
    .price_info h1 {
        padding: 0;
        margin: 0;
        font-size: 30px;
        font-weight: 600;
        margin-top: 10px;
        text-transform: capitalize;
        color: #ffb716 !important;
        line-height: 44px;
    }
    .dark_btn {
        background: #ffb716;
        color: #000;
        border: 0;
        padding: 10px 20px;
        text-align: center;
        cursor: pointer;
        font-family: 'Raleway', Arial, sans-serif;
        font-weight: 600;
        font-size: 20px;
        text-transform: none;
        text-decoration: none;
        display: inline-block;
        -webkit-transition: all 200ms ease 0s;
        -moz-transition: all 200ms ease 0s;
        -ms-transition: all 200ms ease 0s;
        -o-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
        -webkit-appearance: none;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .VL_special_section .mrg_bt {
        margin-bottom: 30px;
        margin: 2%;
        width: 96%;
        float: left;
    }
    .boder {
        border: 1px solid #cecece;
        padding: 10px 0;
    }
    .tc_btn {
        background: #ffb716;
        color: #000;
        border: 0;
        padding: 10px 20px;
        text-align: center;
        cursor: pointer;
        font-family: 'Raleway', Arial, sans-serif;
        font-weight: 600;
        font-size: 20px;
        text-transform: none;
        position: absolute;
        bottom: 15px;
        right: 15px;
        text-decoration: none;
        -webkit-transition: all 200ms ease 0s;
        -moz-transition: all 200ms ease 0s;
        -ms-transition: all 200ms ease 0s;
        -o-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
        -webkit-appearance: none;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .VL_special_section .my_container {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }
    .VL_special_section .vl_banner {
        margin: 0;
        padding: 20px 0 0 0;
        position: relative;
        background: #FFF;
    }
    .VL_special_section {
        margin: 0;
        padding: 0;
        position: relative;
    }
    .price_info h5 {
        padding: 0;
        margin: 15px 0 25px 0;
        font-size: 16px !important;
        font-weight: 300;
        line-height: inherit;
    }
    .VL_special_section .mrg_l_r {
        margin-left: 20px;
        margin-right: 20px;
    }
    .VL_special_section .my_common_box {
        margin: 10px 0;
        padding: 0;
        position: relative;
        float: none;
        display: inline-block;
    }
    .VL_special_section .comon_winner_box .price_info {
        padding: 0 0 0 50px;
        margin: 0;
        color: #000;
        float: left;
        width: 55%;
    }
    .VL_special_section .gift_voucher_img {
        float: left;
    }
    .VL_special_section .width_80 {
        width: 80%!important;
    }
    .VL_special_section .comon_winner_box {
        margin: 0 auto;
        padding: 20px 0;
    }
    .VL_special_section .mrg_bt {
        margin-bottom: 30px;
        margin: 2%;
        width: 96%;
        float: left;
    }
    .price_info h4 {
        padding: 0;
        margin: 0 0 5px 0;
        font-size: 18px;
        font-weight: 400;
    }
    .price_info h3 {
        padding: 0;
        margin: 0 0 10px 0;
        font-size: 25px;
        font-weight: 500;
    }
    .VL_special_section .mrg_l_r {
        margin-left: 20px;
        margin-right: 20px;
    }
    .VL_special_section .my_common_box img {
        margin: 0 0 10px 0;
        border: 1px solid #000;
    }
    .mfp-hide {
        display: none !important;
    }
    .VL_special_section .border_bottom {
        border-bottom: 1px solid #9f0c18;
    }
    .mothers_day_grad_winner {
        background: url('../images/grand_prize.jpg') no-repeat;
        width: 70%;
        margin: 0 auto;
        padding: 50px 0;
    }
    .grad_winner .price_info {
        padding: 0 0 0 250px;
        margin: 0;
        color: #000;
    }
}
.cms-navratri-special-contest-winners-april-2017, .cms-mothers-day-contest-2017, .cms-mothers-day-contest-winners-2017 {
    #maincontent {
        max-width: 100%;
        .my_container {
            img {
                width: 100%;
            }
        }
    }
}
.cms-ma_rubbez2_home {
    .choosegemhomepage h1, .choosegemhomepage h2 {
        font-family: 'Lato', serif;
        font-size: 25px !important;
        line-height: 30px;
        margin-top: 20px;
        text-align: center;
        text-transform: capitalize !important;
        color: #21252b !important;
        font-weight: 300 !important;
        margin: 0 !important;
    }
}
.sandyrow {
    .item {
        img {
            display: block;
        }
        h3 {
            font-size: 26px;
            color: #333;
            font-weight: 700;
        }
    }
}
p.nine_head {
    color: #00b06c;
    font-family: "Lato", serif !important;
    font-size: 14px !important;
    font-weight: normal;
    line-height: 18px !important;
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
}
p.nine_head strong {
    color: #00b06c;
    font-family: "Lato", serif !important;
    font-size: 18px !important;
    font-weight: normal;
    line-height: 18px !important;
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
}
header, .covidtexttopinfo {
    font-family: 'Open Sans', sans-serif;
    a {
        font-family: 'Open Sans', sans-serif;
    }
}
.cms-privacy-policy-cookie-restriction-mode {
    .message.info {
        display: none;
    }
    h1 {
        &.page-title {
            span {
                font-size: 26px;
                font-weight: 600;
                color: #636363;
                padding-bottom: 0px;
                margin-bottom: 10px;
                text-transform: uppercase;
                font-family: 'Lato', serif;
                &::after {
                    display: none;
                }
            }
        }
    }
    .data-table th {
        background: #f4f4f4;
        text-transform: uppercase;
        font-family: 'Lato', serif;
        line-height: 1.4;
        white-space: nowrap;
    }
    .data-table thead th, .data-table tbody td {
        border-bottom: 1px solid silver;
    }
}
.recentarticlleft {
    h2 {
        color: #333333;
        font-family: "Lato",serif;
        font-size: 16px;
        text-transform: uppercase;
    }
}
//.sidebar {
//    &.sidebar-additional {
//        .videopopup.testimonialVideo.tab-active {
//            top: 50%;
//            left: 50%;
//            transform: translate(-50%, -50%);
//            width: 100%;
//            z-index: 100;
//            height: 100%;
//            &::after {
//                content: '';
//                position: absolute;
//                width: 100%;
//                height: 100%;
//                left: 0;
//                top: 0;
//                background: rgba(0, 0, 0, 0.2);
//                z-index: -1;
//            }
//    }
//    }
//}

.cms-productsearch {
    #maincontent {
        .searchsectionmain .serachtext {
            display: none;
        }
        .trustpoilat {
            display: none;
        }
        .form.minisearch {
            width: 100%;
            margin: 30px 0 0 0;
        }
        .form.minisearch .control input {
            border: solid 1px #ddd;
        }
    }
}
.txtgreen {
    color: #00b06c;
    font-family: "Lato", serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
}

span.boldclr {
    color: #00b06c;
    font-weight: bold;
}
.cms-terms-php {
    p {
        font-size: 13px;
        line-height: 20px;
    }
}
.main_wrapper .blog_post_feed article h2 {
    padding-bottom: 0;
    margin-bottom: 0px;
}

.dropdown-menu .header_account_link_list.logout {
    padding-left: 12px;
}
.sidebar-additional .sidebar span::after {
    display: none;
}